<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Bounty программа</h3>
                <div class="new-office-div">
                    <a href="bounty/moderator/" class="btn btn-primary">Стать модератором</a>
                </div>
            </div>
            <div class="card-body bounty-tab">

                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">Все задания</label>
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">Мои задания</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">О программе</label>


                <section id="content1">
                    <div class="task-container">
                        <div class="task-item">
                            <span class="task-title">Название задания</span>
                            <a ng-href="/bounty/3564" class="btn btn-primary task-price">20 DAX</a>
                        </div>
                        <div class="task-item">
                            <span class="task-title">Название задания</span>
                            <a ng-href="/bounty/3564" class="btn btn-primary task-price">20 DAX</a>
                        </div>
                    </div>
                </section>

                <section id="content2">
                    <div class="task-container">
                        <div class="task-item">
                            <span class="task-title">Название задания</span>
                            <span class="task-status"><i style="color:green;" class="fa fa-circle"
                                                         aria-hidden="true"></i> &nbsp; Одобрено</span>
                            <a ng-href="/bounty/3564" class="btn btn-primary task-price">20 DAX</a>
                        </div>
                        <div class="task-item">
                            <span class="task-title">Название задания</span>
                            <span class="task-status"><i style="color:red;" class="fa fa-circle" aria-hidden="true"></i> &nbsp; Отклонен</span>
                            <a ng-href="/bounty/3564" class="btn btn-primary task-price">20 DAX</a>
                        </div>
                    </div>
                </section>

                <section id="content3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquid beatae,
                    consectetur consequatur cumque ea enim error in ipsam iste libero maiores molestias quasi, recusandae repudiandae soluta velit vitae voluptatem!
                    <img src="https://www.soyuz.ru/public/uploads/files/2/7259809/20190315120527faee7ffe1c.jpg" alt="" width="360" style="margin-top: 20px">
                    <h2 style="font-weight: bold; color: #bda076; font-size: 20px; margin-top: 20px;">Как получить вознаграждение</h2>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem debitis deserunt, dolor ducimus facere incidunt ipsum iure laborum libero
                        molestiae molestias mollitia, nihil qui sint ullam unde velit veniam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem debitis deserunt, dolor ducimus facere incidunt ipsum iure laborum libero
                        molestiae molestias mollitia, nihil qui sint ullam unde velit veniam.
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
</div>