<div id="become-moderator">
    <div class="card">
        <div class="card-header flex0 flex-space-between">
            <a ng-href="/bounty/" style="margin-right: 15px" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{event.data.title}}
            <h2 style="font-size: 20px;">Стань модератором Bounty программы</h2>
<!--            <div class="new-office-div">-->
<!--                <a href="/howopen/" class="btn btn-primary">Открыть офис</a>-->
<!--            </div>-->
        </div>
        <div class="card-body">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deleniti ducimus expedita fugit quas quo quod soluta.
                Aspernatur autem, dolorem ducimus eum id magni odio possimus repellendus tenetur totam. Dolorum!
            </div>

            <h2 style="font-weight: bold; color: #bda076; font-size: 20px; margin-top: 20px;">Как стать модератором</h2>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem debitis deserunt, dolor ducimus facere incidunt ipsum iure laborum libero
                molestiae molestias mollitia, nihil qui sint ullam unde velit veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, autem debitis deserunt, dolor ducimus facere incidunt ipsum iure laborum libero
                molestiae molestias mollitia, nihil qui sint ullam unde velit veniam.
            </div>

        </div>
    </div>
</div>