<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Название задания</h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="col col-12" style="margin-top:20px">
                    <div class="col col-12 row">
                        <div class="col col-4">
                            <h6 class="card-subtitle mb-2 text-muted">Срок действия</h6>
                            <h6>7 – 21 янв. 2019</h6>
                        </div>
                        <div class="col col-4">
                            <h6 class="card-subtitle mb-2 text-muted">Вознаграждение</h6>
                            <h6>10 УЕ</h6>
                        </div>
                        <div class="col col-4">
                            <h6 class="card-subtitle mb-2 text-muted">Статус</h6>
                            <h6>На проверке</h6>
                        </div>
                    </div>
                    <div class="col col-12" style="margin-top:20px">
                        <h5>Правила участия</h5>
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                    Описание задания... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                    </div>
                    <div class="col col-12 center-align" style="margin-top: 10px;">
                        <img src="/assets/img/user_500x500.png">
                    </div>
                    <div class="col col-12" style="margin-top:20px">
                        <h5>Как получить вознаграждение</h5>
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                    Текст... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                    </div>
                    <div class="col col-12" style="margin-top:20px">
                        <h5>Прикрепленные файлы</h5>
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                        <a href="/partner/"  style="color:black">
                            <div class="row" style="align-items: center;">
                                <img class="user-avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin:0 5px 0 15px;" src="/assets/img/avatar_gd_1.svg"><span class="text-muted">Заголовок файла.pdf</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>