<div ng-controller="messengerCtrl" id="userProfile" class="container tight" video-view>
    <div id="userProfileContentBlock">
        <div class="contentBlockLeft">
            <?include __DIR__.'/../../../index/include/left_menu.phtml'?>
        </div>
        <div class="contentBlockRight">
            <div class="contentBlockRightHeader">
                <h5><?=Model_Lang::getString('messages')?></h5>
                <div>
                    <ul class="contentBlockRightHeader-menu" _style="visibility: hidden;">
                        <li><a href="/messenger/" ng-class="getSubMenuClass('messages')"><?=Model_Lang::getString('messages')?></a></li>
                        <li class="filler"></li>
                        <li><a ng-show="addButtonIsVisible()" class="pull-right icon-link" 
                               ng-click="forms.list.create_chat.show()" ng-class="getSubMenuClass('create')" 
                               href="/messenger/create/"><i class="zt2 zt2-add-o"></i> <?= Model_Lang::getString('create_chat'); ?></a></li>
                    </ul>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>
</div>

