<div id="chat_create" class="animated fadeIn">

    <div style="padding: 10px 15px 0 25px;">
        <?= Model_Lang::getString('title'); ?>:
        <br><input autofocus class="input-bordered" type="text" ng-model="forms.list.create_chat.title" class="ng-pristine ng-valid ng-empty ng-touched">
    </div>

    <div style="padding: 10px 15px 0 25px;">
        <a class="chat_create_logo" ng-class="{active: forms.list.create_chat.logo != ''}" onclick="$('#input-chat_create_logo').click(); return false;">
            <img id="chat_create_logo" ng-src="{{forms.list.create_chat.getLogo()}}">
            <span><i class="fa fa-image fa-2x"></i><br><?= Model_Lang::getString('upload_image'); ?></span>
        </a >
        <br><input type="file" style="display: none;" id="input-chat_create_logo" js-crop js-crop-callback="forms.list.create_chat.logoCallback(resp)" js-crop-title="Выбор логотипа для чата">
    </div>

    <div class="scroll-style-1" style="padding: 15px; flex:1; overflow: auto;">
        <div id="create-chat-users" class="chips animated fadeIn scroll-style-1" ng-class="{disabled: forms.list.create_chat.loading}" ng-if="forms.list.create_chat.selected.length > 0" style="max-height: 84px; cursor: default; border: none; margin-bottom: 0; padding-left: 10px;">
            <div ng-repeat="contact in forms.list.create_chat.selected" class="chip animated zoomIn">
                <img ng-src="{{contact.avatar}}" alt="Contact Person">{{contact.tag}}
                <i class="close material-icons" ng-click="forms.list.create_chat.toggle(contact)">close</i>
            </div>
        </div>
        <div>
            <div class="flex0">
                <div class="flex-grow1" style="padding-left: 10px;">
                    <input type="text" class="input input-bordered" style="border-right: none !important;" my-enter="forms.list.create_chat.applyFilter()" ng-model="forms.list.create_chat.filter.tag" placeholder="<?=Model_Lang::getString('search_participants')?>">
                </div>
                <div>
                    <a class="btn" href="#" ng-click="forms.list.create_chat.applyFilter()" style="box-shadow: none; border-radius: 0 2px 2px 0;"><?= Model_Lang::getString('find'); ?></a>
                </div>
            </div>
        </div>
        <ul>
            <li class="waves-effect waves-light animated fadeIn" ng-repeat="contact in forms.list.create_chat.contact_list" ng-show="contact.visible && !forms.list.create_chat.exists(contact)" ng-click="forms.list.create_chat.toggle(contact)">
                <img class="circle" ng-src="{{contact.avatar}}" />
                <span class="name">{{contact.tag}}</span>
                <input type="checkbox" id="create_chat_contact{{contact.id}}" value="{{contact.id}}" ng-click="forms.list.create_chat.toggle(contact)" ng-checked="forms.list.create_chat.exists(contact)" />
                <label for="create_chat_contact{{contact.id}}"></label>
            </li>
        </ul>
        <div class="center-align font-readonly" ng-if="forms.list.create_chat.contact_list.length == 0">
            <?= Model_Lang::getString('nothing_found'); ?>
        </div>
        <div class="center-align" ng-if="forms.list.create_chat.more">
            <a class="loadmore btn" href="#" ng-click="forms.list.create_chat.loadMore()"><?= Model_Lang::getString('show_more'); ?></a>
        </div>
    </div>

    <p class="center-align" ng-show="mobileview" style="margin-bottom: 40px;">
        <a class="btn waves-effect waves-light" ng-class="{loading: forms.list.create_chat.loading, disabled: forms.list.create_chat.loading}" ng-click="forms.list.create_chat.create($event)"><?=Model_Lang::getString('create')?></a>
        <!-- <a class="btn-flat waves-effect waves-light animated fadeIn" ng-class="{disabled: forms.list.create_chat.loading}" ng-click="forms.toggle('create_chat')"><?=Model_Lang::getString('cancel')?></a> -->
    </p>

</div>