<script>

	function resize() {
		var $bm = $('#business_messenger');
		if($bm.length) {
		    var offset = $bm.offset();
		    var h = $(window).height() - offset.top;
		    $('#business_messenger, #chanel_list, #chat_right').height(h + 'px');
		}
	    return false;
	}

    $(window).resize(function () {
        resize();
    });

    $(function(){
        $('#chat_write input').focus();
        $('#mobileview-breadcrumb .dropdown-button, #messenger-chat-breadcrumb .dropdown-button').dropdown({
            hover: true,
            belowOrigin: true,
            alignment: 'right'
        });
		resize();
    });

</script>

<div id="userProfile" class="container tight">
    <div id="userProfileContentBlock">
        <div class="contentBlockRight">
            <div id="business_messenger">

                <!-- Добавить участника -->
                <form id="form-add-member" class="popup-form animated zoomIn" data-title="{{lang.add_member}}" style="width: 400px;">
                    <div class="popup-form-content">
                        <div>
                            <div class="flex0">
                                <div class="flex-grow1" style="margin-bottom: 20px;">
                                    <input type="text" class="input" style="box-shadow: none !important; margin: 0; border: 1px solid #ccc; border-right: none; height: 34px; text-indent: 10px;" my-enter="channels.info.addmember.applyFilter()" ng-model="channels.info.addmember.filter.tag" placeholder="{{lang.search_participants}}">
                                </div>
                                <div>
                                    <a class="btn" href="#" ng-click="channels.info.addmember.applyFilter()" style="box-shadow: none; border-radius: 0 2px 2px 0;">{{lang.find}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="member_list scroll-style-1">
                            <ul>
                                <li ng-repeat="member in channels.info.addmember.list">
                                    <a class="member_info" href="#" ng-click="channels.info.addmember.add(member)">
                                        <!-- <a href="{{member.url}}" target="_blank">--><img ng-src="{{member.avatar}}"><!--</a>-->
                                        <span class="title">
                                            {{member.title}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div style="margin-top: 20px;">
                            <div class="spinner" ng-if="channels.info.addmember.loading"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                            <div class="center-align font-readonly" ng-if="channels.info.addmember.list.length == 0 && !channels.info.addmember.loading">
                                {{lang.nothing_found}}
                            </div>
                            <div class="center-align" ng-if="channels.info.addmember.more">
                                <a class="loadmore btn" href="#" ng-click="channels.info.addmember.loadMore()">{{lang.show_more}}</a>
                            </div>
                        </div>
                    </div>
                </form>
                
                <!-- Информация о чате -->
                <form id="form-chat-info" class="popup-form animated zoomIn" data-title="{{lang.chat_info}}">
                    <div class="popup-form-content">
		                <div id="chat-info-title-editor">
                            <img ng-src="{{channels.active.logo}}">
                            <div style="width: 100%;">
                                <strong ng-show="!channels.info.rename_is_active" id="chat-title-readonly">{{channels.active.title}}</strong>
		                        <input ng-model="channels.info.title" type="text" class="ed" ng-if="channels.info.rename_is_active" my-enter="channels.info.renameConfirm()">
                            </div>
		                    <a ng-show="channels.active.info.chat_type_id == 2 && !channels.info.rename_is_active" href="#" ng-click="channels.info.toggleRename()" class="underline" title="{{lang.rename}}"><i class="fa fa-pencil" style="color: rgba(0,0,0,.65);font-size: 1.2em;"></i></a>
		                    <a ng-show="channels.info.rename_is_active" href="#" ng-click="channels.info.renameConfirm()" class="underline" title="{{lang.rename}}"><i class="fa fa-check" style="color: rgba(0,0,0,.65);font-size: 1.2em;"></i></a>
		                </div>
                        <!--
                        <div class="chat_name">
                            <img ng-src="{{channels.active.logo}}">
                            <div><h2 title="{{lang.title}}">{{channels.active.title}}</h2></div>
                        </div>
                        -->
                        <ul class="ub_content_tabs" data-tabs="#ub_chat_info_tabs">
                            <li class="active"><a href="#ub_users">{{lang.chat_users}}</a></li>
                            <li class=""><a href="#ub_media">{{lang.chat_files}}: 0</a></li>
                        </ul>
                        <ul class="chat_participants">
                            <li ng-repeat="member in channels.active.info.user_list">
                                <a target="_blank" href="{{member.url}}">
                                    <span>
                                        <img ng-src="{{member.avatar}}" align="absmiddle">
                                    </span>
                                    <span class="flex-grow1">
                                        {{member.title}}
                                        <br ng-if="member.is_admin" />
                                        <span class="is_admin" ng-if="member.is_admin">{{lang.is_admin}}</span>
                                    </span>
                                </a>
                                <span ng-if="channels.iCanDeleteMember(member)" title="{{lang.delete}}" style="text-align: right; "><i class="zt zt-delete" ng-click="removeParticipant(member)" style="cursor: pointer;"></i></span>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="row">
                    <div id="chanel_list" class="scroll-style-1 col s12" ng-show="mobileview ? (view_contacts && !(forms.list.search.visible && search.view_result) && !(forms.list.create_chat.visible)) : true" _class="hide-on-med-and-down">
                        <ul class="people">
                            <li ng-repeat="channel in channels.list" style="top: {{$index*64+0}}px;" class="waves-effect waves-light modal-trigger animated fadeIn person {{channels.active.id == channel.id ? 'active' : ''}}" data-chat="person1" ng-click="channels.select(channel.id)" ng-show="forms.list.chat.visible">
                                <img ng-src="{{channel.logo}}" />
                                <span class="name" title="{{channel.id}}">{{channel.title}}</span>
                                <span class="time">{{channel.last_active_time_string}}</span>
                                <!--<span class="preview" ng-bind-html="channel.preview | chat_message"></span>-->
                                <span class="preview" ng-bind="channel.preview"></span>
                                <span ng-show="channel.missed_messages > 0" class="badge new red">{{channel.missed_messages}}</span>
                                <div class="activator">
                                    <a href="#"><i class="material-icons">more_vert</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="chat_right" class="col s12" ng-show="mobileview ? (!view_contacts || (forms.list.search.visible && search.view_result) || (forms.list.create_chat.visible)) : true">
                        <ng-include src="'/app/views/messenger/partial/right.html'"></ng-include>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
