<div ng-controller="messengerCtrl" class="flex0 row" id="user-page" style="margin: 0;">

    <!--<div class="col s12 m5 hide-on-med-and-down">
        <ng-include src="'/app/views/user_menu.html'"></ng-include>
    </div>-->

    <div id="messenger-col" class="col s12 m7">
        <div id="messenger2">
            <div class="main-section">
                <div class="left-sidebar scroll-style-1" ng-show="!currentContact">
                    <div class="left-chat">
                        <p class="left-chat-title">{{lang.contacts}}</p>
                        <div ng-if="messenger.contacts.length == 0" class="center-align" style="margin: 1em; font-size: 9pt; color: rgba(255,255,255,.5) !important; line-height: 1.2em;">
                            {{lang.messenger_list_empty_description}}
                        </div>
                        <ul>
                            <li ng-repeat="contact in messenger.contacts" ng-class="getClass('/messenger/', contact.url)">
                                <div class="left-chat-div" ng-click="enterToChat(contact)">
                                    <div class="chat-left-img">
                                        <img ng-src="{{contact.logo || '/img/user_80x80.png'}}">
                                        <span ng-if="contact.missed_messages != 0" id="chat-left-detail-count">{{contact.missed_messages}}</span>
                                    </div>
                                    <div class="chat-left-detail">
                                        <p>{{contact.title}}</p>
                                        <!--<span><i class="fa fa-circle" aria-hidden="true"></i> online</span>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="right-sidebar" ng-if="currentContact">
                    <p class="right-sidebar-empty" ng-if="!currentContact"><!--Выберите диалог-->{{lang.select_dialog}}</p>
                    <div class="currentContact" ng-if="currentContact">
                        <div class="col-md-12 right-header">
                            <div class="right-header-arrow">
                                <i ng-click="backContacts()" class="fal fa-arrow-left" aria-hidden="true"></i>
                            </div>
                            <div class="right-header-img">
                                <img ng-src="{{currentContact.logo || '/img/user_80x80.png'}}">
                            </div>
                            <div class="right-header-detail">
                                <p>{{currentContact.title}}</p>
                                <!--<span>already 19 messages </span>-->
                            </div>
                        </div>
                        <div id="right-header-contentChat" class="right-header-contentChat scroll-style-1">
                            <ul>
                                <li ng-repeat="msg in messenger.chat.messages" class="animated fadeIn">
                                    <div ng-if="logged_id != msg.user_id" class="rightside-left-chat">
                                        <span><i class="fal fa-circle" aria-hidden="true"></i> {{msg.login}} <small>{{msg.time | datetime}}</small></span>
                                        <p>{{msg.message}}</p>
                                    </div>
                                    <div ng-if="logged_id == msg.user_id" class="rightside-right-chat">
                                        <span><small>{{msg.time | datetime}}</small></span>
                                        <p>{{msg.message}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" id="right-chat-textbox">
                            <input type="text" placeholder="{{lang.write_message}}" ng-keyup="$event.keyCode == 13 ? sendMessage() : null" ng-model="obj.messageText"><a href="#"><i ng-click="sendMessage()" class="fab fa-telegram-plane" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>