<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="wallet-page" ng-controller="walletCtrl" ng-if="app.user.user_status_id == 4">
    <div class="emp-profile animated fadeIn">
        <div ui-view></div>
    </div>
</div>