<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3><a href="/wallet/" class="btn btn-secondary btn-back"><i class="fal fa-arrow-left"></i></a> Счет Cumulative</h3>
            </div>
            <div class="card-body">
                <div class="col col-12">
                    Чтобы получить бонус, вам нужно перейти на получить карьерный статус уровня <span style="font-weight: bold;">7 Regional Manager</span>
                </div>
                <div class="col col-12 row" style="margin-top:30px">
                    <div class="col col-6 center-align">
                        <h5>Regional Manager</h5>
                        <span>100 000 партнеров</span><br>
                        <span>Наибольшая команда < 50% объема + другие</span>
                    </div>
                    <div class="col col-6 center-align" style="color:red">
                        <div style="margin-top:30px"></div>
                        <span>Нужно еще 1200 партнеров</span><br>
                        <span>Ваша наибольшая команда 94.381 %</span>
                    </div>
                </div>
                <div class="career-status">
                    <div class="career-status-head-wrapper">
                        <p class="career-status-head" style="margin-bottom: 0;">President ✮✮</p>
                        <label>Следующий статус</label>
                         <p style="line-height: 1.3em; padding-top: 15px;padding-top: 0;margin-bottom: 0;">Условия достижения карьерного статуса:</p>
                    </div>
                    <div class="career-status-team-capacity">
                        <p class="career-status-team-capacity-head"><label>Объем команды (USD)</label></p>
                        <div class="career-status-team-capacity-isfull">
                            <i ng-class="{'fas fa-check color-green': careerStatus.data.value_amount_command.ok, 'fas fa-times color-red': !careerStatus.data.value_amount_command.ok}" class="fas fa-times color-red"></i>
                        </div>
                        <div>253,847
                            из
                            60,000,000
                        </div>
                        <div class="career-status-team-capacity-progressbar">
                            <div class="career-status-team-capacity-progressbar-progress" style="width: 0%;"></div>
                        </div>
                    </div>
                    <div class="career-status-teamlead">
                        <div><label><!--Лидеры команды (баллы)-->Лидеры команды (USD)</label></div>
                        <div class="career-status-teamlead-block">
                            <div class="grid" style="grid-template-columns: auto 1fr; width: 100%;">
                                <p class="career-status-teamlead-block-volume-fio" title="Daxelrod">Daxelrod</p>
                                <div class="right-align">
                                    <i class="fas fa-question-circle" title="Объем лидеров вашей команды не должен превышать указанных процентов от общего объема, чтобы условие считалось выполненным."></i>
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-volume">
                                <div class="career-status-teamlead-block-volume-fioVolume">
                                    $170,331
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-percent">
                                67.1 %
                                <br><span style="opacity: .5; font-size: 10px;">не более 60 %</span>
                            </div>
                            <div class="career-status-teamlead-block-isCheck">
                                <i ng-class="{'fas fa-check color-green': leader.percent.ok, 'fas fa-times color-red': !leader.percent.ok}" class="fas fa-times color-red"></i>
                            </div>
                        </div>
                        <div class="career-status-teamlead-block">
                            <div class="grid" style="grid-template-columns: auto 1fr; width: 100%;">
                                <p class="career-status-teamlead-block-volume-fio" title="lordbravel">lordbravel</p>
                                <div class="right-align">
                                    <i class="fas fa-question-circle" title="Объем лидеров вашей команды не должен превышать указанных процентов от общего объема, чтобы условие считалось выполненным."></i>
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-volume">
                                <div class="career-status-teamlead-block-volume-fioVolume">
                                    $83,508
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-percent">
                                32.897 %
                                <br><span style="opacity: .5; font-size: 10px;">не более 30 %</span>
                            </div>
                            <div class="career-status-teamlead-block-isCheck">
                                <i ng-class="{'fas fa-check color-green': leader.percent.ok, 'fas fa-times color-red': !leader.percent.ok}" class="fas fa-times color-red"></i>
                            </div>
                        </div>
                        <div class="career-status-teamlead-block">
                            <div class="grid" style="grid-template-columns: auto 1fr; width: 100%;">
                                <p class="career-status-teamlead-block-volume-fio" title="Rumiya999">Rumiya999</p>
                                <div class="right-align">
                                    <i class="fas fa-question-circle" title="Объем лидеров вашей команды не должен превышать указанных процентов от общего объема, чтобы условие считалось выполненным."></i>
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-volume">
                                <div class="career-status-teamlead-block-volume-fioVolume">
                                    $8
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-percent">
                                0.003 %
                                <br><span style="opacity: .5; font-size: 10px;">не более 20 %</span>
                            </div>
                            <div class="career-status-teamlead-block-isCheck">
                                <i ng-class="{'fas fa-check color-green': leader.percent.ok, 'fas fa-times color-red': !leader.percent.ok}" class="fas fa-check color-green"></i>
                            </div>
                        </div>
                        <div class="career-status-teamlead-block">
                            <div class="grid" style="grid-template-columns: auto 1fr; width: 100%;">
                                <p class="career-status-teamlead-block-volume-fio" title="Fabulou5">Fabulou5</p>
                                <div class="right-align">
                                    <i class="fas fa-question-circle" title="Объем лидеров вашей команды не должен превышать указанных процентов от общего объема, чтобы условие считалось выполненным."></i>
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-volume">
                                <div class="career-status-teamlead-block-volume-fioVolume">
                                    $0
                                </div>
                            </div>
                            <div class="career-status-teamlead-block-percent">
                                0 %
                                <br><span style="opacity: .5; font-size: 10px;">не более 10 %</span>
                            </div>
                            <div class="career-status-teamlead-block-isCheck">
                                <i ng-class="{'fas fa-check color-green': leader.percent.ok, 'fas fa-times color-red': !leader.percent.ok}" class="fas fa-check color-green"></i>
                            </div>
                        </div>
                        <div class="career-status-teamlead-condition" ng-if="!careerStatus.data.side_volume_leaders.isComplete">Условия не выполнены
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>