<script>
    'use strict';
    var multiItemSlider = (function () {
      return function (selector, callback) {
        var
          _mainElement = document.querySelector(selector), // основный элемент блока
          _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
          _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
          _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
          _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
          _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
          _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
          _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента    
          _positionLeftItem = 0, // позиция левого активного элемента
          _transform = 0, // значение транфсофрмации .slider_wrapper
          _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
          _items = []; // массив элементов
        // наполнение массива _items
        _sliderItems.forEach(function (item, index) {
          _items.push({ item: item, position: index, transform: 0 });
        });         

        var position = {
          getMin: 0,
          getMax: _items.length - 1,
        }

        var _transformItem = function (direction) {         
          if (direction === 'right') {
            if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) >= position.getMax) {
              if (callback === "function"){callback(_positionLeftItem);}
              return;
            }
            if (!_sliderControlLeft.classList.contains('slider__control_show')) {
              _sliderControlLeft.classList.add('slider__control_show');
            }
            if (_sliderControlRight.classList.contains('slider__control_show') && (_positionLeftItem + _wrapperWidth / _itemWidth) >= position.getMax) {
              _sliderControlRight.classList.remove('slider__control_show');
            }
            _positionLeftItem++;
            _transform -= _step;
          }
          if (direction === 'left') {
            if (_positionLeftItem <= position.getMin) {
              if (callback === "function"){callback(_positionLeftItem);}
              return;
            }
            if (!_sliderControlRight.classList.contains('slider__control_show')) {
              _sliderControlRight.classList.add('slider__control_show');
            }
            if (_sliderControlLeft.classList.contains('slider__control_show') && _positionLeftItem - 1 <= position.getMin) {
              _sliderControlLeft.classList.remove('slider__control_show');
            }
            _positionLeftItem--;
            _transform += _step;
          }
          _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
          if (callback === "function"){callback(_positionLeftItem);}
        }

        // обработчик события click для кнопок "назад" и "вперед"
        var _controlClick = function () {
          var direction = this.classList.contains('slider__control_right') ? 'right' : 'left';
          _transformItem(direction);
        };

        var _setUpListeners = function () {
          // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
          _sliderControls.forEach(function (item) {
            item.addEventListener('click', _controlClick);
          });
        }

        // инициализация
        _setUpListeners();

        return {
          right: function () { // метод right
            _transformItem('right');
          },
          left: function () { // метод left
            _transformItem('left');
          }
        }

      }
    }());

</script>

<div ng-if="wallet.loading">
    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
</div>

<!-- внесение средств на счет  -->
<form id="form-partnerRub-fill" class="form-deposit-into-account animated zoomIn" data-title="Внесение средств на счет">
    <div class="popup-form-content p-0">
        <div class="card">
            <div class="card-header" style="position: relative; display: flex;">
               <!-- <div class="row brd-radius px-0 w-100 mb-0" style="background-color: #42454e; flex: 1">
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-primary mb-2" ng-click="partnerRub.fill.close()">Отменить</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.transfer.open()">Перевод</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.withdrawalBtc.open()">Вывести</a>
                    </div>
                </div>-->
                    <div class="bg text-center">
                        <p class="text-gold">ВНЕСЕНИЕ СРЕДСТВ НА СЧЕТ</p>
                    </div>
            </div>
            <div class="card-body text-white text-center">
                <div class="bg py-3">
                    <p class="mt-0">На данный моменты мы принимаем оплату только в виде криптовалюты Bitcoin.</p>
                    <a class="text-gold" href=""><u>Как купить и перевести Bitcoin?</u></a>
                    <p>Ваш счёт настроен, необходимо создать операцию перевода биткойнов на следующий адрес: </p>

                    <div class="flex0 menu-input px-2 mb-2">
                        <div class="flex0 w-100 flex-center">
                            <input type="text" class="gold labeled px-3" id="inp-btc-adress" value="xxxxxxxxxxxxxxxxxxxxxx" readonly="">
                            <div class="copy-div cpointer">&nbsp;<i class="bx bx-copy" onclick="return copyAddressToCB('inp-btc-adress');"></i></div>
                        </div>
                    </div>
                    <a class="text-gold mb-3" href=""><u>Показать QR-код</u></a>
                    <div class="col-sm-9 mx-auto mt-4 menu-input flex0 flex-center flex-wrap">
                        <div class="col-sm-5">
                            <div class="flex0 w-100 flex-center">
                                <input type="text" class="dark labeled px-2">
                                <label class="label px-2">
                                    USDT
                                </label>
                            </div>
                        </div>
                        <span class="m-auto strong" style="color: #23242a; font-size: 40px; line-height: 1; ">=</span>
                        <div class="col-sm-5">
                            <div class="flex0 w-100 flex-center">
                                <input type="text" class="dark labeled px-2">
                                <label class="label px-2">
                                    BTC
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- перевод другому пользователю  -->
<form id="form-partnerRub-transfer" class="form-deposit-into-account animated zoomIn" data-title="перевод другому пользователю">
    <div class="popup-form-content p-0">
        <div class="card">
            <div class="card-header" style="position: relative; display: flex !important;">
                <div class="text-center card-tab" ng-class="{active: !partnerRub.isTransferTrustera}" ng-click="partnerRub.isTransferTrustera = !partnerRub.isTransferTrustera">
                    <p>ПЕРЕВОД ДРУГОМУ ПОЛЬЗОВАТЕЛЮ</p>
                </div>
                <div class="text-center card-tab" ng-class="{active: partnerRub.isTransferTrustera}" ng-click="partnerRub.isTransferTrustera = !partnerRub.isTransferTrustera">
                    <p>ПЕРЕВЕСТИ В<br>TRUSTERA</p>
                </div>
            </div>
            <div class="card-body text-white" ng-if="!partnerRub.isTransferTrustera">
                <div class="bg py-4" style="border-bottom: 1px solid #42454e;">
                    <div class="col-sm-10 mx-auto ">
                        <div class="flex0 menu-input px-2 pb-2">
                            <div class="w-100">
                                <p class="text-white">Введите сумму перевода в USDT (минимум 1 USDT):</p>
                                <input type="number" step="0.01" ng-model="partnerRub.transfer.form.amount_dax" class="w-100" value="">
                                <br>
                                <p class="text-white" style="margin-top: 5px;">текущий баланс {{wallet.item.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</p>
                            </div>
                        </div>
                        <div class="flex0 menu-input px-2 py-2">
                            <div class="flex0 flex-wrap w-100">
                                <p class="text-white">Введите ID, никнейм или номер телефона (без +7):</p>
                                <input type="text" class="flex-grow-1 w-100" value="" placeholder="Например: 9179171717" ng-model="partnerRub.transfer.form.number" ng-change="partnerRub.transfer.numberChange()">
                                <div ng-if="!partnerRub.transfer.searchUser && partnerRub.transfer.form.number" style="display: flex;align-items: center;margin-top: 20px;">
                                    Такой пользователь Golden DAX не найден
                                </div>
                                <div ng-if="partnerRub.transfer.searchUser" style="display: flex;align-items: center;margin-top: 20px;">
                                    <img class="user-avatar" ng-src="{{app.domains.avatar}}{{partnerRub.transfer.searchUser.avatar_path[2]}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                    <div style="margin-left: 10px;">
                                        {{partnerRub.transfer.searchUser.fio}}
                                        <br>@{{partnerRub.transfer.searchUser.user_login}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg py-4">
                    <div class="col-sm-10 mx-auto text-left">
                        <div class="confirm-code mb-4">
                            <div ng-if="partnerRub.transfer.telegram_exists">
                                <a href="#" class="btn btn-primary mb-2" ng-class="{loading: partnerRub.transfer.loading, disabled: partnerRub.transfer.loading || !partnerRub.transfer.isOkTelegram()}" ng-click="partnerRub.transfer.telegramprepareconfirm()">{{lang.send_telegram_code}}</a>
                                <div>{{lang.send_telegram_pin}}</div>
                            </div>
                            <div ng-if="partnerRub.transfer.show_telegram">
                                <div>{{lang.enter_telegram_pin}}</div>
                                <input ng-model="partnerRub.transfer.form.pin" type="text" my-enter="partnerRub.transfer.submit()" class="mt-2">
                            </div>
                            <div ng-if="partnerRub.transfer.show_password">
                                {{lang.enter_pwd_for_confirm}}
                                <input type="password" ng-model="partnerRub.transfer.form.password" my-enter="partnerRub.transfer.submit()" class="mt-2">
                            </div>
                        </div>
                        <div class="col-12 flex0 flex-between pb-4">
                        	<a href="#" class="btn btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
                            <a href="#" class="btn btn-primary" style="max-width: 200px" ng-class="{loading: partnerRub.transfer.loading, disabled: partnerRub.transfer.loading || !partnerRub.transfer.isOk()}" ng-click="partnerRub.transfer.submit()">Перевести</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body text-white" ng-if="partnerRub.isTransferTrustera">
            	<div ng-init="partnerRub.partnerToMain.open()">
	                <div class="bg py-4" style="border-bottom: 1px solid #42454e;">
	                    <div class="col-sm-10 mx-auto ">
	                        <div class="flex0 menu-input px-2 pb-2">
	                            <div class="w-100">
	                                <p class="text-white">Введите сумму перевода в USDT (минимум 1 USDT):</p>
	                                <input type="number" step="0.01" ng-model="partnerRub.partnerToMain.form.amount_dax" class="w-100" value="">
	                                <br>
	                                <p class="text-white" style="margin-top: 5px;">{{lang.dax_wallet_available_amount}} {{partnerRub.partnerToMain.max_amount | mycurrency:2}} USDT</p>
	                            </div>
	                        </div>
	                        <div class="px-2 py-2">
	                            <div class="w-100">
	                                <p class="text-white">Сумма будет отправлена на Ваш расчетный счет в Trustera</p>
	                            </div>
	                            <div class="w-100">
	                                <p class="text-white">{{wallet.main_number}}</p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="bg py-4">
	                    <div class="col-sm-10 mx-auto text-left">
	                        <div class="confirm-code mb-4">
	                            <div ng-if="partnerRub.partnerToMain.telegram_exists">
	                                <a href="#" class="btn btn-primary mb-2" ng-class="{loading: partnerRub.partnerToMain.loading, disabled: partnerRub.partnerToMain.loading}" ng-click="partnerRub.partnerToMain.telegramprepareconfirm()">{{lang.send_telegram_code}}</a>
	                                <div>{{lang.send_telegram_pin}}</div>
	                            </div>
	                            <div ng-if="partnerRub.partnerToMain.show_telegram">
	                                <div>{{lang.enter_telegram_pin}}</div>
	                                <input ng-model="partnerRub.partnerToMain.form.pin" type="text" my-enter="partnerRub.partnerToMain.submit()" class="mt-2">
	                            </div>
	                            <div ng-if="partnerRub.partnerToMain.show_password">
	                                {{lang.enter_pwd_for_confirm}}
	                                <input type="password" ng-model="partnerRub.partnerToMain.form.password" my-enter="partnerRub.partnerToMain.submit()" class="mt-2">
	                            </div>
	                        </div>
	                        <div class="col-12 flex0 flex-between pb-4">
                        		<a href="#" class="btn btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
	                            <a href="#" class="btn btn-primary" style="max-width: 200px" ng-class="{loading: partnerRub.partnerToMain.loading, disabled: partnerRub.partnerToMain.loading || (partnerRub.partnerToMain.form.password == '' && partnerRub.partnerToMain.form.pin == '')}" ng-click="partnerRub.partnerToMain.submit()">Перевести</a>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Вывод средств  -->
<form id="form-partnerRub-withdrawalBtc" class="form-deposit-into-account animated zoomIn" data-title="перевод другому пользователю" ng-init="partnerRub.withdrawalBtc.init()">
    <div class="popup-form-content p-0">
        <div class="card">
            <div class="card-header" style="position: relative; display: flex;">
                <!-- <div class="row brd-radius px-0 w-100 mb-0" style="background-color: #42454e; flex: 1">
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.fill.open()">Пополнить</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.transfer.open()">Перевод</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-primary mb-2" ng-click="partnerRub.withdrawalBtc.close()">Отмена</a>
                    </div>
                </div> -->
                <div class="bg text-center">
                    <p class="text-gold">ВЫВОД СРЕДСТВ</p>
                </div>
            </div>
            <div class="card-body text-white">
                <div class="bg pt-2" style="border-bottom: 1px solid #42454e;">
                    <div class="col-sm-10 mx-auto text-left">
                        <p class="text-white px-2">Вывод из</p>  
                        <div class="flex0 menu-input px-2 pb-2">
                            <div class="flex0 w-100 flex-center">
                                <div class="wallet-left px-2">{{wallet.item.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</div>
                                <div class="wallet-right px-2 d-sm-flex d-none">{{wallet.item.dax_wallet_type_title}} {{wallet.item.number}}</div>
                                <div class="wallet-right px-2 d-sm-none d-flex">{{wallet.item.number}}</div>
                                
                            </div>
                        </div>
                        <p class="text-white px-2 mt-4">Вывод на</p>  
                        <div class="form-group px-2">
                            <select class="custom-select form-control" ng-model="partnerRub.withdrawalBtc.form.withdrawal_wallet_id">
                                <option value="">Выберите кошелек</option>
                                <option ng-repeat="item in partnerRub.withdrawalBtc.withdrawal_wallets" value="{{item.id}}">{{item.title}}</option>
                            </select>
                            <a class="btn btn-primary" href="/withdrawalmethod/" style="margin: 1em 0;">{{lang.add_wallet}}...</a>
                        </div>
                        <p class="col-12 text-white mt-4 px-2">Сумма</p>
                        <div class="flex0 flex-wrap menu-input px-2">
                            <div class="flex0 w-100">
                                <input type="number" step="0.01" ng-model="partnerRub.withdrawalBtc.form.amount" class="dark labeled" ng-change="partnerRub.withdrawalBtc.changeAmount()">
                                <label class="label px-2">
                                    USDT
                                </label>
                            </div>
                        </div>
                        <div class="flex0 flex-wrap px-2 py-3">
                            <div class="w-100 flex0 justify-content-between py-1">
                                <span>МИНИМУМ</span>
                                <span class="strong">10 USDT</span>
                            </div>
                            <div class="w-100 flex0 justify-content-between py-1">
                                <span class="pr-2 text-left">ВРЕМЯ ОБРАБОТКИ</span>
                                <span class="strong text-right text-nowrap">ДО 14 СУТОК</span>
                            </div>
                            <div class="w-100 flex0 justify-content-between py-1">
                                <span>КОМИССИЯ</span>
                                <span class="strong">0%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg">
                    <div class="flex0 flex-wrap mx-auto px-4 py-3 col-sm-10 history-oper-withdrawal" style="text-align: unset!important;">
                        <div class="w-100 flex0 flex-sm-nowrap flex-wrap py-1 justify-content-between">
                            <span class="col-sm-auto p-0">ОБЩАЯ СУММА НА ВЫВОД</span>
                            <span class="col-sm-auto p-0 strong text-gold">{{partnerRub.withdrawalBtc.form.amount}} USDT</span>
                        </div>
                        <div class="w-100 flex0 flex-sm-nowrap flex-wrap py-1 justify-content-between">
                            <span class="col-sm-auto p-0">ТЕКУЩИЙ КУРС USDT/BTC</span>
                            <span class="col-sm-auto p-0 strong text-gold">1 BTC = {{partnerRub.withdrawalBtc.getRate() | mycurrency:2}} USDT</span>
                        </div>
                        <div class="w-100 flex0 flex-sm-nowrap flex-wrap py-1 justify-content-between">
                            <span class="col-sm-auto p-0">ОЖИДАЕМАЯ СУММА BTC</span>
                            <span class="col-sm-auto p-0 strong text-gold">{{partnerRub.withdrawalBtc.form.target_amount | number:8}} USDT</span>
                        </div>
                    </div>
                    <div class="flex0 flex-wrap mx-auto px-4 py-3 col-sm-10">
                        <div class="confirm-code mb-4">
                            <div ng-if="partnerRub.withdrawalBtc.telegram_exists">
                                <a href="#" class="btn btn-primary mb-2" ng-class="{loading: partnerRub.withdrawalBtc.loading, disabled: partnerRub.withdrawalBtc.loading" ng-click="partnerRub.withdrawalBtc.telegramprepareconfirm()">{{lang.send_telegram_code}}</a>
                                <div>{{lang.send_telegram_pin}}</div>
                            </div>
                            <div ng-if="partnerRub.withdrawalBtc.show_telegram">
                                <div>{{lang.enter_telegram_pin}}</div>
                                <input ng-model="partnerRub.withdrawalBtc.form.pin" type="text" my-enter="partnerRub.withdrawalBtc.submit()" class="mt-2">
                            </div>
                            <div ng-if="partnerRub.withdrawalBtc.show_password">
                                {{lang.enter_pwd_for_confirm}}
                                <input type="password" ng-model="partnerRub.withdrawalBtc.form.password" my-enter="partnerRub.withdrawalBtc.submit()" class="mt-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 flex0 flex-between pb-4">
                        <a href="#" class="btn btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
                        <a href="#" class="btn btn-primary" ng-click="partnerRub.withdrawalBtc.submit()" ng-class="{disabled: partnerRub.withdrawalBtc.loading || !partnerRub.withdrawalBtc.form.withdrawal_wallet_id || partnerRub.withdrawalBtc.form.amount < MIN_WITHDRAWAL_USDT || (partnerRub.withdrawalBtc.form.password == '' && partnerRub.withdrawalBtc.form.pin == ''), loading: partnerRub.withdrawalBtc.loading}">ПОДТВЕРДИТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Вывод средств с партнёрского рублевого счёта-->
<form id="form-partnerRub-withdrawal" class="popup-form animated zoomIn" data-title="Вывод средств с партнёрского рублевого счёта">
    <div class="popup-form-content">
        <div ng-if="partnerRub.withdrawal.page == 1">
            Баланс: <span class="text-muted">{{partnerRub.wallet.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</span>
            <div class="my-2 text-muted">
                <div>1. Минимальна сумма на вывод 3000 руб</div>
                <div>2. Рубли с этого счет можно выводить только на ИП и самозанятым</div>
                <!--{{partnerRub.wallet.number}}-->
            </div>
        </div>
        <div ng-if="partnerRub.withdrawal.page == 2">
            <div class="text-muted">
                <div>Минимальна сумма на вывод 3000, максимальная {{partnerRub.wallet.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</div>
            </div>
            <div class="mb-2">
                <label>Сумма</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.amount">
            </div>
            <div class="mb-2">
                <label>Наименование ИП</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.ip_title">
            </div>
            <div class="mb-2">
                <label>ИНН</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.inn">
            </div>
            <div class="mb-2">
                <label>Номер расчетного счета</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.rs_number">
            </div>
        </div>
    </div>
    <div class="popup-form-footer">
        <a href="#" class="btn btn-secondary" ng-click="partnerRub.withdrawal.close()">Отмена</a>
        <a href="#" class="btn btn-primary" ng-class="{disabled: !partnerRub.withdrawal.isAllow()}" ng-if="partnerRub.withdrawal.page == 1" ng-click="partnerRub.withdrawal.setPage(2)">Далее</a>
        <a href="#" class="btn btn-primary" ng-class="{loading: partnerRub.withdrawal.loading, disabled: !partnerRub.withdrawal.formFilled()}" ng-if="partnerRub.withdrawal.page == 2" ng-click="partnerRub.withdrawal.submit()">Зарегистрировать заявку вывода</a>
    </div>
</form>

<!--Дополнительная информация по операции-->
<form id="form-more-by-ref" class="popup-form animated fadeIn" data-title="Дополнительная информация по операции">
    <div class="popup-form-content">
        <p>Данный бонус был в том числе распределен между следующими нижестоящими партнерами в цепочке:</p>
        <table class="table" border="1" frame="void" rules="rows" style="color: white;">
            <tr ng-repeat="ref_item in wallet.ref_history_list.list">
                <td>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="flex0 flex-center">
                            <img ng-src="{{app.domains.avatar}}/img/user_80x80.png" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                            <div style="padding-left: 10px;">
                                {{ref_item.title}}
                                <i class="" style="border-radius: 30px; background-color: rgb(189, 160, 118); color: white; width: 20px; height: 20px; display: inline-flex; align-items: center; justify-content: center; font-size: 11px;">{{ref_item.career_id}}</i>
                                <div class="text-muted" style="font-size: 12px;">@{{ref_item.user_login}}</div>
                            </div>
                        </div>
                        <div>
                            {{ref_item.paid_amount / app.BTC_SATOCHI}} {{ref_item.index ? ref_item.index : 'USDT'}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <a href="#" class="btn btn-secondary" ng-click="wallet.showMoreInfoClose()" style="float: right;">Закрыть</a>
    </div>
</form>
<div class="card main-card">
     <div class="card-header">
        <h2>КОШЕЛЕК</h2>
    </div>
    <div class="card-body">
        <div ng-if="!wallet.loading">                                                                   
            <div class="slider" ng-init="wallet.load()">                                                       
                <div class="slider__wrapper animated fadeIn">
                    <div class="slider__item" ng-repeat="w in wallet.data.dax_wallets">
                        <div class="row">
                            <div class="col col-12">
                                <div class="card">
                                    <div>
                                        <!-- <h2 class="text-muted card-title m-0 p-0">{{w.dax_wallet_type_title}}</h3> -->
                                        <div class="flex0 row mb-0">
                                            <div class="col-sm-6 pb-3">
                                                <div class="brd-radius wallet-balance" ng-class="{active: !wallet.rub_active}" ng-click="wallet.rub_active = !wallet.rub_active">
                                                    <div>
                                                        <p class="m-0">БАЛАНС</p>
                                                        <h4 class="text-white m-0">{{w.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</h4>
                                                        <!-- <div>1 USDT = ${{app.rate.usd}}</div> -->
                                                        
                                                    </div>
                                                    <!-- <div class="py-3">
                                                        <h2>{{w.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</h2>
                                                        <div style="visibility: hidden;">1</div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6 pb-3">
                                                <div class="brd-radius wallet-balance" ng-class="{active: wallet.rub_active}" ng-click="wallet.rub_active = !wallet.rub_active">
                                                     <div>
                                                        <p class="m-0">БАЛАНС</p>
                                                        <h4 class="text-white m-0">{{w.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</h4>
                                                        <!-- <div>1 USDT = ${{app.rate.usd}}</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex0 flex-wrap brd-radius px-0" style="background-color: #42454e;" ng-if="!wallet.rub_active">
                                            <div class="col-sm-4 p-2">
                                                <a href="#" class="col-12 btn btn-secondary--dark disabled" n_g-click="partnerRub.fill.open()">Пополнить</a>
                                            </div>
                                            <div class="col-sm-4 p-2">
                                                <a href="#" class="col-12 btn btn-secondary--dark" ng-click="partnerRub.transfer.open()">Перевод</a>
                                            </div>
                                            <div class="col-sm-4 p-2">
                                                <a href="#" class="col-12 btn btn-secondary--dark" ng-class="{disabled: w.amount <= 0}" ng-click="partnerRub.withdrawalBtc.open()">Вывести</a>
                                            </div>
                                        </div>
                                        <div class="flex0 flex-wrap brd-radius px-0" style="background-color: #42454e;" ng-if="wallet.rub_active">
                                            <div class="col-sm-4 p-2">
                                            </div>
                                            <div class="col-sm-4 p-2">
                                                <a href="#" class="col-12 btn btn-secondary--dark" ng-class="{disabled: w.amount_rub <= 0}" ng-click="">Вывести</a>
                                            </div>
                                            <div class="col-sm-4 p-2">                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!--<div class="slider__item">
                        <div class="row">
                            <div class="col col-12">
                                <div class="card">
                                    <div class="card-body center-align" style="padding: 20px 15px 0 15px;">
                                        <h3 class="card-title">Счет Cumulative</h3>
                                        <div>Зарезервировано</div>
                                        <h2>36,51 USDT</h2>
                                        <div>1 USDT = $1</div>
                                        <div style="margin-bottom: 15px;">Можно получить до 25 янв. 2019</div>
                                        <div class="col col-12 center-align" style="margin-bottom: 15px;">
                                            <a href="/wallet/cumulative/" class="btn btn-sm btn-outline-light">Подробнее</a>
                                        </div>
                                        <div class="row wallet-block-footer" style="padding: 7px;">
                                            <div class="col col-6 center-align">
                                                <h4>2 638,83 USDT</h4>
                                                <span>Начислено</span>
                                            </div>
                                            <div class="col col-6 center-align">
                                                <h4>17 028,49 USDT</h4>
                                                <span>Сгорело</span>
                                            </div>
                                        </div>                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>
			
			<div ng-if="!wallet.loading" ng-init="partnerRub.withdrawalBtc.init()">
		        <div class="row" ng-if="partnerRub.withdrawalBtc.current">
		            <div class="card col col-12">
		                <div class="card-header border-0 py-0" style="margin: 0;min-height: 50px;border-bottom: 1px solid #343740!important;    padding: 0 15px;">
		                    <span>{{lang.withdrawal_funds}}</span>
		                </div>
		                <div class="card-body text-white">
		                    <div ng-if="partnerRub.withdrawalBtc.loading || wallet.loading" class="w-100">
		                        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
		                    </div>
		                    <div ng-if="!partnerRub.withdrawalBtc.loading && !wallet.loading && partnerRub.withdrawalBtc.current" style="width: 100%;">
		                        <div>
		                            
		                            <!--Вывод средств-->
		                            <div class="flex0 flex-center flex-space-between">
		                                <div ng-if="partnerRub.withdrawalBtc.current.amount > partnerRub.withdrawalBtc.current.main_sum" style="color: red;">
		                                    <i class="fas fa-exclamation-triangle"></i>
		                                    {{lang.error_amount_currency}}
		                                </div>
		                            </div>
		                            <div style="font-size: 15px;">
		                                <div class="flex0">
		                                    <h4 class="withdrawal-current-amount-val" style="flex: 1;">{{partnerRub.withdrawalBtc.current.amount / BTC_SATOCHI | mycurrency:2}} {{partnerRub.withdrawalBtc.current.currency_short_title}} <i class="fal fa-clock text-gold"></i></h4>
		                                    <div>{{lang.created_at}} {{partnerRub.withdrawalBtc.current.dt | datetime}}</div>
		                                </div>
		                                <div>
		                                    <div class="unconfirmed-txn-info">
		                                        <!--Вывод со счета-->
		                                        {{lang.withdrawal_from_wallet}}
		                                        <strong class="text-gold">{{partnerRub.withdrawalBtc.current.wallet_type_number}}</strong>
		                                    </div>
		                                </div>
		                                <div class="mt-3"><!--Ожидание исполнения-->{{lang.withdrawal_waiting}}</div>
		                                <div><!--на-->{{lang.withdrawal_to}} <a target="_blank" href="{{partnerRub.withdrawalBtc.current.explorerHref}}{{partnerRub.withdrawalBtc.current.address}}" class="text-gold">{{partnerRub.withdrawalBtc.current.address}}</a></div>
		                                <div class="mt-3">
		                                    <a href="#" class="btn btn-primary" ng-click="partnerRub.withdrawalBtc.cancelorder(partnerRub.withdrawalBtc.current.id)">{{lang.cancel_request}}</a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="mt-3 p-2" ng-if="partnerRub.withdrawalBtc.current.currency_id != 9" style="background: #33353d;">
		                            <!--Вывод производится в BTC исходя из зафиксированной суммы в USDT. Конечная сумма BTC будет определена в момент исполнения.-->
		                            {{lang.withdrawal_description}}
		                        </div>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </div>
        
            <div ng-if="wallet.operations_loading">
                <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
            </div>
            <div class="row mb-0" ng-if="!wallet.operations_loading">
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header border-0 py-0 history-oper-head" style="margin: 0;min-height: 50px;">
                            <div class="left-align">
                                <p class="text-gold m-0">ИСТОРИЯ ОПЕРАЦИЙ <!-- <span class="text-muted" ng-if="wallet.item.operations.length > 0">{{wallet.item.operations.length}}</span> --></p>
                            </div>
                            <div class="right-align">
                                <a class="text-white filter-link collapsed d-none" data-toggle="collapse" data-target="#wallet-filter" aria-expanded="true" aria-controls="wallet-filter" style="cursor: pointer;"><u>ФИЛЬТРЫ</u></a>
                                <p class="text-gold">ФИЛЬТРЫ</p>
                            </div>
                        </div>
                        <div class="card-body pt-0" style="border-radius: 0;">
                            <div class="collapse text-white text-center flex0 flex-wrap brd" id="wallet-filter" style="background-color: #33353d;">
                                <div class="col-6"><p>ВРЕМЕННОЙ ИНТЕРВАЛ</p></div>
                                <div class="col-6"><p>ВИДЫ ОПЕРАЦИЯ</p></div>
                                <div class="col-6 flex0 flex-wrap px-0">
                                    <span class="col-sm-6 px-1">
                                        <p class="brd-radius calendar" style="border: 1px solid #fff">
                                            <input type="date" name="date" ng-model="operationsfilter.start_date" ng-change="operationsfilter.changeDate()">
                                            <label class="pt-1 text-white" for="date" style="font-size: 8px;"> НАЧАЛО ИНТЕРВАЛА: </label>
                                        </p>
                                    </span>
                                    <span class="col-sm-6 px-1">
                                        <p class="brd-radius calendar" style="border: 1px solid #fff">
                                            <input type="date" name="date" ng-model="operationsfilter.finish_date" ng-change="operationsfilter.changeDate()">
                                            <label class="pt-1 text-white" for="date" style="font-size: 8px;">КОНЕЦ ИНТЕРВАЛА: </label>
                                        </p>
                                    </span>
                                </div>
                                <div class="col-6 flex0 flex-wrap px-0 ">
                                    <span class="col-sm-6 flex0 px-1"><a class="flex0 flex-center my-2 btn btn-mini btn-secondary--light" href="">ПОПОЛНЕНИЕ</a></span> 
                                    <span class="col-sm-6 flex0 px-1"><a class="flex0 flex-center my-2 btn btn-mini btn-secondary--light" href="">ПЕРЕВОД</a></span>
                                    <span class="col-sm-6 flex0 px-1"><a class="flex0 flex-center my-2 btn btn-mini btn-secondary--light" href="">ВЫВОД</a></span>
                                </div>
                                <div class="col-md-10 flex0 flex-wrap px-0 mx-auto py-sm-3">
                                    <div class="col-sm-4 p-2">
                                        <a class="col-12 btn btn-secondary--light" data-toggle="collapse" href="#wallet-filter">Свернуть</a>
                                    </div>
                                    <div class="col-sm-4 p-2">
                                        <a href="#" class="col-12 btn btn-secondary--light" ng-click="operationsfilter.clear()">Сбросить</a>
                                    </div>
                                    <div class="col-sm-4 p-2">
                                        <a href="#" class="col-12 btn btn-primary" ng-click="operationsfilter.filter()">Применить</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="card-body pt-0 overflow-scroll">
                            <ul class="list" ng-if="wallet.item.operations.length > 0">
                            	<li>
                            		<div class="flex0 mb-0 text-center" style="background-color: #23242a;">
	                                    <div class="col-3 history-operations-border"><p>ДАТА</p></div>
	                                    <div class="col-5 history-operations-border"><p>ОПЕРАЦИЯ</p></div>
	                                    <div class="col-2 history-operations-border"><p>СУММА</p></div>
	                                    <div class="col-2 history-operations-border"><p>БАЛАНС</p></div>
	                                </div>
                                </li>
                                <li ng-repeat="op in wallet.item.operations" ng-if="$index < wallet.op_more.visible">
                                    <!--<a href="/wallet/operation/378">-->                                        
                                        <div class="flex0 text-white mb-0 text-center" style="background-color: #33353d;">
                                            <div class="col-3 history-operations-border">
                                                <p class="">{{op.dt | date_dmy_hm}}</p>
                                            </div>
                                            <div class="col-5 history-operations-border">
                                                <div style="display: flex; align-items: center;">
                                                    <p>{{op.dax_wallet_operation_type_title}}</p>
                                                    <a  ng-if="op.dax_wallet_operation_type_id == 12 || op.dax_wallet_operation_type_id == 41 || op.dax_wallet_operation_type_id == 53 || op.dax_wallet_operation_type_id == 54"
                                                        style="font-size: 25px; padding-bottom: 4px; margin-left: 9px; color: #bda076;" href=""
                                                        ng-click="wallet.showMoreInfo(op.ref_history_list)">
                                                        <i class="fa fa-question-circle" style="font-size: 15px !important;" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div ng-if="op.bonus_from_user_fio" class="text-muted">
                                                    {{lang.from}}
                                                    {{op.bonus_from_user_fio}}
                                                    <span ng-if="op.bonus_level">
                                                        {{lang.from3}}
                                                        {{op.bonus_level}}-{{lang.th_level}}
                                                    </span>
                                                </div>
                                                <div class="text-muted" ng-if="op.transfer_to">
                                                    {{op.transfer_to.fio}} на счёт №{{op.transfer_to.wallet_number}}
                                                </div>
                                                <div class="text-muted" ng-if="op.transfer_from">
                                                    {{lang.from}} {{op.transfer_from.fio}}
                                                </div>
                                                <div class="text-muted" style="max-width: 192px;overflow: hidden;" ng-if="op.comment && (op.dax_wallet_operation_type_id == 10 || op.dax_wallet_operation_type_id == 21)">
                                                    {{op.comment}}
                                                </div>
                                                <!--<div ng-if="op.ref_history_list" class="text-muted">
                                                    {{op.ref_history_list}}
                                                </div>-->
                                            </div>

                                            <div class="col col-2 history-operations-border" n_g-if="op.amount != null">
                                                <p><span ng-if="!op.is_second_wallet">{{op.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
                                                <span ng-if="op.is_second_wallet">{{op.amount * -1 / app.BTC_SATOCHI | mycurrency:2}} USDT</span></p>
                                                <!-- <div class="text-muted">{{op.dt | datetime}}</div> -->
                                            </div>
                                            <div class="col col-2 history-operations-border" ng-if="op.amount_etr != null && false">
                                                <p><span ng-if="!op.is_second_wallet">{{op.amount_etr / app.BTC_SATOCHI | mycurrency:2}} ETR</span>
                                                <span ng-if="op.is_second_wallet">{{op.amount_etr * -1 / app.BTC_SATOCHI | mycurrency:2}} ETR</span></p>
                                                <!-- <div class="text-muted">{{op.dt | datetime}}</div> -->
                                            </div>
                                            <div class="col col-2 history-operations-border" ng-if="op.amount_rub != null && false">
                                                <p><span ng-if="!op.is_second_wallet">{{op.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</span>
                                                <span ng-if="op.is_second_wallet">{{op.amount_rub * -1 / app.BTC_SATOCHI | mycurrency:2}} RUB</span></p>
                                                <!-- <div class="text-muted">{{op.dt | datetime}}</div> -->
                                            </div>
                                            <div class="col col-2 history-operations-border" ng-if="op.amount !== null">
                                                <p><span>{{op.balance / app.BTC_SATOCHI | mycurrency:2}} USDT</span></p>
                                            </div>
                                        </div>
                                    <!--</a>-->
                                </li>
                                <div ng-if="wallet.op_more.enabled()" class="center-align" style="padding-top: 20px;">
                                    <a href="#" class="btn btn-primary" ng-click="wallet.op_more.show()">Показать ещё</a>
                                </div>
                            </ul>
                            <div ng-if="wallet.item.operations.length == 0" class="center-align font-readonly">
                                {{lang.empty_list}}
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
