<script>
    'use strict';
    var multiItemSlider = (function () {
      return function (selector, callback) {
        var
          _mainElement = document.querySelector(selector), // основный элемент блока
          _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
          _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
          _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
          _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
          _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
          _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
          _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента    
          _positionLeftItem = 0, // позиция левого активного элемента
          _transform = 0, // значение транфсофрмации .slider_wrapper
          _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
          _items = []; // массив элементов
        // наполнение массива _items
        _sliderItems.forEach(function (item, index) {
          _items.push({ item: item, position: index, transform: 0 });
        });         

        var position = {
          getMin: 0,
          getMax: _items.length - 1,
        }

        var _transformItem = function (direction) {         
          if (direction === 'right') {
            if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) >= position.getMax) {
              if (callback === "function"){callback(_positionLeftItem);}
              return;
            }
            if (!_sliderControlLeft.classList.contains('slider__control_show')) {
              _sliderControlLeft.classList.add('slider__control_show');
            }
            if (_sliderControlRight.classList.contains('slider__control_show') && (_positionLeftItem + _wrapperWidth / _itemWidth) >= position.getMax) {
              _sliderControlRight.classList.remove('slider__control_show');
            }
            _positionLeftItem++;
            _transform -= _step;
          }
          if (direction === 'left') {
            if (_positionLeftItem <= position.getMin) {
              if (callback === "function"){callback(_positionLeftItem);}
              return;
            }
            if (!_sliderControlRight.classList.contains('slider__control_show')) {
              _sliderControlRight.classList.add('slider__control_show');
            }
            if (_sliderControlLeft.classList.contains('slider__control_show') && _positionLeftItem - 1 <= position.getMin) {
              _sliderControlLeft.classList.remove('slider__control_show');
            }
            _positionLeftItem--;
            _transform += _step;
          }
          _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
          if (callback === "function"){callback(_positionLeftItem);}
        }

        // обработчик события click для кнопок "назад" и "вперед"
        var _controlClick = function () {
          var direction = this.classList.contains('slider__control_right') ? 'right' : 'left';
          _transformItem(direction);
        };

        var _setUpListeners = function () {
          // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
          _sliderControls.forEach(function (item) {
            item.addEventListener('click', _controlClick);
          });
        }

        // инициализация
        _setUpListeners();

        return {
          right: function () { // метод right
            _transformItem('right');
          },
          left: function () { // метод left
            _transformItem('left');
          }
        }

      }
    }());

</script>

<div ng-if="wallet.loading">
    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
</div>

<!--Вывод средств с партнёрского рублевого счёта-->
<form id="form-partnerRub-withdrawal" class="popup-form animated zoomIn" data-title="Вывод средств с партнёрского рублевого счёта">
    <div class="popup-form-content">
        <div ng-if="partnerRub.withdrawal.page == 1">
            Баланс: <span class="text-muted">{{partnerRub.wallet.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</span>
            <div class="my-2 text-muted">
                <div>1. Минимальна сумма на вывод 3000 руб</div>
                <div>2. Рубли с этого счет можно выводить только на ИП и самозанятым</div>
                <!--{{partnerRub.wallet.number}}-->
            </div>
        </div>
        <div ng-if="partnerRub.withdrawal.page == 2">
            <div class="text-muted">
                <div>Минимальна сумма на вывод 3000, максимальная {{partnerRub.wallet.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</div>
            </div>
            <div class="mb-2">
                <label>Сумма</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.amount">
            </div>
            <div class="mb-2">
                <label>Наименование ИП</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.ip_title">
            </div>
            <div class="mb-2">
                <label>ИНН</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.inn">
            </div>
            <div class="mb-2">
                <label>Номер расчетного счета</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.rs_number">
            </div>
        </div>
    </div>
    <div class="popup-form-footer">
        <a href="#" class="btn btn-secondary" ng-click="partnerRub.withdrawal.close()">Отмена</a>
        <a href="#" class="btn btn-primary" ng-class="{disabled: !partnerRub.withdrawal.isAllow()}" ng-if="partnerRub.withdrawal.page == 1" ng-click="partnerRub.withdrawal.setPage(2)">Далее</a>
        <a href="#" class="btn btn-primary" ng-class="{loading: partnerRub.withdrawal.loading, disabled: !partnerRub.withdrawal.formFilled()}" ng-if="partnerRub.withdrawal.page == 2" ng-click="partnerRub.withdrawal.submit()">Зарегистрировать заявку вывода</a>
    </div>
</form>

<!--Дополнительная информация по операции-->
<form id="form-more-by-ref" class="popup-form animated fadeIn" data-title="Дополнительная информация по операции">
    <div class="popup-form-content">
        <p>Данный бонус был в том числе распределен между следующими нижестоящими партнерами в цепочке:</p>
        <table class="table" border="1" frame="void" rules="rows" style="color: white;">
            <tr ng-repeat="ref_item in wallet.ref_history_list.list">
                <td>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="flex0 flex-center">
                            <img ng-src="{{app.domains.avatar}}{{ref_item.avatar[2]}}" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                            <div style="padding-left: 10px;">
                                {{ref_item.title}}
                                <i class="" style="border-radius: 30px; background-color: rgb(189, 160, 118); color: white; width: 20px; height: 20px; display: inline-flex; align-items: center; justify-content: center; font-size: 11px;">{{ref_item.career_id}}</i>
                                <div class="text-muted" style="font-size: 12px;">@{{ref_item.user_login}}</div>
                            </div>
                        </div>
                        <div>
                            {{ref_item.paid_amount / app.BTC_SATOCHI}} {{ref_item.index ? ref_item.index : 'USDT'}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<div ng-if="!wallet.loading">                                                                   
    <div class="slider" ng-init="wallet.load()">                                                                             

        <div class="slider__wrapper animated fadeIn">

            <div class="slider__item" ng-repeat="w in wallet.data.dax_wallets">
                <div class="row">
                    <div class="col col-12">
                        <div class="card">

                            <!--Основной-->
                            <div class="card-body center-align" style="padding: 20px 15px 0 15px; border-radius: 15px;" ng-if="w.dax_wallet_type_id == 1">
                                <h3 class="card-title" style="margin-bottom: 30px;">{{w.dax_wallet_type_title}}</h3>
                                <h2>{{w.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</h2>
                                <div style="margin-bottom: 40px;">1 USDT = ${{wallet.data.rate_usd}}</div>
                                <div class="row">
                                    <div class="col col-6 right-align">
                                        <a ng-href="/wallet/requisites/{{w.number}}" class="btn btn-sm btn-outline-light">Реквизиты</a>
                                    </div>
                                    <div class="col col-6 left-align">
                                        <a href="/wallet/transfer/" class="btn btn-sm btn-outline-light">Перевести</a>
                                    </div>
                                </div>
                                <div class="row wallet-block-footer">
                                    <div class="col col-6 left-align">За все время</div>
                                    <div class="col col-6 right-align">&ndash; USDT</div>
                                </div>                        
                            </div>

                            <!--Инвестиционный--> 
                            <div class="card-body center-align" style="padding: 20px 15px 0 15px; border-radius: 15px;" ng-if="w.dax_wallet_type_id == 2">
                                <h3 class="card-title">
                                    <i class="fal fa-lock" ng-if="w.is_locked"></i>
                                    <i class="fal fa-lock-open" ng-if="!w.is_locked"></i>
                                    {{w.dax_wallet_type_title}}
                                </h3>
                                <div class="invisible">Зарезервировано</div>
                                <h2>{{w.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</h2>
                                <div>1 DAX = ${{wallet.data.rate_usd}}</div>
                                <div class="invisible" style="margin-bottom: 15px;">Можно получить до 25 янв. 2019</div>
                                <div class="col col-12 center-align" style="margin-bottom: 15px;">
                                    <a href="/wallet/cumulative/" class="btn btn-sm btn-outline-light">Подробнее</a>
                                </div>
                                <div class="row wallet-block-footer" style="padding: 7px;">
                                    <div class="col col-6 center-align">
                                        <h4>{{(w.amount - w.unlocked_amount_dax)  / app.BTC_SATOCHI}} USDT</h4>
                                        <span>Заблокировано</span>
                                    </div>
                                    <div class="col col-6 center-align">
                                        <h4>&ndash; USDT</h4>
                                        <span>Сгорело</span>
                                    </div>
                                </div>                         
                            </div>
                        
                            <!--Партнерский-->
                            <div class="card-body center-align" style="padding: 20px 15px 0 15px; border-radius: 15px;" ng-if="w.dax_wallet_type_id == 3">
                                <h2 class="text-muted card-title m-0 p-0">{{w.dax_wallet_type_title}}</h3>
                                <div class="invisible">Баланс</div>
                                <div class="flex0 flex-center flex-wrap">
                                    <div class="pb-0 p-4" style="padding-bottom: 0 !important;">
                                        <h2>{{w.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</h2>
                                        <div>1 USDT = ${{app.rate.usd}}</div>
                                        <a href="#" class="btn btn-secondary" style="visibility: hidden;">Вывести</a>
                                    </div>
                                    <div class="pb-0 p-4" style="padding-bottom: 0 !important;">
                                        <h2>{{w.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</h2>
                                        <div style="visibility: hidden;">1</div>
                                        <a href="#" class="btn btn-sm btn-secondary" ng-class="{disabled: w.amount_rub <= 0}" ng-click="partnerRub.withdrawal.open()">Вывести</a>
                                    </div>
                                </div>
                                <div ng-if="!!w.amount_etr">
                                    <br>
                                    <h2>{{w.amount_etr / app.BTC_SATOCHI | mycurrency:2}} ETR</h2>
                                    <div>1 ETR = $4</div>
                                </div>
                                <div class="invisible" style="margin-bottom: 15px;">Можно получить до 25 янв. 2019</div>
                                <div class="col col-12 center-align" style="margin-bottom: 15px;">
                                    <!--<a href="/wallet/cumulative/" class="btn btn-sm btn-outline-light">Подробнее</a>-->
                                </div>
                            </div>

                            <!--Накопительный-->
                            <div class="card-body center-align" style="padding: 20px 15px 0 15px;" ng-if="w.dax_wallet_type_id == 4">
                                <h3 class="card-title">{{w.dax_wallet_type_title}}</h3>
                                <div>Баланс</div>
                                <h2>{{w.amount / app.BTC_SATOCHI}} USDT</h2>
                                <div>1 USDT = $1</div>
                                <div style="margin-bottom: 15px;">Можно получить до 25 янв. 2019</div>
                                <div class="col col-12 center-align" style="margin-bottom: 15px;">
                                    <a href="/wallet/cumulative/" class="btn btn-sm btn-outline-light">Подробнее</a>
                                </div>
                                <div class="row wallet-block-footer" style="padding: 7px;">
                                    <div class="col col-6 center-align">
                                        <h4>&ndash; USDT</h4>
                                        <span>Начислено</span>
                                    </div>
                                    <div class="col col-6 center-align">
                                        <h4>&ndash; USDT</h4>
                                        <span>Сгорело</span>
                                    </div>
                                </div>                         
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="slider__item">
                <div class="row">
                    <div class="col col-12">
                        <div class="card">
                            <div class="card-body center-align" style="padding: 20px 15px 0 15px;">
                                <h3 class="card-title">Счет Cumulative</h3>
                                <div>Зарезервировано</div>
                                <h2>36,51 USDT</h2>
                                <div>1 USDT = $1</div>
                                <div style="margin-bottom: 15px;">Можно получить до 25 янв. 2019</div>
                                <div class="col col-12 center-align" style="margin-bottom: 15px;">
                                    <a href="/wallet/cumulative/" class="btn btn-sm btn-outline-light">Подробнее</a>
                                </div>
                                <div class="row wallet-block-footer" style="padding: 7px;">
                                    <div class="col col-6 center-align">
                                        <h4>2 638,83 USDT</h4>
                                        <span>Начислено</span>
                                    </div>
                                    <div class="col col-6 center-align">
                                        <h4>17 028,49 USDT</h4>
                                        <span>Сгорело</span>
                                    </div>
                                </div>                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <div ng-if="wallet.operations_loading">
        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
    </div>
    <div class="row" ng-if="!wallet.operations_loading">
        <div class="col col-12">
            <div class="card">
                <div class="card-header" style="margin: 0;">
                    <div class="left-align">
                        <h2>История операций <span class="text-muted" ng-if="wallet.item.operations.length > 0">{{wallet.item.operations.length}}</span></h2>
                    </div>
                    <div class="right-align">
                        <!--<a href="#" class="btn btn-sm btn-outline-light">Фильтр</a>-->
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list" ng-if="wallet.item.operations.length > 0">
                        <li ng-repeat="op in wallet.item.operations" ng-if="$index < wallet.op_more.visible">
                            <!--<a href="/wallet/operation/378">-->
                                <div class="row user-news-block" style="margin-bottom: 0;">
                                    <div class="col col-7">
                                        <div style="display: flex; align-items: center;">
                                            <h5>{{op.dax_wallet_operation_type_title}}</h5>
                                            <a  ng-if="op.dax_wallet_operation_type_id == 12 || op.dax_wallet_operation_type_id == 41"
                                                style="font-size: 25px; padding-bottom: 4px; margin-left: 9px; color: #bda076;" href=""
                                                ng-click="wallet.showMoreInfo(op.ref_history_list)">
                                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div ng-if="op.bonus_from_user_fio" class="text-muted">
                                            {{lang.from}}
                                            {{op.bonus_from_user_fio}}
                                            <span ng-if="op.bonus_level">
                                                {{lang.from3}}
                                                {{op.bonus_level}}-{{lang.th_level}}
                                            </span>
                                        </div>
                                        <!--<div ng-if="op.ref_history_list" class="text-muted">
                                            {{op.ref_history_list}}
                                        </div>-->
                                    </div>
                                    <h5 class="col col-5" style="align-self: center;" ng-if="op.amount != null">
                                        <span ng-if="!op.is_second_wallet">{{op.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
                                        <span ng-if="op.is_second_wallet">{{op.amount * -1 / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
                                        <div class="text-muted">{{op.dt | datetime}}</div>
                                    </h5>
                                    <h5 class="col col-5" style="align-self: center;" ng-if="op.amount_etr != null">
                                        <span ng-if="!op.is_second_wallet">{{op.amount_etr / app.BTC_SATOCHI | mycurrency:2}} ETR</span>
                                        <span ng-if="op.is_second_wallet">{{op.amount_etr * -1 / app.BTC_SATOCHI | mycurrency:2}} ETR</span>
                                        <div class="text-muted">{{op.dt | datetime}}</div>
                                    </h5>
                                    <h5 class="col col-5" style="align-self: center;" ng-if="op.amount_rub != null">
                                        <span ng-if="!op.is_second_wallet">{{op.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</span>
                                        <span ng-if="op.is_second_wallet">{{op.amount_rub * -1 / app.BTC_SATOCHI | mycurrency:2}} RUB</span>
                                        <div class="text-muted">{{op.dt | datetime}}</div>
                                    </h5>
                                </div>
                            <!--</a>-->
                        </li>
                        <div ng-if="wallet.op_more.enabled()" class="center-align" style="padding-top: 20px;">
                            <a href="#" class="btn btn-primary" ng-click="wallet.op_more.show()">Показать ещё</a>
                        </div>
                    </ul>
                    <div ng-if="wallet.item.operations.length == 0" class="center-align font-readonly">
                        {{lang.empty_list}}
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>