<div id="transfer">
    <div class="emp-profile animated fadeIn">
        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body">

                        <!--Back-->
                        <a href="/wallet/" class="btn btn-secondary btn-back"><i class="fal fa-arrow-left"></i></a>

                        <div class="center-align">
                            <div class="col col-12">
                                <img style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_55x55.png">
                            </div>
                            <div class="col col-12" style="margin-top:10px">
                                <h4>Перевод себе</h4>
                                <div>на инвестиционный счет</div>
                                <div>Коробейников А.В. 28166839400263</div>
                            </div>
                            <div class="col col-12" style="margin-top:30px">
                                <h2>-149,94 DAX</h2>
                                <div>1 DAX = $1</div>
                            </div>
                            <div class="col col-12" style="margin-top:30px">
                                <a href="#" class="btn btn-sm btn-outline-light">СКАЧАТЬ КВИТАНЦИЮ</a>
                            </div>
                            <div class="left-align">
                                <div class="col col-12" style="margin-top:30px">
                                    <h6 class="card-subtitle mb-2 text-muted">Дата и время операции</h6>
                                    <h6>27 декабря в 18:23</h6>
                                </div>
                                <div class="col col-12" style="margin-top:30px">
                                    <h6 class="card-subtitle mb-2 text-muted">Статус</h6>
                                    <h6>Завершена</h6>
                                </div>
                                <div class="col col-12" style="margin-top:30px">
                                    <h6 class="card-subtitle mb-2 text-muted">Комиссия</h6>
                                    <h6>16.03 DAX</h6>
                                </div>
                                <div class="col col-12" style="margin-top:30px">
                                    <h6 class="card-subtitle mb-2 text-muted">Транзакция в блокчейне</h6>
                                    <a href="#">8088eeadbb0c6cbc6cc87ffacc05045f50195bd3837ec392a894465693578b57</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>