<div class="row" ng-init="wallet.open()">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3><a href="/wallet/" class="btn btn-secondary btn-back"><i class="fal fa-arrow-left"></i></a> Реквизиты кошелька</h3>
            </div>
            <div class="card-body">
                <div class="col col-12">
                    <h6 class="card-subtitle mb-2 text-muted">Дата создания</h6>
                    <h6>{{wallet.item.dt | date}}</h6>
                </div>
                <div class="col col-12" style="margin-top:30px">
                    <h6 class="card-subtitle mb-2 text-muted">ID кошелька</h6>
                    <h6>{{wallet.item.number}}</h6>
                </div>
                <div class="col col-12" style="margin-top:30px">
                    <div class="row events-schedule" style="padding-top: 20px;">
                        <div class="col col-11">
                            <h6>03jjnelklowHEi34882ejkdkJD98882</h6>
                        </div>
                        <div class="col col-1">
                            <i class="far fa-copy"></i>
                        </div>
                    </div>
                </div>
                <div class="col col-12">
                    <a href="#" class="btn btn-sm btn-outline-light">Смотреть на Etherscan</a>
                </div>
            </div>
        </div>
    </div>
</div>