<div class="row" ng-if="!transfer.confirm_flag">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3><a href="/wallet/" class="btn btn-secondary btn-back"><i class="fal fa-arrow-left"></i></a> Перевод в инвестиции</h3>
            </div>
            <div class="card-body">

                <div class="center-align">
                    <div class="col col-12" style="margin-bottom: 30px;">
                        <h6 class="card-subtitle mb-2 text-muted">Мой кошелек</h6>
                        <h5>3 127,83 DAX</h5>
                    </div>
                    <div class="col col-12" style="margin-bottom: 10px;">
                        <input type="text" class="form-control" placeholder="Сумма" ng-model="transfer.data.amount">
                    </div>
                    <div class="col col-12" style="margin-bottom: 30px;">
                        <div class="row"> 
                            <div class="col col-6 left-align" style="align-self: center;">Перевести max доступную сумму</div>
                            <div class="col col-6 right-align"><a href="#" class="btn btn-sm btn-secondary">3 072,36 DAX</a></div>
                        </div>
                    </div>
                    <div class="col col-12">
                        <a href="#" ng-click="transfer.confirm()" class="btn btn-primary btn-block">Продолжить</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="transfer.confirm_flag">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3><a href="/wallet/" class="btn btn-secondary btn-back"><i class="fal fa-arrow-left"></i></a> Подтвердите перевод</h3>
            </div>
            <div class="card-body center-align">

                <div class="center-align">
                    <div class="col col-12" style="margin-bottom: 30px;">
                        <h6 class="card-subtitle mb-2 text-muted">Будет списано с кошелька</h6>
                        <input type="text" class="form-control" placeholder="Сумма" ng-model="transfer.data.amount" readonly>
                    </div>
                    <div class="col col-12" style="margin-bottom: 30px;">
                        <h6 class="card-subtitle mb-2 text-muted">Комиссия за перевод 3%</h6>
                        <h5>{{transfer.data.comm}} DAX</h5>
                    </div>
                    <div class="col col-12" style="margin-bottom: 30px;">
                        <h6 class="card-subtitle mb-2 text-muted">На инвестиционный счет поступит</h6>
                        <input type="text" class="form-control" ng-model="transfer.data.full_amount" readonly>
                    </div>
                    <div class="col col-12">
                        <a href="#" ng-click="transfer.submit()" class="btn btn-primary btn-block">Продолжить</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>