<div id="page-lead-archive">
    <div class="emp-profile animated fadeIn">

    	<form id="form-deletelead" class="popup-form animated zoomIn form-lead" data-title="Удалить лид" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                <div>При удалении лида из архива будут также удалены все касания, статус и источник лида.<br><br>
                Вы действительно хотите удалить лида?
                </div>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead.deleteLead()">Удалить</a>
            </div>
        </form>
    
    	<div class="animated fadeIn" ng-init="lead.load()">

            <div class="card">
                <div class="card-header">
                	<div style="display: flex; align-items: center;">
	                    <h2><a ng-href="/myclients/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> Архив</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card no-shadow">
                        <div class="card-content">
                        	<div class="row" style="margin-bottom: 0;">
	                        	<div class="col col-12" style="display: flex;margin-bottom:20px;">
	                        		<input type="text" placeholder="Поиск" ng-model="lead.fio">
	                        	</div>
	                        </div>
	                        <div class="table-responsive">
	                        	<table class="table table-striped">
				                    <thead>
					                    <tr>
					                        <th>Имя пользователя</th>
					                        <th>Источник лида</th>
					                        <th>Статус лида</th>
					                        <th>Дата и время</th>
					                        <th></th>
					                    </tr>
				                    </thead>
				                    <tbody ng-repeat="item in lead.data.grow | filter: archsearch ">
				                        <tr>
				                            <td><a href="/lead/view/{{item.id}}/" style="color: #bda076;word-break: break-word;text-decoration: underline;">{{item.fio}}</a></td>
				                            <td>{{item.lead_source_title}}</td>
				                            <td>{{item.lead_status_title}}</td>
				                            <td>{{item.dt | date_dmy_hm}}</td>
				                            <td style="display: flex;border-top: none;">
				                                <a title="Вернуть из архива" style="color: #bda076;" href="#" ng-click="lead.setisarch(item)"><i class="fas fa-external-link-alt"></i></a>
				                                <a title="Удалить" style="color: #bda076;margin-left: 10px;" href="#" ng-click="lead.openDeleteLead(item.id)"><i class="far fa-trash-alt"></i></a>
				                            </td>
				                        </tr>
				                        <tr ng-if="item.comment">
				                            <td colspan="4" style="border-top: none;word-break: break-word;white-space: pre;">{{item.comment}}</td>
										</tr>
				                    </tbody>
				                </table>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>