<div id="page-lead-index">
    <div class="emp-profile animated fadeIn">

    	<form id="form-addlead" class="popup-form animated zoomIn form-lead" data-title="Добавить лид" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                <input type="text" placeholder="Имя и Фамилия" ng-model="lead.form.fio">
                <input type="text" placeholder="Номер телефона" ng-model="lead.form.phone">
                <textarea placeholder="Комментарий" ng-model="lead.form.comment"></textarea>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead.addlead()" ng-class="{disabled: !lead.addLeadIsOK(), loading: lead.loading}">Добавить</a>
            </div>
        </form>
    	
    	<form id="form-addleadduplicated" class="popup-form animated zoomIn form-lead" data-title="Внимание" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                Данный лид уже зарегистрирован в системе
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead.hideForm()">ОК</a>
            </div>
        </form>
    	
        <div class="animated fadeIn" ng-init="lead.init()">

            <div class="card">
                <div class="card-header">
                	<div style="display: flex; align-items: center;">
	                    <h2><a ng-href="/team/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> Лиды</h2>
                    </div>
                    <div>
	                    <a href="/lead/list/" class="btn btn-sm btn-outline-light">Контакты</a>
	                    <a href="/lead/archive/" class="btn btn-sm btn-outline-light">Архив</a>
                    </div>
                </div>
                <div class="card-header" style="background-color: #343740;border: none;padding-bottom: 0;">
                    <h5>Прирост лидов</h5>
                </div>
                <div class="card-body" style="padding-top: 0;" ng-init="lead.load()">
                    <div class="card no-shadow">
                        <div class="card-content">
	                        <div class="row" style="margin-bottom: 0;">
	                        	<div class="col col-12">	
	                        		<div style="display: flex;justify-content: flex-end;">
			                        	<strong style="font-size: 1.3em;">{{lead.cur_cnt}} лид(ов)</strong>
	                                </div>                                        
		                            <div id="lead-grow-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
	                            </div>
	                            <div class="col col-12">
	                            	<div style="background: #3f424c;">
	                            		<div style="padding-left: 15px;padding-top: 10px;">
	                            			<a href="#" class="btn btn-chart" ng-click="lead.setPieSeriesData('week')" ng-class="{active: lead.pie_interval == 'week'}">неделя</a>
	                    					<a href="#" class="btn btn-chart" ng-click="lead.setPieSeriesData('month')" ng-class="{active: lead.pie_interval == 'month'}">месяц</a>
	                    					<a href="#" class="btn btn-chart" ng-click="lead.setPieSeriesData('year')" ng-class="{active: lead.pie_interval == 'year'}">год</a>
	                    					<a href="#" class="btn btn-chart active" ng-click="lead.setPieSeriesData('all')" ng-class="{active: lead.pie_interval == 'all'}">все время</a>
	                    				</div>
			                            <div id="lead-pie-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
		                            </div>
	                            </div>	                        	
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="padding-top: 1.25rem;">
                <div class="card-body" style="border-radius: 15px 15px 0 0;">
                    <div class="card no-shadow">
                        <div class="card-content">
                        	<div class="row" style="margin-bottom: 0;">
	                        	<div class="col col-12" style="display: flex;margin-bottom:20px;">
	                        		<input type="text" placeholder="Поиск" ng-model="lead.fio">
	                        		<a href="#" class="btn btn btn-primary" ng-click="lead.openAddLead()">Добавить</a>
	                        	</div>
	                        </div>
	                        <div class="table-responsive">
	                        	<table class="table table-striped my-responsive-table">
				                    <thead>
					                    <tr>
					                        <th>Имя пользователя</th>
					                        <th>Источник лида</th>
					                        <th>Статус лида</th>
					                        <th>Дата и время</th>
					                        <th></th>
					                    </tr>
				                    </thead>
					                    <tbody ng-repeat="item in lead.data.grow | filter: search ">
					                        <tr>
					                            <td><a href="/lead/view/{{item.id}}/" style="color: #bda076;word-break: break-word;text-decoration: underline;">{{item.fio}}</a></td>
					                            <td>{{item.lead_source_title}}</td>
					                            <td>{{item.lead_status_title}}</td>
					                            <td>{{item.dt | date_dmy_hm}}</td>
					                            <td style="display: flex;border-top: none;">
					                            	<a title="В архив" style="color: #bda076;" href="#" ng-click="lead.setisarch(item)"><i class="far fa-trash-alt"></i></a>
					                            </td>
					                        </tr>
					                        <tr ng-if="item.comment">
					                            <td colspan="4" style="border-top: none;word-break: break-word;white-space: pre;">{{item.comment}}</td>
											</tr>
					                    </tbody>
				                    </a>
				                </table>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>