<div id="page-lead-list">
    <div class="emp-profile animated fadeIn">

    	<form id="form-addleadlist" class="popup-form animated zoomIn form-lead" data-title="Добавить в список" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                <input type="text" placeholder="Имя и Фамилия" ng-model="leadlist.form.fio">
                <input type="text" placeholder="Номер телефона" ng-model="leadlist.form.phone">
                <textarea placeholder="Комментарий" ng-model="leadlist.form.comment"></textarea>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="leadlist.addlead()" ng-class="{disabled: !leadlist.addLeadIsOK(), loading: leadlist.loading}">Добавить</a>
            </div>
        </form>
        
        <form id="form-editleadlist" class="popup-form animated zoomIn form-lead" data-title="Редактирование контакта" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                <input type="text" placeholder="Имя и Фамилия" ng-model="leadlist.form.fio">
                <input type="text" placeholder="Номер телефона" ng-model="leadlist.form.phone">
                <textarea placeholder="Комментарий" ng-model="leadlist.form.comment"></textarea>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="leadlist.editLeadList()" ng-class="{disabled: !leadlist.addLeadIsOK(), loading: leadlist.loading}">Изменить</a>
            </div>
        </form>
        
        <form id="form-addleadlistduplicated" class="popup-form animated zoomIn form-lead" data-title="Внимание" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                Данный контакт уже зарегистрирован в системе
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead.hideForm()">ОК</a>
            </div>
        </form>
    	
        <div class="animated fadeIn" ng-init="leadlist.load()">

            <div class="card">
                <div class="card-header">
                	<div style="display: flex;align-items: center;">
	                    <h2><a ng-href="/myclients/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> Контакты</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card no-shadow">
                        <div class="card-content">
                        	<div class="row" style="margin-bottom: 0;">
	                        	<div class="col col-12" style="display: flex;margin-bottom:20px;">
	                        		<input type="text" placeholder="Поиск" ng-model="leadlist.fio">
	                        		<a href="#" class="btn btn btn-primary" ng-click="leadlist.openAddLead()">Добавить</a>
	                        	</div>
	                        </div>
	                        <div class="table-responsive">
	                        	<table class="table table-striped">
				                    <thead>
					                    <tr>
					                        <th>Имя пользователя</th>
					                        <th>Телефон</th>
					                        <th>Комментарий</th>
					                        <th></th>
					                    </tr>
				                    </thead>
				                    <tbody>
				                        <tr ng-repeat="item in leadlist.data.grow | filter: searchleadlist ">
				                            <td style="word-break: break-word;">{{item.fio}}</td>
				                            <td style="word-break: break-word;">{{item.phone}}</td>
				                            <td style="white-space: pre-wrap;word-break: break-word;">{{item.comment}}</td>
				                            <td style="display: flex;border-top: none;">
				                                <a ng-if="!item.lead_duplicate_count && !item.lead_id" title="Добавить в лиды" style="color: #bda076;margin-left: 10px;" href="#" ng-click="leadlist.addLeadFromLeadList(item)"><i class="fas fa-external-link-alt"></i></a>
				                                <a title="Редактировать" style="color: #bda076;margin-left: 10px;" href="#" ng-click="leadlist.openEditLeadList(item)"><i class="fas fa-pen"></i></a>
					                            <span ng-if="item.lead.lead_status_id == 1" title="Добавлен в лиды" style="margin-left: 10px;"><i class="far fa-hourglass"></i></span>
					                            <span ng-if="item.lead.lead_status_id == 3" title="{{item.lead.lead_status_title}}" style="margin-left: 10px;"><i class="fas fa-square"></i></span>
					                            <span ng-if="item.lead.lead_status_id == 4" title="{{item.lead.lead_status_title}}" style="margin-left: 10px;"><i class="fas fa-hexagon"></i></span>
					                            <span ng-if="item.lead.real_user_id && item.is_manual" style="margin-left: 10px;"><i class="far fa-check"></i></span>
					                            <span ng-if="item.lead.real_user_id && !item.is_manual" style="margin-left: 10px;"><i class="far fa-bullseye-arrow"></i></span>
					                            <span ng-if="item.lead_duplicate_count" style="margin-left: 10px;"><i class="far fa-ban"></i></span>
				                            	<span ng-if="!item.lead_duplicate_count && item.list_duplicate_count && !(item.lead.real_user_id && item.is_manual) && !(item.lead.real_user_id && !item.is_manual)" title="Данный контакт зарегистрирован у {{item.list_duplicate_count}} других пользователей" class="duplicate-count" style="margin-left: 10px;">{{item.list_duplicate_count}}</span>
				                            </td>
				                        </tr>
				                    </tbody>
				                </table>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>