<div id="page-lead-view">

	<div class="emp-profile animated fadeIn" ng-init="lead_view.load()">
		
		<form id="form-addcomment" class="popup-form animated zoomIn form-lead" data-title="Редактирование комментария" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                <textarea placeholder="Комментарий" ng-model="lead_view.data.comment" style="height: 150px;"></textarea>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead_view.addcomment()" ng-class="{loading: lead_view.loading}">Добавить</a>
            </div>
        </form>
        
        <form id="form-addleadtouch" class="popup-form animated zoomIn form-lead" data-title="Добавить касание" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
            	<select class="custom-select" ng-model="lead_view.form.lead_touch_type_id">
                    <option ng-repeat="lead_touch_type in lead_view.lead_touch_types | filter:{ id: '!3'}" ng-value="lead_touch_type.id">{{lead_touch_type.title}}</option>
                </select>
                <input type="text" id="input-dt" placeholder="Дата" ng-model="lead_view.form.dt"/>
                <textarea placeholder="Комментарий" ng-model="lead_view.form.comment"></textarea>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead_view.addleadtouch()" ng-class="{disabled: !lead_view.addLeadTouchIsOK(), loading: lead.loading}">Добавить</a>
            </div>
        </form>
                
        <div ng-if="lead_view.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card" ng-if="!lead_view.loading && lead_view.data">  
        	<div class="card-header" style="display: flex;">
        		<h6 ng-if="!lead_view.data.is_arch" style="margin: 0;"><a ng-href="/myclients/" class="event-title" style="color: white;"><i class="fas fa-chevron-left"></i> Назад</a></h6>
        		<h6 ng-if="lead_view.data.is_arch" style="margin: 0;"><a ng-href="/lead/archive/" class="event-title" style="color: white;"><i class="fas fa-chevron-left"></i> Назад</a></h6>
                <div>
                    <a ng-if="lead_view.data.is_arch" title="Вернуть из архива" style="color: #bda076;font-size: 1rem;" href="#" ng-click="lead_view.setisarch(lead_view.data)"><i class="fas fa-external-link-alt"></i></a>
                    <a ng-if="lead_view.data.is_arch" title="Удалить" style="color: #bda076;font-size: 1rem;margin-left:10px;" href="#" ng-click="lead_view.deletelead(lead_view.data.id)"><i class="far fa-trash-alt"></i></a>                    
                    <a ng-if="!lead_view.data.is_arch" title="В архив" style="color: #bda076;font-size: 1rem;" href="#" ng-click="lead_view.setisarch(lead_view.data)"><i class="far fa-trash-alt"></i></a>
                </div>
        	</div>
            <div class="card-body">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col-md-4 col-sm-12" ng-if="lead_view.data.real_user_id"  style="margin-bottom: 15px;">
                        <img style="width: 100%; border-radius: 15px;" ng-src="{{app.domains.avatar}}{{lead_view.data.avatar_path[2]}}">
                    </div>
                    <div class="col-md-8 col-sm-12 row lead-info-block">
                    	<div class="col-md-6 col-sm-12">
                    		<div class="lead-info-container">
                    			<strong>{{lead_view.data.fio}}</strong>
				                <div class="text-muted">{{lead_view.data.user_login}}</div>
			                </div>			                
			                <div class="lead-info-container">
			                	<strong>Инвестиции</strong>
			                	<div class="text-muted"><span ng-if="lead_view.data.real_user_id">{{lead_view.data.amount / app.BTC_SATOCHI | mycurrency:2}}$ / {{lead_view.data.amount_limit / app.BTC_SATOCHI | mycurrency:2}}$</span></div>
			                </div>
			                <div class="lead-info-container">
			                	<strong>Телефон</strong>
			                	<div class="text-muted">{{lead_view.data.phone}}</div>
			                </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                        	<div class="lead-info-container">
			                	<strong>Регистрация</strong>
			                	<div class="text-muted"><span ng-if="lead_view.data.dt_reg">{{lead_view.data.dt_reg | date_dmy_hm}}</span></div>
			                </div>
			                <div class="lead-info-container">
			                	<strong>Команда</strong>
			                	<div class="text-muted"><span ng-if="lead_view.data.real_user_id">{{lead_view.data.command_count}} / {{lead_view.data.command_amount / app.BTC_SATOCHI | mycurrency:2}}$</span></div>
			                </div>
			                <div class="lead-info-container">
			                	<strong>Источник лида</strong>
			                	<div class="text-muted">{{lead_view.data.lead_source_title}}</div>
			                </div>
                        </div>
                    </div>
                </div>                 
                <div style="display: flex;">
                	<div class="lead-info-container" style="width: 100%;">
                		<div ng-if="lead_view.data.comment" style="white-space: pre-wrap;">{{lead_view.data.comment}}</div>
                		<div class="text-muted" ng-if="!lead_view.data.comment">Комментарий..</div>
                	</div>
                	<div class="lead-info-container" style="align-self: flex-start;margin-left: 10px;">                		
                		<a href="#" ng-click="lead_view.openAddComment()" style="color: #bda076;"><i class="fas fa-edit"></i></a>
                	</div>
                </div>
                
                <div style="margin: 20px 0 10px 0;display: flex;justify-content: space-between;align-items: flex-end;">
                	<h5>Касания</h5>
                	<a href="#" class="btn btn btn-primary" ng-click="lead_view.openAddLeadTouch()">Добавить</a>
                </div>
                <div class="lead-info-container table-responsive" ng-if="lead_view.data.lead_touch_list.length">
	                <table class="table table-striped">
					    <tbody>
					        <tr ng-repeat="item in lead_view.data.lead_touch_list">
					            <td style="word-break: break-word;white-space: pre;"><span ng-if="item.lead_touch_type_id != 3">{{item.title}} </span><span ng-if="item.lead_touch_type_id != 3 && item.comment">- </span>{{item.comment}}</td>
					            <td style="white-space:nowrap;">{{item.dt | date_dmy_hm}}</td>
					            <td><a title="Удалить" style="color: #bda076;" href="#" ng-click="lead_view.deleteLeadTouch(item.id)"><i class="far fa-trash-alt"></i></a></td>
					        </tr>
					    </tbody>
					</table>
				</div>
            </div>
        </div>
    </div>
</div>