<div id="page-beleader" class="row" ng-init="beleader.load()">
    <div class="col col-12">

        <!--Загрузка-->
        <div ng-if="beleader.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <div class="card animated fadeIn" ng-if="!beleader.loading">

            <div class="card-header">
                <h2 class="flex0 flex-center flex-space-between"><a href="/promotions/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{beleader.item.title}}</h2>
                <div class="text-right" style="font-size: 1.3em;">
                    <span ng-if="beleader.item.info.elapsed_days >= 1">
                        Осталось дней: {{beleader.item.info.elapsed_days | number:0}}
                    </span>
                    <span ng-if="beleader.item.info.elapsed_days < 1 && beleader.item.info.elapsed_days > 0">
                        Осталось меньше дня
                    </span>
                    <span ng-if="beleader.item.info.elapsed_days <= 0">
                        Время вышло
                    </span>
                </div>
            </div>

            <div class="card-body" style="padding-top: 0; padding-bottom: 0;">

                <div ng-if="!beleader.item.info.started" class="my-4 text-center text-muted">
                    <div ng-if="beleader.item.info.can_start">
                        <p>
                            После активации промоушена на его выполнение запускается таймер на 90 дней.
                            <br>В течение указанного периода необходимо выполнить все условия промоушена.
                        </p>
                    </div>
                    <div ng-if="!beleader.item.info.can_start">
                        <p>
                            Промоушен для Вас в данный момент недоступен.
                            <br>Активировать промоушен может только пользователь, который выполнил промоушен
                            <a href="/competition/quickstart">“Quick start”</a>.
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary" ng-click="beleader.start()" ng-class="{loading: beleader.loading_start, disabled: !beleader.item.info.can_start}">Активировать</a>
                </div>

                <div ng-if="beleader.item.info.started" class="animated fadeIn my-3">

                    <!-- Бонусы -->
                    <div id="beleader-bonuses" class="competition-card">
                        <div class="card-body flex0 flex-wrap flex-space-between w-100">
                            <div class="flex0 flex-column flex-center" ng-repeat="g in beleader.item.info.user_groups">
                                <strong ng-class="{ok: g.ok}">${{g.bonus_usdt}}</strong>
                                <div class="icn" ng-class="{ok: g.ok}">
                                    <i class="fas fa-check" ng-if="g.ok"></i>
                                </div>
                            </div>
                        </div>
                    </div>     

                    <div class="competition-card my-3" ng-repeat="g in beleader.item.info.user_groups">
                        <div class="competition-card-result-mobile">
                            <strong class="bonus_usdt" ng-class="{ok: g.ok}">
                                ${{g.bonus_usdt}}
                            </strong>
                            <div>
                                <div class="icn icn-large" ng-class="{ok: g.ok}">
                                    <i class="fas fa-check" ng-if="g.ok"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Реферал первого уровня -->
                        <div class="competition-user">
                            <div class="flex0 flex-center flex-wrap">
                                <div class="icn m-1" ng-class="{ok: g.user}">
                                    <i class="fas fa-check" ng-if="g.user"></i>
                                </div>
                                <div class="user-card m-1">
                                    <span ng-if="!g.user">Пока здесь никого нет</span>
                                    <span ng-if="g.user">{{g.user.fio}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Рефералы второго уровня -->
                        <div class="beleader_user_referals px-0">
                            <div class="competition-user" ng-repeat="ur in g.users">
                                <div class="flex0 flex-center flex-wrap w-100">
                                    <div class="icn m-1" ng-class="{ok: !!ur}">
                                        <i class="fas fa-check" ng-if="ur"></i>
                                    </div>
                                    <div class="user-card m-1" ng-class="{empty: !ur}" style="flex: 1;">
                                        <span ng-if="!ur" class="text-muted">Пока здесь никого нет</span>
                                        <span ng-if="ur">{{ur.fio}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="competition-card-result-icon block-xs-none block-md">
                            <div class="icn icn-large" ng-class="{ok: g.ok}">
                                <i class="fas fa-check" ng-if="g.ok"></i>
                            </div>
                        </div>
                    </div>
                
                </div>

            </div>
        </div>
    </div>
</div>