<div id="competition-read" class="row" ng-init="quickstart.load()">
    <div class="col col-12">

        <!--Загрузка-->
        <div ng-if="quickstart.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <div class="card animated fadeIn" ng-if="!quickstart.loading">

            <div class="card-header">
                <h2 class="flex0 flex-center flex-space-between"><a href="/promotions/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{quickstart.item.title}}</h2>
                <div class="text-right" style="font-size: 1.3em;">
                    <span ng-if="quickstart.item.info.elapsed_days >= 1">
                        Осталось дней: {{quickstart.item.info.elapsed_days | number:0}}
                    </span>
                    <span ng-if="quickstart.item.info.elapsed_days < 1 && quickstart.item.info.elapsed_days > 0">
                        Осталось меньше дня
                    </span>
                    <span ng-if="quickstart.item.info.elapsed_days <= 0">
                        Время вышло
                    </span>
                </div>
            </div>

            <div class="card-body" style="padding-top: 0;">

                <div ng-if="!quickstart.item.info" class="my-4 text-center text-muted">
                    Промоушен для Вас в данный момент недоступен
                </div>

                <div ng-if="quickstart.item.info">

                    <!-- New -->
                    <div class="animated fadeIn flex0 flex-column flex-center mt-4" ng-if="!quickstart.item.info.competition_quick_status_id && quickstart.item.info.can_start">
                        <!--<div class="flex0 flex-wrap flex-center" style="font-size: 1.3em;">
                            <i class="fal fa-ban text-danger fa-3x m-2"></i>
                            <div>
                            </div>
                        </div>-->
                        <p class="mt-4">
                            <a href="#" class="btn btn-primary" ng-click="quickstart.start()" ng-class="{loading: quickstart.loading_start}">Активировать</a>
                        </p>
                    </div>

                    <!-- Bad -->
                    <div class="animated fadeIn flex0 flex-column flex-center mt-4" ng-if="quickstart.item.info.competition_quick_status_id == 2 && quickstart.item.info.can_start">
                        <div class="flex0 flex-wrap flex-center" style="font-size: 1.3em;">
                            <i class="fal fa-ban text-danger fa-3x m-2"></i>
                            <div>
                                Вы не прошли промоушен.
                                <br>Вы можете попробовать еще раз.
                                <br>Для этого его необходимо активировать повторно:
                            </div>
                        </div>
                        <p class="mt-4">
                            <a href="#" class="btn btn-primary" ng-click="quickstart.start()" ng-class="{loading: quickstart.loading_start}">Активировать</a>
                        </p>
                    </div>

                    <!--Success-->
                    <div class="animated fadeIn flex0 flex-column flex-center mt-4" ng-if="quickstart.item.info.competition_quick_status_id == 3">
                        <div class="flex0 flex-wrap flex-center" style="font-size: 1.3em;">
                            <i class="fal fa-check-circle text-success fa-3x m-2"></i>
                            <div>
                                Поздравляем!
                                <br>Вы успешно завершили данный промоушен.
                            </div>
                        </div>
                    </div>
                    
                    <div id="twins" ng-class="{disabled: quickstart.item.info.competition_quick_status_id != 1}">
                        <div class="row mb-4">
                            <div class="col-12 col-md-4" ng-repeat="g in quickstart.user_groups">
                                <div class="twins-card">
                                    <div class="t">
                                        <div class="icn">
                                            <i class="fas fa-check-circle fa-3x" ng-if="g.ok"></i>
                                            <i class="fas fa-circle fa-3x" ng-if="!g.ok"></i>
                                        </div>
                                        <div class="prize">
                                            ${{g.bonus_usdt}}
                                        </div>
                                    </div>
                                    <div class="b">
                                        <i class="fas fa-check-circle" ng-if="g.users.length > 0"></i>
                                        <i class="fas fa-check-circle" ng-if="g.users.length > 1"></i>
                                        <i class="fas fa-circle"       ng-if="g.users.length < 1"></i>
                                        <i class="fas fa-circle"       ng-if="g.users.length < 2"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="competition-twins-users" ng-class="{disabled: quickstart.item.info.competition_quick_status_id != 1}">
                        <div class="row mx-0">
                            <div class="col-12 col-md-6" ng-repeat="u in quickstart.item.info.users">
                                <div class="u-item">
                                    <span>{{u.fio}}</span>
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="competition-potential-users" ng-if="quickstart.item.info.users_not_in_list.length > 0">
                        <div class="row mx-0">
                            <div class="col-12">
                                <h5 class="mb-3">Потенциальные партнёры для Quick Start</h5>
                            </div>
                            <div class="col-12 col-md-6" ng-repeat="u in quickstart.item.info.users_not_in_list">
                                <div class="u-item">
                                    <span>{{u.fio}}</span>
                                    <i class="fas fa-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>