<div id="page-achievements" class="card" ng-init="achievements.load()">

    <div class="card-body p-0">

        <div ng-if="achievements.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <div ng-if="!achievements.loading">

            <div class="card card-2 mb-3" ng-repeat="academy in achievements.data.academy.list">
                <div class="card-header" style="border-radius: 0; border-top: ">
                    <span class="ng-binding">{{academy.title}} <span class="text-muted">{{academy.user_confirmed_lessons.length}}</span></span>
                </div>
                <div class="card-body">
                    <div class="dark_wrapper">
                        <div class="flex0 flex-center flex-space-between">
                            <span class="text-white text-center text-md-left w-100">ПОСЕЩЕНИЙ ПОДРЯД</span>
                            <div class="d-none d-md-block nowrap">
                                <span ng-if="academy.ok">Вы получили бонус!</span>
                                <span ng-if="!academy.ok"><span class="text-white">Необходимо посещений подряд:</span> {{academy.need_count}}</span>
                            </div>
                        </div>
                        <div class="lesson_counter">
                            <div ng-repeat="lesson in academy.lessons" ng-class="{active: lesson.ok}" ng-if="lesson.ok"><span>{{lesson.number}}</span></div>
                            <div ng-repeat="n in [].constructor(academy.need_count) track by $index"><span>{{$index}}</span></div>
                        </div>
                        <div class="d-block d-md-none text-center mt-2">
                            <span ng-if="academy.ok">Вы получили бонус!</span>
                            <span ng-if="!academy.ok"><span class="text-white">Необходимо посещений подряд:</span> {{academy.need_count}}</span>
                        </div>
                    </div>
                        <div class="mini_cards">
                            <div class="mini_card" ng-repeat="lesson in academy.lessons" ng-class="{active: lesson.ok}">
                                <div class="mini_card_header">УРОК{{lesson.number}}</div>
                                <div class="mini_card_body"><span class="text-white">ПОСЕЩЕНИЯ</span><span>{{lesson.count}}</span></div>
                            </div>
                        </div>
                </div>
                <hr />
            </div>
            <div ng-if="false" class="flex0 flex-wrap achiev-btn">
                <a class="btn btn-primary mr-2 mb-3 col-sm-auto col-12">КОНГРЕСС</a>
                <a class="btn btn-primary mr-2 mb-3 col-sm-auto col-12">ПУТЕШЕСТВИЕ</a>
            </div>

            <!--bonus_status-->
            <div class="bonus_status" ng-class="{active: achievements.data.academy.gift_received}">
                <div class="bonus_status_icon_wrapper">
                    <div class="bonus_status_icon">
                        <i class="fal fa-check"></i>
                    </div>
                </div>
                <div class="bonus_status_description">
                    <div class="mb-2">
                        БОНУС:
                        <span ng-if="!achievements.data.academy.gift_received">НЕ ПОЛУЧЕН</span>
                        <span class="text-accent" ng-if="achievements.data.academy.gift_received">ПОЛУЧЕН</span>
                    </div>
                     В случае прохождения 12-и онлайн-академий подряд или 12-и офлайн-академий подряд, вы получаете
                    в подарок стандартный счет.
                </div>
            </div>
        
        </div>

    </div>
</div>