<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="events-nav" ng-controller="eventsCtrl">
	<div class="card">
		<div class="card-header">
			<p class="m-0 fs-text">Мероприятия</p>
		</div>
		<div class="card-body">
		    <div class="emp-profile animated fadeIn">
		    	<ul id="team-nav" class="nav nav-tabs" style="border-bottom: 2px solid #343740;">
		        <li class="nav-item">
		            <a class="nav-link tab-team" href="/events/" ng-class="{active: event_pages.isActive('index.events')}" style="border-right: 1px solid #1f1f21;border-top-left-radius: 15px;">Список</a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link tab-team" href="/eventshistory/" ng-class="{active: event_pages.isActive('index.eventhistory')}" ng-class="" style="border-right: 1px solid #1f1f21;">История</a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link tab-team" href="/achievements/" ng-class="{active: event_pages.isActive('index.achievements')}" style="border-top-right-radius: 15px;">Академия</a>
		        </li>
		    </ul>
		        <div ui-view></div>
		    </div>
		</div>
	</div>
</div>