<div class="row">                                                     
    <div class="col col-12" ng-init="event_list.load()">
        <div ng-if="event_list.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card card-2" ng-if="!event_list.loading">  
            <div class="card-header event-header" style="border-radius: 0;">
                <span>СПИСОК МЕРОПРИЯТИЙ</span>
            </div>
            <!--If mode == list-->
            <div class="card-body events-body" ng-init="event_list.loadoffices()">
                <div ng-if="event_list.data.length == 0" class="text-center text-muted pt-2"> 
                    Список пуст
                </div>
                <ul class="list">
                    <li class="list-item" ng-repeat="e in event_list.data | filter: {in_future: false}" ng-if="e.is_active">
                        <a ng-href="/events/{{e.id}}/" class="p-3" style="color: inherit;">
                        	<div class="flex0 justify-content-between">
                        		<div style="flex:1;margin-right: 15px;">
                        			<div class="row align-items-center mb-0">
			                            <div class="col-sm-12 col-md-5 text-white">
			                                <i class="fas fa-calendar-alt text-gold mr-1"></i>{{e.dt | datetime}}
			                                <span class="badge badge-secondary text-gold">{{e.dt | date_weekday}}</span>
			                            </div>
			                            <div class="col-sm-12 col-md-7">{{e.custom_address}}</div>
		                            </div>
		                            <div>
			                            <h5 class="text-white" style="margin: 5px 0 0 0;">{{e.title}}</h5>
		                            </div>
                        		</div>
                        		<div>
		                            <div ng-if="e.is_visited" style="font-size: 20px;"><i class="far fa-check-circle"></i></div>
                        		</div>
                        	</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>