<div class="row">                                                     
    <div class="col col-12" ng-init="event_list.load()">
        <div ng-if="event_list.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card card-2" ng-if="!event_list.loading">  
            <div class="card-header event-header" style="border-radius: 0;">
                <div ng-if="false">
                    <a href="#" class="btn btn-sm btn-outline-light" ng-click="event_list.setMode('list')" ng-if="event_list.mode == 'calendar'">Список</a>
                    <a href="#" class="btn btn-sm btn-outline-light" ng-click="event_list.setMode('calendar')" ng-if="event_list.mode == 'list'">Календарь</a>
                </div>
                <div class="events-month-title" style="font-size: 1.2rem;" ng-if="event_list.mode == 'calendar'">
                    <i class="far fa-angle-left" ng-click="event_list.toLeft()" style="cursor:pointer"></i>
                    <h4 class="center-align" style="width: 73px; font-size: 11px;">{{event_list.monthName}}</h4>
                    <i class="far fa-angle-right" ng-click="event_list.toRight()" style="cursor:pointer"></i>
                </div>
                <div class="select-office input-group" ng-if="!event_list.office_loading && event_list.mode == 'calendar'">
                    <select class="custom-select" ng-model="event_list.office_id">
                        <option value="" selected>ВСЕ ОФИСЫ</option>
                        <option ng-repeat="office in event_list.offices" ng-value="office.id">{{office.title}}</option>
                    </select>
                </div>
                <span>СПИСОК МЕРОПРИЯТИЙ</span>
            </div>
            <!--If mode == list-->
            <div class="card-body events-body" ng-init="event_list.loadoffices()" ng-if="event_list.mode == 'list'"> 
                <div ng-if="event_list.event_cases_visible_count == 0" class="text-center text-muted pt-2">
                    На данный момент нет предстоящих мероприятий
                </div>
                <ul class="list" ng-if="event_list.event_cases_visible_count > 0">
                    <li class="list-item" ng-repeat="e in event_list.data | orderBy : 'dt'" ng-if="e.in_future && e.is_active">
                        <a ng-href="/events/{{e.id}}/" class="p-3" style="color: inherit;">
                        	<div class="flex0 justify-content-between">
                        		<div style="flex:1;margin-right: 15px;">
                        			<div class="row align-items-center mb-0">
			                            <div class="col-sm-12 col-md-5 text-white">
			                                <i class="fas fa-calendar-alt text-gold mr-1"></i>{{e.dt | datetime}}
			                                <span class="badge badge-secondary text-gold">{{e.dt | date_weekday}}</span>
			                            </div>
			                            <div ng-if="e.official_event_case_type_id == 1" class="col-sm-12 col-md-7">{{e.custom_address}}</div>
			                            <div ng-if="e.official_event_case_type_id == 2" class="col-sm-12 col-md-7">Онлайн</div>
		                            </div>
		                            <div>
			                            <h5 class="text-white" style="margin: 5px 0 0 0;">{{e.title}}</h5>
		                            </div>
                        		</div>
                        		<div>
                        			<div ng-repeat="item in e.price_list | filter: {is_actual: true}" href="#" class="ticket-price text-nowrap mb-1">
                                		<span ng-if="item.qwertypay_ticket">{{item.qwertypay_ticket.price}} руб.</span>
                                		<span ng-if="!item.qwertypay_ticket">{{item.amount_usdt / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
		                            </div>
		                            <div ng-if="(e.price_list | filter: {is_actual: true}).length == 0" href="#" class="ticket-price text-nowrap">Бесплатно</div>
                        		</div>
                        	</div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--If mode == calendar-->
            <div class="card-body events-body" ng-init="event_list.loadoffices()" ng-if="event_list.mode == 'calendar'">
                <div ng-if="event_list.office_loading">
                    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                </div>
                <div style="display: flex;">
                    <div class="events-time">
                        <div>8:00</div><div>9:00</div><div>10:00</div><div>11:00</div>
                        <div>12:00</div><div>13:00</div><div>14:00</div><div>15:00</div>
                        <div>16:00</div><div>17:00</div><div>18:00</div><div>19:00</div>
                        <div>20:00</div><div>21:00</div><div>22:00</div>
                    </div>
                    <div class="events-calendar">
                        <div style="flex: 1" ng-repeat="day in event_list.week" ng-init="dayIndex=$index">
                            <div class="events-dayname" style="text-align: center;">{{day.dayName}} {{day.dt.getDate()}}</div>
                            <div class="events-hour" ng-repeat="hour in day.hourList" style="display: flex;" ng-class="{active: hour.data && (hour.data.office_id == event_list.office_id || !event_list.office_id)}">
                                <div class="events-cell x{{hour.data.duration}}" ng-if="hour.data && (hour.data.office_id == event_list.office_id || !event_list.office_id)">
                                    <div style="width: 100%; height: 100%;" ng-class="event_list.getEventClass(hour.data)">
                                        <a href="/events/{{hour.data.id}}/" style="color: inherit;">
                                            <div class="events-cell-title">{{hour.data.title}}</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="events-cell" ng-if="!(hour.data && (hour.data.office_id == event_list.office_id || !event_list.office_id))">
                                    <!--empty-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events-calendar-mobile">
                        <div style="display: flex;">
                            <div style="flex: 1" ng-repeat="day in event_list.week" ng-init="dayIndex=$index">
                                <a href="#" ng-click="event_list.setCurrentDay(day)" style="color:inherit">
                                    <div class="event-day" ng-class="{active: day.active}">
                                        <div style="margin-right: 5px;">{{day.dayName}}</div>
                                        <div>{{day.dt.getDate()}}</div>
                                    </div>                            
                                </a>
                            </div>
                        </div>
                        <div>
                            <div ng-repeat="hour in event_list.currentWeekDate.hourList" style="display: flex;">
                                <div class="events-cell-mobile">
                                    <div ng-if="hour.data && (hour.data.office_id == event_list.office_id || !event_list.office_id)" class="x{{hour.data.duration}}" ng-class="event_list.getEventClass(hour.data)" style="width: 100%; position: relative;">
                                        <a href="/events/{{hour.data.id}}/" style="color: inherit;">
                                            <div class="events-cell-title-mobile">{{hour.data.title}}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>