<div id="event-info" class="row">
    <div class="col col-12" ng-init="event.load()">
        <div ng-if="event.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card" ng-if="!event.loading">
            <div class="card-header" style="border-radius: 0;">   
            	<div>
                	<h6 style="margin: 0;"><a ng-href="/events/" class="event-title"><i class="fas fa-chevron-left"></i></a> {{event.data.title}}</h6>
                </div>
                <!--<div>
                	<a href="#" class="translation" ng-click="showVideoNotEnabled()">
                		<span style="text-decoration: underline; margin-right: 10px;">ТРАНСЛЯЦИЯ</span><i class="far fa-video" style="align-self: center;"></i>
                	</a>
                </div>-->
            </div>
            <div class="card-body">
                <div>
                	<!--<div class="translation-min">
                		<a href="#" class="btn btn-dark btn-sm btn-block">ТРАНСЛЯЦИЯ  <i class="far fa-video" style="align-self: center;"></i></a>
                	</div>-->

                	<div id="event-header" class="row flex-between" style="margin-bottom: 20px;">                	
                		<div class="col-md-4">
                			<div id="event-contact" class="card-block">
	                            <div style="align-self: center;" ng-if="event.office.number">
	                                <i class="fa fa-phone" aria-hidden="true"></i>
	                                &nbsp; {{event.office.number}}
	                            </div>
	                            <div ng-if="event.data.official_event_case_type_id == 1" style="align-self: center;margin-top:10px;">
	                                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{event.data.custom_address || event.office.address}}
	                            </div>
	                            <div ng-if="event.data.official_event_case_type_id == 2" style="align-self: center;margin-top:10px;">
	                                <i class="fas fa-external-link-alt" aria-hidden="true"></i>&nbsp; <a href="{{event.data.custom_address}}" target="_blanc">{{event.data.custom_address}}</a>
	                            </div>
                			</div>
                		</div>
                		<div class="col-md-4" ng-if="event.data.showBtnIGo">
                			<div class="card-block">
                				<div id="timer" class="row" style="margin-bottom: 10px;">
		                            <div class="col col-md-4">
		                            	<div class="timer-number">{{event.data.dt_days}}</div>
		                            	<div>дней</div>
		                            </div>
		                            <div class="col col-md-4">
		                            	<div class="timer-number">{{event.data.dt_hours}}</div>
		                            	<div>часов</div>
		                            </div>
		                            <div class="col col-md-4">
		                            	<div class="timer-number">{{event.data.dt_minutes}}</div>
		                            	<div>минут</div>
		                            </div>
	                            </div>
	                            <div style="text-align: center;">{{event.data.dt | datetime}}</div>
                			</div>
                		</div>
                		<div class="col-md-4" ng-if="event.data.showBtnBuy || event.data.showBtnIGo">
                			<div class="participate-btn">
		                        <a ng-if="event.data.showBtnIGo" href="#" class="btn btn-primary btn-block" ng-click="event.free()">ВОЗМОЖНО ПОЙДУ</a>
                                <!--Crutch-->
                                <div class="mt-2" ng-if="event.data.showBtnBuy">
		                            <a ng-if="(event.data.price_list | filter: {is_active: 1}).length > 0" href="#" class="btn btn-primary btn-dark btn-block" ng-click="event.buy.open()">КУПИТЬ БИЛЕТ</a>
                                    <a ng-if="event.data.id == 160 && newDate() >= newDate('2020-09-26 11:00:00+03') && newDate() <= newDate('2020-09-27 00:00:00+03')" href="#" class="btn btn-primary btn-dark btn-block" ng-click="event.buy.openDebt()" style="text-transform: uppercase;">Купить с рассрочкой на 2 месяца за 180 USDT</a>
		                            <a ng-if="(event.data.price_list | filter: {is_active: 1}).length == 0" href="#" class="btn btn-primary btn-dark btn-block" ng-click="event.buy.open()">ПОЛУЧИТЬ БИЛЕТ</a>
                                </div>
                                <!--<div ng-if="event.data.id == 53" class="mt-2">
                                    <a href="/promotions/3" class="btn btn-primary btn-dark btn-block">ПОЛУЧИТЬ БИЛЕТ</a>
                                </div>-->
	                        </div>
                		</div>
                	</div>

                    <div class="card-block" ng-if="event.data.my_unpaided_ticket_order.length > 0" style="margin-bottom: 20px;">
                        <h5>Мои неоплаченные билеты ({{event.data.my_unpaided_ticket_order.length}})</h5>
                        <ul class="list list-striped" style="margin-top: 10px;">
                            <li ng-repeat="item in event.data.my_unpaided_ticket_order">
                                <div class="flex0 flex-center flex-space-between flex-row">
                                    <h6 style="padding-top: 13px;flex: 1;padding-right: 10px;">
                                        <i class="fal fa-clock"></i> Неоплаченный билет от {{item.dt | datetime}}
                                        <span ng-if="item.fio && !item.foruserid">для гостя {{item.fio}}</span>
                                        <span ng-if="item.foruserid">для другого пользователя {{item.foruser.fio}}</span>
                                        <span class="text-danger">Необходимо оплатить в течение <strong style="font-size: 1.3rem;" id="timer{{item.id}}">{{event.getTimeToStart(item)}}</strong></span>
                                    </h6>
                                    <a class="btn btn-primary" style="style: inline-block; white-space: nowrap; color: white; padding: .25em .5em; font-size: 18px;" href="{{item.paid_url}}" target="_blank" ng-if="item.status_id">Оплатить</a>
                                    <div ng-if="item.status_id == 3">При оплате произошла ошибка, пожалуйста обратитесь к Вашему куратору</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                                        
                    <div class="card-block" ng-if="event.data.my_preliminary_ticket_order.length > 0 || event.data.my_paid_preliminary_ticket_order.length > 0" style="margin-bottom: 20px;">
                        <h5>Мои предварительно оформленные билеты ({{event.data.my_preliminary_ticket_order.length + event.data.my_paid_preliminary_ticket_order.length}})</h5>
                        <ul class="list list-striped" style="margin-top: 10px;">
                            <li ng-repeat="item in event.data.my_preliminary_ticket_order" ng-if="item.status_id == 1">
                                <div class="flex0 flex-center flex-space-between flex-row">
                                    <h6 style="padding-top: 13px;flex: 1;padding-right: 10px;">
                                        <i class="fal fa-clock"></i> Неоплаченный билет от {{item.dt | datetime}}
                                        <span class="text-danger">Необходимо оплатить в течение <strong style="font-size: 1.3rem;" id="timer{{item.id}}">{{event.getTimeToStart(item)}}</strong></span>
                                    </h6>
                                    <a class="btn btn-primary" style="style: inline-block; white-space: nowrap; color: white; padding: .25em .5em; font-size: 18px;" href="{{item.paid_url}}" target="_blank" ng-if="item.status_id == 1">Оплатить</a>
                                    <div ng-if="item.status_id == 3">При оплате произошла ошибка, пожалуйста обратитесь к Вашему куратору</div>
                                </div>
                            </li>
                            <li ng-repeat="ticket in event.data.my_paid_preliminary_ticket_order">
                            	<div class="flex0 mt-3">
                                    <div>
                                        <i class="fas fa-user-circle text-muted" ng-if="ticket.guest" style="font-size: 55px; margin-right: 5px;"></i>
                                    </div>
                                    <div>
                                    	<div ng-if="!ticket.guest && !ticket.user">
                                            <div>
                                                <a class="btn btn-primary" style="color: white;" href="#" ng-click="event.buy.openSaveData(ticket)">Указать владельца билета</a>
                                            </div>
                                            <div class="flex0">
                                                <h5 class="flex0 flex-column" style="margin-top: 5px; background: rgba(255,255,255,.05); padding: 5px 10px; border-radius: 5px;">
                                                    <span>{{event.numberWithSpace(ticket.number)}}</span>
                                                    <span class="text-muted" style="font-size: 11px;">стандартный билет</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-block" ng-if="event.data.my_ticket || event.data.all_my_tickets.length > 0">
                        <!--Мой билет-->
                        <h5>Мой билет</h5>
                        <menu ng-if="event.data.my_ticket" style="margin: 1em 0 1em 0;">
                            <h5>
                                <div class="flex0">
                                    <h5 class="flex0 flex-column" style="margin-top: 5px; background: rgba(255,255,255,.05); padding: 5px 10px; border-radius: 5px;">
                                        <span style="font-size: 1.5em;">{{event.numberWithSpace(event.data.my_ticket.number)}}</span>
                                        <span class="text-muted" style="font-size: 11px;">стандартный билет</span>
                                    </h5>
                                </div>
                                <span class="text-mini">* Сообщите его на стойке регистрации на мероприятии</span>
                            </h5>
                        </menu>
                        <div ng-if="event.data.all_my_tickets.length == 1 ? !ticket.my : (event.data.all_my_tickets.length > 0)" style="margin-top: 1em;">
                            <h5 style="margin-top: 1em;">Другие купленные билеты ({{(event.data.all_my_tickets | filter: {my: false}).length}})</h5>
                            <menu ng-repeat="ticket in event.data.all_my_tickets" ng-if="!ticket.my" style="margin-top: 2em;">
                                <div class="flex0">
                                    <div>
                                        <i class="fas fa-user-circle text-muted" ng-if="ticket.guest" style="font-size: 55px; margin-right: 5px;"></i>
                                        <img ng-if="ticket.user" ng-src="{{app.domains.avatar}}{{ticket.user.avatar_path[2]}}" style="width: 55px; height: 55px; border-radius: 50px; margin-right: 5px;">
                                    </div>
                                    <div>
                                        <!--Гость-->
                                        <div ng-if="ticket.guest">
                                            <big>{{ticket.guest.fio}}</big>
                                            <br>{{ticket.guest.phone}}
                                            <div class="text-muted">
                                                Гость
                                                <span ng-if="ticket.inviter_user">@{{ticket.inviter_user.user_login}}</span>
                                            </div>
                                            <div class="flex0">
                                                <h5 class="flex0 flex-column" style="margin-top: 5px; background: rgba(255,255,255,.05); padding: 5px 10px; border-radius: 5px;">
                                                    <span>{{event.numberWithSpace(ticket.number)}}</span>
                                                    <span class="text-muted" style="font-size: 11px;">стандартный билет</span>
                                                </h5>
                                            </div>
                                        </div>
                                        <!--Не гость-->
                                        <div ng-if="ticket.user">
                                            <big>{{ticket.user.fio}}</big>
                                            <div class="text-muted">
                                                <span ng-if="ticket.inviter_user">@{{ticket.inviter_user.user_login}}</span>
                                            </div>
                                            @{{ticket.user.user_login}} &mdash;
                                            {{ticket.user.user_career_id}} {{ticket.user.user_career_title}}
                                            <div class="flex0">
                                                <h5 class="flex0 flex-column" style="margin-top: 5px; background: rgba(255,255,255,.05); padding: 5px 10px; border-radius: 5px;">
                                                    <span>{{event.numberWithSpace(ticket.number)}}</span>
                                                    <span class="text-muted" style="font-size: 11px;">стандартный билет</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </menu>
                        </div>
                    </div>
                    <br>

                	<div class="card-block">
                		<!-- <h5>СТОИМОСТЬ БИЛЕТА - {{event.data.price | mycurrency:8}} руб.</h5> -->

                		<div ng-if="event.data.official_event.html">
	                        <art data-content="event.data.official_event.html"></art>
	                    </div>

                		<!--<div class="row" style="margin-top: 20px;border-top: 1px solid #343740;padding-top: 20px;">
                			<a href="#" class="col col-md-3" >
                				<div style="text-align: center;">
                					<i class="fal fa-images event-icon"></i>
                					<div style="color:white;margin-top:10px;">Все афиши мероприятия</div>
                				</div>
                			</a>
                			<a href="#" class="col col-md-3" >
                				<div style="text-align: center;">
                					<i class="fal fa-image event-icon"></i>
                					<div style="color:white;margin-top:10px;">Афиша для Instagram</div>
                				</div>
                			</a>
                			<a href="#" class="col col-md-3" >
                				<div style="text-align: center;">
                					<i class="far fa-video event-icon"></i>
                					<div style="color:white;margin-top:10px;">Видео-приглашение</div>
                				</div>
                			</a>
                			<a href="#" class="col col-md-3" >
                				<div style="text-align: center;">
                					<i class="far fa-comment-alt-edit event-icon"></i>
                					<div style="color:white;margin-top:10px;">Описание для соц.сетей</div>
                				</div>
                			</a>
                		</div>-->
                		<ul class="event-case-file-list">
	                        <li ng-repeat="file in event.data.file_list">
	                            <a href="{{app.domains.avatar}}{{file.url}}" download="{{file.title}}" title="{{file.title}}" target="_blank">
	                                <img ng-src="{{app.domains.avatar}}/img/extensions/{{file.type}}.png" ng-if="!file.preview">
	                                <img ng-src="{{app.domains.avatar}}/{{file.preview}}" ng-if="file.preview">
	                                <span>{{file.title}}</span>
	                            </a>
	                        </li>
	                    </ul>
                	</div>

                	<div class="row" style="margin-top: 20px;">
                		<div class="col col-md-6">
                			<div class="card-block">
                				<div style="margin-bottom: 10px;">УЧАСТНИКИ ({{event.data.user_ticket_list.length}})</div>
                                <div class="text-muted text-center" ng-if="event.data.user_ticket_list.length == 0">
                                    Список пуст
                                </div>
                				<div style="max-height: 300px;" class="scroll-style-1">
                					<div class="event-user" ng-repeat="user in event.data.user_ticket_list">
                                        <div class="flex0" ng-if="!user.user">
                                            <img ng-src="{{app.domains.avatar}}/img/avatar_gd_1.svg" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                            <div style="margin-left: 10px;">
                                                <div ng-if="user.guest.fio" style="color: white;">{{user.guest.fio}}</div>
                                                <div ng-if="user.is_preorder" style="color: white;">Предзаказанный билет</div>
                                                <div>Гость</div>
                                            </div>
                                        </div>
                                        <div class="flex0" ng-if="user.user">
                						    <img ng-src="{{app.domains.avatar}}{{user.user.avatar_path[2]}}" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                						    <div style="margin-left: 10px;">
                							    <div style="color: white;">{{user.user.fio}}</div>
                							    <div ng-class="{'text-white': user.user.user_career_title == 'Chief'}">{{user.user.user_career_title}}</div>
                                            </div>
                						</div>
                					</div>
                				</div>
                			</div>
                		</div>
                		<div class="col col-md-6">
                            <div class="card-block" style="margin-bottom: 20px;">
                				<div style="margin-bottom: 10px;">СПИКЕРЫ ({{event.data.speaker_list.length}})</div>
                				<div style="max-height: 300px;" class="scroll-style-1">
                					<div class="event-user" ng-repeat="speaker in event.data.speaker_list">
                						<img ng-src="{{app.domains.avatar}}{{speaker.avatar_path[2]}}" style="max-width:50px;max-height:50px;border-radius:50%;">
                						<div style="margin-left: 10px;">
                							<div style="color: white;">{{speaker.fio}}</div>
                							<div ng-class="{'text-white': speaker.user_career_title == 'Chief'}">{{speaker.user_career_title}}</div>
                						</div>
                					</div>
                				</div>
                			</div>
                			<div class="card-block">
                				<div style="margin-bottom: 10px;">ВОЗМОЖНЫЕ УЧАСТНИКИ ({{event.data.user_list.length}})</div>
                				<div style="max-height: 300px;" class="scroll-style-1">
                					<div class="event-user" ng-repeat="user in event.data.user_list">
                						<img ng-src="{{app.domains.avatar}}{{user.user.avatar_path[2]}}" style="max-width:50px;max-height:50px;border-radius:50%;">
                						<div style="margin-left: 10px;">
                							<div style="color: white;">{{user.user.fio}}</div>
                							<div ng-class="{'text-white': user.user.user_career_title == 'Chief'}">{{user.user.user_career_title}}</div>
                						</div>
                					</div>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>

                <!--Покупка билета-->
                <form id="form-buy-ticket" class="popup-form animated fadeIn" data-title="Покупка билета">
                    <div class="popup-form-content">
                        <div ng-if="!event.buy.order.visible">
                            <!--Себе-->
                                <p>
                                    <label style="align-items: center; display: flex;">
                                        <input type="radio" name="ticket_buy_for" ng-model="event.buy.order.form.forme" value="1" ng-change="event.buy.order.buyForChanged()">
                                        Себе
                                    </label>
                                </p>
                                <blockquote ng-if="event.buy.order.form.forme == '1' && event.data.my_ticket" class="animated fadeIn">
                                    У Вас уже есть билет №{{event.numberWithSpace(event.data.my_ticket.number)}}
                                </blockquote>
                            <!--Другому-->
                                <p>
                                    <label style="align-items: center; display: flex;">
                                        <input type="radio" name="ticket_buy_for" ng-model="event.buy.order.form.forme" value="2" ng-change="event.buy.order.buyForChanged()">
                                        Другому
                                    </label>
                                </p>
                                <blockquote ng-if="event.buy.order.form.forme == '2'" class="animated fadeIn">
                                    <!--Зарегистрированному пользователю-->
                                    <p>
                                        <label style="align-items: center; display: flex;">
                                            <input type="radio" name="ticket_buy_forregistereduser" ng-model="event.buy.order.form.forregistereduser" value="1">
                                            Зарегистрированному пользователю
                                        </label>
                                    </p>
                                    <blockquote ng-if="event.buy.order.form.forregistereduser == '1'" class="animated fadeIn">
                                        <input type="text" ng-model="event.buy.order.form.foruserid" placeholder="введите ID, никнейм или телеграм" ng-change="event.buy.order.foruseridChange()" >
                                        <div class="animated fadeIn" ng-if="event.buy.order.foruser">
                                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
            								    <img class="user-avatar" ng-src="{{app.domains.avatar}}{{event.buy.order.foruser.avatar_path[2]}}" style="display: block; width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
								                <div style="margin-left: 10px; line-height: 1em;">
                                                    {{event.buy.order.foruser.fio}}
                                                    <br><span class="text-muted">@{{event.buy.order.foruser.user_login}}</span>
                                                </div>
                                            </div>
                                            <div class="text-mini" ng-if="!event.buy.order.foruser.ok" style="color: #f77c86;">
                                                У пользователя не подключен Telegram-бот, сначала ему необходимо подключить его на основном сайте
                                            </div>
							            </div>
                                    </blockquote>
                                    <!--Гостю (незарегистрированному пользователю)-->
                                    <p>
                                        <label style="align-items: center; display: flex;">
                                            <input type="radio" name="ticket_buy_forregistereduser" ng-model="event.buy.order.form.forregistereduser" value="2">
                                            Гостю (незарегистрированному пользователю)
                                        </label>
                                    </p>
                                    <blockquote ng-if="event.buy.order.form.forregistereduser == '2'" class="animated fadeIn">
                                        <input type="text" ng-model="event.buy.order.form.last_name" placeholder="Фамилия">
                                        <br><input type="text" ng-model="event.buy.order.form.first_name" placeholder="Имя">
                                        <br><input type="text" ng-model="event.buy.order.form.phone" placeholder="Телефон">
                                        <!--Этого гостя пригласили Вы?-->
                                        <br>Этого гостя пригласили Вы?
                                        <p>
                                            <label style="align-items: center; display: flex;">
                                                <input type="radio" name="ticket_buy_guest_im_inviter" ng-model="event.buy.order.form.guest_im_inviter" value="1"> Да
                                            </label>
                                        </p>
                                        <p>
                                            <label style="align-items: center; display: flex;">
                                                <input type="radio" name="ticket_buy_guest_im_inviter" ng-model="event.buy.order.form.guest_im_inviter" value="0"> Нет
                                            </label>
                                        </p>
                                        <blockquote ng-if="event.buy.order.form.guest_im_inviter == '0'" class="animated fadeIn">
                                            <input type="text" ng-model="event.buy.order.form.guest_inviter_userid" placeholder="введите ID, никнейм или телеграм" ng-change="event.buy.order.guestInviterUseridChange()" >
                                            <div class="animated fadeIn" ng-if="event.buy.order.guest_inviter_user">
                                                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                                    <img class="user-avatar" ng-src="{{app.domains.avatar}}{{event.buy.order.guest_inviter_user.avatar_path[2]}}" style="display: block; width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                                    <div style="margin-left: 10px; line-height: 1em;">
                                                        {{event.buy.order.guest_inviter_user.fio}}
                                                        <br><span class="text-muted">@{{event.buy.order.guest_inviter_user.user_login}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </blockquote>
                                </blockquote>
                                <div ng-if="(event.data.price_list | filter: {is_active: 1}).length > 0">
	                                <p>
	                                    <label style="align-items: center; display: flex;">
	                                        <input type="radio" name="ticket_buy_for" ng-model="event.buy.order.form.forme" value="3" ng-change="event.buy.order.buyForChanged()">
	                                        Несколько билетов
	                                    </label>
	                                </p>
	                                <blockquote ng-if="event.buy.order.form.forme == '3'" class="animated fadeIn">	                                    
	                                    <p>
	                                    	<div>Количество билетов</div>
	                                        <input type="range" min="1" max="{{event.data.free_ticket_cnt}}" step="1" ng-model="event.buy.order.form.ticket_count"> 
	                                        <div>{{event.buy.order.form.ticket_count}}</div>
	                                    </p>
	                                    <div ng-if="(event.data.price_list | filter: {is_active: 1, qwertypay_ticket_id: '!'}).length > 0">
				                            Вы приобретаете {{event.buy.order.form.ticket_count}}.
				                            <br>Сумма будет списана с вашего расчетного счета.
				                            <br>Чтобы активировать приобретенный билет необходимо добавить данные о госте после оплаты и до начала мероприятия.
				                        </div>
				                        <div ng-if="(event.data.price_list | filter: {is_active: 1, qwertypay_ticket_id: '!!'}).length > 0">
				                            Вы приобретаете {{event.buy.order.form.ticket_count}}.
				                            <br>Вам будет выставлено {{event.buy.order.form.ticket_count}} счетов на оплату. Каждый необходимо оплатить отдельно в течении 1 часа с момента оформления.
				                            <br>Платежной системой может быть выставлена дополнительная комиссия в зависимости от способа оплаты.
				                            <br>Чтобы активировать приобретенный билет необходимо добавить данные о госте после оплаты и до начала мероприятия.
				                        </div>
	                                </blockquote>
                                </div>
                        </div>
                        <div ng-if="event.buy.order.visible">
                            Чтобы увидеть купленный билет, после оплаты обновите страницу!<br><br>
                            В случае неоплаты в течение 60 минут, зарезервированный билет будет автоматически удален!
                        </div>
                    </div>
                    <div class="popup-form-footer" style="padding: 1.5rem;" ng-if="!event.buy.order.visible">                        
                        <div ng-repeat="price in event.data.price_list | filter: {is_active: 1}">
                            <a class="btn btn-primary row" ng-click="event.buy.order.show(price)" ng-class="{disabled: !event.buy.order.canBy(), loading: event.buy.order.loading}" href="#">
                                <b ng-if="price.qwertypay_ticket_id">Купить за {{price.price * event.buy.order.form.ticket_count | mycurrency:0}} руб.</b>
                                <b ng-if="!price.qwertypay_ticket_id">Купить за {{price.amount_usdt / app.BTC_SATOCHI * event.buy.order.form.ticket_count | mycurrency:2}} USDT</b>
                            </a>
                        </div>
                        <div ng-if="(event.data.price_list | filter: {is_active: 1}).length == 0">
                            <a class="btn btn-primary row" ng-click="event.buy.order.show()" ng-class="{disabled: !event.buy.order.canBy(), loading: event.buy.order.loading}" href="#"><b>Получить</b></a>
                        </div>
                    </div>
                    <div class="popup-form-footer" style="padding: 1.5rem;" ng-if="event.buy.order.visible">
                        <!--<a href="#" class="btn btn-primary" ng-click="event.buy.submit()">Купить</a>-->
                        <a class="btn btn-primary" ng-href="http://qwertypay.com/shop?prod={{event.buy.order.form.product_id}}&seller_value={{event.buy.order.form.id}}" ng-click="event.buy.order.clickPayBtn()" target="_blank">Оплатить</a>
                    </div>
                </form>
                
                <!--Покупка билета-->
                <form id="form-buy-ticket-preorder" class="popup-form animated fadeIn" data-title="Заполнение данных билета">
                    <div class="popup-form-content">
                        <div ng-if="!event.buy.order.visible">
                            <!--Себе-->
                            <p>
                                <label style="align-items: center; display: flex;">
                                    <input type="radio" name="ticket_buy_for" ng-model="event.buy.order.form.forme" value="1" ng-change="event.buy.order.buyForChanged()">
                                    Себе
                                </label>
                            </p>
                            <blockquote ng-if="event.buy.order.form.forme == '1' && event.data.my_ticket" class="animated fadeIn">
                                У Вас уже есть билет №{{event.numberWithSpace(event.data.my_ticket.number)}}
                            </blockquote>
                            <!--Другому-->
                            <p>
                                <label style="align-items: center; display: flex;">
                                    <input type="radio" name="ticket_buy_for" ng-model="event.buy.order.form.forme" value="2" ng-change="event.buy.order.buyForChanged()">
                                    Другому
                                </label>
                            </p>
                            <blockquote ng-if="event.buy.order.form.forme == '2'" class="animated fadeIn">
                                <!--Зарегистрированному пользователю-->
                                <p>
                                    <label style="align-items: center; display: flex;">
                                        <input type="radio" name="ticket_buy_forregistereduser" ng-model="event.buy.order.form.forregistereduser" value="1">
                                        Зарегистрированному пользователю
                                    </label>
                                </p>
                                <blockquote ng-if="event.buy.order.form.forregistereduser == '1'" class="animated fadeIn">
                                    <input type="text" ng-model="event.buy.order.form.foruserid" placeholder="введите ID, никнейм или телеграм" ng-change="event.buy.order.foruseridChange()" >
                                    <div class="animated fadeIn" ng-if="event.buy.order.foruser">
                                        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            								<img class="user-avatar" ng-src="{{app.domains.avatar}}{{event.buy.order.foruser.avatar_path[2]}}" style="display: block; width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
								            <div style="margin-left: 10px; line-height: 1em;">
                                                {{event.buy.order.foruser.fio}}
                                                <br><span class="text-muted">@{{event.buy.order.foruser.user_login}}</span>
                                            </div>
                                        </div>
                                        <div class="text-mini" ng-if="!event.buy.order.foruser.ok" style="color: #f77c86;">
                                            У пользователя не подключен Telegram-бот, сначала ему необходимо подключить его на основном сайте
                                        </div>
							        </div>
                                </blockquote>
                                <!--Гостю (незарегистрированному пользователю)-->
                                <p>
                                    <label style="align-items: center; display: flex;">
                                        <input type="radio" name="ticket_buy_forregistereduser" ng-model="event.buy.order.form.forregistereduser" value="2">
                                        Гостю (незарегистрированному пользователю)
                                    </label>
                                </p>
                                <blockquote ng-if="event.buy.order.form.forregistereduser == '2'" class="animated fadeIn">
                                    <input type="text" ng-model="event.buy.order.form.last_name" placeholder="Фамилия">
                                    <br><input type="text" ng-model="event.buy.order.form.first_name" placeholder="Имя">
                                    <br><input type="text" ng-model="event.buy.order.form.phone" placeholder="Телефон">
                                    <!--Этого гостя пригласили Вы?-->
                                    <br>Этого гостя пригласили Вы?
                                    <p>
                                        <label style="align-items: center; display: flex;">
                                            <input type="radio" name="ticket_buy_guest_im_inviter" ng-model="event.buy.order.form.guest_im_inviter" value="1"> Да
                                        </label>
                                    </p>
                                    <p>
                                        <label style="align-items: center; display: flex;">
                                            <input type="radio" name="ticket_buy_guest_im_inviter" ng-model="event.buy.order.form.guest_im_inviter" value="0"> Нет
                                        </label>
                                    </p>
                                    <blockquote ng-if="event.buy.order.form.guest_im_inviter == '0'" class="animated fadeIn">
                                        <input type="text" ng-model="event.buy.order.form.guest_inviter_userid" placeholder="введите ID, никнейм или телеграм" ng-change="event.buy.order.guestInviterUseridChange()" >
                                        <div class="animated fadeIn" ng-if="event.buy.order.guest_inviter_user">
                                            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                                                <img class="user-avatar" ng-src="{{app.domains.avatar}}{{event.buy.order.guest_inviter_user.avatar_path[2]}}" style="display: block; width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                                <div style="margin-left: 10px; line-height: 1em;">
                                                    {{event.buy.order.guest_inviter_user.fio}}
                                                    <br><span class="text-muted">@{{event.buy.order.guest_inviter_user.user_login}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </blockquote>
                            </blockquote>
                        </div>
                        <div ng-if="event.buy.order.visible">
                            Чтобы увидеть купленный билет, после оплаты обновите страницу!<br><br>
                            В случае неоплаты в течение 60 минут, зарезервированный билет будет автоматически удален!
                        </div>
                    </div>
                    <div class="popup-form-footer" style="padding: 1.5rem;" ng-if="!event.buy.order.visible">
                        <div>
                            <a class="btn btn-primary row" ng-click="event.buy.order.saveTicketData()" ng-class="{disabled: !event.buy.order.canBy(), loading: event.buy.order.loading}" href="#"><b>Сохранить</b></a>
                        </div>
                    </div>
                </form>
                
                <form id="form-buy-ticket-debt" class="popup-form animated fadeIn" data-title="Покупка билета в рассрочку">
                    <div class="popup-form-content">
                        <div>
                            Рассрочка выдается на половину стоимости и ее сумма составляет 180 USDT.<br>
                            Для погашения рассрочки до 26.11.2020 внесите на свой расчетный счет 180 USDT и уведомите об этом техническую поддержку.
                        </div>
                    </div>
                    <div class="popup-form-footer" style="padding: 1.5rem;">
                        <a class="btn btn-primary row" ng-click="event.buy.order.show()" href="#"><b>Продолжить</b></a>
                    </div>
                </form>

                <!--<div class="col col-12" style="margin-top:20px" ng-if="event.data.file_list.length > 0">
                    <h3>Материалы</h3>
                    <ul class="event-case-file-list">
                        <li ng-repeat="file in event.data.file_list">
                            <a href="{{app.domains.avatar}}{{file.url}}" download="{{file.title}}" title="{{file.title}}" target="_blank">
                                <img ng-src="{{app.domains.avatar}}/img/extensions/{{file.type}}.png" ng-if="!file.preview">
                                <img ng-src="{{app.domains.avatar}}/{{file.preview}}" ng-if="file.preview">
                                <span>{{file.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>-->

            </div>
        </div>
    </div>
</div>