<div id="event-ticket" class="row">
    <div class="col col-12" ng-init="event.load()">
        <div ng-if="event.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card" ng-if="!event.loading">
            <div class="card-header">   
                <h2><a ng-href="/events/{{event.data.id}}/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{event.data.title}}</h2>
            </div>
            <div class="card-body" ng-init="createTicket.loadStat()"> 
                <div ng-if="!createTicket.loading_stat">
                	<div class="col col-12" style="margin-top:20px">
                        <div>
                            <h4 ng-if="event.data.official_event_case_type_id == 1">Адрес</h4>
                            <h4 ng-if="event.data.official_event_case_type_id == 2">Ссылка</h4>
                            <div class="flex0 flex-between">
                    			<input type="text" id="event-custom-address" ng-model="event.data.custom_address" autocomplete="off">
	                    		<a ng-if="event.data.custom_address && !event.data.custom_address_orig || event.data.custom_address != event.data.custom_address_orig" href="#" ng-click="event.saveAddress()" class="btn btn-primary ml-3" ng-class="{loading: event.loading, disabled: event.data.custom_address == event.data.custom_address_orig}">{{lang.save}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12" style="margin-top:20px">
                        <div class="" style="align-items: center;">
                            <h3>Билеты</h3>
                        </div>
                        <div style="align-items: center; position: absolute;"></div>
                            <div style="position: relative; margin: 10px;">
                                <a href="#" class="btn btn-primary" ng-click="allTickets.open()">Все билеты</a>
                            </div>
                            <div style="position: relative; margin: 10px;">
                                <a href="#" class="btn btn-secondary" n_g-class="{disabled: event.data.price == 0}" ng-click="createTicket.open()">Создать...</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col col-12" style="margin-top:20px">
                        
                        <a href="#" class="btn btn-primary" ng-class="{disabled: !createTicket.stat.users || createTicket.stat.users.length == 0}" ng-click="registerVisit.open()">Зарегистрировать посещение...</a>
                        <br>
                        <br>
                        <h4>Статистика по билетам</h4>
                        <table class="tickets-stat-table">
                            <tr><th style="min-width: 100px;">Всего</th><td>{{createTicket.stat.total}}</td></tr>
                            <tr><th style="min-width: 100px;">Продано</th><td>{{createTicket.stat.reg_count}} / {{createTicket.stat.reg_count / (createTicket.stat.total || 1) * 100 | number:0}}%</td></tr>
                            <tr><th style="min-width: 100px;">Осталось</th><td>{{createTicket.stat.total - createTicket.stat.reg_count}} / {{(createTicket.stat.total - createTicket.stat.reg_count) / (createTicket.stat.total || 1) * 100 | number:0}}%</td></tr>
                        </table>
                        <br>
                        <h4>Статистика по гостям</h4>
                        <table class="tickets-stat-table">                                                                                                                                                             
                            <tr><th style="min-width: 100px;">Всего</th><td>{{createTicket.stat.is_used}} из {{createTicket.stat.reg_count}} / {{createTicket.stat.is_used / (createTicket.stat.reg_count || 1) * 100 | number:0}}%</td></tr>
                            <tr><th style="min-width: 100px;">Впервые</th><td>{{createTicket.stat.newbie_used_cnt}} из {{createTicket.stat.newbie_cnt}} / {{createTicket.stat.newbie_used_cnt / (createTicket.stat.newbie_cnt || 1) * 100 | number:0}}%</td></tr>
                            <tr><th style="min-width: 100px;">Партнеров</th><td>{{createTicket.stat.partner_used_cnt}} из {{createTicket.stat.partner_cnt}} / {{createTicket.stat.partner_used_cnt / (createTicket.stat.partner_cnt || 1) * 100 | number:0}}%</td></tr>
                            <tr><th style="min-width: 100px;">Инвесторов</th><td>{{createTicket.stat.invest_used_cnt}} из {{createTicket.stat.invest_cnt}} / {{createTicket.stat.invest_used_cnt / (createTicket.stat.invest_cnt || 1) * 100 | number:0}}%</td></tr>
                            <tr><th style="min-width: 100px;">Elite</th><td>{{createTicket.stat.elite_used_cnt}} из {{createTicket.stat.elite_cnt}} / {{createTicket.stat.elite_used_cnt / (createTicket.stat.elite_cnt || 1) * 100 | number:0}}%</td></tr>                        </table>
                        <br>
                        <table class="tickets-stat-table">                                                                                                                                                             
                            <tr><th>Соотношение новичков</th><td>{{createTicket.stat.newbie_used_cnt}} из {{createTicket.stat.is_used}} / {{createTicket.stat.newbie_used_cnt / (createTicket.stat.is_used || 1) * 100 | number:0}}%</td></tr>
                        </table>
                        <!--<div ng-if="event.data.price == 0">
                            Чтобы создавать билеты необходимо указать цену мероприятия
                        </div>-->
                        <!--Создание билетов-->
                        <form id="form-createTicket" class="popup-form animated zoomIn" data-title="Создание билетов">
                            <div class="popup-form-content">
                                <div ng-if="createTicket.loading_stat">
                                    <div class="text-muted">
                                        Загрузка...
                                    </div>
                                </div>
                                <div ng-if="!createTicket.loading_stat">
                                    <input type="text" placeholder="Введите количество создаваемых билетов" ng-model="createTicket.form.cnt" style="height: 2.5rem; text-indent: .5rem; width: 100%;">
                                    <div class="text-muted">
                                        Уже есть ... {{createTicket.stat.total}}
                                    </div>
                                </div>
                            </div>
                            <div class="popup-form-footer">
                                <a href="#" class="btn btn-primary" ng-click="createTicket.submit()" ng-class="{disabled: !createTicket.form.cnt, loading: createTicket.loading}">Сгенерировать</a>
                            </div>
                        </form>
                        <!--Регистрация посещения-->
                        <form id="form-registerVisit" class="popup-form animated zoomIn" data-title="Регистрация посещения">
                            <div class="popup-form-content">
                                <!--{{registerVisit.ticket_info}}<br>-->
                                <input id="input-ticket-number" type="text" placeholder="Введите номер билета" maxlength="9" ng-model="registerVisit.form.ticket_number" ng-class="{disabled: registerVisit.loading_ticket_info}" autofocus style="height: 2.5rem; text-indent: .5rem; width: 100%;">
                                <div class="animated fadeIn my-2 bg-danger text-white" ng-if="registerVisit.error" style="padding: 2px 8px; border-radius: 2px;">
                                    <i class="fal fa-exclamation-triangle"></i>
                                    {{registerVisit.error}}
                                </div>
                                <div ng-if="registerVisit.ticket_info" class="flex0 flex-space-between" style="margin-top: 20px;">
                                    <div>
                                        <!--<div>
                                            <big>{{registerVisit.ticket_info.fio}}</big>
                                        </div>-->
                                        <!--<div ng-if="registerVisit.ticket_info.user_id">
                                            ID пользователя: <span class="text-muted">{{registerVisit.ticket_info.number}}</span>
                                        </div>-->
                                        <div ng-if="registerVisit.ticket_info.fio" style="font-size: 24px;">
                                            <span ng-if="!registerVisit.ticket_info.is_user">Гость</span>
                                            <span style="color: white;">{{registerVisit.ticket_info.fio}}</span>
                                            <div ng-if="registerVisit.ticket_info.is_user" class="text-muted">@{{registerVisit.ticket_info.user_login}}</div>
                                            <div ng-if="registerVisit.ticket_info.inviter_fio">
                                                от {{registerVisit.ticket_info.inviter_fio}}
                                                <br>@{{registerVisit.ticket_info.inviter_user_login}}
                                            </div>
                                        </div>
                                        <!--<div ng-if="!registerVisit.ticket_info.user_id">
                                            <span class="text-muted">Гость</span>
                                            <br><input maxlength="6" type="text" ng-model="registerVisit.form.follower_id" placeholder="ID пригласителя" style="line-height: 2.5rem; height: 2.5rem; text-indent: .5rem;">
                                        </div>-->
                                        <div ng-if="registerVisit.ticket_info.visit_count == 0">
                                            Первое посещение
                                            <br><span style="color: white; text-transform: lowercase; background: #ffc107; padding: 1px 7px; display: inline-block; border-radius: 2px; font-size: 14px;">
                                                <i class="fal fa-exclamation-circle"></i>
                                                Выдать промопродукцию
                                            </span>
                                        </div>
                                        <div ng-if="registerVisit.ticket_info.visit_count > 0">
                                            {{registerVisit.ticket_info.visit_count + 1}}-е посещение
                                        </div>
                                        <div>
                                            <!--<div ng-if="registerVisit.ticket_info.ticket_stat.is_user && registerVisit.ticket_info.ticket_stat.is_partner">
                                                <i class="fa fa-hexagon"></i>
                                            </div>
                                            <div ng-if="registerVisit.ticket_info.ticket_stat.is_user && !registerVisit.ticket_info.ticket_stat.is_partner">
                                                <i class="fa fa-square"></i>
                                            </div>-->
                                            <div ng-if="!registerVisit.ticket_info.ticket_stat.need_blue_badge && !registerVisit.ticket_info.ticket_stat.need_black_badge">
                                                <div ng-if="registerVisit.ticket_info.ticket_stat.is_user">
                                                    <i class="fa fa-hexagon" ng-if="registerVisit.ticket_info.ticket_stat.is_partner"></i>
                                                    <i class="fa fa-square" ng-if="!registerVisit.ticket_info.ticket_stat.is_partner"></i>
                                                    <span class="text-muted">Необходимо выдать золотой бейдж</span>
                                                </div>
                                                <div ng-if="!registerVisit.ticket_info.ticket_stat.is_user">
                                                    <i class="fa fa-square text-white"></i>
                                                    <span class="text-muted">Необходимо выдать белый бейдж</span>
                                                </div>
                                            </div>
                                            <div ng-if="registerVisit.ticket_info.ticket_stat.need_blue_badge" title="Необходимо выдать синий бейдж">
                                                <i class="fa fa-square" style="color: #219dff;"></i> <span class="text-muted">Необходимо выдать синий бейдж</span>
                                            </div>
                                            <div ng-if="registerVisit.ticket_info.ticket_stat.need_black_badge" title="Необходимо выдать чёрный бейдж">
                                                <i class="fa fa-square" style="color: #111;"></i> <span class="text-muted">Необходимо выдать чёрный бейдж</span>
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <a href="#" class="btn btn-primary" ng-click="registerVisit.submit()" ng-class="{disabled: !registerVisit.form.ticket_number, loading: registerVisit.loading}">Зарегистрировать</a>
                                        </div>
                                        <!--<div>
                                            Телефон: <span class="text-muted">{{registerVisit.ticket_info.phone}}</span>
                                        </div>-->
                                    </div>
                                    <div>
                                        <!--66963168-->
                                        <a href="#" class="btn btn-danger" ng-click="registerVisit.clearTicket()"><i class="fal fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-form-footer">
                                <!--<a href="#" class="btn btn-primary" ng-click="registerVisit.submit()" ng-class="{disabled: !registerVisit.form.ticket_number, loading: registerVisit.loading}">Далее</a>-->
                            </div>
                        </form>
                        <form id="form-addSpeaker" class="popup-form animated zoomIn" data-title="Укажите спикера">
                            <div class="popup-form-content">
                                <div class="w-100">
	                                <p class="text-white">Введите ID, никнейм или номер телефона (без +7):</p>
	                                <input type="text" class="flex-grow-1 w-100" value="" placeholder="Например: 9179171717" ng-model="createTicket.speakerForm.number" ng-change="createTicket.numberChange()">
	                                <div ng-if="!createTicket.searchUser && createTicket.speakerForm.number" style="display: flex;align-items: center;margin-top: 20px;">
	                                    Такой пользователь не найден
	                                </div>
	                                <div ng-if="createTicket.searchUser" style="margin-top: 20px;">
	                                	<div style="display: flex;align-items: center;">
		                                    <img class="user-avatar" ng-src="{{app.domains.avatar}}{{createTicket.searchUser.avatar_path[2]}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
		                                    <div style="margin-left: 10px;">
		                                        {{createTicket.searchUser.fio}}
		                                        <br>@{{createTicket.searchUser.user_login}}
		                                    </div>
	                                    </div>
	                                    <div ng-if="!createTicket.searchUser.ticket" style="display: flex;margin-top: 20px;">
		                                    <i class="fas fa-exclamation-triangle text-danger"></i> <span class="text-white" style="margin-left: 10px;">У спикера нет билета на мероприятие</span>
		                                </div>
		                                <div ng-if="createTicket.stat.speaker_list.length >= 10" style="display: flex;margin-top: 20px;">
		                                    <i class="fas fa-exclamation-triangle text-danger"></i> <span class="text-white" style="margin-left: 10px;">Превышен лимит спикеров на мероприятие</span>
		                                </div>
	                                </div>
	                            </div>
                            </div>
                            <div class="popup-form-footer">
                                <a href="#" class="btn btn-primary" ng-click="createTicket.addSpeaker()" ng-class="{disabled: !createTicket.searchUser.ticket, loading: createTicket.loading}">Добавить</a>
                            </div>
                        </form>
                    </div>

                    <div class="col col-12" style="margin-top:20px" ng-if="!createTicket.loading_stat && createTicket.stat.preorder_list.length">
                        <div ng-if="createTicket.loading_stat" class="text-muted center-align">
                            Загрузка...
                        </div>
                        <div ng-if="!createTicket.loading_stat">
                            <h4>Предварительные билеты</h4>
                            <div ng-repeat="item in createTicket.stat.preorder_list">
                            	<div style="display: flex;align-items: center;margin-top:10px;max-width: 280px;">
			                        <img class="user-avatar" ng-src="{{app.domains.avatar}}{{item.avatar_path[2]}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
			                        <div style="margin-left: 10px;">
			                            {{item.fio}}
			                            <br>@{{item.user_login}}
			                            <br>Количество билетов: {{item.cnt}}
			                        </div>
		                        </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col col-12" style="margin-top:20px">
                        <div ng-if="createTicket.loading_stat" class="text-muted center-align">
                            Загрузка...
                        </div>
                        <div ng-if="!createTicket.loading_stat">
                            <h4>Спикеры</h4>
                            <div>
                            	<a href="#" class="btn btn btn-primary" style="margin-top: 10px;" ng-click="createTicket.openSpeaker()"><i class="fas fa-plus"></i> Добавить спикера</a>
                            </div>
                            <div ng-repeat="item in createTicket.stat.speaker_list">
                            	<div style="display: flex;align-items: center;margin-top:10px;max-width: 280px;">
			                        <img class="user-avatar" ng-src="{{app.domains.avatar}}{{item.avatar_path[2]}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
			                        <div style="margin-left: 10px;">
			                            {{item.fio}}
			                            <br>@{{item.user_login}}
			                        </div>
			                        <div style="margin-left: auto;">
			                            <i class="fas fa-trash-alt" style="cursor: pointer;" ng-click="createTicket.removeSpeaker(item.id)"></i>
			                        </div>
		                        </div>
                            </div>
                            <div style="margin-top: 10px;">
                            	Мероприятие не будет отмечено, как завершенное, если не будет указан спикер и у него не будет отметки о посещении (регистрации на мероприятие).
                            	<br>Можно добавить несколько спикеров.
                            	<br>Спикер может быть добавлен только если у него есть оформленный билет на данное мероприятие.
                            </div>
                        </div>
                    </div>

                    <div class="col col-12" style="margin-top:20px">
                        <div ng-if="createTicket.loading_stat" class="text-muted center-align">
                            Загрузка...
                        </div>
                        <div class="mb-3 flex0 flex-between">
                        	<input type="text" ng-model="createTicket.filter" placeholder="Начните вводить искомые данные">
                        	<a href="#" class="btn btn btn-primary" style="margin-left: 10px;" ng-click="createTicket.clear()">Сбросить</a>
                        </div>
                        <div ng-if="!createTicket.loading_stat && createTicket.stat.users.length == 0" class="text-muted center-align">
                            Нет гостей
                        </div>
                        <table class="table table-nice table-responsive" ng-if="!createTicket.loading_stat && createTicket.stat.users.length > 0" style="color: #bc9f75;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Билет</th>
                                    <th>ФИО</th>
                                    <th>Телефон</th>
                                    <th>Статус</th>
                                    <th>Использован</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in createTicket.stat.users | filter: createTicket.search">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.number}}</td>
                                    <td>
                                        <div ng-if="!item.fio" class="text-muted">
                                            Свободный
                                        </div>
                                        <div ng-if="item.fio">
                                            <span ng-if="!item.is_user">Гость</span>
                                            <span>{{item.fio}}</span>
                                            <div ng-if="item.is_user" class="text-muted">@{{item.user_login}}</div>
                                            <div style="color: gray;"ng-if="item.is_user">{{item.career_title}}</div>
                                            <div ng-if="item.inviter_fio">
                                                от {{item.inviter_fio}}
                                                <br>@{{item.inviter_user_login}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.phone}}</td>
                                    <td>
                                        <span ng-if="item.is_user && item.is_partner">
                                            <i class="fa fa-hexagon"></i>
                                        </span>
                                        <span ng-if="item.is_user && !item.is_partner">
                                            <i class="fa fa-square"></i>
                                        </span>
                                        <span ng-if="item.need_blue_badge" title="Необходимо выдать синий бейдж">
                                            <i class="fa fa-square" style="color: #219dff;"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.is_used">
                                            <i class="fal fa-check"></i>
                                        </span>
                                    </td>
                                </tr>
                            <tbody>
                        </table>
                    </div>
                    

                    <form id="form-allTickets" class="popup-form animated zoomIn" data-title="Все билеты" style="width: 700px;">
                        <div class="popup-form-content tickets-overflow-visible">
                            <div ng-if="allTickets.loading">
                                <div class="text-muted">
                                    Загрузка...
                                </div>
                            </div>
                            <div ng-if="!allTickets.loading" style="height: 600px !important;max-height: 600px !important;">
                                <table class="table table-nice t__able-responsive" ng-if="allTickets.list.length > 0" style="color: #bc9f75;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Билет</th>
                                            <th>ФИО</th>
                                            <th>Дата</th>
                                            <th>Стоимость</th>
                                            <th>Тип оплаты</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in allTickets.list">
                                            <td>{{$index + 1}}) </td>
                                            <td>{{item.number}}</td>
                                            <td>
                                                <div ng-if="!item.fio" class="text-muted">
                                                    Свободный
                                                </div>
                                                <div ng-if="item.fio">
                                                    <span ng-if="!item.is_user">Гость</span>
                                                    <span>{{item.fio}}</span>
                                                    <div ng-if="item.is_user" class="text-muted">@{{item.user_login}}</div>
                                                    <div ng-if="item.inviter_fio">
                                                        от {{item.inviter_fio}}
                                                        <br>@{{item.inviter_user_login}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{item.dt_reg | date_dmy_hm}}</td>
                                            <td>{{item.amount / app.BTC_SATOCHI | mycurrency:2}} {{item.currency_title}}</td>
                                            <td>{{item.currency_title ? (item.currency_title == 'USDT' ? 'USDT' : 'QWETYPAY') : ''}}</td>
                                        </tr>
                                    <tbody>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>