<div class="page-wrap" ng-init="event_list.load()" ng-controller="usereventCtrl">

    <div ng-if="info.loading">
        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
    </div>

    <div class="card animated fadeIn" ng-if="!info.loading">

        <div class="card-header flex0 flex-space-between">
            <h2><a ng-href="/user/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a>Мероприятия</h2>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6" ng-repeat="event in event_list.data">
                    <a class="office-event-card" href="/events/{{event.id}}/">
                        <div class="office-event-info">
                            <span>{{event.title}}</span>
                            <div class="office-event-datetime">
                                {{event.dt | datetime}}
                            </div>
                        </div>
                        <!-- <a href="#" class="btn btn-primary">{{event.price ? event.price + 'DAX' : 'free'}}</a>-->
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>
