/**
* @version 1.0.0
*/

@assets_dir: '/assets';
@text_color: #222;
@main_color: #343740; // #343a40; // #0d1845
@gold_color: #bda076; // #405ce1
@separator_color: #23242a;
@text_color_dark: #23242a;
@accent_color: @gold_color;
@highlite_color: rgb(35, 47, 95);
@light_gray: #42454e;
@dark_shade: #232429;
@dim_color: #a6a6a7;

@titlebar_height: 0px;
@main_theme_color: @main_color;
// @main_font: 'Montserrat', HelveticaLight, HelveticaRegular, "Roboto", sans-serif, Arial;
@main_font: 'Montserrat', "Open Sans Light", HelveticaLight, HelveticaRegular, "Roboto", sans-serif, Arial;
@main_font2: @main_font; // "Source Sans Pro", sans-serif;
@main_font_bold: 'Open Sans Semibold';
@menubar_height: 0px;
@toolbar_height: 56px;
@menubar_item_height: 56px;

@partner_border_radius: 20px;

@font-face {
    font-family: myMontserratBold;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: myMontserratRegular;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: myMontserratSemiBold;
    src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: myMontserratMedium;
    src: url(./assets/fonts/Montserrat-Medium.ttf);
}

/*
    Mobile version
    for width 600px
    media sckrin menu

    remove container
    remove left-section row col-4
*/
@media only screen and (min-width: 200px) and (max-width: 600px) {
    .glav-section {
        width: 100%!important;
    }
    .left-section {
        width: 100%!important;
    }
    .user-photo {
        margin: 0 auto!important;
    }
    .user-subject, .user-sur-nikname, .user-id, .user-complite-line {
        padding: 0 0 6px 30px!important;
        margin: 0 0 0 0!important;
    }
    .user-status-verification {
        padding: 7px 0 8px 31px!important;
        margin: 0 13px 0 30px!important;
    }
    .first-menu-section, .second-menu-section {
        padding: 0 0 6px 31px!important;
    }
    .logo {
        width: 100%!important;
        background-color: white!important;
        background-image: none!important;
    }
    .copyright {
        margin: 10px 20px 30px 20px!important;
        width: 100%!important;
        background-color: white!important;
    }
    .bottom-both-height-plus{
        display: none!important;
    }
    .mobile-touch-menu{
        float: right;
        display: block!important;
        height: 50px;
        width: 50px;
        background-image: url(/assets/img/elision/Menu-icon.png);
        margin-top: 10px;
        background-position: 15px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .close{
        background-image: url(/assets/img/elision/Close-icon.png)!important;
    }
    .mobile-top-line {
        margin: 25px 0 0 15px!important;
    }
    .top-exit-button{
        margin-left: 20px!important;
    }
    .showIndex .logo {
        margin-bottom: 20px;
        width: 100%;
        height: 72px!important;
        visibility: visible!important;
        background-image: url(/assets/img/elision/logo.png)!important;
        background-position: 10px!important;
        margin-left: 2px!important;
        background-repeat: no-repeat!important;
    }
    .new {
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 28px;
        margin-top: 20px;
    }
    .left {
        width: 100%;
        margin-bottom: 20px!important;
    }
    .left span a {
        display: block;
        float: left;
    }
    .base-company-balance .green {
        margin-top: -23px!important;
        margin-left: -10px!important;
    }
    .base-company-balance .blue {
        margin-left: -10px!important;
    }
    .height-165 {
        height: 85px!important;
    }
    .right {
        width: 100%;
    }
    .balance {
        width: 40%!important;
        float: none!important;
    }
    .d-block {
        width: 40%!important;
        float: right;
    }
    .charts {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .base-in-portfolios > .green {
        margin-top: -160px!important;
    }
    .base-in-portfolios > .blue {
        margin-top: -130px!important;
    }
    .menuVisable{
        display: none!important;
    }
}

/*div {
    font-family: myFirstFont;
}*/
body{
    font-family: myMontserratRegular;
    background-color: #f8f8f8;
}
.color{
    color: #6f56a7;
}
.green{
    color: #009904;
}
.blue{
    color:#0064df;
}
h3{
    font-family: myMontserratSemiBold;
    font-size: 12px;
    text-transform: uppercase;
}
@media only screen and (min-width: 755px) {
    .glav-section {
        width: 964px;
        margin: 0 auto;
    }
}
.row {
    margin-top: 47px;
}
.elision .row {
    margin: 0px;
}
.left-section {
    width: 274px; /*todo выровнять с бустрапом и шаблоном*/
    float: left;
    align-content: flex-start;
}
.right-section {
    width: 640px;
    float: right;
}
.user {
    width:inherit;
    background-color: white;
}
.logo {
    width:100%;
    height:46px;
    background-image: url(/assets/img/elision/logo.png);
    margin-left: 2px;
    background-repeat: no-repeat;
}
.right-section .logo {
    visibility: hidden;
    display: initial;
}
.mobile-touch-menu{
    display: none;
}
.user-photo {
    width:273px;
    height: 182px;
}
.user-subject,.user-sur-nikname,.user-id,.user-complite-line,.user-status-verification  {
    padding: 0 0 6px 17px;
    margin: 0 0 0 0;
}
.user-subject {
    margin-top: -4px;
    font-size: 16px;
}
.user-sur-nikname {
    font-family: myMontserratSemiBold;
    float:left;
    margin-left: -1px;
}
.user-id {
    font-family: myMontserratSemiBold;
    float:left;
}
.both {
    clear:both;
}
.user-sur-nikname,.user-id {
    height: 37px; font-size: 14px;
    padding: 0 13px 0 18px;
}
.up-wrapper {
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    border-radius: 20PX; /*TODO выровнять радиус*/
}
.ava {
    /*width:100%;*/
    margin: 0 auto;
    overflow-x: auto;
    height: 75%;
    border-radius: 40px;
    margin-top: 23px;
    display: block;
}

canvas{
    margin: -1px;
}
.user-status-verification {
    background-image: url(/assets/img/elision/verification.png);
    background-position: 0px 7px;
    padding: 7px 0 8px 31px;
    margin: 0 13px 0 18px;
    background-repeat: no-repeat;
    font-size: 14px;
}
.first-menu-section, .second-menu-section {
    background-color: white;
    padding: 0 0 6px 17px;
    width: 273px;
    margin: 37px 0 0 0;
    font-size: 18px;
    text-transform: capitalize;
}
.first-menu-section ul, .second-menu-section ul{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}
.first-menu-section ul li , .second-menu-section ul li {
    text-decoration: none;
    width: 100%;
    line-height: 34px;
    cursor: pointer;
}
.first-menu-section  ul li a, .second-menu-section ul li a{
    text-transform: none;
    cursor: pointer;
}
.first-menu-section  ul .active,  .second-menu-section ul .active {
    font-family: myMontserratSemiBold;
    cursor: pointer;
    border-right: 2px #6f56a7 solid;
}
.header {
    /*height: 64px;*/
    width: inherit;
    background-color: white;
}
.hellow-block {
    background-image: url(/assets/img/elision/message-head.png);
    /*#background-position: 0px 0px;*/
    background-repeat: no-repeat;
    padding: 0 0 0 37px;
    margin: 14px 70px 0 50px;
    font-family: myMontserratMedium;
    font-size: 18px;
}
.hello-message{
    margin: 0px;padding: 0px;
}
.name {
    color: #6f56a7;
}
.time{
    font-family: myMontserratRegular;
    font-size: 14px;
    margin: 0px;padding: 0px;
}
button {
    height: 22px; width:22px;
    margin: 12px 17px 12px 0px;
    cursor: pointer;
    border: none;
}
.toggle-top-language {
    background-image: url(/assets/img/elision/lang.png);
    margin-top: 15px;
}
.top-exit-button {
    height: 22px; width:26px;
    background-image: url(/assets/img/elision/exit.png);
    cursor: pointer;
    border: none;
    margin-top: 15px;
    background-color: white;
}
.left, .right{
    background-color: white;
}
.capital-structure-company,
.base-in-portfolios,
.base-company-balance {
    /* background-color: white; */
}
.yours-balance {
    /*background-color: white;*/
    font-family: myMontserratSemiBold;
}
.base-company-balance, .base-in-portfolios {
    /*background-color: white;*/
    font-family: myMontserratMedium;
}
.base-company-balance a, .base-in-portfolios a {
    clear: both;
    display: block;
}
.height-85 {
    height: 85px;
}
.height-165 {
    height: 165px;
}

.yours-balance p,.base-company-balance p, .base-in-portfolios p {
    font-size: 12px;
    text-transform: uppercase;
}
.yours-balance span, .base-company-balance span, .base-in-portfolios span {
    font-size: 26px;
    text-transform: uppercase;
}
.base-company-balance a , .base-in-portfolios a{
    text-decoration: underline;
    font-size:15px;
    size:15px;
}
.finance-courses {
    background-color: #f8f8f8;
    /* background-color: #0064df;*/
    border-radius: 15px;
    margin: 10px 0;
    padding: 1px 0 1px 0;
    width: 170px;
}
.finance-courses ul {
    background-image: url("/assets/img/elision/course.png");
    background-repeat: no-repeat;
    background-position: 15px 10px;
    display: block;
    margin: 13px 0; padding: 0;
    font-family: myMontserratRegular;
    font-size: 16px;
}
.finance-courses ul li {
    background-image: url("/assets/img/elision/i.png");
    background-repeat: no-repeat;
    background-position: 75px 3px;
    text-decoration: none;
    list-style: none;
    margin: 0 0 0 64px; padding: 0;
}
/*
Charts
 */
.chart-1 {
    margin: 22px -10px;
}
.chart-2 {
    margin: 22px -10px;
}
.chart-3 {
    margin: 22px -10px;
}
/*
News
 */
.news {
    background-color: white;
    font-family: myMontserratRegular;
}
.new {
    width: 304px;
    padding: 23px 10px 23px 21px;
    float: left;
}
.n_right{
    padding: 23px 21px 23px 10px!important;
}

.new .subject{
    font-family: myMontserratSemiBold;
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
}
.new .data{
    font-size: 12px;
    float: right;
}
.new .head {
    margin-bottom: 10px;
    cursor: pointer;
}
.new .new-img {
    width: 275px;
    height: 155px;
}
.new h1 {
    font-family: myMontserratSemiBold;
    font-size:14px;
    margin: 20px 0;
    text-transform: capitalize;
    min-height: 42px;
    max-height: 42px;
}
.announce p {
    font-family: myMontserratRegular;
    font-size:12px;
    margin: 15px 0;
}
.new a {
    font-family: myMontserratRegular;
    font-size:14px;
    margin: 6px 0;
    text-decoration: underline;
}
.btn-primary {
    width: fit-content!important;
    height: fit-content!important;
}
.msgCrop {
    position: relative;

    width: 320px;
    height: 320px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    .btns {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 7px;
        .btn {
            border-radius: 50%;
            min-width: 40px;
            height: 40px;
            padding: 0;
            background: #fff;
            color: rgba(0, 0, 0, .8);
            border: none;
            justify-content: center;
            .fa {
                margin: 12px;
            }
            &:hover {
                background-color: #eee !important;
            }
            i {
                margin: 0;
            }
        }
    }
    .circle_mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    img {
        /*transition: transform 200ms;*/
        -webkit-transform-origin: left top;
        transform-origin: left top;
        cursor: -webkit-grab !important;
        /*padding: 300px;*/
    }
}
.session-list {
    padding: 0;
    display: block;
    border-radius: 4px;
    background-color: #6f56a7;
    color: white;
    padding: 5px;
    font-size: smaller;
}
.card-header:first-child {
    border-radius: 0px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: inherit;
    border-bottom: none;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px;
    border-radius: 0px;
}
.card-header {
    padding: 10px;
     border-bottom: 0px solid rgba(0,0,0,0.125);
    min-height: 50px;
    font-weight: bold;
}
.cart-header {
    font-weight: bold;
}

