<div class="card">
    <div class="card-header">
        <h2>Инструменты</h2>
    </div>
    <div class="card-body">          
        <div class="row center-align">
            <div class="col col-6" style="margin:10px 0;">
                <a href="/tools/363" style="color:#212529;">
                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px;" src="/assets/img/user_220x220.png">
                    <h5>Название инструмента</h5>
                    Краткое описание инструмента... Lorem ipsum dolor sit amet, adipiscing elit.
                </a>
            </div>
            <div class="col col-6" style="margin:10px 0;">
                <a href="/tools/363" style="color:#212529;">
                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px;" src="/assets/img/user_220x220.png">
                    <h5>Название инструмента</h5>
                    Краткое описание инструмента... Lorem ipsum dolor sit amet, adipiscing elit.
                </a>
            </div>
            <div class="col col-6" style="margin:10px 0;">
                <a href="/tools/363" style="color:#212529;">
                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px;" src="/assets/img/user_220x220.png">
                    <h5>Название инструмента</h5>
                    Краткое описание инструмента... Lorem ipsum dolor sit amet, adipiscing elit.
                </a>
            </div>
            <div class="col col-6" style="margin:10px 0;">
                <a href="/tools/363" style="color:#212529;">
                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px;" src="/assets/img/user_220x220.png">
                    <h5>Название инструмента</h5>
                    Краткое описание инструмента... Lorem ipsum dolor sit amet, adipiscing elit.
                </a>
            </div>
            <div class="col col-6" style="margin:10px 0;">
                <a href="/tools/363" style="color:#212529;">
                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px;" src="/assets/img/user_220x220.png">
                    <h5>Название инструмента</h5>
                    Краткое описание инструмента... Lorem ipsum dolor sit amet, adipiscing elit.
                </a>
            </div>
        </div>
    </div>
</div>