<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Конструктор лендингов</h3>
            </div>
            <div class="card-body bounty-tab">
                
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">О конструкторе</label>
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">Мои лендинги</label>

                <section id="content1">
                    <div class="col col-12">
                        <h5>Создавайте лендинги и продвигайте свои услуги... Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h5>
                        <h4>Создать лендинг – это просто</h4>
                        Краткая инструкция... Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                        <a href="/partner/"  style="color:black">
                            <div class="row" style="align-items: center;">
                                <img class="user-avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin:0 5px 0 15px;" src="/assets/img/user_55x55.png"><span class="text-muted">Руководство по созданию лендинга.pdf</span>
                            </div>
                        </a>
                    </div>
                    <div class="col col-12">
                        <a href="#" class="btn btn-sm btn-block btn-primary">Создать лендинг</a>
                    </div>
                </section>

                <section id="content2">
                    <div class="col col-12">
                        <div class="user-partner-block scroll-style-1" style="margin-top: 20px;">
                            <div class="col col-6">
                                <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                                <a href="#">trustera.global</a>
                            </div>
                            <div class="col col-6">
                                <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                                <a href="#">trustera.global</a>
                            </div>
                            <div class="col col-6">
                                <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                                <a href="#">trustera.global</a>
                            </div>
                            <div class="col col-6">
                                <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                                <a href="#">trustera.global</a>
                            </div>
                            <div class="col col-6">
                                <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                                <a href="#">trustera.global</a>
                            </div>
                        </div>
                    </div>
                </section> 
            </div>
        </div>
    </div>
</div>