<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="offices-page" ng-controller="officesCtrl">
    <div class="emp-profile animated fadeIn">
        <div ui-view></div>
    </div>
</div>