<div class="page-wrap" ng-init="info.load()">

    <!--Офисы Trustera-->
    <div class="card">
        <div class="card-header flex0 flex-space-between event-header">
            <h2>Офисы Golden DAX</h2>
            <div>
                <a href="/offices/my/" class="btn btn-sm btn-primary">Мои офисы</a>
            </div>
        </div>
        <div class="card-body">
            <!--<div class="new-office-div">
                <a href="/offices/program/" class="btn btn-sm btn-primary" ng-show="!program.loading && program.data">Офисная программа</a>
                <a href="/howopen/" class="btn btn-sm btn-primary">Открыть офис</a>
            </div>-->
            <div class="office-short-container">
                <div class="row">
                    <div class="col-12" ng-repeat="office in info.offices" ng-if="office.visible">
                        <div class="office-short-info" ng-click="info.goToOfficeItem(office.id)">
                            <h4>
                                <span>{{office.title}}</span>
                            </h4>
                            <img ng-src="{{app.domains.avatar}}{{office.photo_url}}" class="w-100 animated fadeIn" style="margin-left: -15px; width: calc(100% + 30px) !important; height: 150px; object-fit: cover;">
                            <div>
                                <div class="office-phone">
                                    <a class="office-number" href="#"><i class="fal fa-phone" aria-hidden="true"></i>&nbsp; {{office.number}}</a>
                                </div>
                                <div class="office-address">
                                    <div class="office-address-text" href="#"><i class="fal fa-map-marker" aria-hidden="true"></i>&nbsp; {{office.address}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
