<div class="page-wrap" ng-init="info.loadItem(true)">

    <div ng-if="info.loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!--Добавление нового сотрудника-->
    <form id="form-addemployee" data-title="Добавление нового сотрудника" class="popup-form animated zoomIn" ng-if="info.office.im_is_chief">
        <div class="popup-form-content">
            <div class="mb-3 animated fadeIn" ng-if="!manage.employee.search.result">
                <div class="flex0 flex-space-between">
                    <label>Для поиска пользователя введите его код либо email</label>
                    <label ng-if="manage.employee.search.loading">Поиск...</label>
                </div>
                <input type="text" ng-model="manage.employee.search.form.q" class="form-control" ng-change="manage.employee.search.submit()">
            </div>
            <div ng-if="manage.employee.search.result" class="animated fadeIn">
                <div class="flex0 mb-3">
                    <div style="line-height: 1em;">
                        <strong>{{manage.employee.search.result.fio}}</strong>
                        <br><span class="text-muted text-mini">@{{manage.employee.search.result.user_login}}</span>
                    </div>
                    <div class="ml-2">
                        <a href="#" class="btn btn-sm btn-secondary" ng-click="manage.employee.search.reset()"><i class="fal fa-trash"></i></a>
                    </div>
                </div>
                <div class="mb-3">
                    <label>ФИО</label>
                    <br><input type="text" ng-model="manage.employee.add.form.fio" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Контактный номер телефона</label>
                    <br><input type="text" ng-model="manage.employee.add.form.phone" class="form-control">
                </div>
                <div>
                    <label>Должность</label>
                    <br><input type="text" ng-model="manage.employee.add.form.position" class="form-control">
                </div>
            </div>
        </div>
        <div class="popup-form-footer" style="padding: 1.25rem;">
            <a href="#" class="btn btn-primary" ng-click="manage.employee.add.submit()" ng-class="{loading: manage.employee.add.loading, disabled: !manage.employee.add.form.user_login || !manage.employee.add.form.fio}">Добавить</a>
        </div>
    </form>

    <!--Добавление нового контакта-->
    <form id="form-addcontact" data-title="Добавление нового контакта" class="popup-form animated zoomIn" ng-if="info.office.im_is_chief">
        <div class="popup-form-content">
            <select ng-model="manage.contacts.add.form.office_contact_type_id" class="form-control">
                <option value="1">Адрес</option>
                <option value="2">Телефон</option>
                <option value="3">Email</option>
                <option value="4">Telegram</option>
                <option value="5">WhatsApp</option>
                <option value="6">Контактное лицо</option>
            </select>
            <div class="mt-3" ng-if="manage.contacts.add.form.office_contact_type_id != 6">
                <label>Значение</label>
                <input type="text" ng-model="manage.contacts.add.form.value" class="form-control">
                <div class="text-muted mt-2" ng-if="manage.contacts.add.form.office_contact_type_id == 1">
                    Вводите адрес начиная с улицы!
                    <br>Не пишите регион и город!
                </div>
            </div>
            <div class="mt-3" ng-if="manage.contacts.add.form.office_contact_type_id == 6">
                <div class="mb-3">
                    <label>ФИО</label>
                    <br><input type="text" ng-model="manage.contacts.add.form.person.fio" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Контактный номер телефона</label>
                    <br><input type="text" ng-model="manage.contacts.add.form.person.phone" class="form-control">
                </div>
                <div>
                    <label>Должность</label>
                    <br><input type="text" ng-model="manage.contacts.add.form.person.position" class="form-control">
                </div>
            </div>
            <!--<div ng-if="manage.employee.search.result" class="animated fadeIn">
                <div class="flex0 mb-3">
                    <div style="line-height: 1em;">
                        <strong>{{manage.employee.search.result.fio}}</strong>
                        <br><span class="text-muted text-mini">@{{manage.employee.search.result.user_login}}</span>
                    </div>
                    <div class="ml-2">
                        <a href="#" class="btn btn-sm btn-secondary" ng-click="manage.employee.search.reset()"><i class="fal fa-trash"></i></a>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="popup-form-footer" style="padding: 1.25rem;">
            <a href="#" class="btn btn-primary" ng-click="manage.contacts.add.submit()" ng-class="{loading: manage.contacts.add.loading, disabled: !manage.contacts.add.canSubmit()}">Добавить</a>
        </div>
    </form>

    <!--Перевод средств-->
    <form id="form-sendmoney" data-title="Перевод средств" class="popup-form animated zoomIn">
        <div class="popup-form-content">
            <div class="animated fadeIn">
                <div class="mb-3">
                    Здесь Вы можете осуществить перевод средств офиса на свой личный счёт.
                </div>
                <div class="mb-3">
                    <label class="text-muted">Введите сумму, доступная сумма:</span> <span>{{info.office.main_wallet.amount / 100000000 | mycurrency:2}} USDT</label>
                    <br><input type="text" ng-model="manage.sendmoney.form.amount" class="form-control">
                </div>
            </div>
        </div>
        <div class="popup-form-footer" style="padding: 1.25rem;">
            <a href="#" class="btn btn-primary" ng-click="manage.sendmoney.submit()" ng-class="{loading: manage.sendmoney.loading, disabled: !manage.sendmoney.form.amount || manage.sendmoney.form.amount < 0 || manage.sendmoney.form.amount > info.office.main_wallet.amount / 100000000}">Отправить</a>
        </div>
    </form>

    <div class="card animated fadeIn" ng-if="!info.loading">
        <div class="card-header flex0 flex-space-between event-header">
            <h2><a ng-href="/offices/my/" class="btn btn-secondary" ng-click="info.changeBool('isEvent')"><i class="fal fa-arrow-left"></i></a> Управление "{{info.office.title}}"</h2>
        </div>
        <div id="office-manage-photo" ng-class="{loading: manage.photo.loading}">
            <img ng-src="{{app.domains.avatar}}{{info.office.photo_url}}" class="w-100">
            <input style="position: absolute; left: -10000px; opacity: 0;" id="input-manage-photo" type="file" onchange="angular.element(this).scope().manage.photo.processCFAttachImage(this.files)" accept="image/gif,image/png,image/jpeg">
            <div class="flex0 flex-center hv text-white" ng-click="manage.photo.select()">
                <i class="fal fa-upload mr-2"></i>
                Загрузить фотографию
            </div>
        </div>
        <div class="card-body">
            <div class="office-contact-description" ng-if="false">
                <h2 class="office-head-text">Описание</h2>
                <div class="office-description">
                    {{info.office.description}}
                </div>
                <div class="contact-social-container">
                    <!--<div class="office-social-link-container">
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.instagram}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.facebook}}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.vk}}" target="_blank"><i class="fab fa-vk" aria-hidden="true"></i></a>
                        </div>
                    </div>-->
                    <div class="contact-container">
                        <a class="office-number">
                            <i class="fal fa-phone" aria-hidden="true"></i>
                            &nbsp{{info.office.number}}
                        </a>
                        <a class="office-address"><i class="fal fa-map-marker" aria-hidden="true"></i>&nbsp{{info.office.address}}</a>
                    </div>
                </div>
            </div>

            <!-- <section id="command-gallery">

                <div class="row" style="margin-bottom: 0;">
                    <div class="col-md-6">
                        <h4>Команда офиса
                            <a href="#" class="btn btn-secondary btn-sm" ng-if="info.office.im_is_chief" ng-click="manage.employee.add.open()"><i class="fal fa-plus-circle"></i></a>
                        </h4>
                        <div class="command-card scroll-style-1" style="height: auto; overflow: auto;">
                            <div class="command-user-card" ng-repeat="employee in info.office.users">
                                <div class="command-user-img" style="background: url({{app.domains.avatar}}{{employee.avatar[2]}}); background-size: cover !important;">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                <!-- </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        {{employee.fio}}
                                    </div>
                                    <div class="command-user-role">
                                        <i class="fa fa-star" ng-if="employee.is_cheef == 1"></i> {{employee.position}}
                                        <div ng-if="employee.phone">
                                            <i class="fa fa-phone"></i> {{employee.phone}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Счета</h4>
                        <div>
                            <span class="text-muted">Заблокированная сумма:</span> <span>{{info.office.partner_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                        </div>
                        <div>
                            <span class="text-muted">Доступная сумма:</span> <span>{{info.office.main_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                            <div class="mt-2" ng-i f="info.office.main_wallet.amount > 0">
                                <a href="#" class="btn btn-sm btn-primary" ng-click="manage.sendmoney.open()" ng-class="{disabled: info.office.main_wallet.amount == 0 || (program.data && !program.data.ok)}">Перевод</a>
                                <div ng-if="program.data && !program.data.ok" class="mt-2">
                                    <i class="fal fa-exclamation-triangle"></i> Перевод недоступен, т.к. невыполнена офисная программа
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6" ng-if="false">
                        <h4>Галерея</h4>
                        <div class="gallery-card scroll-style-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="/assets/img/logo/logo.png" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img"> -->
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    <!-- </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

            </section> -->

        </div>
    </div>


    <div class="emp-profile animated fadeIn"  style="padding-top: 20px;
    margin-bottom: 20px;" ng-init="info.loadEvents()">
        <!-- <nav>
            <div class="nav nav-tabs" id="nav-tab-cheb" role="tablist" style="text-align: center;" aria-orientation="vertical">
            <a class="nav-tab-border-style-first nav-tab-vert nav-item nav-link active" style="border-color: #2f313a;" id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab" aria-controls="nav-event" aria-selected="true">Мероприятие</a>
            <a class="nav-tab-vert nav-item nav-link" style="border-radius: none; border-left: 2px solid black;  border-color: #2f313a;" id="nav-office-tab" data-toggle="tab" href="#nav-office" role="tab" aria-controls="nav-office" aria-selected="false">Офисная программа</a>
            <a class="nav-tab-vert nav-item nav-link" style="border-radius: none; border-left: 2px solid black;  border-color: #2f313a;" id="nav-command-tab" data-toggle="tab" href="#nav-command" role="tab" aria-controls="nav-command" aria-selected="false">Команда</a>
            <a class="nav-tab-border-style-fourth nav-tab-vert nav-item nav-link" style="border-left: 2px solid black;  border-color: #2f313a;" id="nav-event-tab" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Контакты</a>
            </div>
        </nav> -->
        <div class="popup-form-content p-0">
            <div class="card" ng-init = "info.selectEvent()">
                <div class="card-header event-tabs-list">
                    <div class="text-center card-tab" ng-class="{active: info.isEvent}" ng-click="info.changeBool('isEvent')">
                        <p>Мероприятие</p>
                    </div>
                    <div class="text-center card-tab" ng-class="{active: info.isOffice}" ng-click="info.changeBool('isOffice')">
                        <p>Офисная программа</p>
                    </div>
                    <div class="text-center card-tab" ng-class="{active: info.isTeam}" ng-click="info.changeBool('isTeam')">
                        <p>Команда</p>
                    </div>
                    <div class="text-center card-tab" ng-class="{active: info.isContact}" ng-click="info.changeBool('isContact')">
                        <p>Контакты</p>
                    </div>
                </div>

        <!-- <div class="tab-content" id="nav-tabContent"> -->
            <div ng-if="info.isEvent" style="text-align: center;">
                <div class="emp-profile animated fadeIn" style="padding-top: 20px; background: #2f3139;">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab-cheb" role="tablist" style="margin: 0px 20px 0px 20px;">
                            <a class="nav-item nav-link active" style="border-top-left-radius: 15px;
                                width: 50%; border-color: #42454e;" id="nav-list-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="true">Список</a>
                            <a class="nav-item nav-link" style="border-top-right-radius: 15px;
                                width: 50%; border-color: #42454e;" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-contact" aria-selected="false">История</a>
                        </div>
                    </nav>
                    <div class="tab-content card" style="padding: 0px 20px 20px 20px;">
                        <div class="card-header event-header" style="border-radius: 0px;">
                            <span>СПИСОК МЕРОПРИЯТИЙ</span>
                        </div>
                         <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                            <div class="card-body events-body" ng-init="info.loadoffices()">
                                <div ng-if="info.data.length == 0" class="text-center text-muted pt-2">
                                    На данный момент нет предстоящих мероприятий
                                </div>
                                <ul class="list" ng-if="info.event_cases_visible_count > 0">
                                    <li class="list-item" ng-repeat="e in info.data" ng-if="e.in_future && e.is_active && e.office_id==info.office.id">
                                        <a ng-href="#" class="p-3" style="color: inherit;">
                                            <div class="flex0 justify-content-between">
                                                <div style="flex:1;margin-right: 15px;">
                                                    <div class="row align-items-center mb-0">
                                                        <div class="col-sm-12 col-md-5 text-white">
                                                            <i class="fas fa-calendar-alt text-gold mr-1"></i>{{e.dt | datetime}}
                                                            <span class="badge badge-secondary text-gold">{{e.dt | date_weekday}}</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">{{e.custom_address}}</div>
                                                    </div>
                                                    <div>
                                                        <h5 class="text-white" style="margin: 5px 0 0 0;">{{e.title}}</h5>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div ng-repeat="item in e.price_list | filter: {is_actual: true}" href="#" class="ticket-price text-nowrap mb-1">
                                                        <span ng-if="item.qwertypay_ticket">{{item.qwertypay_ticket.price}} руб.</span>
                                                        <span ng-if="!item.qwertypay_ticket">{{item.amount_usdt / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
                                                    </div>
                                                    <div ng-if="(e.price_list | filter: {is_actual: true}).length == 0" href="#" class="ticket-price text-nowrap">Бесплатно</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab" >
                            <div class="card-body events-body">
                                <div ng-if="info.dataHist.length == 0" class="text-center text-muted pt-2">
                                    Список пуст
                                </div>
                                <ul class="list">
                                    <li class="list-item" ng-repeat="e in info.dataHist | filter: {in_future: false} | orderBy:'-'" ng-if="e.is_active && e.office_id==info.office.id">
                                        <a ng-href="#" class="p-3" style="color: inherit;">
                                            <div class="flex0 justify-content-between">
                                                <div style="flex:1;margin-right: 15px;">
                                                    <div class="row align-items-center mb-0">
                                                        <div class="col-sm-12 col-md-5 text-white">
                                                            <i class="fas fa-calendar-alt text-gold mr-1"></i>{{e.dt | datetime}}
                                                            <span class="badge badge-secondary text-gold">{{e.dt | date_weekday}}</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">{{e.custom_address}}</div>
                                                    </div>
                                                    <div>
                                                        <h5 class="text-white" style="margin: 5px 0 0 0;">{{e.title}}</h5>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div ng-if="e.is_visited" style="font-size: 20px;"><i class="far fa-check-circle"></i></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
<!-- 
      <div class="card mt-4" ng-show="!program.loading && program.data" ng-init="program.load()">
        <div class="card-header flex0 flex-space-between event-header">
            <h2>
                <a ng-href="/offices/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a>
                Офисная программа
                <br>
                    <span ng-if="program.data.ok" class="badge badge-success">Условия выполнены</span>
                    <span ng-if="!program.data.ok" class="badge badge-danger">Условия не выполнены</span>
            </h2>
        </div>
        <div class="card-body">
            <div ng-if="program.loading">
                <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
            </div>
            <div ng-if="!program.loading">
                <span class="text-muted">Регион офиса:</span> <strong>{{program.data.region_title}}</strong>
                <br>
                <span class="text-muted">Период:</span> <strong>{{program.data.period_title}}</strong>
                <br><br>
                <h5>Условия выполнения:</h5>
                <span class="text-muted">Контрактная сумма новых счетов:</span> <strong>{{program.data.limit_sum.fact}} из {{program.data.limit_sum.need}} USDT</strong>
                <br><span class="text-muted">Количество новых клиентов (кроме Intro):</span> <strong>{{program.data.standart_count.fact}} из {{program.data.standart_count.need}}</strong>
                <span title="Учитываются только новые клиенты, зарегистрировавшиеся в отчётный период и открывшие счета Standard и Trust" class="cpointer"><i class="fal fa-question-circle"></i></span>
            </div>
        </div>
    </div> -->
            
            <div ng-if="info.isOffice" style="padding: 10px; background: #33353d;" ng-init="program.load()">
                <div class="card col-md-6" style="padding: 10px; min-width: 100%;">
                    <div class="card-header flex0 flex-space-between event-header">
                        <h2>
                            <!-- <a ng-href="/offices/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> -->
                            Офисная программа
                            <br>
                                <span ng-if="program.data.ok" class="badge badge-success">Условия выполнены</span>
                                <span ng-if="!program.data.ok" class="badge badge-danger">Условия не выполнены</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div ng-if="program.loading">
                            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                        </div>
                        <div ng-if="!program.loading">
                            <span class="text-muted">Регион офиса:</span> <strong>{{program.data.region_title}}</strong>
                            <br>
                            <span class="text-muted">Период:</span> <strong>{{program.data.period_title}}</strong>
                            <br><br>
                            <h5>Условия выполнения:</h5>
                            <!-- <span class="text-muted">Контрактная сумма новых счетов:</span> <strong>{{program.data.limit_sum.fact}} из {{program.data.limit_sum.need}} USDT</strong>
                            <br><span class="text-muted">Количество новых клиентов (кроме Intro):</span> <strong>{{program.data.standart_count.fact}} из {{program.data.standart_count.need}}</strong>
                            <span title="Учитываются только новые клиенты, зарегистрировавшиеся в отчётный период и открывшие счета Standard и Trust" class="cpointer"><i class="fal fa-question-circle"></i></span> -->
                            <span class="text-muted">Объём продаж города: </span> <strong>{{program.data.sum_wallet}} из {{program.data.limit_sum.need}} USDT</strong>
                            <br><span style="font-size: 12px; color: #6c757d!important;"> В зачёт идут любые продажи счетов Trustera, покупателями которых стали клиенты имеющие регион регистрации {{program.data.region}} и указавшие город {{program.data.city}}. Нет привязки к команде.</span>
                            <br><span class="text-muted">Количество новых клиентов: </span> <strong>{{program.data.standart_count.fact}} из {{program.data.standart_count.need}}</strong>
                            <!-- <span title="Учитываются только новые клиенты, зарегистрировавшиеся в отчётный период и открывшие счета Standard и Trust" class="cpointer"><i class="fal fa-question-circle"></i></span> -->
                            <!-- <span title="В зачет идут клиенты, которые совершили любые покупки и указавшие город {{program.data.city}} в своем аккаунте клиента. При этом только те клиенты, которые находятся в команде руководителя офиса." class="cpointer"><i class="fal fa-question-circle"></i></span> -->
                            <br><span style="font-size: 12px; color: #6c757d!important;">В зачет идут клиенты, которые совершили любые покупки и указавшие город {{program.data.city}} в своем аккаунте клиента. При этом только те клиенты, которые находятся в команде руководителя офиса.</span>
                        </div>
                    </div>
                </div>

                <div class="card col-md-6" style="padding: 10px; min-width: 100%;">
                    <h4 class="card-header">Счета</h4>
                    <div class="card-body" style="border-radius: 0px;">
                        <span class="text-muted">Заблокированная сумма:</span> <span>{{info.office.partner_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                    </div>
                    <div class="card-body">
                        <span class="text-muted">Доступная сумма:</span> <span>{{info.office.main_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                        <div class="mt-2" ng-i f="info.office.main_wallet.amount > 0">
                            <a href="#" class="btn btn-sm btn-primary" ng-click="manage.sendmoney.open()" ng-class="{disabled: info.office.main_wallet.amount == 0 || (program.data && !program.data.ok)}">Перевод</a>
                            <div ng-if="program.data && !program.data.ok" class="mt-2">
                                <i class="fal fa-exclamation-triangle"></i> Перевод недоступен, т.к. невыполнена офисная программа
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card mt-4" style="padding: 10px;">
                    <div class="card-header flex0 flex-space-between event-header">
                        <h2>
                            Оплаченные АЖИО
                        </h2>
                    </div>
                    <div class="card-body" style="padding: 0;">
                        <table class="table-responsive table table-striped table-dark" style="color: #bda076;" ng-if="program.data.dax_wallet_operation_list.length">
                            <tr>
                                <th scope="col">Комиссия</th>
                                <th scope="col">Бонус</th>
                                <th scope="col">Дата</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Username</th>
                            </tr>
                            <tr scope="row" ng-repeat="item in program.data.dax_wallet_operation_list"> 
                                <td><span>{{item.amount / app.BTC_SATOCHI | number:2}} USDT</td>
                                <td><span>{{item.amount / app.BTC_SATOCHI * 0.03 | number:2}} USDT</td>
                                <td><span>{{item.dt | datetime}}</span></td>
                                <td><span>{{item.user_fio}}</td>
                                <td><span>{{item.user_user_login}}</td>
                            </tr>
                        </table>
                        <div class="m-4 text-center text-muted" ng-if="!program.data.dax_wallet_operation_list.length">
                            Нет данных
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="info.isTeam" style="padding: 20px; background: #33353d;">
                <section>

                    <div class="row card" style="margin-bottom: 0;">
                        <div class="col-md-6" style="min-width: 100%;">
                            <h4 class="card-header">Команда офиса
                                <a href="#" class="btn btn-secondary btn-sm" ng-if="info.office.im_is_chief" ng-click="manage.employee.add.open()"><i class="fal fa-plus-circle"></i></a>
                            </h4>
                            <div class="card-body command-card scroll-style-1" style="height: auto; overflow: auto;">
                                <div class="command-user-card" ng-repeat="employee in info.office.users">
                                    <div class="command-user-img" style="background: url({{app.domains.avatar}}{{employee.avatar[2]}}); background-size: cover !important;">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                    <div class="command-user-info">
                                        <div class="command-user-name">
                                            {{employee.fio}}
                                        </div>
                                        <div class="command-user-role">
                                            <i class="fa fa-star" ng-if="employee.is_cheef == 1"></i> {{employee.position}}
                                            <div ng-if="employee.phone">
                                                <i class="fa fa-phone"></i> {{employee.phone}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <h4>Счета</h4>
                            <div>
                                <span class="text-muted">Заблокированная сумма:</span> <span>{{info.office.partner_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                            </div>
                            <div>
                                <span class="text-muted">Доступная сумма:</span> <span>{{info.office.main_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                                <div class="mt-2" ng-i f="info.office.main_wallet.amount > 0">
                                    <a href="#" class="btn btn-sm btn-primary" ng-click="manage.sendmoney.open()" ng-class="{disabled: info.office.main_wallet.amount == 0 || (program.data && !program.data.ok)}">Перевод</a>
                                    <div ng-if="program.data && !program.data.ok" class="mt-2">
                                        <i class="fal fa-exclamation-triangle"></i> Перевод недоступен, т.к. невыполнена офисная программа
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6" ng-if="false">
                            <h4>Галерея</h4>
                            <div class="gallery-card scroll-style-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="/assets/img/logo/logo.png" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </section>
            </div>
            <div ng-if="info.isContact" style="padding: 0px 20px 0px 20px; background: #33353d;">
                <div class="card mt-4 animated fadeIn" ng-if="!info.loading">
                    <div class="card-header flex0 flex-space-between event-header">
                        <h2>Контакты</h2>
                        <a href="#" class="btn btn-secondary btn-sm" ng-if="info.office.im_is_chief" ng-click="manage.contacts.add.open()"><i class="fal fa-plus-circle"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col-md-12">
                                <div>
                                    <div class="text-muted text-center" ng-if="info.office.contact_list.length < 1">
                                        Список пуст
                                    </div>
                                    <div ng-repeat="item in info.office.contact_list" class="mb-3">
                                        <div ng-if="item.office_contact_type_id == 6">
                                            <label>{{item.office_contact_type_title}}:</label>
                                            <div>
                                                <div><span class="text-muted">ФИО: </span> {{item.value_object.fio}}</div>
                                                <div><span class="text-muted">Телефон:</span> {{item.value_object.phone}}</div>
                                                <div><span class="text-muted">Должность:</span> {{item.value_object.position}}</div>
                                            </div>
                                        </div>
                                        <div ng-if="item.office_contact_type_id != 6">
                                            <label>{{item.office_contact_type_title}}:</label>
                                            <div>{{item.value}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
    <!-- <div class="emp-profile animated fadeIn"  style="padding-top: 20px;
    margin-bottom: 20px;">
        <nav>
            <div class="nav nav-tabs" id="nav-tab-cheb" role="tablist" style="text-align: center;" aria-orientation="vertical">
            <a class="nav-tab-border-style-first nav-tab-vert nav-item nav-link active" style="border-color: #2f313a;" id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab" aria-controls="nav-event" aria-selected="true">Мероприятие</a>
            <a class="nav-tab-vert nav-item nav-link" style="border-radius: none; border-left: 2px solid black;  border-color: #2f313a;" id="nav-office-tab" data-toggle="tab" href="#nav-office" role="tab" aria-controls="nav-office" aria-selected="false">Офисная программа</a>
            <a class="nav-tab-vert nav-item nav-link" style="border-radius: none; border-left: 2px solid black;  border-color: #2f313a;" id="nav-command-tab" data-toggle="tab" href="#nav-command" role="tab" aria-controls="nav-command" aria-selected="false">Команда</a>
            <a class="nav-tab-border-style-fourth nav-tab-vert nav-item nav-link" style="border-left: 2px solid black;  border-color: #2f313a;" id="nav-event-tab" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Контакты</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab" style="text-align: center;">
                <div class="emp-profile animated fadeIn" style="padding-top: 20px; background: #2f3139;">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab-cheb" role="tablist" style="margin: 0px 20px 0px 20px;">
                            <a class="nav-item nav-link active" style="border-top-left-radius: 15px;
                                width: 50%; border-color: #42454e;" id="nav-list-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="true">Список</a>
                            <a class="nav-item nav-link" style="border-top-right-radius: 15px;
                                width: 50%; border-color: #42454e;" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-contact" aria-selected="false">История</a>
                        </div>
                    </nav>
                    <div class="tab-content card" id="nav-tabContent" style="padding: 0px 20px 20px 20px;">
                        <div class="card-header event-header" style="border-radius: 0px;">
                            <span>СПИСОК МЕРОПРИЯТИЙ</span>
                        </div>
                        <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab" ng-init="info.loadEvents()">
                            <div class="card-body events-body" ng-init="info.loadoffices()">
                                <div ng-if="info.data.length == 0" class="text-center text-muted pt-2">
                                    На данный момент нет предстоящих мероприятий
                                </div>
                                <ul class="list" ng-if="info.event_cases_visible_count > 0">
                                    <li class="list-item" ng-repeat="e in info.data" ng-if="e.in_future && e.is_active && e.office_id==info.office.id">
                                        <a ng-href="#" class="p-3" style="color: inherit;">
                                            <div class="flex0 justify-content-between">
                                                <div style="flex:1;margin-right: 15px;">
                                                    <div class="row align-items-center mb-0">
                                                        <div class="col-sm-12 col-md-5 text-white">
                                                            <i class="fas fa-calendar-alt text-gold mr-1"></i>{{e.dt | datetime}}
                                                            <span class="badge badge-secondary text-gold">{{e.dt | date_weekday}}</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">{{e.custom_address}}</div>
                                                    </div>
                                                    <div>
                                                        <h5 class="text-white" style="margin: 5px 0 0 0;">{{e.title}}</h5>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div ng-repeat="item in e.price_list | filter: {is_actual: true}" href="#" class="ticket-price text-nowrap mb-1">
                                                        <span ng-if="item.qwertypay_ticket">{{item.qwertypay_ticket.price}} руб.</span>
                                                        <span ng-if="!item.qwertypay_ticket">{{item.amount_usdt / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
                                                    </div>
                                                    <div ng-if="(e.price_list | filter: {is_actual: true}).length == 0" href="#" class="ticket-price text-nowrap">Бесплатно</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab" ng-init="info.loadEvents()">
                            <div class="card-body events-body" ng-init="info.loadoffices()">
                                <div ng-if="info.dataHist.length == 0" class="text-center text-muted pt-2">
                                    Список пуст
                                </div>
                                <ul class="list">
                                    <li class="list-item" ng-repeat="e in info.dataHist | filter: {in_future: false} | orderBy:'-'" ng-if="e.is_active && e.office_id==info.office.id">
                                        <a ng-href="#" class="p-3" style="color: inherit;">
                                            <div class="flex0 justify-content-between">
                                                <div style="flex:1;margin-right: 15px;">
                                                    <div class="row align-items-center mb-0">
                                                        <div class="col-sm-12 col-md-5 text-white">
                                                            <i class="fas fa-calendar-alt text-gold mr-1"></i>{{e.dt | datetime}}
                                                            <span class="badge badge-secondary text-gold">{{e.dt | date_weekday}}</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">{{e.custom_address}}</div>
                                                    </div>
                                                    <div>
                                                        <h5 class="text-white" style="margin: 5px 0 0 0;">{{e.title}}</h5>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div ng-if="e.is_visited" style="font-size: 20px;"><i class="far fa-check-circle"></i></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-office" role="tabpanel" aria-labelledby="nav-office-tab" style="padding: 10px;" ng-init="program.load()">
                <div class="card col-md-6" style="padding: 10px;">
                    <h4 class="card-header">Счета</h4>
                    <div class="card-body" style="border-radius: 0px;">
                        <span class="text-muted">Заблокированная сумма:</span> <span>{{info.office.partner_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                    </div>
                    <div class="card-body">
                        <span class="text-muted">Доступная сумма:</span> <span>{{info.office.main_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                        <div class="mt-2" ng-i f="info.office.main_wallet.amount > 0">
                            <a href="#" class="btn btn-sm btn-primary" ng-click="manage.sendmoney.open()" ng-class="{disabled: info.office.main_wallet.amount == 0 || (program.data && !program.data.ok)}">Перевод</a>
                            <div ng-if="program.data && !program.data.ok" class="mt-2">
                                <i class="fal fa-exclamation-triangle"></i> Перевод недоступен, т.к. невыполнена офисная программа
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card mt-4" style="padding: 10px;">
                    <div class="card-header flex0 flex-space-between event-header">
                        <h2>
                            Оплаченные АЖИО
                        </h2>
                    </div>
                    <div class="card-body" style="padding: 0;">
                        <table class="table-responsive table table-striped table-dark" style="color: #bda076;" ng-if="program.data.dax_wallet_operation_list.length">
                            <tr>
                                <th scope="col">Сумма</th>
                                <th scope="col">%</th>
                                <th scope="col">Дата</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Username</th>
                            </tr>
                            <tr scope="row" ng-repeat="item in program.data.dax_wallet_operation_list">
                                <td><span>{{item.amount / app.BTC_SATOCHI | number:2}} USDT</td>
                                <td><span>{{item.amount / app.BTC_SATOCHI * 0.05 | number:2}} USDT</td>
                                <td><span>{{item.dt | datetime}}</span></td>
                                <td><span>{{item.user_fio}}</td>
                                <td><span>{{item.user_user_login}}</td>
                            </tr>
                        </table>
                        <div class="m-4 text-center text-muted" ng-if="!program.data.dax_wallet_operation_list.length">
                            Нет данных
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-command" role="tabpanel" aria-labelledby="nav-command-tab" style="padding: 20px;">
                <section id="command-gallery">

                    <div class="row card" style="margin-bottom: 0;">
                        <div class="col-md-6">
                            <h4 class="card-header">Команда офиса
                                <a href="#" class="btn btn-secondary btn-sm" ng-if="info.office.im_is_chief" ng-click="manage.employee.add.open()"><i class="fal fa-plus-circle"></i></a>
                            </h4>
                            <div class="card-body command-card scroll-style-1" style="height: auto; overflow: auto;">
                                <div class="command-user-card" ng-repeat="employee in info.office.users">
                                    <div class="command-user-img" style="background: url({{app.domains.avatar}}{{employee.avatar[2]}}); background-size: cover !important;">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                    </div>
                                    <div class="command-user-info">
                                        <div class="command-user-name">
                                            {{employee.fio}}
                                        </div>
                                        <div class="command-user-role">
                                            <i class="fa fa-star" ng-if="employee.is_cheef == 1"></i> {{employee.position}}
                                            <div ng-if="employee.phone">
                                                <i class="fa fa-phone"></i> {{employee.phone}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <h4>Счета</h4>
                            <div>
                                <span class="text-muted">Заблокированная сумма:</span> <span>{{info.office.partner_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                            </div>
                            <div>
                                <span class="text-muted">Доступная сумма:</span> <span>{{info.office.main_wallet.amount / 100000000 | mycurrency:2}} USDT</span>
                                <div class="mt-2" ng-i f="info.office.main_wallet.amount > 0">
                                    <a href="#" class="btn btn-sm btn-primary" ng-click="manage.sendmoney.open()" ng-class="{disabled: info.office.main_wallet.amount == 0 || (program.data && !program.data.ok)}">Перевод</a>
                                    <div ng-if="program.data && !program.data.ok" class="mt-2">
                                        <i class="fal fa-exclamation-triangle"></i> Перевод недоступен, т.к. невыполнена офисная программа
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6" ng-if="false">
                            <h4>Галерея</h4>
                            <div class="gallery-card scroll-style-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="/assets/img/logo/logo.png" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="office-gallery-img">
                                            <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </section>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding: 0px 20px 0px 20px;">
                <div class="card mt-4 animated fadeIn" ng-if="!info.loading">
                    <div class="card-header flex0 flex-space-between event-header">
                        <h2>Контакты</h2>
                        <a href="#" class="btn btn-secondary btn-sm" ng-if="info.office.im_is_chief" ng-click="manage.contacts.add.open()"><i class="fal fa-plus-circle"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col-md-12">
                                <div>
                                    <div class="text-muted text-center" ng-if="info.office.contact_list.length < 1">
                                        Список пуст
                                    </div>
                                    <div ng-repeat="item in info.office.contact_list" class="mb-3">
                                        <div ng-if="item.office_contact_type_id == 6">
                                            <label>{{item.office_contact_type_title}}:</label>
                                            <div>
                                                <div><span class="text-muted">ФИО: </span> {{item.value_object.fio}}</div>
                                                <div><span class="text-muted">Телефон:</span> {{item.value_object.phone}}</div>
                                                <div><span class="text-muted">Должность:</span> {{item.value_object.position}}</div>
                                            </div>
                                        </div>
                                        <div ng-if="item.office_contact_type_id != 6">
                                            <label>{{item.office_contact_type_title}}:</label>
                                            <div>{{item.value}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="card mt-4 animated fadeIn" ng-if="!info.loading">
        <div class="card-header flex0 flex-space-between event-header">
            <h2>Контакты</h2>
            <a href="#" class="btn btn-secondary btn-sm" ng-if="info.office.im_is_chief" ng-click="manage.contacts.add.open()"><i class="fal fa-plus-circle"></i></a>
        </div>
        <div class="card-body">
            <div class="row" style="margin-bottom: 0;">
                <div class="col-md-12">
                    <div>
                        <div class="text-muted text-center" ng-if="info.office.contact_list.length < 1">
                            Список пуст
                        </div>
                        <div ng-repeat="item in info.office.contact_list" class="mb-3">
                            <div ng-if="item.office_contact_type_id == 6">
                                <label>{{item.office_contact_type_title}}:</label>
                                <div>
                                    <div><span class="text-muted">ФИО: </span> {{item.value_object.fio}}</div>
                                    <div><span class="text-muted">Телефон:</span> {{item.value_object.phone}}</div>
                                    <div><span class="text-muted">Должность:</span> {{item.value_object.position}}</div>
                                </div>
                            </div>
                            <div ng-if="item.office_contact_type_id != 6">
                                <label>{{item.office_contact_type_title}}:</label>
                                <div>{{item.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!--Офисная программа-->
    <!-- <div class="card mt-4" ng-show="!program.loading && program.data" ng-init="program.load()">
        <div class="card-header flex0 flex-space-between event-header">
            <h2> -->
                <!--<a ng-href="/offices/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> -->
                <!-- Офисная программа -->
                <!-- <br>
                    <span ng-if="program.data.ok" class="badge badge-success">Условия выполнены</span>
                    <span ng-if="!program.data.ok" class="badge badge-danger">Условия не выполнены</span>
            </h2>
        </div>
        <div class="card-body">
            <div ng-if="program.loading">
                <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
            </div>
            <div ng-if="!program.loading"> -->
                <!--<span class="text-muted">Регион офиса:</span> <strong>{{program.data.region_title}}</strong>
                <br>-->
                <!-- <span class="text-muted">Период:</span> <strong>{{program.data.period_title}}</strong>
                <br><br>
                <h5>Условия выполнения:</h5>
                <span class="text-muted">Контрактная сумма новых счетов:</span> <strong>{{program.data.limit_sum.fact}} из {{program.data.limit_sum.need}} USDT</strong>
                <br><span class="text-muted">Количество новых клиентов (кроме Intro):</span> <strong>{{program.data.standart_count.fact}} из {{program.data.standart_count.need}}</strong>
                <span title="Учитываются только новые клиенты, зарегистрировавшиеся в отчётный период и открывшие счета Standard и Trust" class="cpointer"><i class="fal fa-question-circle"></i></span>
            </div>
        </div>
    </div> -->

    <!-- <div class="card mt-4">
        <div class="card-header flex0 flex-space-between event-header">
            <h2> -->
                <!--<a ng-href="/offices/" class="event-title" href="/offices/"><i style="color: white;" class="fas fa-chevron-left"></i></a>-->
                <!-- Оплаченные АЖИО -->
                <!-- в регионе {{program.data.region_title}}-->
            <!-- </h2>
        </div>
        <div class="card-body" style="padding: 0;">
            <table class="table table-striped table-dark" style="color: #bda076;" ng-if="program.data.dax_wallet_operation_list.length">
                <tr>
                    <th scope="col">Сумма</th>
                    <th scope="col">%</th>
                    <th scope="col">Дата</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Username</th>
                </tr>
                <tr scope="row" ng-repeat="item in program.data.dax_wallet_operation_list">
                    <td><span>{{item.amount / app.BTC_SATOCHI | number:2}} USDT</td>
                    <td><span>{{item.amount / app.BTC_SATOCHI * 0.05 | number:2}} USDT</td>
                    <td><span>{{item.dt | datetime}}</span></td>
                    <td><span>{{item.user_fio}}</td>
                    <td><span>{{item.user_user_login}}</td>
                </tr>
            </table>
            <div class="m-4 text-center text-muted" ng-if="!program.data.dax_wallet_operation_list.length">
                Нет данных
            </div>
        </div>
    </div> -->

</div>