<div class="page-wrap" ng-init="info.load(true)">

    <!--Офисы Trustera-->
    <div class="card">
        <div class="card-header flex0 flex-space-between event-header">
            <h2><a ng-href="/offices/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> Мои офисы</h2>
            <a href="/howopen/" class="btn btn-sm btn-primary">Открыть офис</a>
        </div>
        <div class="card-body">

            <!--Заявки-->
            <div ng-show="requests.loading" ng-init="requests.load()">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>

            <div class="offices-my">
                <div class="row">

                    <div class="container office-short-container">
                        <div class="row">
                            <div class="col-12 mt-5 text-center text-muted" ng-if="!info.loading && info.myCount() == 0">
                                У Вас нет ни одного офиса
                            </div>
                            <!--Заявки-->
                            <div class="col-md-12 office-item-request" ng-if="!requests.loading" ng-repeat="office in requests.list">
                                <div class="office-short-info" style="cursor: default;">
                                    <h4>
                                        <span>{{office.title}}</span>
                                    </h4>
                                    <!--<hr>-->
                                    <div>
                                        <!--<div class="office-phone">
                                            <a class="office-number" href="#"><i class="fal fa-phone" aria-hidden="true"></i>&nbsp; {{office.number}}</a>
                                        </div>-->
                                        <!--<div class="office-phone">
                                            <div class="office-number">
                                                <i class="fal fa-phone" aria-hidden="true"></i>&nbsp;
                                                <span class="text-muted">Не указан</span>
                                            </div>
                                        </div>-->
                                        <div class="office-address">
                                            <div class="office-address-text">
                                                <i class="fal fa-map-marker" aria-hidden="true"></i>&nbsp;
                                                {{office.address}}
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top: 0;">
                                        <div>
                                            <span>{{office.office_request_status_title}}</span>
                                            <a class="btn btn-primary btn-sm disabled" href="/offices/manage/{{office.id}}" style="visibility: hidden; margin-left: 5px; border-radius: .2rem; padding: .25rem .5rem; font-size: 10px;">Смотреть</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Офисы-->
                            <div class="col-md-12" ng-repeat="office in info.offices" ng-if="!requests.loading && office.i_can_edit">
                                <div class="office-short-info" ng-c_li_ck="info.goToOfficeManage(office.id)" style="cursor: default;">
                                    <h4 ng-click="info.goToOfficeItem(office.id)" class="cpointer">
                                        <span>{{office.title}}</span>
                                        <i class="fal fa-eye-slash" ng-if="!office.visible" title="Офис не отображается в списке всех офисов, так как основная информация еще не заполнена"></i>
                                    </h4>
                                    <!--<hr>-->
                                    <div>
                                        <!--<div class="office-phone">
                                            <div class="office-number">
                                                <i class="fal fa-phone" aria-hidden="true"></i>&nbsp;
                                                <span class="text-muted" ng-if="office.number">{{office.number}}</span>
                                                <span class="text-muted" ng-if="!office.number">Не указан</span>
                                            </div>
                                        </div>-->
                                        <div class="office-address">
                                            <div class="office-address-text">
                                                <i class="fal fa-map-marker" aria-hidden="true"></i>&nbsp;
                                                <span ng-if="office.address">{{office.address}}</span>
                                                <span class="text-muted" ng-if="!office.address">Не указан</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top: 0;">
                                        <div>
                                            <span>{{office.office_status_title}}</span>
                                            <a class="btn btn-primary btn-sm" href="/offices/manage/{{office.id}}" style="margin-left: 5px; border-radius: .2rem; padding: .25rem .5rem; font-size: 10px;">Управлять</a>
                                        </div>
                                        <div ng-if="!office.visible" class="bg-danger text-white card mt-3">
                                            <div class="m-2" ng-if="office.office_status_id == 1">
                                                <i class="fa fa-exclamation-triangle"></i>
                                                Офис не будет открыт и не появится в списке всех офисов, так как основная информация еще не заполнена
                                            </div>
                                            <div class="m-2" ng-if="office.office_status_id != 1">
                                                <i class="fa fa-exclamation-triangle"></i>
                                                Офис больше не отображается в списке всех офисов, так как основная информация не заполнена
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Офисы-->
                    <!--<div class="col-12 office-item" ng-repeat="office in info.offices" >
                        <div class="office-short-info">
                            <h3 class="flex0 flex-space-between">
                                <span ng-click="info.goToOfficeItem(office.id)">{{office.title}}</span>
                                <a href="/offices/manage/{{office.id}}" ng-if="office.i_can_edit"><i class="fal fa-cog text-white"></i></a>
                            </h3>
                            <hr>
                            <div ng-click="info.goToOfficeItem(office.id)">
                                <div class="office-phone">
                                    <a class="office-number" href="#"><i class="fal fa-phone" aria-hidden="true"></i>&nbsp; {{office.number}}</a>
                                </div>
                                <div class="office-address">
                                    <div class="office-address-text" href="#"><i class="fal fa-map-marker" aria-hidden="true"></i>&nbsp; {{office.address}}</div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>

        </div>
    </div>

</div>
