<!--<div class="page-wrap" ng-init="program.load()">

    <div ng-if="program.loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!--Офисная программа-->
    <div class="card mb-4" ng-init="program.load()" ng-show="!program.loading && program.data">
        <div class="card-header flex0 flex-space-between event-header">
            <h2><a ng-href="/offices/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> Офисная программа</h2>
        </div>
        <div class="card-body">
            <h5>Офисная программа</h5>
            <div ng-if="program.loading">
                <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
            </div>
            <div ng-if="!program.loading">
                <span class="text-muted">Регион офиса:</span> <strong>{{program.data.region_title}}</strong>
                <br><span class="text-muted">Период:</span> <strong>{{program.data.period_title}}</strong>
                <br><br>
                <h5>Условия выполнения:</h5>
                <span class="text-muted">Контрактная сумма новых счетов:</span> <strong>{{program.data.limit_sum.fact}} из {{program.data.limit_sum.need}} USDT</strong>
                <br><span class="text-muted">Количество новых клиентов (кроме Intro):</span> <strong>{{program.data.standart_count.fact}} из {{program.data.standart_count.need}}</strong>
                <div class="mt-2">
                    <span ng-if="program.data.ok" class="text-success">Условия выполнены</span>
                    <span ng-if="!program.data.ok" class="text-danger">Условия не выполнены</span>
                    <br>
                    <a ng-href="/regionagio/" style="text-decoration: underline;cursor: pointer;" ng-if="program.data.ok" class="text-success">Размер бонуса: {{program.data.bonus_amount / app.BTC_SATOCHI | number: 2}} USDT</a>
                </div>
            </div>
        </div>
    </div>

</div>
-->