<div class="page-wrap" ng-init="info.loadItem()">

    <div ng-if="info.loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="card animated fadeIn" ng-if="!info.loading">

        <div class="card-header flex0 flex-space-between event-header">
            <h2><a ng-href="/offices/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{info.office.title}}</h2>
        </div>
        
        <img ng-src="{{app.domains.avatar}}{{info.office.photo_url}}" class="w-100 animated fadeIn">

        <div class="card-body">

            <div class="office-contact-description" ng-if="info.office.description">
                <h2 class="office-head-text">Описание</h2>
                <div class="office-description">
                    {{info.office.description}}
                </div>
                <!--<div class="contact-social-container">
                    <div class="office-social-link-container">
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.instagram}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.facebook}}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-link-bg">
                            <a class="office-social-link" href="{{info.office.vk}}" target="_blank"><i class="fab fa-vk" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="contact-container">
                        <a class="office-number">
                            <i class="fal fa-phone" aria-hidden="true"></i>
                            &nbsp{{info.office.number}}
                        </a>
                        <a class="office-address"><i class="fal fa-map-marker" aria-hidden="true"></i>&nbsp{{info.office.address}}</a>
                    </div>
                </div>-->
            </div>

            <section id="office-event" ng-if="false && info.office.event_list.length > 0">
                <h2>Мероприятия</h2>
                <div class="row">
                    <div class="col-md-6" ng-repeat="event in info.office.event_list" ng-if="$index < 4">
                        <a href="/events/{{event.id}}/" class="office-event-card">
                            <div class="office-event-info">
                                <span>{{event.title}}</span>
                                <div class="office-event-datetime">
                                    {{event.dt | datetime}}
                                </div>
                            </div>
                            <!-- <a href="#" class="btn btn-primary">{{event.price}} DAX</a>-->
                        </a>
                    </div>
                </div>

            </section>

            <div class="office-contact-description mt-3">
                <h2 class="office-head-text">Контакты</h2>
                <div class="office-description">
                    <div class="text-muted text-center" ng-if="info.office.contact_list.length < 1">
                        Список пуст
                    </div>
                    <div ng-repeat="item in info.office.contact_list" class="mb-3">
                        <!-- <div ng-if="item.office_contact_type_id == 6">
                            <label>{{item.office_contact_type_title}}:</label>
                            <div>
                                <div><span class="text-muted">ФИО: </span> {{item.value_object.fio}}</div>
                                <div><span class="text-muted">Телефон:</span> {{item.value_object.phone}}</div>
                                <div><span class="text-muted">Должность:</span> {{item.value_object.position}}</div>
                            </div>
                        </div> -->
                        <div ng-if="item.office_contact_type_id != 6 && item.office_contact_type_id == 1">
                            <label>
                                <span ng-if="item.office_contact_type_id == 1"><i class="fal fa-map-marker"></i></span>
                                <!-- <span ng-if="item.office_contact_type_id == 2"><i class="fal fa-phone"></i></span>
                                <span ng-if="item.office_contact_type_id == 6"><i class="fal fa-user"></i></span> -->
                                {{item.office_contact_type_title}}:
                            </label>
                            <div>
                                <span ng-if="item.office_contact_type_id == 1">{{info.office.address}}, </span>
                                {{item.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section id="command-gallery" ng-if="false">

                <h2></h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Команда офиса</h3>
                        <div class="command-card scroll-style-1">
                            <div class="command-user-card">
                                <div class="command-user-img">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        Имя пользователя
                                    </div>
                                    <div class="command-user-role">
                                        Роль
                                    </div>
                                </div>
                            </div>

                            <div class="command-user-card">
                                <div class="command-user-img">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        Имя пользователя
                                    </div>
                                    <div class="command-user-role">
                                        Роль
                                    </div>
                                </div>
                            </div>

                            <div class="command-user-card">
                                <div class="command-user-img">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        Имя пользователя
                                    </div>
                                    <div class="command-user-role">
                                        Роль
                                    </div>
                                </div>
                            </div>

                            <div class="command-user-card">
                                <div class="command-user-img">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        Имя пользователя
                                    </div>
                                    <div class="command-user-role">
                                        Роль
                                    </div>
                                </div>
                            </div>

                            <div class="command-user-card">
                                <div class="command-user-img">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        Имя пользователя
                                    </div>
                                    <div class="command-user-role">
                                        Роль
                                    </div>
                                </div>
                            </div>

                            <div class="command-user-card">
                                <div class="command-user-img">
                                    <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                </div>
                                <div class="command-user-info">
                                    <div class="command-user-name">
                                        Имя пользователя
                                    </div>
                                    <div class="command-user-role">
                                        Роль
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Галерея</h3>
                        <div class="gallery-card scroll-style-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="/assets/img/logo/logo.png" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="office-gallery-img">
                                        <!--<img src="https://golos.ua/images/items/2018-09/21/QLUtYmnLPt51vxj9/img_top.jpg" alt="" height="100px" width="100px">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>


</div>
