<div class="card">
    <div class="card-header">
        <h2>Конфиденциальность</h2>
    </div>
    <div class="card-body">                
        <div class="col col-12">
            <div style="margin-top:20px"><h3>Подзаголовок группы настроек</h3><div>
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-10">
                    <h5>Email уведомления</h5>
                </div>
                <div class="col col-2">
                    <label class="dax-switch">
                        <input type="checkbox" checked>
                        <span class="dax-slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-10">
                    <h5>SMS уведомления</h5>
                </div>
                <div class="col col-2">
                    <label class="dax-switch">
                        <input type="checkbox" checked>
                        <span class="dax-slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-10">
                    <h5>Push уведомления</h5>
                </div>
                <div class="col col-2">
                    <label class="dax-switch">
                        <input type="checkbox" checked>
                        <span class="dax-slider round"></span>
                    </label>
                </div>
            </div>
            <div style="margin-top:20px"><h3>Подзаголовок группы настроек</h3><div>
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-10">
                    <h5>Email уведомления</h5>
                </div>
                <div class="col col-2">
                    <label class="dax-switch">
                        <input type="checkbox" checked>
                        <span class="dax-slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-10">
                    <h5>SMS уведомления</h5>
                </div>
                <div class="col col-2">
                    <label class="dax-switch">
                        <input type="checkbox" checked>
                        <span class="dax-slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-10">
                    <h5>Push уведомления</h5>
                </div>
                <div class="col col-2">
                    <label class="dax-switch">
                        <input type="checkbox" checked>
                        <span class="dax-slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>