<div class="main-card card">
    <div class="card-header">
        <h2>Настройки</h2>
    </div>
    <div class="card-body">
        <div class="card mb-4">
            <div class="card-header d-flex" style="padding: 10px;border-bottom: 1px solid rgba(0,0,0,0.125);min-height: 50px;">
                <span class="text-gold">{{lang.my_withdrawal_methods}}</span>
            </div>
            <div class="card-body">
                <div>{{lang.settings_withdrawal_txt}}</div>
                <div class="text-center mt-3">
                    <a href="/withdrawalmethod/" class="btn btn-sm btn-primary">{{lang.to_manage}}</a>
                </div>
            </div>
        </div>
        <div class="card mb-4" ng-init="settings.load()">
            <div class="card-header d-flex" style="padding: 10px;border-bottom: 1px solid rgba(0,0,0,0.125);min-height: 50px;">
                <span class="text-gold">{{lang.security}}</span>
            </div>
            <div class="card-body">
                <div style="text-transform: none;font-weight: normal;margin-bottom: 15px;">{{lang.settings_safety_txt}}</div>

                <ul ng-repeat="item in settings.sessions" class="session-list">
                    <li>
                        <span style="text-transform: none;">
                            <i class="fas fa-mobile-alt" ng-if="item.device == 'MOBILE'" style="width: 16.88px;text-align: center;"></i>
                            <i class="fas fa-desktop" ng-if="item.device == 'SYSTEM'"></i>
                             {{item.id}} {{item.browser}}, {{item.device}} {{item.dt}} {{item.os}}
                        </span>
                        <a href="#" class="text-danger pl-2" style="color:red;" title="Завершить" ng-click="settings.deleteusersession(item.id)"><i class="fal fa-times"></i></a>
                    </li>
                </ul>
                <div ng-if="settings.tg_phone" style="text-transform: none;font-weight: normal;display: flex;align-items: center;">
                    <i class="fab fa-telegram" style="font-size: 35px;margin-right: 10px;"></i>
                    <div>
                        <div style="font-weight: bold;">{{settings.tg_phone}}</div>
                        <div>{{lang.settings_tg_phone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>