<div class="card">
    <div class="card-header">
        <h2>Местоположение и язык</h2>
    </div>
    <div class="card-body" ng-init="profile.load()">                
        <div class="col col-12">
            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01" placeholder="Страна">
                    <option value="1" >Россия</option>
                    <option value="2" >Франция</option>
                    <option value="3" >Италия</option>
                </select>
            </div>
        </div>
        <div class="col col-12">
            <div class="form-group">
                <label>Город</label>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: inherit;padding-left: 0;">{{profile.data.city}}</a>
                <div class="dropdown-menu">
                    <input type="text" placeholder="Search.." ng-model="city.query" ng-keyup="city.load()">
                    <a class="dropdown-item" href="#" ng-class="{active: profile.data.city_id == item.id}" ng-repeat="item in city.data track by item.id" ng-click="profile.savecity(item)">{{item.title}}</a>
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="form-group">
                <label>Язык</label>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: inherit;padding-left: 0;">{{lang.language}}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" ng-class="{active: temp.lang.getCurrent().id == item.id}" ng-repeat="item in temp.lang.list track by item.id" ng-click="temp.lang.change(item)">{{item.title}}</a>
                </div>                    
            </div>
        </div>
    </div>
</div>