.left-section {
    width: 273px; /*todo выровнять с бустрапом и шаблоном*/
}
.right-section {
    width: 641px;
}
.user-photo {
    width:273px;
    height: 182px;
}
.up-wrapper {
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    BORDER-RADIUS: 20PX; /*TODO выровнять радиус*/
}
.ava {
    width:100%;
    height: inherit;
    overflow-x: auto;
}



