@font-face {
    font-family: myMontserratBold;
    src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: myMontserratRegular;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: myMontserratSemiBold;
    src: url(/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: myMontserratMedium;
    src: url(/fonts/Montserrat-Medium.ttf);
}

/*div {
    font-family: myFirstFont;
}*/
body{
    font-family: myMontserratRegular;
    background-color: #f8f8f8;
}
.color{
    color: #6f56a7;
}
.green{
    color: #009904;
}
.blue{
    color:#0064df;
}
h3{
    font-family: myMontserratSemiBold;
    font-size: 12px;
    text-transform: uppercase;
}
.glav-section {
    width:914px;
    margin:0 auto;
}
.row {
    margin-top: 47px;
}
.elision .row {
    margin: 0px;
}
.left-section {
    width: 274px; /*todo выровнять с бустрапом и шаблоном*/
    float: left;
}
.right-section {
    width: 640px;
    float: right;
}
.user {
    width:inherit;
    background-color: white;
}
.logo {
    width:100%;
    height:46px;
    background-image: url(/img/logo.png);
    margin-left: 2px;
    background-repeat: no-repeat;
}
.user-photo {
    width:273px;
    height: 182px;
}
.user-subject,.user-sur-nikname,.user-id,.user-complite-line,.user-status-verification  {
    padding: 0 0 6px 17px;
    margin: 0 0 0 0;
}
.user-subject {
    margin-top: -4px;
    font-size: 16px;
}
.user-sur-nikname {
    font-family: myMontserratSemiBold;
    float:left;
    margin-left: -1px;
}
.user-id {
    font-family: myMontserratSemiBold;
    float:left;
}
.both {
    clear:both;
}
.user-sur-nikname,.user-id {
    height: 37px; font-size: 14px;
    padding: 0 13px 0 18px;
}
.up-wrapper {
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    border-radius: 20PX; /*TODO выровнять радиус*/
}
.ava {
    width:100%;
    height: inherit;
    overflow-x: auto;
}
canvas{
    margin: -1px;
}
.user-status-verification {
    background-image: url(/img/verification.png);
    background-position: 0px 7px;
    padding: 7px 0 8px 31px;
    margin: 0 13px 0 18px;
    background-repeat: no-repeat;
    font-size: 14px;
}
.first-menu-section, .second-menu-section {
    background-color: white;
    padding: 0 0 6px 17px;
    width: inherit;
    margin: 37px 0 0 0;
    font-size: 18px;
    text-transform: capitalize;
}
.first-menu-section ul, .second-menu-section ul{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}
.first-menu-section ul li , .second-menu-section ul li {
    text-decoration: none;
    width: 100%;
    line-height: 34px;
    cursor: pointer;
}
.first-menu-section  ul li a, .second-menu-section ul li a{
    text-transform: none;
    cursor: pointer;
}
.first-menu-section .enabled, .second-menu-section .enabled {
    font-family: myMontserratSemiBold;
    cursor: pointer;
    border-right: 2px #6f56a7 solid;
}
.header {
    /*height: 64px;*/
    width: inherit;
    background-color: white;
}
.hellow-block {
    background-image: url(/img/message-head.png);
    /*#background-position: 0px 0px;*/
    background-repeat: no-repeat;
    padding: 0 0 0 37px;
    margin: 14px 70px 0 50px;
    font-family: myMontserratMedium;
    font-size: 18px;
}
.hello-message{
    margin: 0px;padding: 0px;
}
.name {
    color: #6f56a7;
}
.time{
    font-family: myMontserratRegular;
    font-size: 14px;
    margin: 0px;padding: 0px;
}
button {
    height: 22px; width:22px;
    margin: 12px 17px 12px 0px;
    cursor: pointer;
    border: none;
}
.toggle-top-language {
    background-image: url(/img/lang.png);
    margin-top: 15px;
}
.top-exit-button {
    height: 22px; width:26px;
    background-image: url(/img/exit.png);
    cursor: pointer;
    border: none;
    margin-top: 15px;
    background-color: white;
}
.left, .right{
    background-color: white;
}
.capital-structure-company,
.base-in-portfolios,
.base-company-balance {
   /* background-color: white; */
}
.yours-balance {
    /*background-color: white;*/
    font-family: myMontserratSemiBold;
}
.base-company-balance, .base-in-portfolios {
    /*background-color: white;*/
    font-family: myMontserratMedium;
}
.base-company-balance a, .base-in-portfolios a {
    clear: both;
    display: block;
}
.height-85 {
    height: 85px;
}
.height-165 {
    height: 165px;
}

.yours-balance p,.base-company-balance p, .base-in-portfolios p {
    font-size: 12px;
    text-transform: uppercase;
}
.yours-balance span, .base-company-balance span, .base-in-portfolios span {
    font-size: 26px;
    text-transform: uppercase;
}
.base-company-balance a , .base-in-portfolios a{
    text-decoration: underline;
    font-size:15px;
    size:15px;
}
.finance-courses {
    background-color: #f8f8f8;
   /* background-color: #0064df;*/
    border-radius: 15px;
    margin: 10px 0;
    padding: 1px 0 1px 0;
    width: 170px;
}
.finance-courses ul {
    background-image: url("/img/course.png");
    background-repeat: no-repeat;
    background-position: 15px 10px;
    display: block;
    margin: 13px 0; padding: 0;
    font-family: myMontserratRegular;
    font-size: 16px;
}
.finance-courses ul li {
    background-image: url("/img/i.png");
    background-repeat: no-repeat;
    background-position: 75px 3px;
    text-decoration: none;
    list-style: none;
    margin: 0 0 0 64px; padding: 0;
}
/*
Charts
 */
.chart-1 {
    margin: 22px -10px;
}
.chart-2 {
    margin: 22px -10px;
}
.chart-3 {
    margin: 22px -10px;
}
/*
News
 */
.news {
    background-color: white;
    font-family: myMontserratRegular;
}
.new {
    width: 304px;
    padding: 23px 10px 23px 21px;
    float: left;
}
.n_right{
    padding: 23px 21px 23px 10px!important;
}

.new .subject{
    font-family: myMontserratSemiBold;
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
}
.new .data{
    font-size: 12px;
    float: right;
}
.new .head {
    margin-bottom: 10px;
    cursor: pointer;
}
.new .new-img {
    width: 275px;
    height: 155px;
}
.new h1 {
    font-family: myMontserratSemiBold;
    font-size:14px;
    margin: 20px 0;
    text-transform: capitalize;
    min-height: 42px;
    max-height: 42px;
}
.announce p {
    font-family: myMontserratRegular;
    font-size:12px;
    margin: 15px 0;
}
.new a {
    font-family: myMontserratRegular;
    font-size:14px;
    margin: 6px 0;
    text-decoration: underline;
}
.btn-primary {
    width: fit-content!important;
    height: fit-content!important;
}


