<div class="card">
    <div class="card-header">
        <h2>Частые вопросы</h2>
    </div>
    <div class="card-body">                
        <a href="/faq/375" style="color:black;">
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-2">
                    <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                </div>
                <div class="col col-9">
                    <h5>Технические вопросы</h5>
                </div>
            </div>
        </a>
        <a href="/faq/375" style="color:black;">
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-2">
                    <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                </div>
                <div class="col col-9">
                    <h5>Технические вопросы</h5>
                </div>
            </div>
        </a>
        <a href="/faq/375" style="color:black;">
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-2">
                    <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                </div>
                <div class="col col-9">
                    <h5>Технические вопросы</h5>
                </div>
            </div>
        </a>
    </div>
</div>