<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Как пригласить нового партнера?</h3>
            </div>
            <div class="card-body">
                <div class="col col-12">
                    Текст ответа на вопрос... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </div>
            </div>
        </div>
    </div>
</div>