<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Подписка GD</h3>
            </div>
            <div class="card-body user-partner-block scroll-style-1">
                <div class="col col-10" ng-repeat="plan in career.buy.plan_list">
                    <div class="card" style="height: 100%;">
                        <div class="card-body">
                            <a href="/gd/{{plan.id}}" style="color: inherit;">
                                <div class="col col-12">
                                    <h4>{{plan.title}}</h4>
                                </div>
                                <div class="col col-12" style="margin-bottom: 30px;">
                                    {{plan.description}}
                                </div>
                            </a>
                            <div class="col col-12" ng-if="!checkCurrent(plan.id)">
                                <a href="/gd/payment/574" class="btn btn-outline-light btn-sm btn-block">Подключить</a>
                            </div>
                            <div class="col col-12" ng-if="checkCurrent(plan.id)">
                                <a href="/gd/payment/574" class="btn btn-outline-light btn-sm btn-block disabled">Подключен</a>
                                <div style="color:#FF6600; text-align: center; margin-top:10px;"><i class="far fa-clock"></i> Закончится через {{datediff(checkCurrent(plan.id).dt_end)}} дней</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col col-10">
                    <div class="card">
                        <div class="card-body">
                            <a href="/gd/574" style="color: black;">
                                <div class="col col-12">
                                    <h5>Премиум</h5>
                                </div>
                                <div class="col col-12">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="col col-12">
                                <div class="gd-discount">-30%</div>
                                <a href="/gd/payment/574" class="btn btn-primary btn-sm btn-block" style="line-height: 20px;">
                                    <span>Подключить за 1 500 DAX / месяц</span><br><span style="color:#CCCCCC;font-size: initial;">при оплате за 2 года</span>
                                </a>
                            </div>
                            <div class="col col-12" style="margin-top:10px">
                                <a href="/gd/payment/574" class="btn btn-outline-primary btn-sm btn-block">Подключить за 1 990 DAX / месяц</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-10">
                    <div class="card">
                        <div class="card-body">
                            <a href="/gd/574" style="color: black;">
                                <div class="col col-12">
                                    <h5>Эксклюзив</h5>
                                </div>
                                <div class="col col-12">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="col col-12">
                                <div class="gd-discount">-30%</div>
                                <a href="/gd/payment/574" class="btn btn-primary btn-sm btn-block" style="line-height: 20px;">
                                    <span>Подключить за 2 700 DAX / месяц</span><br><span style="color:#CCCCCC;font-size: initial;">при оплате за 2 года</span>
                                </a>
                            </div>
                            <div class="col col-12" style="margin-top:10px">
                                <a href="/gd/payment/574" class="btn btn-outline-primary btn-sm btn-block">Подключить за 3 990 DAX / месяц</a>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>