<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Оплата за тариф Премиум</h3>
            </div>
            <div class="card-body center-align">
                <div class="col col-12" style="margin-bottom: 30px;">
                    <h6 class="card-subtitle mb-2 text-muted">Основной кошелек</h6>
                    <h5>3 127,83 DAX</h5>
                </div>
                
                <div class="col col-12">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" ng-model="payment.data.amount" placeholder="Срок">
                            <option value="" disabled selected>Срок</option>
                            <option value="100 DAX" selected>1 месяц</option>
                            <option value="200 DAX" >2 месяца</option>
                            <option value="300 DAX" >3 месяца</option>
                        </select>
                        <input type="text" class="form-control" style="flex:3" placeholder="Сумма" ng-model="payment.data.amount">
                    </div>
                </div>
                
                <div class="col col-12" style="margin-bottom: 30px;">
                    <h6 class="card-subtitle mb-2 text-muted">Комиссия за оплату 1,82%</h6>
                    <h5>1,94 DAX</h5>
                </div>
                
                <div class="col col-12">
                    <a href="/transfer/378" ng-click="transfer.confirm()" class="btn btn-primary btn-block">Оплатить</a>
                </div>
            </div>
        </div>
    </div>
</div>