<div id="transfer" ng-controller="userCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>Название тарифа</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-12">
                        Текстовое описание тарифа.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                    </div>
                    <div class="col col-12" style="margin-top: 30px;">
                        <h5>Возможности подключения</h5>
                        <table class="table table-striped" style="margin-top: 20px;">
                            <thead>
                                <tr>
                                    <th scope="col">Срок подключения</th>
                                    <th scope="col">Цена за месяц</th>
                                    <th scope="col">Цена за весь срок</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1 месяц</th>
                                    <td>100 DAX</td>
                                    <td>1 000 DAX</td>
                                    <td><a href="/gd/payment/561" class="btn btn-primary btn-sm">Выбрать</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">2 месяца</th>
                                    <td>200 DAX</td>
                                    <td>2 000 DAX</td>
                                    <td><a href="/gd/payment/561" class="btn btn-primary btn-sm">Выбрать</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">3 месяца</th>
                                    <td>300 DAX</td>
                                    <td>3 000 DAX</td>
                                    <td><a href="/gd/payment/561" class="btn btn-primary btn-sm">Выбрать</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">6 месяцев</th>
                                    <td>600 DAX</td>
                                    <td>6 000 DAX</td>
                                    <td><a href="/gd/payment/561" class="btn btn-primary btn-sm">Выбрать</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1 год</th>
                                    <td>1 000 DAX</td>
                                    <td><div style="position: relative;">
                                            <div class="gd-discount-small">-20%</div>10 000 DAX
                                        </div>
                                    </td>
                                    <td><a href="/gd/payment/561" class="btn btn-primary btn-sm">Выбрать</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">2 года</th>
                                    <td>1 600 DAX</td>
                                    <td><div style="position: relative;">
                                            <div class="gd-discount-small">-30%</div>10 000 DAX
                                        </div>
                                    </td>
                                    <td><a href="/gd/payment/561" class="btn btn-primary btn-sm">Выбрать</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>