<div id="page-how-open-office" ng-controller="howopenCtrl">
    <div class="page-wrap">
        <div class="card">
            <div class="card-header flex0 flex-space-between event-header">
                <h2>
                    <a ng-href="/offices/my/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a>
                    Региональное руководство
                </h2>
            </div>
            <div class="card-body">
                <div class="how-open-body">
                    <h2 class="advantage-head">Офисная программа Trustera</h2>
                    <p class="open-description">Trustera предлагает всем партнерам участие в офисной программе, которая помогает в развитии бизнеса и команды,
                        в создании еще одного источника дохода и ускорению в реализации своих мечт.
                    </p>

                    <h2 class="advantage-head">Откройте офис-представительство компании Trustera</h2>
                    <p class="open-description">Офис - это отличное презентабельное место, где можно провести качественные встречи с потенциальными и текущими клиентами,
                    а также проводить мероприятия и обучения. Офис - мощный толчок для развития!
                        Всем партнерам, которые открыли офис-представительство компания Trustera дает возможность дополнительного дохода:
                    </p>

                    <h2 class="advantage-head">5% от всех оплаченных ажио* в регионе присутствия офиса**.</h2>
                    <p class="open-description">Кроме наличия самого офиса необходимо соблюсти перечисленные ниже условия, чтобы получить указанный бонус:</p>
                    <ol class="open-description" style="list-style-type: decimal;">
                        <li>Прирост в команде держателя офиса в данном регионе должен быть не менее 125 000 USDT*** по сумме контрактов на счета.
                        <li>Не менее 5 новых клиентов Trustera в регионе в команде держателя офиса, которые открыли счета Standart или Trust
                    </ol>

                    <p class="open-description">
                        Чтобы открыть офис необходимо через специальную форму на сайте подать заявку на открытие.
                        Офис можно открыть только при согласовании с компанией. Несогласованные офисы не могут именоваться партнерскими,
                        а к их владельцам применяются санкции.
                        Для подачи заявки на открытие необходимо иметь карьерный статус не ниже Senior Manager (5).
                    </p>

                    <h2 class="advantage-head">Требования к партнерскому офису:</h2>
                    <ol class="open-description how-it-work" style="list-style-type: decimal;">
                        <li>Бизнес центр класса А (если таковой имеется в городе), иначе класс в порядке уменьшения (B+, B, С, D).
                        <li>Освещенность не менее 600 Лк (люксов)
                        <li>Не менее 3х элементов брендирования логотипом или айдентикой внутри офисного помещения.
                        <li>Брендирование на входной группе (дверь и/или этаж и/или подъезд).
                        <li>Наличие телевизора диагональю не менее 42”
                        <li>Мебель и элементы интерьера соответствуют цветовой палитре компании (за исключением дверей, пола, стен, потолка).
                        <li>Не выше 2-го этажа при безлифтовом доступе
                        <li>Запрещен вход со двора, прилегающих территорий и прочих мест не относящихся к главной входной группе.
                        <li>Запрещенные виды полов: необработанные/грубые/старые деревянные полы, пол покрытый линолеумом.
                    </ol>

                    <h2 class="advantage-head">Требования к партнерам-держателям офиса и организации работы:</h2>
                    <ol class="open-description how-it-work" style="list-style-type: decimal;">
                        <li>В офисе всегда действует строгий дресс код с пн по пт
                        Рубашка любого стиля и/или темных цветов пиджак.
                        Запрещены синие джинсы и любая спортивная одежда и кроссовки
                        <li>На проведении всех мероприятий только официальный дресс-код.
                    </ol>

                    <h2 class="advantage-head">Важно знать!</h2>
                    <ol class="open-description how-it-work" style="list-style-type: decimal;">
                        <li> Компания Golden DAX и Trustera не выплачивают никаких компенсаций за арендную плату и прочие хозрасходы.
                        <li> Доход по офисной программе поступает в специальный кабинет офисной команды, откуда распределяется по усмотрению держателя офиса.
                        <li> Руководство офиса берет на себя обязательства по исполнению всех предписаний от руководства компании.
                        <li> Поступление вознаграждений на счет офиса поступает в конце каждого календарного месяца.
                        <li> Офисная команда обязуется строго соблюдать предписания и правила компании в отношении проведения мероприятий.
                        В противном случае накладываются штрафные санкции в виде снижения дохода в процентном соотношении, вплоть до полного обнуления и закрытия офиса.
                        <li> В случае, если в регионе присутствуют несколько партнерских офисов,
                        то комиссионные распределяются между офисами в пропорциях размеров команды по сумме контрактов счетов в командах держателей офиса в регионе.
                    </ol>

                    <p class="open-description how-it-work">
                        По возникающим вопросам по открытию представительства можно связаться с менеджером компании +79376152446 Руслан
                    </p>

                    <h2 class="advantage-head">Примеры расчета дохода по офисной программе.</h2>
                    <ol class="open-description how-it-work" style="list-style-type: decimal;">
                        <li> В неком регионе в течении месяца 20 клиентов открыли счета на минимальные суммы контрактов по 12500 USDT.
                        Общая сумма оплаченных ажио составляет 20 000 USDT. 5% от этой суммы = 1000 USDT, что и является доходом офиса.
                        <li> В неком регионе 5 новых клиентов открыли счета на сумму контрактов 150000 USDT и еще старые клиенты расширили свои контракты на сумму 250 000 USDT.
                        Итого 400 000 новых контрактных счетов. 8% от этой суммы = 32000 USDT, сумма вознаграждения офиса составит 1600 USDT.
                    </ol>

                    <p class="open-description how-it-work">
                        <b>*</b> ажио - плата за инвестиционный коридор в размере 8% от суммы счета.
                        Общая сумма оплаченных ажио составляет 20 000 USDT. 5% от этой суммы = 1000 USDT, что и является доходом офиса.<br>
                        <b>**</b> но не более 10 000 USDT в месяц.<br>
                        <b>***</b> USDT является внутренней валютой Trustera и обменивается по курсу 1 USDT = 1 USD.<br>
                    </p>

                    <!-- <div class="advantage-p">-->
                    <!--     <div class="advantage-lightning"><i class="fal fa-bolt" aria-hidden="true"></i></div>-->
                    <!--     <div class="advantage-p-description">-->
                    <!--         Вы будете получать 1/8 от всех-->
                    <!--         уплаченных комиссий Ажио во всем регионе вне зависимости от того в какой команде находится-->
                    <!--         инвестор-->
                    <!--         (ориентировочно это 1% от всех пополнений счетов).-->
                    <!--     </div>-->
                    <!-- </div>-->

                    <!-- <div class="advantage-p">-->
                    <!--     <div class="advantage-lightning"><i class="fal fa-bolt" aria-hidden="true"></i></div>-->
                    <!--     <div class="advantage-p-description">-->
                    <!--         Вы будете получать 3%-->
                    <!--         относительно дохода всех инвесторов в регионе вне зависимости от их принадлежности к-->
                    <!--         команде.-->
                    <!--     </div>-->
                    <!-- </div>-->

                    <!-- <div class="advantage-p">-->
                    <!--     <div class="advantage-lightning"><i class="fal fa-bolt" aria-hidden="true"></i></div>-->
                    <!--     <div class="advantage-p-description">-->
                    <!--         Вы будете получать-->
                    <!--         поддержку в-->
                    <!--         развитии региона от компании.-->
                    <!--     </div>-->
                    <!-- </div>-->

                    <!-- <div class="advantage-p">-->
                    <!--     <div class="advantage-lightning"><i class="fal fa-bolt" aria-hidden="true"></i></div>-->
                    <!--     <div class="advantage-p-description">-->
                    <!--         Непосредственно Ваша-->
                    <!--         команда в-->
                    <!--         регионе получит мощнейшие инструменты для мгновенного роста.-->
                    <!--     </div>-->
                    <!-- </div>-->

                    <!-- <div class="separate-line"></div>-->

                    <!-- <h2 class="how-it-work-head">Как это работает?</h2>-->

                    <!-- <p class="how-it-work">-->
                    <!--     Вы сможете подать заявку на открытие офиса в регионе при соблюдении условий:<br>-->
                    <!--     <b>1.</b> Ваш статус не ниже Regional Manager. <br>-->
                    <!--     <b>2.</b> Объем именно Вашей команды в регионе не менее 50000$.<br>-->
                    <!--     <b>3.</b> В конкретном городе нет других представительств (исключение составляют города с-->
                    <!--     населением-->
                    <!--     более 1 млн человек).<br>-->
                    <!--     <b>4.</b> Население в городе не менее 25 000 человек.<br>-->
                    <!--     <b>5.</b> Подготовлено офисное помещении в соответствии с требованиями компании.<br>-->
                    <!--     <b>6.</b> Сформирована офисная команда, готовая внедрить и поддерживать систему ведения бизнеса-->
                    <!--     Golden-->
                    <!--     DAX.<br>-->
                    <!-- </p>-->

                    <!-- <p class="how-it-work">-->
                    <!--     В случае одобрения заявки, в город, в котором будет открыт офис,повысьте свой доход-->
                    <!--     отправляется команда специалистов по систематизации бизнеса и в течении 3х недель занимается-->
                    <!--     становлением системных мероприятий,-->
                    <!--     после чего офис становится самостоятельной единицей.-->
                    <!-- </p>-->

                    <!-- <p class="how-it-work">-->
                    <!--     Важные условия:<br>-->
                    <!--     <b>1.</b> Компания Golden DAX и DAX Capital не выплачивают никаких компенсаций за арендную плату-->
                    <!--     и-->
                    <!--     прочие хозрасходы.<br>-->
                    <!--     <b>2.</b> Руководство офиса берет на себя обязательства по исполнению всех предписаний согласно-->
                    <!--     систематизации бизнеса после 3х недель с открытия.<br>-->
                    <!--     <b>3.</b> Поступление вознаграждений на счет офиса поступает в конце каждого периода (каждые 3-->
                    <!--     недели).<br>-->
                    <!--     <b>4.</b> Офисная команда обязуется строго соблюдать предписания и правила компании в отношении-->
                    <!--     мероприятий.-->
                    <!--     В противном случае накладываются штрафные санкции в виде снижения дохода в процентном-->
                    <!--     соотношении,-->
                    <!--     вплоть до полного обнуления и закрытия офиса.<br>-->
                    <!-- </p>-->

                    <!-- <p class="how-it-work">-->
                    <!--     По возникающим вопросам по открытию представительства можно связаться с менеджером компании-->
                    <!--     +79376152446-->
                    <!--     Руслан-->
                    <!-- </p>-->

                </div>
                <div class="send-request">
                    <a href="/requestform/" class="btn btn-primary">Подать заявку на открытие офиса</a>
                </div>
            </div>
        </div>

    </div>
</div>