<div id="page-request-form" ng-controller="requestformCtrl">
    <div class="page-wrap">
        <div class="card">
            <div class="card-header flex0 flex-space-between event-header">
                <h2>
                    <a ng-href="/howopen/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a>
                    Региональное руководство
                </h2>
            </div>
            <div class="card-body">

                <div class="request-form-body">
                    <div class="form-container">
                        <h2>Заявка на открытие офиса</h2>

                        <form id="open-office-request-form">

                            <div class="mb-3" style="width: 100%;">
                                <input type="text" class="title-request" ng-model="request.form.title" id="title-request" placeholder="Название" style="margin-bottom: 0;">
                                <div class="text-muted text-left">
                                    Придумайте название для офиса
                                </div>
                            </div>

                            <input type="text" class="fio-request" ng-model="request.form.fio" id="fio-request" placeholder="Ф.И.О.">

                            <!-- <label for="phone-number">Номер телефона</label>-->
                            <input type="text" class="phone-number" ng-model="request.form.number" id="phone-number" placeholder="Номер телефона">

                            <div style="width: 100%;">
                                <select ng-model="request.form.country_id" ng-change="countryChange()" name="form[country_id]" data-placeholder="{{lang.search_country}}">
                                    <option value="">{{lang.search_country}}</option>
                                    <option ng-repeat="item in data.countries" value="{{item.id}}">{{item.title}}</option>
                                </select>
                                <div ng-class="{select2_disabled: request.form.country_id == '' || region.list.length == 0}">
                                    <!--Выберите регион-->
                                    <select ng-model="request.form.region_id" ng-change="regionChange()" id="select-region_id2" name="form[region_id]" data-placeholder="{{lang.search_region}}">
                                        <option value="">{{lang.search_region}}</option>
                                        <option value="{{item.id}}" ng-repeat="item in region.list">{{item.title}}</option>
                                    </select>
                                </div>
                                <div class="mb-3" ng-class="{select2_disabled: request.form.region_id == '' || city.list.length == 0}" s>
                                    <!--Выберите город -->
                                    <select ng-model="request.form.city_id" id="select-city_id2" name="form[city_id]" data-placeholder="{{lang.search_city}}" class="m0">
                                        <option value="">{{lang.search_city}}</option>
                                        <option value="{{item.id}}" ng-repeat="item in city.list">{{item.title}}</option>
                                    </select>
                                    <div class="text-muted text-left" style="margin-top: -1.5em; margin-bottom: 1.5em;">
                                        Если в списке нет Вашего города, выберите любой ближайший
                                    </div>
                                </div>
                            </div>

                            <!-- <label for="what-city">В каком городе вы хотите открыть офис DAX</label>-->
                            <!--<input type="text" class="what-city" ng-model="request.form.what_city" id="what-city" placeholder="Город">-->

                            <!-- <label for="about-you">Расскажите о себе и почему вы хотите открыть офис?</label>-->
                            <textarea id="about-you" class="about-you" ng-model="request.form.about_you" rows="10" placeholder="Расскажите о себе и почему вы хотите открыть офис?"></textarea>

                            <div class="send-request">
                                <a href="#" class="btn btn-primary" ng-click="request.sendToBot()">Отправить заявку</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
