<div id="page-request-form" ng-controller="thanksforrequestCtrl" ng-init="info.load()">
    <div class="page-wrap">
        <div class="card">
            <div class="card-header flex0 flex-space-between event-header">
                <h2>Региональное руководство</h2>
            </div>
            <div class="card-body">
                <div class="thanks-form-body">
                    <h2>Заявка на открытие офиса успешно отправлена</h2>
                    <p style="color: white;">Спасибо, {{info.user.fio}}!</p>
                    <p style="color: white;">Мы изучим заявку и свяжемся с вами в ближайшее время</p>
                    <div class="separate-line"></div>
                    <br>
                    <a href="/offices/my/" class="btn btn-primary">вернуться в раздел "Офисы"</a>
                </div>
            </div>
        </div>

    </div>
</div>
