<!--<ng-include src="'/app/views/partner_status.html'"></ng-include>-->
<div id="page-achievements" ng-controller="achievementsCtrl">
    <div class="animated fadeIn">
        <div ui-view></div>
    </div>
</div>