<div id="page-career">
    <div class="emp-profile animated fadeIn">
        <div class="animated fadeIn">
            <div class="main-card card">
                <div class="card-header">
                    <h2>Карьера</h2>
                </div>
                <div  class="card-body">
                    <div class="career-partner">
                        <div class="card no-shadow">
                            <div class="card-content">
                                <div class="row mb-1" ng-if="view.info.user_career && careerStatus.data">
                                    <div class="card col-md-6 col-sm-12">
                                        <div class="card-header">
                                            <span>Ваш текущий статус</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="card no-shadow">
                                                <div class="card-content" style="padding: 0;">
                                                    <h4>{{view.info.user_career_title}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-md-6 col-sm-12">
                                        <div class="card-header">
                                            <span>Процент карьерного бонуса</span>
                                        </div>
                                        <div id="team-user-info" class="card-body">
                                            <div class="card no-shadow">
                                                <div class="card-content" style="padding: 0;">
                                                    <div class="career-status">
                                                        <div class="career-status-team-capacity">
                                                            <div class="career-status-team-capacity-progressbar">
                                                                <div class="career-status-team-capacity-progressbar-progress" style="width:{{view.info.user_career.career_bonus_percent}}%;"></div>
                                                            </div>
                                                            <div class="value" style="font-size: 30px;">{{view.info.user_career.career_bonus_percent | number:0}}%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Статус  -->
                                <div class="card" ng-init="careerStatus.load()" ng-show="careerStatus.data" style="margin-bottom: 20px;" ng-class="{'card-collapsed': status.no_collapsed}">
                                    <div class="card-header" style="border-bottom: 1px solid #343740;">
                                        <span>{{view.info.user_career_title}}
                                        <i class="fas fa-arrow-right text-white small mx-2"></i> 
                                        {{careerStatus.data.career_title}}</span>
                                        <div class="btn accordion-btn p-0" ng-click="status.no_collapsed = !status.no_collapsed">
                                            <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card no-shadow">
                                            <div class="card-content flex0 flex-wrap p-0">
                                                <div class="col-md-6 pl-md-0 pr-md-1 flex0 flex-wrap p-0">
                                                    <div class="col-12 field-container red flex0 flex-column" ng-if="careerStatus.command">
                                                        <p class="color-text fs-text m-0">Командный объем</p>
                                                        
                                                        <div id="career-daxlord-pgbar">                                                            
                                                            <div class="card no-shadow">
                                                                <div class="card-content" style="padding: 0;">
                                                                    <div class="career-status">
                                                                        <div class="career-status-team-capacity">
                                                                            <div class="career-status-team-capacity-progressbar">
                                                                                <div class="career-status-team-capacity-progressbar-progress" style="width: {{careerStatus.command.progress | mycurrency:0}}%;"></div>
                                                                            </div>
                                                                            <!--<div class="value position-relative" style="width: 35px;">
                                                                                <i ng-if="careerStatus.command.progress >= 100" class="far fa-check-circle position-absolute fa-2x" style="top: -13px; color: #bda076"></i>
                                                                                <i class="far fa-circle text-black-50 position-absolute fa-2x" style="top: -13px"></i>
                                                                            </div>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="m-0" style="color: #bda076">{{careerStatus.command.fact | mycurrency:0}} USDT из {{careerStatus.command.max | mycurrency:0}} USDT <span class="text-white">{{careerStatus.command.progress | mycurrency:0}}%</span></p>
                                                            <p ng-if="careerStatus.command.is_limited" class="m-0" style="color: #fff;font-size: 11px;">С учетом ограничения объема ТО лидера команды</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 field-container {{$index == 0 ? 'blue' : 'green'}} flex0 flex-column" ng-repeat="leader in careerStatus.data.side_volume_leaders" ng-if="leader.value_limits && $index == 0">
                                                    	<p class="color-text fs-text m-0">Лидер команды</p>
                                                        <p class="color-text fs-text m-0"><a class="text-white" href='/profile/{{leader.user_login}}'>{{leader.fio}}</a></p>
                                                        
                                                        <div id="career-daxlord-pgbar">
                                                            <div class="card no-shadow">
                                                                <div class="card-content" style="padding: 0;">
                                                                    <div class="career-status">
                                                                        <div class="career-status-team-capacity">
                                                                            <div class="career-status-team-capacity-progressbar">
                                                                                <div class="career-status-team-capacity-progressbar-progress" style="width: {{leader.percent.progress > 100 ? 100 : leader.percent.progress}}%;"></div>
                                                                            </div>
                                                                            <!--<div class="value position-relative" style="width: 35px;">
                                                                                <i ng-if="leader.percent.progress >= 100" class="far fa-check-circle position-absolute fa-2x" style="top: -13px; color: #bda076"></i>
                                                                                <i class="far fa-circle text-black-50 position-absolute fa-2x" style="top: -13px"></i>
                                                                            </div>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="m-0" style="color: #bda076">{{leader.percent.fact | mycurrency:0}} USDT из {{leader.percent.max | mycurrency:0}} USDT <span class="text-white">{{leader.percent.progress | mycurrency:0}}%</span></p>
                                                            <p ng-if="careerStatus.command.is_limited" class="m-0" style="color: #fff;font-size: 11px;">В зачет общего объема ТО идет не более {{leader.percent.limit | mycurrency:0}} объема лидера команды по ТО</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="volume-chart" style="height: 100%; max-height: 305px; margin: 0 auto"></div>
							                  	</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ТОВАРООБОРОТ  -->
                                <div class="card" style="margin-bottom: 20px;" ng-class="{'card-collapsed': circulation.no_collapsed}" ng-init="careerStatus.loadTurnover()">
                                    <div class="card-header" style="border-bottom: 1px solid #343740;">
                                        <span>ТОВАРООБОРОТ - {{careerStatus.turnover.total_turnover / BTC_SATOCHI | mycurrency}} USDT <a href="/career/turnover/" style="color: white;text-decoration: underline;text-transform: none;">Подробнее</a></span>
                                        <div class="btn accordion-btn p-0" ng-click="circulation.no_collapsed = !circulation.no_collapsed">
                                            <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card no-shadow">
                                            <div class="card-content flex0 flex-wrap p-0">
                                                <div class="col-md-6 pl-md-0 pr-md-1 flex-column flex0 p-0">
                                                    <div class="col-12 p-0 field-container trustera" style="flex: 1">
                                                        <div class="col-7 p-0">
                                                            <div class="col-12 h-55 p-0 py-2 fs-text">
                                                                <p class="color-text ml-2 my-auto">Trustera</p>
                                                                <p class="ml-2 my-auto"> {{careerStatus.turnover.trustera_turnover / BTC_SATOCHI | mycurrency}} USDT</p>
                                                            </div>
                                                            <div class="col-12 h-45 pr-0 font-weight-light color-text" style="font-size: 2em; padding-left: 10px; border-top: 1px solid #42454e">{{careerStatus.turnover.trustera_turnover / careerStatus.turnover.total_turnover * 100 | mycurrency}}%</div>
                                                        </div>
                                                        <div class="col-5 p-0 flex0" style="border-left: 1px solid #42454e">
                                                            <img class="m-auto" src="/assets/img/logo/trustera_medium.png">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 p-0 field-container proauto mb-md-0" style="flex: 1">
                                                        <div class="col-7 p-0">
                                                            <div class="col-12 h-55 p-0 py-2 fs-text">
                                                                <p class="color-text ml-2 my-auto">ПроАвто</p>
                                                                <p class="ml-2 my-auto"> {{careerStatus.turnover.proauto_turnover / BTC_SATOCHI | mycurrency}} USDT</p>
                                                            </div>
                                                            <div class="col-12 h-45 pr-0 py-1 font-weight-light color-text" style="font-size: 2em; padding-left: 10px; border-top: 1px solid #42454e">{{100 - careerStatus.turnover.trustera_turnover / careerStatus.turnover.total_turnover * 100 | mycurrency}}%</div>
                                                        </div>
                                                        <div class="col-5 p-0 flex0" style="border-left: 1px solid #42454e">
                                                            <img class="m-auto" src="/assets/img/logo/pro-auto_medium.png">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="turnover-chart" style="height: 100%; max-height: 210px; margin: 0 auto"></div>
							                  	</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Уровни карьеры -->
                                <div class="card" style="margin-bottom: 20px;" ng-class="{'card-collapsed': levels.no_collapsed}">
                                    <div class="card-header" style="border-bottom: 1px solid #343740;">
                                        <span>Уровни карьеры</span>
                                        <div class="btn accordion-btn p-0" ng-click="levels.no_collapsed = !levels.no_collapsed">
                                            <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card no-shadow">
                                            <!-- аккордеон "Уровни карьеры" -->
                                            <div ng-repeat="level in careerStatus.turnover.career_list" class="card-content fs-text" style="padding: 0;">
                                                <div class="mb-2" style="background-color: #33353d">
                                                    <div class="flex0">
                                                        <div class="flex0 w-100 flex-sm-row flex-column align-items-sm-center my-1">
                                                            <p class="color-text ml-2 m-0">{{level.title}}</p>
                                                            <span class="pr-2 ml-sm-auto ml-2" ng-if="level.dt_career_success">{{newDate(level.dt_career_success) | date_dmy}}</span>
                                                        </div>
                                                        <div class="btn accordion-btn py-0 px-3 ml-auto collapsed" data-toggle="collapse" data-target="#accordion-{{level.id}}" style="border-left: 1px solid #42454e">
                                                            <div class="ml-auto">
                                                                <i class="fal fa-angle-up fa-3x chevron" style="color: #42454e"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="collapse pt-2" id="accordion-{{level.id}}" style="background-color: #23242a"> 
                                                        <div class="row field-row m-0" style="margin-bottom: 0;">
                                                            <div class="col-12 px-2">
                                                                <div class="field-container flex-sm-row flex-column p-2">
                                                                    <p class="m-0 color-text">ПРОГНОЗИРУЕМЫЙ ДОХОД</p>
                                                                    <p class="m-0">{{level.profit}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 pr-md-1 px-2 flex0 flex-column">
                                                                <div class="field-container flex-column p-3 small" style="flex: 1;">
                                                                	<div class="flex0">
                                                                        <p class="m-0 color-text">ТОВАРООБОРОТ</p>
                                                                        <p class="m-0 ml-auto">{{level.value_limit_command | mycurrency}}</p>
                                                                    </div>
                                                                    <!--<div class="flex0">
                                                                         <p class="m-0 color-text">ДОП.УСЛОВИЯ</p>
                                                                         <p class="m-0 ml-auto">{{level.side_volume}}</p>
+                                                                    </div>-->
                                                                    <div class="flex0">
                                                                        <p class="m-0 color-text">КАРЬЕРНЫЙ БОНУС</p>
                                                                        <p class="m-0 ml-auto">{{level.career_bonus_percent}}%</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 pl-md-1 px-2 flex0 flex-column">
                                                                <div class="field-container p-0 position-relative" style="flex: 1;">
                                                                    <!--<img class="w-100" src="/assets/img/career/{{level.id - 1}}.jpg" alt="">-->
                                                                    <p class="ml-2 position-absolute">Подарок - {{level.gift}}</p>
                                                                </div>
                                                            </div>     
                                                        </div>                                          
                                                    </div>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
