<div class="page-wrap" ng-init="turnover.load()">
    <div class="card">
        <div class="card-header flex0 flex-space-between event-header">
            <h2>Товарооборот</h2>
        </div>
        <div id="table-div" class="card-body">
        	<div ng-if="turnover.loading" style="text-align: center;">
        		Загрузка...
        	</div>
        	<div ng-if="!turnover.loading" class="table-responsive" style="max-height: 700px;">
	            <table class="table table-dark">
				    <thead class="thead-dark">
				        <tr>
			        		<th scope="col">#</th>
			        		<th scope="col">Логин и ФИО</th>
			        		<th scope="col">Дата</th>
			        		<th scope="col">Источник</th>
			        		<th scope="col">Товар</th>
			        		<th scope="col">Множитель</th>
			        		<th scope="col">Стоимость в USDT</th>
			        		<th scope="col">Стоимость в валюте</th>
			        		<th scope="col">Курс доллара</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="item in turnover.list">
				            <td scope="col">{{$index + 1}}</td>
			        		<td scope="col">@{{item.user_login}} {{item.fio}}</td>
			        		<td scope="col">{{item.dt | date_dmy_hm}}</td>
			        		<td scope="col">{{item.source_title}}</td>
			        		<td scope="col">{{item.source_product_title}}</td>
			        		<td scope="col">{{item.source_multiplier}}</td>
			        		<td scope="col">{{item.amount_usd / BTC_SATOCHI | mycurrency}}</td>
			        		<td scope="col">{{item.amount / BTC_SATOCHI | mycurrency}}</td>
			        		<td scope="col">{{item.usd_rate | mycurrency}}</td>
				        </tr>
				    </tbody>
				</table>
			</div>
        </div>
    </div>

</div>
