<div class="card">
    <div class="card-header">
        <h2>Служба поддержки</h2>
    </div>
    <div class="card-body">   
        <div class="col col-12">
            <div class="text-muted">Не нашли ответ на свой вопрос? Мы ответим вам в течение пары минут каждый день с 10:00 до 22:00</div>
            <a href="#" class="btn btn-primary btn-sm btn-block">Начать чат с менеджером</a>
        </div>             
        <div class="col col-12" style="margin-top: 30px;">
            <a href="support/tickets/" style="color:black;">
                <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                    <div class="col col-2">
                        <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                    </div>
                    <div class="col col-9">
                        <h5>Мои тикеты (12)</h5>
                    </div>
                </div>
            </a>
            <a href="faq/" style="color:black;">
                <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                    <div class="col col-2">
                        <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                    </div>
                    <div class="col col-9">
                        <h5>Частые вопросы</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>