<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">                   
            </div>
            <div class="card-body">
                <div class="col col-12 row">
                    <div class="col col-9">
                        <div class="text-muted">№28819-02 от 11 янв. 2018</div>
                    </div>
                    <div class="col col-3 right-align" style="align-self:center;">
                        <h5 class="bounty-task-amount">Новый</h5>
                    </div>
                </div>
                <div class="col col-12">
                    <h3>Проблема с выводом</h3>
                </div>
                <div class="col col-12">
                Текстовое описание проблемы/задачи... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                </div>
                <div class="col col-12" style="margin-top:30px">
                    <h4>Прикрепленные файлы</h4>
                    <div class="row" style="align-items: center;">
                        <img class="user-avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin:0 5px 0 15px;" src="/assets/img/user_55x55.png"><span class="text-muted">
    Заголовок файла.pdf</span>
                    </div>
                </div>
                <div class="col col-12" style="margin-top:30px">
                    <div class="row">
                        <div class="col col-6">
                            <h4>Комментарии</h4>
                        </div>
                        <div class="col col-6 right-align">
                            <a href="#" class="btn btn-sm btn-primary">Написать сообщение</a>
                        </div>
                    </div>
                    <div>
                        <div class="user-event-block">
                            <div style="display: flex;">
                                <div><img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; " src="/assets/img/user_55x55.png"></div>
                                <div style="flex:1; margin-left:10px">
                                    <div style="display: flex; flex:1; margin-bottom:10px;">
                                        <div style="flex:1">
                                            <div>Татьяна Граборова</div>
                                            <div class="text-muted">специалист поддержки</div>
                                        </div>
                                        <div class="text-muted right-align">12 янв. в 15:39</div>
                                    </div>
                                    Комментарий менеджера поддержки... Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </div>
                            </div>    
                        </div>
                        <div class="user-event-block">
                            <div style="display: flex;">
                                <div><img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; " src="/assets/img/user_55x55.png"></div>
                                <div style="flex:1; margin-left:10px">
                                    <div style="display: flex; flex:1; margin-bottom:10px;">
                                        <div style="flex:1">
                                            <div>Татьяна Граборова</div>
                                            <div class="text-muted">специалист поддержки</div>
                                        </div>
                                        <div class="text-muted right-align">12 янв. в 15:39</div>
                                    </div>
                                    Комментарий менеджера поддержки... Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </div>
                            </div>    
                        </div>
                        <div class="user-event-block">
                            <div style="display: flex;">
                                <div><img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; " src="/assets/img/user_55x55.png"></div>
                                <div style="flex:1; margin-left:10px">
                                    <div style="display: flex; flex:1; margin-bottom:10px;">
                                        <div style="flex:1">
                                            <div>Татьяна Граборова</div>
                                            <div class="text-muted">специалист поддержки</div>
                                        </div>
                                        <div class="text-muted right-align">12 янв. в 15:39</div>
                                    </div>
                                    Комментарий менеджера поддержки... Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>