<div class="card">
    <div class="card-header">
        <h2>Тикеты</h2>
    </div>
    <div class="card-body">                
        <div class="col col-12">
            <a href="support/ticket/236" style="color:black;">
                <div class="user-news-block row">
                    <div class="col col-9">
                        <div class="text-muted">№28819-02 от 11 янв. 2018</div>
                        <h5>Проблема с выводом</h5>
                        <div class="text-muted">нет новых сообщений</div>
                    </div>
                    <div class="col col-3 right-align" style="align-self:center;">
                        <h5 class="bounty-task-amount">Новый</h5>
                    </div>
                </div>
            </a>
            <a href="support/ticket/236" style="color:black;">
                <div class="user-news-block row">
                    <div class="col col-9">
                        <div class="text-muted">№28819-02 от 11 янв. 2018</div>
                        <h5>Проблема с выводом</h5>
                        <div class="text-muted">нет новых сообщений</div>
                    </div>
                    <div class="col col-3 right-align" style="align-self:center;">
                        <h5 class="bounty-task-amount">Новый</h5>
                    </div>
                </div>
            </a>
            <a href="support/ticket/236" style="color:black;">
                <div class="user-news-block row">
                    <div class="col col-9">
                        <div class="text-muted">№28819-02 от 11 янв. 2018</div>
                        <h5>Проблема с выводом</h5>
                        <div class="text-muted">нет новых сообщений</div>
                    </div>
                    <div class="col col-3 right-align" style="align-self:center;">
                        <h5 class="bounty-task-amount">Новый</h5>
                    </div>
                </div>
            </a>
        </div>    
    </div>
</div>