<!--Quick start-->
<!--Завершение Промоушена-->
<form id="form-promotion-finish-confirm" class="popup-form animated zoomIn" data-title="Завершение Промоушена">
    <div class="popup-form-content">
        <div>
            Вы уверены, что хотите досрочно завершить промоушен?
            <p>Вы получите бонус согласно уровню выполнения и запустите промоушен заново, но при этом срок завершения не сдвинется.</p>
            <p>По умолчанию двумя участниками Вашего промоушена являются Ваши приглашенные с самыми большими суммами новых счетов. Чтобы увеличить уровень Промоушена можно пригласить новых инвесторов в 1 линию с большими суммами и тогда они встанут на места текущих участников.</p>
            <p>В повторных выполнениях участники этого Вашего промоушена (кроме Вас самих) зафиксированы не будут.</p>
        </div>
    </div>
    <div class="popup-form-footer">
        <a href="#" class="btn btn-secondary" onclick="return CustomUI.hideForm();">{{lang.cancel}}</a>
        <a href="#" class="btn btn-primary" ng-class="{disabled: promotion.item.table_current.id == 1 || promotion.loading_finish, loading: promotion.loading_finish}" ng-click="promotion.finish(promotion.item.id)">Завершить</a>
    </div>
</form>

<!--Список рефералов-->
<ul class="quick_inprogress_ref_list">
    <li>
        <div>
            <div class="number text-muted"></div>
            <div class="ava"><img ng-src="{{app.domains.avatar}}{{app.user.avatar_url[2]}}"></div>
            <div class="ref_info">
                <h4>{{app.user.user_login}} <span class="text-muted font-mini">(Это Вы)</span></h4>
                <h6 class="text-muted">{{app.user.fio}}</h6>
                <strong class="amount">{{promotion.item.inprogress.my.sum_amount_usd / app.BTC_SATOCHI | mycurrency:0}} $</strong>
            </div>
        </div>
    </li>
    <li ng-repeat="ref in promotion.item.inprogress.refferal_list track by $index">
        <div ng-if="ref">
            <div class="number text-muted">{{$index+1}}</div>
            <div class="ava"><img ng-src="{{app.domains.avatar}}{{ref.avatar_url[2]}}"></div>
            <div class="ref_info">
                <h4>{{ref.login}}</h4>
                <h6 class="text-muted">{{ref.fio}}</h6>
                <strong class="amount">{{ref.sum_amount_usd / app.BTC_SATOCHI | mycurrency:0}} $</strong>
            </div>
        </div>
        <div ng-if="!ref">
            <div class="number text-muted">{{$index+1}}</div>
            <div class="ava"><img ng-src="{{app.domains.avatar}}/img/avatar_gd_1.svg" width="80" height="80"></div>
            <div class="ref_info">
                <h4>Пусто</h4>
                <h6 class="text-muted">Пусто</h6>
                <strong class="amount">0 $</strong>
            </div>
        </div>
    </li>
</ul>

<!--Текущий выполненный уровень-->
<div>
    <h3>Уровень выполнения</h3>
    <ul class="quick_inprogress_ref_list">
        <li>
            <div ng-if="!ref">
                <div class="number text-muted">{{promotion.item.inprogress.table_current.letter}}</div>
                <div class="ref_info">
                    <h4>Минимальная сумма участников</h4>
                    <strong class="amount">{{promotion.item.inprogress.min_amount_usd / app.BTC_SATOCHI | mycurrency:0}} $</strong>
                    <div>
                        <a href="#" class="btn btn-sm btn-secondary" onclick="return CustomUI.showForm('form-promotion-rules');">Правила Промоушена</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--Таблица уровней-->
<form id="form-promotion-rules" class="popup-form animated zoomIn" data-title="Правила Промоушена">
    <div class="popup-form-content">
        Чтобы выполнить промоушен нужно, чтобы было 3 участника (включая Вас) и чтобы у участника
        с самыми маленькими счетами сумма этих счетов входила в диапазон А.
        <div class="table_level">
            <table class="table" style="background: rgba(255,255,255,.1); margin-top: 1em;">
                <thead>
                    <tr>
                        <th>Уровень</th>
                        <th>Диапазон минимальной суммы</th>
                        <th>Бонус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in promotion.item.inprogress.table">
                        <td>
                            {{row.letter}}
                        </td>
                        <td>
                            ${{row.amount_from_usd | mycurrency:0}}
                            <span ng-if="row.amount_to_usd"> &ndash; ${{row.amount_to_usd | mycurrency:0}}</span>
                        </td>
                        <td>
                            ${{row.bonus_usd | mycurrency:0}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        На выполнение дается 21 день.
        <p>Если условия выполнены, то можно досрочно завершить промоушен и получить бонус согласно таблице.</p>
        <p>Если промоушен завершен досрочно, то до истечения общего срока промоушена можно выполнить его еще неограниченное количество раз. При этом в последующих выполнениях не могут принять участие партнеры (или инвесторы), которые были участниками предыдущих Ваших промоушенов. Для каждого выполнения только новые участники.</p>
        <p>Повторные выполнения увеличивают бонус. Количество выполнений умножается на бонус. Например, третье выполнение промоушена на уровне А принесет 300$, а не 100$.</p>
    </div>
</form>