<!--Be leader-->
<div class="beleader">
    <form id="form-promotion-finish-confirm" class="popup-form animated zoomIn" data-title="Завершение Промоушена">
        <div class="popup-form-content">
            <div>
                Вы уверены, что хотите досрочно завершить промоушен?
                <p>Вы получите бонус согласно уровню выполнения и запустите промоушен заново, но при этом срок завершения не сдвинется.</p>
            </div>
        </div>
        <div class="popup-form-footer">
            <a href="#" class="btn btn-secondary" onclick="return CustomUI.hideForm();">{{lang.cancel}}</a>
            <a href="#" class="btn btn-primary" ng-class="{disabled: promotion.item.table_current.id == 1 || promotion.loading_finish, loading: promotion.loading_finish}" ng-click="promotion.finish(promotion.item.id)">Завершить</a>
        </div>
    </form>
    <ul class="ref_progressbar_treeview">
        <li>
            <div class="item">
                <img class="ava" ng-src="{{app.domains.avatar}}{{app.user.avatar_url[2]}}"></img>
                <strong>Я</strong>
            </div>
            <ul>
                <li ng-repeat="ref1 in promotion.item.inprogress.referals">
                    <div class="item">
                        <img class="ava" ng-if="ref1.user" ng-src="{{app.domains.avatar}}{{ref1.user.avatar[2]}}"></img>
                        <div class="ava_empty" ng-if="!ref1.user"><i class="fas fa-question"></i></div>
                        <strong ng-if="ref1.user">
                            {{ref1.user.fio}}
                            <span class="letter_title">{{ref1.letter_title}} (${{ref1.amount_from_usd | mycurrency}})</span>
                            <!-- ... {{ref1.user.id}}-->
                        </strong>
                        <strong ng-if="!ref1.user">Пока никого</strong>
                    </div>
                    <ul ng-if="ref1.referals.length > 0">
                        <li ng-repeat="ref2 in ref1.referals">
                            <div class="item">
                                <img class="ava" ng-if="ref2.user" ng-src="{{app.domains.avatar}}{{ref2.user.avatar[2]}}"></img>
                                <div class="ava_empty" ng-if="!ref2.user"><i class="fas fa-question"></i></div>
                                <strong ng-if="ref2.user">
                                    {{ref2.user.fio}}
                                    <span class="letter_title">{{ref2.letter_title}} (${{ref2.amount_from_usd | mycurrency}})</span>
                                    <!-- ... {{ref2.user.id}}-->
                                </strong>
                                <strong ng-if="!ref2.user">Пока никого</strong>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="ref_progressbar">
        <div class="list">
            <div ng-repeat="ref1 in promotion.item.inprogress.referals">
                <div class="ref_item active" ng-if="ref1.letter != '0'">
                    <strong>{{ref1.letter}}</strong>
                </div>
                <div class="ref_item active" ng-repeat="ref2 in ref1.referals" ng-if="ref2.letter != '0'">
                    <strong>{{ref2.letter}}</strong>
                </div>
            </div>
            <div class="ref_item" ng-repeat="n in [].constructor(6 - promotion.item.inprogress.referals_count) track by $index">
                <i class="fal fa-clock"></i>
            </div>
        </div>
        <div class="list-footer">
            {{promotion.item.inprogress.referals_count}} из 6
        </div>
    </div>
    <div class="status_values">
        Min: <span class="text-muted">{{promotion.item.inprogress.referals_min_letter_title}}</span>
        <br>Ожидаемый бонус: <span class="text-muted">${{promotion.item.inprogress.bonus_usd | mycurrency}}</span>
    </div>
</div>