<!--Congress Golden DAX MRIYA 2020-->
<div class="beleader" ng-init="promotionMriya2020.load()" style="font-size: 1.1em;">

    <!--Покупка билета-->
    <form id="form-promotion-mriya2020-buy_ticket" class="popup-form animated zoomIn" data-title="Покупка билета">
        <div class="popup-form-content" ng-show="promotionMriya2020.buyTicket.page == 1">
            <!--{{promotionMriya2020.data}}-->
            <span class="text-muted" ng-if="promotionMriya2020.data.tickets.price_list.length == 0">Временно недоступно</span>
            <div ng-repeat="item in promotionMriya2020.data.tickets.price_list" class="mb-1">
                <div ng-if="item.is_active" class="flex0 flex-center" style="justify-content: flex-start;">
                    <!--<i class="fal fa-check text-white"></i>-->
                    <span style="font-size: 2.5em;">{{item.amount}} USDT</span>
                    <span class="bg-warning text-white" ng-if="item.sale_percent > 0" style="display: inline-block; border-radius: 2px; margin-left: 10px; font-size: 1.75em; padding: 5px 15px;">{{item.sale_percent}}% off</span>
                </div>
                <div ng-if="!item.is_active">
                    <!--<i class="fal fa-check text-muted"></i>-->
                    
                    <span ng-if="item.is_expired" style="text-decoration: line-through;">{{item.amount}} USDT <span class="text-muted">до {{item.dt_to | date}}</span></span>
                    <span ng-if="!item.is_expired">{{item.amount}} USDT <span class="text-muted">с {{item.dt_from | date}}</span></span>
                </div>
            </div>
            <div style="color: white;">
            	Первый билет с аккаунта может быть приобретен только на владельца аккаунта!
            </div>
            <div class="my-4 text-muted">
                Билет можно оплатить  с расчётного счёта,
                а потом вернуть Travel бонусами стоимость в 1000 USDT вне зависимости
                от того со скидкой купили билет или нет.
            </div>
            <!--{{promotionMriya2020.data.tickets.exists_by_paid_bonus}}-->
            <div class="mt-4">
                <table>
                    <tr>
                        <td>{{promotionMriya2020.data.tickets.wallet_amount.main / 100000000 | mycurrency:2}} USDT</td>
                        <td class="pl-3 text-muted">сумма на расчётном счету</td>
                    </tr>
                    <tr>
                        <td>{{promotionMriya2020.data.tickets.wallet_amount.bonus / 100000000 | mycurrency:2}} USDT</td>
                        <td class="pl-3 text-muted">сумма Travel-бонусов</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="popup-form-content" ng-show="promotionMriya2020.buyTicket.page == 2">
            Вы подтверждаете покупку билета?
            <!--Если есть бонусы-->
            <div ng-if="promotionMriya2020.data.tickets.wallet_amount.bonus > 0" class="my-4">
                <div ng-if="promotionMriya2020.data.tickets.exists_by_paid_bonus >= 2" class="text-warning">
                    Невозможно оплатить более 2-х билетов Трэвел-бонусами.
                    <br>Оплата доступна только с расчётного счёта
                </div>
                <div ng-if="promotionMriya2020.need_price > promotionMriya2020.data.tickets.wallet_amount.main + promotionMriya2020.data.tickets.wallet_amount.bonus" class="text-danger">
                    Невозможно оплатить билет. Недостаточно средств.
                </div>
                <!--{{promotionMriya2020.need_price}}<br>
                {{promotionMriya2020.data.tickets.wallet_amount.bonus}}<br>
                {{promotionMriya2020.data.tickets.wallet_amount.main}}<br>-->
                <div ng-if="promotionMriya2020.data.tickets.wallet_amount.bonus >= promotionMriya2020.need_price" class="text-success">
                    <div class="flex0 flex-space-between"><div class="text-muted">С бонусного счёта будет списано ...</div><div> <strong>{{promotionMriya2020.need_price / 100000000 | mycurrency:0}} USDT</strong></div></div>
                </div>
                <div ng-if="promotionMriya2020.data.tickets.wallet_amount.bonus < promotionMriya2020.need_price" class="text-success">
                    <div class="flex0 flex-space-between"><div class="text-muted">Со счёта Трэвел-бонусов будет списано ...</div><div> <strong>{{promotionMriya2020.data.tickets.wallet_amount.bonus / 100000000 | mycurrency:0}} USDT</strong></div></div>
                    <div class="flex0 flex-space-between"><div class="text-muted">С расчётного счёта будет списано ...</div><div> <strong>{{(promotionMriya2020.need_price - promotionMriya2020.data.tickets.wallet_amount.bonus) / 100000000 | mycurrency:0}} USDT</strong></div></div>
                </div>
            </div>
            <!--Если нет бонусов-->
            <div ng-if="promotionMriya2020.data.tickets.wallet_amount.bonus <= 0" class="my-4">
                <div ng-if="promotionMriya2020.need_price > promotionMriya2020.data.tickets.wallet_amount.main" class="text-danger">
                    Невозможно оплатить билет. Недостаточно средств.
                </div>
                <div ng-if="promotionMriya2020.need_price <= promotionMriya2020.data.tickets.wallet_amount.main" class="text-success">
                    <div class="flex0 flex-space-between"><div class="text-muted">С расчётного счёта будет списано ...</div><div> <strong>{{promotionMriya2020.need_price / 100000000 | mycurrency:0}} USDT</strong></div></div>
                </div>
            </div>
        </div>
        <div class="popup-form-content" ng-show="promotionMriya2020.buyTicket.page == 3" style="padding-bottom: 0;">
            Покупка билета в рассрочку.
            <ul class="mt-2" style="list-style-type: disc;">
                <li>50% стоимости билета ({{promotionMriya2020.data.tickets.buy_for_debt.price / 2 | mycurrency:0}} USDT) необходимо оплатить с расчётного счёта, на оставшуюся часть будет создана рассрочка на 3 месяца.</li>
                <li>В качестве залога будет взят инвестиционный счёт с достаточной суммой для полного возврата суммы рассрочки ({{promotionMriya2020.data.tickets.buy_for_debt.price / 2 | mycurrency:0}} USDT).</li>
                <li>Система сама выберет счёт из имеющихся с минимально достаточной суммой</li>
                <li>Оплата рассрочки будет взыматься автоматически из расчётного счёта 12 числа каждого месяца начиная с марта. Если на указанную дату на расчётном счету не будет достаточной суммы, то рассрочка будет автоматически закрыта и вся оставшаяся сумма долга будет полностью списана с залогового инвестицонного счёта</li>
                <li>В то время, пока счет в залоге с него нельзя вывести никакие средства (даже если их там более, чем достаточно)</li>
                <li>При приобретении билета в рассрочку нельзя использовать Travel бонусы для оплаты как взноса, так и последующих платежей.</li>
            </ul>
            <div style="margin: 1em 0;" ng-if="!promotionMriya2020.data.tickets.buy_for_debt.conditions.invest_wallet_for_pledge || !promotionMriya2020.data.tickets.buy_for_debt.conditions.main_amount">
                <span class="text-danger"><i class="fal fa-exclamation-triangle"></i> Невозможно купить билет в рассрочку, потому что:</span>
                <ul class="text-muted" style="list-style-type: disc !important;">
                    <li ng-if="!promotionMriya2020.data.tickets.buy_for_debt.conditions.invest_wallet_for_pledge">
                        У Вас нет инвестиционного счёта, котоорый можно взять в залог
                    </li>
                    <li ng-if="!promotionMriya2020.data.tickets.buy_for_debt.conditions.main_amount">
                        На расчётном счету недостаточно средств для оплаты половины стоимости билета ({{promotionMriya2020.data.tickets.buy_for_debt.price / 2 | mycurrency:0}} USDT)
                    </li>
                </ul>
            </div>
            <!--{{promotionMriya2020.need_price}}-->
            <!--{{promotionMriya2020.data.tickets.wallet_amount.main}}-->
        </div>
        <div class="popup-form-footer">
            Время промоушена истекло
            <!--<div class="flex0 flex-space-between">
                <a href="#" class="btn btn-sm btn-secondary" ng-class="{loading: promotionMriya2020.buyTicket.loading}" ng-show="promotionMriya2020.buyTicket.page == 2 || promotionMriya2020.buyTicket.page == 3" ng-click="promotionMriya2020.buyTicket.setPage(1)">Назад</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{loading: promotionMriya2020.buyTicket.loading}" ng-show="promotionMriya2020.buyTicket.page == 1" ng-click="promotionMriya2020.buyTicket.setPage(3)">Купить в рассрочку</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionMriya2020.canBuy(), loading: promotionMriya2020.buyTicket.loading}" ng-show="promotionMriya2020.buyTicket.page == 1" ng-click="promotionMriya2020.buyTicket.setPage(2)">Купить билет</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionMriya2020.canBuy(), loading: promotionMriya2020.buyTicket.loading}" ng-show="promotionMriya2020.buyTicket.page == 2" ng-click="promotionMriya2020.buyTicket.submit()"><i class="fal fa-wallet"></i> Оплатить</a>
            -->
                <!--Покупка в долг-->
                <!--<a href="#" class="btn btn-sm btn-secondary" ng-class="{loading: promotionMriya2020.buyTicketDebt.loading}" ng-show="promotionMriya2020.buyTicket.page == 4" ng-click="promotionMriya2020.buyTicket.setPage(3)">Назад</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionMriya2020.data.tickets.buy_for_debt.enabled, loading: promotionMriya2020.buyTicket.loading}" ng-show="promotionMriya2020.buyTicket.page == 3" ng-click="promotionMriya2020.buyTicket.setPage(4)">Далее</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionMriya2020.data.tickets.buy_for_debt.enabled, loading: promotionMriya2020.buyTicketDebt.loading}" ng-show="promotionMriya2020.buyTicket.page == 4" ng-click="promotionMriya2020.buyTicketDebt.submit()"><i class="fal fa-wallet"></i> Купить в рассрочку</a>
            </div>-->
        </div>
    </form>

    <div class="mb-4">
        Невероятное путешествие в лучший отель мира со своей командой и закрытым клубом Golden DAX.
    </div>

    <div class="row">
        <div class="col col-12">
            <div style="background: #24305e; border-radius: 3px; padding: 20px; text-align: center; font-size: 1.3em; color: white;">
                12-17 февраля
                <div class="text-muted">Россия, Крым</div>
            </div>
        </div>
    </div>

    <div class="row" style="line-height: normal;">
        <div class="col col-6">
            <div style="border-radius: 5px; padding: 30px 20px; text-align: center; font-size: 1.3em; color: white; background: rgba(0,0,0,.05);">
                <div style="font-size: 3.5em; line-height: 1em;">{{promotionMriya2020.data.tickets.wallet_amount.bonus / 100000000 | mycurrency:2}}</div>
                <div class="text-muted" style="font-size: .8em;">трэвел бонусов в наличии</div>
                <div class="mt-4">
                    {{promotionMriya2020.data.tickets.wallet_amount.bonus_withdrawal_limit / 100000000 | mycurrency:8}}
                    <div class="text-muted" style="font-size: .8em;">доступно к выводу</div>
                </div>
                <div class="mt-4">
                    <a href="#" class="btn btn-primary" ng-if="promotionMriya2020.data.tickets.wallet_amount.bonus_withdrawal_enabled" ng-class="{loading: promotionMriya2020.withdrawalBonus.loading}" ng-click="promotionMriya2020.withdrawalBonus.submit()">Вывод</a>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div style="padding: 20px 0;">
                <div>1 бонус = 1 USDT</div>
                <div class="text-muted">
                    Потратить трэвел бонусы можно исключительно на приобретение билетов или на компенсацию купленных билетов на выездные мероприятия компании.
                    Неиспользованные бонусы накопленные за период действия одного промоушена сгорают после его окончания.
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex0">
        Получите путешествие мечты бесплатно, оплатив его трэвел бонусами!
    </div>

    <div class="row mt-4">
        <div class="col col-6">
            <div style="background: #24305e; border-radius: 3px; padding: 20px; color: white;">
                Сначала купи, а потом накопи
                <div class="text-muted mt-2">Воспользуйся скидкой сейчас, оплатив путешествие с расчетного счета Trustera, а затем верни себе 1000 USDT трэвел бонусами за каждый купленный билет.</div>
                <div class="mt-3">
                    <strong>Выгода до 400 USDT</strong>
                    <div>
                        <div><i class="fal fa-check text-muted"></i> до 200 USDT скидка</div>
                        <div><i class="fal fa-check text-muted"></i> возможность заработать 200 USDT на разнице</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div style="background: #24305e; border-radius: 3px; padding: 20px; color: white;">
                Сначала накопи, а потом купи
                <div class="text-muted mt-2">Накопи необходимое количество трэвел бонусов, а затем приобрети себе билет. Возможна также частичная оплата билета, если трэвел бонусов не хватает.</div>
            </div>
        </div>
    </div>
    
    <div class="mb-2">
        <a href="#" class="btn btn-sm w-100 btn-primary" ng-click="promotionMriya2020.buyTicket.open()">Получить билет</a>
        <div class="my-4">
            <h3>Ваши билеты</h3>
            <div class="text-center text-muted py-4" ng-if="promotionMriya2020.data.tickets.list.length == 0">
                Нет купленных билетов
            </div>
            <div class="tickets-list" ng-if="promotionMriya2020.data.tickets.list.length > 0">
                <div class="tickets-list-item flex0 flex-center flex-space-between" ng-repeat="ticket in promotionMriya2020.data.tickets.list" style="padding: 15px; margin-bottom: 10px; border-radius: 10px; border: 1px solid rgba(255,255,255,.2); background-color: rgba(255,255,255,.1);">
                    <div>
                        <h4 ng-if="ticket.birthday">{{ticket.last_name}} {{ticket.first_name}} <a href="#" class="btn btn-secondary ml-2" ng-click="promotionMriya2020.tickets.openView(ticket)" ng-if="ticket.birthday">Смотреть данные</a></h4>
                        <h4 ng-if="!ticket.birthday">Нет данных <a href="#" class="btn btn-sm btn-secondary" ng-click="promotionMriya2020.tickets.openEdit(ticket)" ng-if="!ticket.birthday">Заполнить данные до 28.01.2020г.</a></h4>
                        {{ticket.fact_price / 100000000 | mycurrency:0}} USDT
                        <span class="text-muted">{{ticket.dt | datetime}}</span>
                        <div ng-if="ticket.credit_id">
                            <span style="text-decoration: underline;">Билет приобретён в рассрочку</span>
                        </div>
                    </div>
                    <div>
                        <i class="fal fa-3x fa-check-square text-success" ng-if="ticket.birthday"></i>
                        <i class="fal fa-3x fa-clock text-danger" ng-if="!ticket.birthday"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Данные участника-->
    <form id="form-mriya2020-ticket-view" class="popup-form animated zoomIn" data-title="Данные участника">
        <div class="popup-form-content">
            {{promotionMriya2020.tickets.item.last_name}}
            <br>{{promotionMriya2020.tickets.item.first_name}}
            <br>{{promotionMriya2020.tickets.item.middle_name}}
            <br>{{promotionMriya2020.tickets.item.birthday}}
            <div class="my-4">
                <div ng-if="promotionMriya2020.tickets.item.passport_type_id == 1">Паспорт РФ</div>
                <div ng-if="promotionMriya2020.tickets.item.passport_type_id == 2">Паспорт гражданина другого государства</div>
                <div>{{promotionMriya2020.tickets.item.passport_number}}</div>
                <div class="flex0">
                    <div ng-if="promotionMriya2020.tickets.item.passport_photo_1">
                        <img ng-src="{{app.domains.avatar}}{{promotionMriya2020.tickets.item.passport_photo_1}}" style="max-width: 128px; max-height: 128px; border-radius: 5px; margin-right: 10px; margin-bottom: 10px;">
                    </div>
                    <div ng-if="promotionMriya2020.tickets.item.passport_photo_2">
                        <img ng-src="{{app.domains.avatar}}{{promotionMriya2020.tickets.item.passport_photo_2}}" style="max-width: 128px; max-height: 128px; border-radius: 5px; margin-right: 10px; margin-bottom: 10px;">
                    </div>
                </div>
            </div>
            <div class="text-muted mt-4">
                Изменение данных невозможно
            </div>
        </div>
        <div class="popup-form-footer">
            <a href="#" class="btn btn-primary" onclick="return CustomUI.hideForm()">Ok</a>
        </div>
    </form>

    <!--Заполните данные для билета-->
    <form id="form-mriya2020-ticket-edit" class="popup-form animated zoomIn" data-title="Заполните данные для билета">
        <div class="popup-form-content">
            <div class="mb-4">
                <label for="mriya-ticket2020-passport_type_id1"><input type="radio" name="mriya-ticket2020-passport_type_id" ng-model="promotionMriya2020.tickets.item.passport_type_id" id="mriya-ticket2020-passport_type_id1" value="1"> Паспорт РФ</label>
                <br><label for="mriya-ticket2020-passport_type_id2"><input type="radio" name="mriya-ticket2020-passport_type_id" ng-model="promotionMriya2020.tickets.item.passport_type_id" id="mriya-ticket2020-passport_type_id2" value="2"> Гражданин другого государства</label>
            </div>
            <div class="my-3 text-warning" ng-if="promotionMriya2020.tickets.item.passport_type_id == 1">
                Все поля заполняются кириллицей
            </div>
            <div class="my-3 text-warning" ng-if="promotionMriya2020.tickets.item.passport_type_id == 2">
                Все поля заполняются латиницей
            </div>
            <input type="text" class="form-control mb-3" ng-model="promotionMriya2020.tickets.item.last_name" placeholder="Фамилия" ng-class="{disabled: promotionMriya2020.tickets.isFirstTicket()}">
            <input type="text" class="form-control mb-3" ng-model="promotionMriya2020.tickets.item.first_name" placeholder="Имя" ng-class="{disabled: promotionMriya2020.tickets.isFirstTicket()}">
            <input type="text" class="form-control mb-3" ng-model="promotionMriya2020.tickets.item.middle_name" placeholder="Отчество" ng-class="{promotionMriya2020.tickets.isFirstTicket()}">
            <select ng-model="promotionMriya2020.tickets.item.sex" class="form-control mb-3">
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
            </select>
            <div>
                Дата рождения
            </div>
            <input type="date" class="form-control mb-3" id="input-birthday" ng-model="promotionMriya2020.tickets.item.birthday" placeholder="Дата рождения">
            <div class="my-3 text-warning">
                Внимательно проверяйте правильность написания данных. Если в данных будет ошибка, то участник мероприятия не будет допущен на борт самолета.
            </div>
            <div class="my-3">
                <strong ng-if="promotionMriya2020.tickets.item.passport_type_id == 1">Данные паспорта РФ</strong>
                <strong ng-if="promotionMriya2020.tickets.item.passport_type_id == 2">Данные паспорта гражданина другого государства</strong>
                <div>
                    <input type="text" class="form-control" ng-model="promotionMriya2020.tickets.item.passport_number" placeholder="Серия и номер паспорта">
                </div>
                <div class="my-3">
                    <input style="position: absolute; left: -10000px; opacity: 0;" id="input-photo-passport-1" type="file" onchange="angular.element(this).scope().promotionMriya2020.tickets.processCFAttachImage(1, this.files)" accept="image/gif,image/png,image/jpeg">
                    <input style="position: absolute; left: -10000px; opacity: 0;" id="input-photo-passport-2" type="file" onchange="angular.element(this).scope().promotionMriya2020.tickets.processCFAttachImage(2, this.files)" accept="image/gif,image/png,image/jpeg">
                    <div>
                        <a ng-if="promotionMriya2020.tickets.item.passport_type_id == 1" href="#" class="w-100 btn btn-primary" ng-click="promotionMriya2020.tickets.selectPhoto(1)">Выбрать фото главного разворота</a>
                        <a ng-if="promotionMriya2020.tickets.item.passport_type_id == 2" href="#" class="w-100 btn btn-primary" ng-click="promotionMriya2020.tickets.selectPhoto(1)">Выбрать фото паспорта</a>
                        <div ng-if="promotionMriya2020.tickets.photo1" class="text-success">
                            <i class="fal fa-check"></i> Фотография выбрана
                        </div>
                    </div>
                    <div ng-if="promotionMriya2020.tickets.item.passport_type_id == 1" class="mt-2">
                        <a href="#" class="w-100 btn btn-primary" ng-click="promotionMriya2020.tickets.selectPhoto(2)">Выбрать фото страницы прописки</a>
                        <div ng-if="promotionMriya2020.tickets.photo2" class="text-success">
                            <i class="fal fa-check"></i> Фотография выбрана
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 text-warning">
                <label for="mriya2020-is_accept">
                    <input type="checkbox" id="mriya2020-is_accept" ng-model="promotionMriya2020.tickets.is_accept"> Я подтверждаю, что указанные данные являются точными и отказываюсь от претензий, если это не так.
                </label>
            </div>
        </div>
        <div class="popup-form-footer">
            <a href="#" class="btn btn-primary" ng-click="promotionMriya2020.tickets.save()" ng-class="{disabled: !promotionMriya2020.tickets.canSave(), loading: promotionMriya2020.tickets.loading}">Сохранить</a>
        </div>
    </form>

</div>