<div class="row" ng-init="promotion.loadList()">

    <form id="form-promotion-extend" class="popup-form animated zoomIn" style="width: 700px;">
        <div class="popup-form-content tickets-overflow-visible">
            <h5 style="text-align: center;">Продлить срок промоушена?</h5>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
                При продлении срока на 10 дней для успешного завершения промоушена будет добавлено +3000 USDT к необходимому для завершения товарообороту
            </div>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
                Оцените необходимость продления. Если промоушен завершится неудачей, то он стартует заново, и в зачёт пойдёт созданный товарооборот за прошедшие 10 дней
            </div>
            <div style="padding-top: 20px;" class="col-12 flex0 flex-between pb-4">
                <a href="#" class="btn btn-secondary--dark" ng-click="promotion.closeExtend()">ОТМЕНА</a>
                <a href="#" class="btn btn-primary" style="max-width: 200px" ng-click="promotion.extendPromotion()">Продлить</a>
            </div>
        </div>
    </form>
    <form id="form-promotion-congratulation" class="popup-form animated zoomIn" style="width: 700px;">
        <div class="popup-form-content tickets-overflow-visible" style="text-align: center;">
            <h5 style="text-align: center;">Поздравляем!</h5>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
                Вы получаете в подарок новый топовый IPhone
            </div>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
                Если вы готовы получить подарок, то просто заполните форму
            </div>
            <div class="cpointer" ng-click="promotion.FillIn()" style="padding-top: 20px;">
                <span class="btn btn-primary" style="max-width: 200px">Заполнить</span>
            </div>
        </div>
    </form>
    <form id="form-promotion-last" class="popup-form animated zoomIn" style="width: 700px;">
        <div class="popup-form-content tickets-overflow-visible" style="text-align: center;">
            <h5 style="text-align: center;">Спасибо!</h5>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
               В скором времени ваш подарок будет отправлен<br>по указанному адресу
            </div>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
                Вы получите уведомление по смс или иным<br>способом связи.
            </div>
            <div class="cpointer" ng-click="promotion.closeExtend()" style="padding-top: 20px;">
                <span class="btn btn-primary" style="max-width: 200px">Закрыть</span>
            </div>
        </div>
    </form>
    <form id="form-promotion-anketa" class="popup-form animated zoomIn">
        <div class="popup-form-content tickets-overflow-visible" style="text-align: center;">
            <h5 style="text-align: center;">Заполните форму!</h5>
            <div style="font-size: 14px;color: #fff;padding-top: 20px;">
                Мы в самое ближайшее время вышлем вам<br>ваш подарок курьерской службой
            </div>
            <div class="flex0 menu-input px-2 pb-2">
                <div class="w-100">
                    <p style="text-align: left;" class="text-white">ФИО</p>
                    <input type="text" ng-model="promotion.form.fio" class="w-100 input-for-anketa" value="">
                    <br>
                </div>
            </div>
            <div style="padding: 20px 5px 20px 5px;">
                <p style="text-align: left;" class="text-white">Страна</p>
                <select style="width: 100%;" class="input-for-anketa" ng-model="promotion.form.country_id" name="form[country_id]" data-placeholder="{{lang.search_country}}">
                    <option value="">Выберите страну из списка</option>
                    <option ng-repeat="item in promotion.countries" value="{{item.id}}">{{item.title}}</option>
                </select>
            </div>
            <div class="flex0 menu-input px-2 pb-2">
                <div class="w-100">
                    <p style="text-align: left;" class="text-white">Регион/Область/Штат</p>
                    <input type="text" ng-model="promotion.form.region" class="w-100 input-for-anketa" value="">
                    <br>
                </div>
            </div>
            <div class="flex0 menu-input px-2 pb-2">
                <div class="w-100">
                    <p style="text-align: left;" class="text-white">Город/Населённый пункт</p>
                    <input type="text" ng-model="promotion.form.city" class="w-100 input-for-anketa" value="">
                    <br>
                </div>
            </div>
            <div class="flex0 menu-input px-2 pb-2">
                <div class="w-100">
                    <p style="text-align: left;" class="text-white">Адрес</p>
                    <input type="text" ng-model="promotion.form.address" class="w-100 input-for-anketa" value="">
                    <br>
                </div>
            </div>
            <div class="flex0 menu-input px-2 pb-2">
                <div class="w-100">
                    <p style="text-align: left;" class="text-white">Номер телефона</p>
                    <input type="text" ng-model="promotion.form.phone" class="w-100 input-for-anketa" value="">
                    <br>
                </div>
            </div>
            <div class="cpointer" ng-click="promotion.sendAnketa()" style="padding-top: 20px;">
                <span class="btn btn-primary" style="max-width: 200px">Отправить</span>
            </div>
            <!-- <div style="padding-top: 20px;">
                <a href="#" class="btn btn-primary" style="max-width: 200px" ng-click="promotion.sendAnketa()">Отправить</a>
            </div> -->
        </div>
    </form>


    <!--<div class="col col-12" ng-init="competition.loadList()">-->
    <div class="col col-12" ng-init="competition.loadList()" ng-class="{'disabled': app.user.user_status_id != 4}">
        <div class="card">     
            <div class="card-header">
                <h2>Промоушены</h2>
            </div>       

            <div class="card-body" ng-init="promotion.loadCountries()"> 
                <div class="card" ng-class="{'card-collapsed':promotion.no_gd_collapsed}" style="padding-top: 1.25rem;"> 
                    <!-- <div class="card-header">
                        <span class="text-gold text-uppercase">Промоушены GOLDENDAX</span>
                        <div> -->
	                        <!-- <span class="btn p-0" ng-click="promotion.no_gd_collapsed = !promotion.no_gd_collapsed">
                                <i ng-if="!promotion.no_gd_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="promotion.no_gd_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span> -->
                        <!-- </div> 
                    </div> -->
                    <div>
                        <img class="promo-main-img" style="width: 100%; height: 100%; object-fit: cover;" src="/assets/img/GD_iphone-12_1.jpg">
                        <img class="promo-main-img-mob" style="width: 100%; height: 100%; object-fit: cover;" src="/assets/img/GD_iphone-12_2.jpg">
                    </div>
                    <div class="card-body" style="background-color: #42454e;">
                        <div class="row">
                            <div class="col">
                                <div class="flex0 flex-column flex-center">
                                    <div style="position: relative;width: 100%;"> 
                                        <div>
                                            <ul class="nav topnav tab-for-mob-promo" style="height: 65px;background-color: #43454e;">
                                                <li class="nav-item full-menu" style="flex: 1;">
                                                    <a class="nav-link active" data-toggle="tab" href="#tab1" style="font-size: 14px; display: inline-block;padding-top: 22px;width: 100%;text-align: center;color: inherit;">Условия</a>
                                                </li>
                                                <li class="nav-item full-menu" style="flex: 1;">
                                                    <a class="nav-link" data-toggle="tab" href="#tab2" style="font-size: 14px; display: inline-block;padding-top: 22px;width: 100%;text-align: center;color: inherit;">Прогресс</a>
                                                </li>
                                                <li class="nav-item full-menu" style="flex: 1;">
                                                    <a class="nav-link" data-toggle="tab" href="#tab3" style="font-size: 14px; display: inline-block;padding-top: 22px;width: 100%;text-align: center;color: inherit;">История</a>
                                                </li>
                                                <li class="nav-item full-menu" style="flex: 1;">
                                                    <a class="nav-link" data-toggle="tab" href="#tab4" style="font-size: 14px; display: inline-block;padding-top: 22px;width: 100%;text-align: center;color: inherit;">Лидеры</a>
                                                </li>
                                                <li class="nav-item dropdown mob-menu">
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" data-toggle="tab" href="#tab1">Условия</a>
                                                        <a class="dropdown-item" data-toggle="tab" href="#tab2">Прогресс</a>
                                                        <a class="dropdown-item" data-toggle="tab" href="#tab3">История</a>
                                                        <a class="dropdown-item" data-toggle="tab" href="#tab4">Лидеры</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-content card w-100" style="border-top: none;">
                                        <div class="tab-pane fade show active" id="tab1">
                                            <div>
                                                <div style="background-color: #43454e;margin: 20px 0px;border: none;">
                                                    <div style="min-width: 100%;">
                                                        <div style="font-weight: bold;text-align: left;padding-left: 15px;">
                                                            <h5 style="color:#ae9571;">Получи топовый iPhone за личный товарооборот 10000 USDT в течение 30 дней!*</h5>
                                                        </div>
                                                        <div style="padding-top: 25px;text-align: left; color: #d0d0d3">
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                 *Подробные условия:
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Срок выполнения  - 30 дней;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Необходимый личный товарооборот (ЛТО) - 10000 USDT;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Старт промоушена - сразу после регистрации;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Рестарт промоушена - сразу после окончания срока предыдущего;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Доступно неограниченное количество продлений срока на 10 дней с увеличением ЛТО на 3000 USDT за каждое;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> В случае неуспешного завершения промоушена в зачёт следующего войдёт ЛТО за 10 последних дней;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> В случае успешного завершения промоушена мы отправим тебе iPhone, а промоушен стартует заново без учёта ЛТО за последние 10 дней;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> При первом старте промоушена для уже зарегистрированных бренд-партнёров в зачёт идёт ЛТО, созданный за последние 10 дней;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Период действия промоушена устанавливается компанией и может быть завершён в любое время;
                                                            </div>
                                                            <div style="padding: 0px 20px 20px 20px;">
                                                                <i style="color: #bda076;" class="fas fa-diamond fa-xs"></i> Вручение подарка осуществляется курьерской службой в любой город и любую страну, за исключением Сомали, Южного Судана, Йемена, Сирии.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                          </div>
                                        <div class="tab-pane fade" id="tab2">
                                            <div style="color: #d0d0d3">
                                                <i style="color: #bda076;" class="far fa-calendar-alt"></i> Запущен {{competition.list.promo_iphone.dt_start | date_dmy_hm}}
                                            </div>
                                            <div style="background-color: #33353d;margin: 20px 10px 0px 10px; border-left: 2px solid #bda076;">
                                                <div class="row" style="margin-left: 10px;">
                                                    <div class="col-md-1" style="margin-top: 12px; text-align: center;">
                                                        <i style="color: #bda076;"class="fal fa-stopwatch fa-2x"></i>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="mt-1" style="padding-top: 10px;">
                                                            <div style="border: solid 2px #23242a;height: 15px;position: relative; border-radius: 15px;">
                                                                <div style="border-radius: 10px; background: #bda076;height: 100%;width:{{competition.list.promo_iphone.percent | number}}%;"></div>
                                                                <!-- <div style="position: absolute;top: 3px;color: black;left: 0;right: 0;text-align: center;font-weight: bold;">{{(50 / 100 * 100) | number:0}}%</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" style="color: #bda076;padding: 0px;margin-top: 12px; text-align: center;">
                                                        {{competition.list.promo_iphone.percent}}%
                                                    </div>
                                                </div>
                                                <div class="row extend-promo-count" style="padding: 0px 20px 20px 10px;">
                                                    <div class="col-md-6">
                                                        <div style="color:#a38c6b;" class="extended-info-mob">
                                                            Финиш: {{competition.list.promo_iphone.dt_finish | date_dmy_hm}}
                                                        </div>
                                                        <div ng-if="competition.list.promo_iphone.extended > 0" style="color:#ffffff;" class="extended-info-mob"> 
                                                            Продлён {{competition.list.promo_iphone.extended}} раз
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 cpointer" ng-click="promotion.showExtendForm()">
                                                        <span class="btn-for-extend extend-btn-for-mob">Продлить на 10 дней</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="background-color: #33353d;margin: 20px 10px 0px 10px; border-left: 2px solid #bda076;">
                                                <div class="row" style="margin-left: 10px;">
                                                    <div class="col-md-1" style="margin-top: 12px; text-align: center;">
                                                        <i style="color: #bda076;"class="fal fa-usd-circle fa-2x"></i> 
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="mt-1" style="padding-top: 10px;">
                                                            <div style="border: solid 2px #23242a;height: 15px;position: relative; border-radius: 15px;">
                                                                <div ng-if="competition.list.promo_iphone.percent_sum > 100" style="border-radius: 10px; background: #bda076;height: 100%;width:{{100 | number}}%;"></div>
                                                                <div ng-if="competition.list.promo_iphone.percent_sum <= 100" style="border-radius: 10px; background: #bda076;height: 100%;width:{{competition.list.promo_iphone.percent_sum | number}}%;"></div>
                                                                <!-- <div style="position: absolute;top: 3px;color: black;left: 0;right: 0;text-align: center;font-weight: bold;">{{(50 / 100 * 100) | number:0}}%</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" style="color: #bda076;padding: 0px;margin-top: 12px; text-align: center;">
                                                        {{competition.list.promo_iphone.current_sum}} из {{competition.list.promo_iphone.target_amount}}
                                                    </div>
                                                </div>
                                                <div style="padding: 0px 20px 20px 10px; color:#ffffff">
                                                    Приглашайте лично новых клиентов в Trustera и Проавто.<br>Оплаченные ими комиссии (за открытие счетов и вступительные взносы) идут в зачёт товарооборота
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <h5 style="color:#bda076;font-size: 15px;padding-top: 20px; padding-left: 10px;"> Операции в зачете:</h5>
                                                </div>
                                                <div>
                                                    <table class="table table-borderless fs-20 d-md-table"style="background-color: #33353d;margin-top: 20px;text-align: center;">
                                                        <thead>
                                                            <tr class="borders-table-gray">
                                                                <td style="border-bottom: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Сумма</td>
                                                                <td style="border: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Имя</td>
                                                                <td style="border: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Никнейм</td>
                                                                <td style="border: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Источник</td>
                                                                <td style="border-bottom: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Дата</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="item in competition.list.promo_iphone_operation">
                                                            <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                                <td> {{item.amount/100000000}}</td>
                                                                <td> {{item.fio}}</td>
                                                                <td> @{{item.user_login}}</td>
                                                                <td> {{item.source}}</td>
                                                                <td> {{item.dt | date_dmy_hm}}</td>
                                                            </tr>
                                                            <!-- <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                                <td> 9000</td>
                                                                <td> Ильев Костя</td>
                                                                <td> @Hren_koIIIa4iy</td>
                                                                <td> Trustera</td>
                                                                <td> 22.12.2020 12:34</td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3">
                                            <div>
                                                <table class="table table-borderless fs-20 d-md-table"style="background-color: #33353d;margin-top: 20px;text-align: center;">
                                                    <thead>
                                                        <tr class="borders-table-gray">
                                                            <td style="border-bottom: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">#</td>
                                                            <td style="border: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Даты промо</td>
                                                            <td style="border: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Собранный ТО</td>
                                                            <td style="border: 1px solid #43454e;color: #9a8568;" colspan="2" class="text-third fs-14">Статус</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="item in competition.list.promo_iphone_history">
                                                        <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td> {{item.count}}</td>
                                                            <td> {{item.dt_start | date_dmy}} - {{item.dt_finish | date_dmy}}</td>
                                                            <td ng-if="item.amount_sum"> {{item.amount_sum/100000000}} USDT</td>
                                                            <td ng-if="!item.amount_sum"> {{0}} USDT</td>
                                                            <!-- <td ng-if="item.status_id == 3"> Подарок будет отправлен </td> -->
                                                            <td ng-if="item.status_active == 1"> <i style="color: #bda076;"class="fal fa-stopwatch"></i></td>
                                                            <td ng-if="item.status_id == 1">
                                                                        Подарок отправлен
                                                            </td>
                                                            <td ng-if="item.status_id == 2">  
                                                                        Подарок отправлен в обработку
                                                            </td>
                                                            <td ng-if="item.status_id == 3 && item.status_active == 0"> 
                                                                <div ng-click="promotion.showGetGift(item.id)" class="cpointer">
                                                                    <span style="text-decoration: underline; color:#bda076">Получить подарок</span>
                                                                </div>
                                                            </td>
                                                            <!-- <td ng-if="item.status_id == 3"> 
                                                                <span style="text-decoration: underline; color:#bda076" ng-click="promotion.showGetGift()">Получить подарок</span>
                                                            </td>    -->
                                                            <td ng-if="item.status_success">
                                                                <i style="color: #bda076;" class="far fa-check-circle"></i>
                                                            </td>
                                                            <td ng-if="!item.status_success && item.status_active == 0">
                                                                <i style="color: #bda076;" class="far fa-times-circle"></i>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td> 3</td>
                                                            <td> 30.01.2021 - 02.03.2021</td>
                                                            <td> 1000 USDT</td>
                                                            <td style="right: 0;position: absolute;padding-right: 20px;"> <i style="color: #bda076;"class="far fa-times-circle"></i></td>
                                                        </tr>
                                                        <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td> 2</td>
                                                            <td> 30.01.2021 - 02.03.2021</td>
                                                            <td> 12000 USDT</td>
                                                            <td> 
                                                                <div class="row">
                                                                    <div class="col-md-9 cpointer" ng-click="promotion.showGetGift()">
                                                                        <span style="text-decoration: underline; color:#bda076">Получить подарок</span>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <i style="color: #bda076;" class="far fa-check-circle"></i>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td> 1</td>
                                                            <td> 30.01.2021 - 02.03.2021</td>
                                                            <td> 12000 USDT</td>
                                                            <td>  
                                                                <div class="row">
                                                                    <div class="col-md-9">
                                                                        Подарок получен
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <i style="color: #bda076;" class="far fa-check-circle"></i>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4">
                                            <div>
                                                <table class="table table-borderless fs-20 d-md-table"style="background-color: #33353d;margin-top: 20px;text-align: center;">
                                                    <thead>
                                                        <tr class="borders-table-gray">
                                                            <th colspan="5" style="border-bottom: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Лидеры</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in competition.list.leaders" class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td style="border-right:1px solid #43454e"> {{item.count}}</td>
                                                            <!-- <td style="border-right:1px solid #43454e"> flag</td> -->
                                                            <td style="border-right:1px solid #43454e"> {{item.fio}}</td>
                                                            <td style="border-right:1px solid #43454e"> @{{item.user_login}}</td>
                                                            <td style="border-right:1px solid #43454e"> {{item.cnt}} <i style="color: #bda076;" class="far fa-mobile-android"></i></td>
                                                        </tr>
                                                        <!-- <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td style="border-right:1px solid #43454e"> 2</td>
                                                            <td style="border-right:1px solid #43454e"> flag</td>
                                                            <td style="border-right:1px solid #43454e"> Артуров Константин </td>
                                                            <td style="border-right:1px solid #43454e"> @gussssss</td>
                                                            <td style="border-right:1px solid #43454e"> 5 <i style="color: #bda076;" class="far fa-mobile-android"></i></td>
                                                        </tr>
                                                        <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td style="border-right:1px solid #43454e"> 3</td>
                                                            <td style="border-right:1px solid #43454e"> flag</td>
                                                            <td style="border-right:1px solid #43454e"> Конартуров Стантин</td>
                                                            <td style="border-right:1px solid #43454e"> @fieafafe</td>
                                                            <td style="border-right:1px solid #43454e"> 2 <i style="color: #bda076;" class="far fa-mobile-android"></i></td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <table class="table table-borderless fs-20 d-md-table"style="background-color: #33353d;margin-top: 20px;text-align: center;">
                                                    <thead>
                                                        <tr class="borders-table-gray">
                                                            <th colspan="6" style="border-bottom: 1px solid #43454e;color: #9a8568;" class="text-third fs-14">Набирающие успех</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in competition.list.gaining_success" class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td style="border-right:1px solid #43454e"> {{item.count}}</td>
                                                            <!-- <td style="border-right:1px solid #43454e"> flag</td> -->
                                                            <td style="border-right:1px solid #43454e"> {{item.fio}}</td>
                                                            <td style="border-right:1px solid #43454e"> @{{item.user_login}}</td>
                                                            <td style="width: 20%;"> 
                                                                <div style="border: solid 2px #23242a;height: 15px;position: relative; border-radius: 15px;">
                                                                    <!-- добавить условие проверки, если будет больше 100%, то ставить 100% в графике -->
                                                                    <div ng-if="item.percent <= 100" style="border-radius: 10px; background: #bda076;height: 100%;width:{{item.percent | number}}%;"></div>
                                                                    <div ng-if="item.percent > 100" style="border-radius: 10px; background: #bda076;height: 100%;width:{{100 | number}}%;"></div>
                                                                </div>
                                                            </td>
                                                            <td>{{item.percent}}%</td>
                                                        </tr>
                                                        <!-- <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td style="border-right:1px solid #43454e"> 2</td>
                                                            <td style="border-right:1px solid #43454e"> flag</td>
                                                            <td style="border-right:1px solid #43454e"> Артуров Константин</td>
                                                            <td style="border-right:1px solid #43454e"> @sssssss</td>
                                                            <td style="width: 20%;"> 
                                                                <div style="border: solid 2px #23242a;height: 15px;position: relative; border-radius: 15px;">
                                                                    добавить условие проверки, если будет больше 100%, то ставить 100% в графике
                                                                    <div style="border-radius: 10px; background: #bda076;height: 100%;width:{{(70) | number}}%;"></div>
                                                                </div>
                                                            </td>
                                                            <td>70%</td>
                                                        </tr>
                                                        <tr class="text-nowrap" style="border-bottom: 1px solid #43454e; color: #fff;">    
                                                            <td style="border-right:1px solid #43454e"> 3</td>
                                                            <td style="border-right:1px solid #43454e"> flag</td>
                                                            <td style="border-right:1px solid #43454e"> Арстантинов Контур</td>
                                                            <td style="border-right:1px solid #43454e"> @r12345</td>
                                                            <td style="width: 20%;"> 
                                                                <div style="border: solid 2px #23242a;height: 15px;position: relative; border-radius: 15px;">
                                                                    добавить условие проверки, если будет больше 100%, то ставить 100% в графике
                                                                    <div style="border-radius: 10px; background: #bda076;height: 100%;width:{{(40) | number}}%;"></div>
                                                                </div>
                                                            </td>
                                                            <td>40%</td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab5">
                                            <div class="card-body text-center" style="padding-top: 0;">
                                                <div>
                                                    <div ng-if="proauto.cumulative_list.length == 0" class="empty-list">
                                                        <span>Список пуст</span>
                                                    </div>
                                                    <div style="background-color: #f6f6f6;margin: 20px 0px;border: none;" ng-if="proauto.cumulative_list.length > 0" class="row pro-auto-row" ng-repeat="item in proauto.cumulative_list" ng-click="proauto.openView(item)" ng-class="{'bg-green': item.user_id == app.user.id}">
                                                        <div class="row" style="min-width: 100%;">
                                                            <div class="col-md-4">
                                                                <div class="custom-col" style="width: 150px;margin:auto;"> 
                                                                    <div class="img-container">
                                                                        <img style="border: none; height: max-content;" ng-src="{{app.domains.avatar}}{{item.photo_url}}" class="img-fluid img-thumbnail">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8" style="padding-top: 25px;text-align: left;">
                                                                <div class="row" style="padding-bottom: 20px;">
                                                                    <div class="col-md-6">
                                                                        <div style="color: #c9c9cc;">
                                                                            Марка авто
                                                                        </div>
                                                                        <div>
                                                                            {{item.brand}} {{item.model}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div style="color: #c9c9cc;">
                                                                            Дата перехода в очередь 
                                                                        </div>
                                                                        <div>
                                                                            {{item.dt_activate | date_dmy}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="color: #c9c9cc;">
                                                                    Стоимость авто
                                                                </div>
                                                                <div style="padding-bottom: 20px;">
                                                                    {{item.amount / 100000000}} &#8381
                                                                </div>
                                                                <div style="color: #c9c9cc;">
                                                                    Имя пользователя
                                                                </div>
                                                                <div>
                                                                    {{item.fio}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="card" ng-class="{'card-collapsed':promotion.no_trustera_collapsed}" style="padding-top: 1.25rem;"> 
                    <div class="card-header">
                        <span class="text-gold text-uppercase">Промоушены TRUSTERA</span>
                        <div>
	                        <span class="btn p-0" ng-click="promotion.no_trustera_collapsed = !promotion.no_trustera_collapsed">
                                <i ng-if="!promotion.no_trustera_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="promotion.no_trustera_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div> 
                    </div>                
                    <div class="card-body" style="background-color: #42454e;">
                        <div ng-if="competition.loading">
                            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                        </div>
                        <ul class="list" ng-if="!competition.loading && app.user.user_status_id == 4">
                            <li ng-repeat="item in promotion.list">
                                <a ng-href="/promotions/{{item.id}}">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <br><span class="font-mini">{{item.description}}</span>
                                        </div>
                                        <i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                            <li ng-repeat="item in competition.list">
                                <a ng-href="/competition/{{item.code}}">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <div class="font-mini" ng-if="item.description">{{item.description}}</div>
                                        </div>
                                        <!--<i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="list" ng-if="!competition.loading && app.user.user_status_id != 4">
                            <li ng-repeat="item in promotion.list">
                                <a ng-href="#">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <br><span class="font-mini">{{item.description}}</span>
                                        </div>
                                        <i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                            <li ng-repeat="item in competition.list">
                                <a ng-href="#">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <div class="font-mini" ng-if="item.description">{{item.description}}</div>
                                        </div>
                                        <!--<i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                
                <div class="card" ng-class="{'card-collapsed':promotion.no_proauto_collapsed}" style="padding-top: 1.25rem;"> 
                    <div class="card-header">
                        <span class="text-gold text-uppercase">Промоушены ПРОАВТО</span>
                        <div>
							<span class="btn p-0" ng-click="promotion.no_proauto_collapsed = !promotion.no_proauto_collapsed">
                                <i ng-if="!promotion.no_proauto_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="promotion.no_proauto_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div> 
                    </div> 
                    <div class="card-body" style="background-color: #42454e;">
                    </div>
                </div> -->
            </div> 
        </div>
    </div>
</div>