<!-- Bon Voyage Golden DAX 2020 -->
<div class="beleader" ng-init="promotionBonVoyage2020.load()" style="font-size: 1.1em;">

    <!--Покупка билета-->
    <form id="form-promotion-Bonvoyage2020-buy_ticket" class="popup-form animated zoomIn" data-title="Покупка билета">
        <div class="popup-form-content" ng-show="promotionBonVoyage2020.buyTicket.page == 1">
            <!--{{promotionBonVoyage2020.data}}-->
            <span class="text-muted" ng-if="promotionBonVoyage2020.data.tickets.price_list.length == 0">Временно недоступно</span>
            <div ng-repeat="item in promotionBonVoyage2020.data.tickets.price_list" class="mb-1">
                <div ng-if="item.is_active" class="flex0 flex-center" style="justify-content: flex-start;">
                    <!--<i class="fal fa-check text-white"></i>-->
                    <div style="line-height: 1em; padding: 1em; padding-bottom: .5em; background: rgba(255,255,255,.1); border-radius: 5px; margin: 1em 0;">
                        <span style="font-size: 2.5em;">{{item.amount}} USDT</span>
                        <span class="bg-warning text-white" ng-if="item.sale_percent > 0" style="display: inline-block; border-radius: 2px; margin-left: 10px; font-size: 1.75em; padding: 5px 15px;">{{item.sale_percent}}% off</span>
                        <br><span class="text-muted">{{item.bonus_percent}}% бонусов</span>
                    </div>
                </div>
                <div ng-if="!item.is_active" style="text-decoration: line-through;">
                    <span ng-if="item.is_expired" style="text-decoration: line-through;">{{item.amount}} USDT <span class="text-muted">до {{item.dt_to | date}}</span></span>
                    <span ng-if="!item.is_expired">{{item.amount}} USDT <span class="text-muted">с {{item.dt_from | date}}</span></span>
                    <span class="text-muted">({{item.bonus_percent}}% бонусов)</span>
                </div>
            </div>
            <div class="mt-3" style="color: white;">
            	<i class="fal fa-exclamation-triangle"></i>
                Первый билет с аккаунта может быть приобретен только на владельца аккаунта!
            </div>
            <div class="my-4 text-muted">
                GOLDEN DAX дает возможность приобрести билеты более выгодно!
                <br>Вы можете сначала приобрести билеты со своего расчетного счета, а затем выводить накопленные бонусы на свой расчетный счет.
                <br>Чем раньше вы приобрете хотя бы один билет, тем больший процент бонусов будет приходить вам до самого завершения промоушена.
            </div>
            <div class="mt-4">
                <table>
                    <tr>
                        <td>{{promotionBonVoyage2020.data.tickets.wallet_amount.main / 100000000 | mycurrency:2}} USDT</td>
                        <td class="pl-3 text-muted">сумма на расчётном счету</td>
                    </tr>
                    <tr>
                        <td>{{promotionBonVoyage2020.data.tickets.wallet_amount.bonus / 100000000 * promotionBonVoyage2020.data.tickets.wallet_amount.discount_percent / 100 | mycurrency:2}} USDT</td>
                        <td class="pl-3 text-muted">максимальная сумма Travel-бонусов</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="popup-form-content" ng-show="promotionBonVoyage2020.buyTicket.page == 2">
            Вы подтверждаете покупку билета?
            <!--Если есть бонусы-->
            <div ng-if="promotionBonVoyage2020.data.tickets.wallet_amount.bonus > 0" class="my-4">
                <div ng-if="promotionBonVoyage2020.data.tickets.exists_by_paid_bonus >= 2" class="text-warning">
                    Невозможно оплатить более 2-х билетов Трэвел-бонусами.
                    <br>Оплата доступна только с расчётного счёта
                </div>
                <div ng-if="promotionBonVoyage2020.need_price > promotionBonVoyage2020.data.tickets.wallet_amount.main + promotionBonVoyage2020.data.tickets.wallet_amount.bonus * promotionBonVoyage2020.data.tickets.wallet_amount.discount_percent / 100" class="text-danger">
                    Невозможно оплатить билет. Недостаточно средств.
                </div>
                <!--{{promotionBonVoyage2020.need_price}}<br>
                {{promotionBonVoyage2020.data.tickets.wallet_amount.bonus}}<br>
                {{promotionBonVoyage2020.data.tickets.wallet_amount.main}}<br>-->
                <div ng-if="promotionBonVoyage2020.data.tickets.wallet_amount.bonus * promotionBonVoyage2020.data.tickets.wallet_amount.discount_percent / 100 >= promotionBonVoyage2020.need_price" class="text-success">
                    <div class="flex0 flex-space-between"><div class="text-muted">С бонусного счёта будет списано ...</div><div> <strong>{{promotionBonVoyage2020.need_price / 100000000 | mycurrency:0}} USDT</strong></div></div>
                </div>
                <div ng-if="promotionBonVoyage2020.data.tickets.wallet_amount.bonus * promotionBonVoyage2020.data.tickets.wallet_amount.discount_percent / 100 < promotionBonVoyage2020.need_price" class="text-success">
                    <div class="flex0 flex-space-between"><div class="text-muted">Со счёта Трэвел-бонусов будет списано ...</div><div> <strong>{{promotionBonVoyage2020.data.tickets.wallet_amount.bonus / 100000000 * promotionBonVoyage2020.data.tickets.wallet_amount.discount_percent / 100 | mycurrency:2}} USDT</strong></div></div>
                    <div class="flex0 flex-space-between"><div class="text-muted">С расчётного счёта будет списано ...</div><div> <strong>{{(promotionBonVoyage2020.need_price - promotionBonVoyage2020.data.tickets.wallet_amount.bonus * promotionBonVoyage2020.data.tickets.wallet_amount.discount_percent / 100) / 100000000 | mycurrency:2}} USDT</strong></div></div>
                </div>
            </div>
            <!--Если нет бонусов-->
            <div ng-if="promotionBonVoyage2020.data.tickets.wallet_amount.bonus <= 0" class="my-4">
                <div ng-if="promotionBonVoyage2020.need_price > promotionBonVoyage2020.data.tickets.wallet_amount.main" class="text-danger">
                    Невозможно оплатить билет. Недостаточно средств.
                </div>
                <div ng-if="promotionBonVoyage2020.need_price <= promotionBonVoyage2020.data.tickets.wallet_amount.main" class="text-success">
                    <div class="flex0 flex-space-between"><div class="text-muted">С расчётного счёта будет списано ...</div><div> <strong>{{promotionBonVoyage2020.need_price / 100000000 | mycurrency:0}} USDT</strong></div></div>
                </div>
            </div>
        </div>
        <div class="popup-form-content" ng-show="promotionBonVoyage2020.buyTicket.page == 3" style="padding-bottom: 0;">
            Покупка билета в рассрочку.
            <ul class="mt-2" style="list-style-type: disc;">
                <li>50% стоимости билета ({{promotionBonVoyage2020.data.tickets.buy_for_debt.price / 2 | mycurrency:0}} USDT) необходимо оплатить с расчётного счёта, на оставшуюся часть будет создана рассрочка на 3 месяца.</li>
                <li>В качестве залога будет взят инвестиционный счёт с достаточной суммой для полного возврата суммы рассрочки ({{promotionBonVoyage2020.data.tickets.buy_for_debt.price / 2 | mycurrency:0}} USDT).</li>
                <li>Система сама выберет счёт из имеющихся с минимально достаточной суммой</li>
                <li>Оплата рассрочки будет взыматься автоматически из расчётного счёта 12 числа каждого месяца начиная с марта. Если на указанную дату на расчётном счету не будет достаточной суммы, то рассрочка будет автоматически закрыта и вся оставшаяся сумма долга будет полностью списана с залогового инвестицонного счёта</li>
                <li>В то время, пока счет в залоге с него нельзя вывести никакие средства (даже если их там более, чем достаточно)</li>
                <li>При приобретении билета в рассрочку нельзя использовать Travel бонусы для оплаты как взноса, так и последующих платежей.</li>
            </ul>
            <div style="margin: 1em 0;" ng-if="!promotionBonVoyage2020.data.tickets.buy_for_debt.conditions.invest_wallet_for_pledge || !promotionBonVoyage2020.data.tickets.buy_for_debt.conditions.main_amount">
                <span class="text-danger"><i class="fal fa-exclamation-triangle"></i> Невозможно купить билет в рассрочку, потому что:</span>
                <ul class="text-muted" style="list-style-type: disc !important;">
                    <li ng-if="!promotionBonVoyage2020.data.tickets.buy_for_debt.conditions.invest_wallet_for_pledge">
                        У Вас нет инвестиционного счёта, котоорый можно взять в залог
                    </li>
                    <li ng-if="!promotionBonVoyage2020.data.tickets.buy_for_debt.conditions.main_amount">
                        На расчётном счету недостаточно средств для оплаты половины стоимости билета ({{promotionBonVoyage2020.data.tickets.buy_for_debt.price / 2 | mycurrency:0}} USDT)
                    </li>
                </ul>
            </div>
            <!--{{promotionBonVoyage2020.need_price}}-->
            <!--{{promotionBonVoyage2020.data.tickets.wallet_amount.main}}-->
        </div>
        <div class="popup-form-footer pt-0">
            <!--Время промоушена истекло-->
            <div class="flex0 flex-space-between">
                <a href="#" class="btn btn-sm btn-secondary" ng-class="{loading: promotionBonVoyage2020.buyTicket.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 2 || promotionBonVoyage2020.buyTicket.page == 3" ng-click="promotionBonVoyage2020.buyTicket.setPage(1)">Назад</a>
                <!--<a href="#" class="btn btn-sm btn-primary" ng-class="{loading: promotionBonVoyage2020.buyTicket.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 1" ng-click="promotionBonVoyage2020.buyTicket.setPage(3)">Купить в рассрочку</a>-->
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionBonVoyage2020.canBuy(), loading: promotionBonVoyage2020.buyTicket.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 1" ng-click="promotionBonVoyage2020.buyTicket.setPage(2)">Купить билет</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionBonVoyage2020.canBuy(), loading: promotionBonVoyage2020.buyTicket.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 2" ng-click="promotionBonVoyage2020.buyTicket.submit()"><i class="fal fa-wallet"></i> Оплатить</a>
            
                <!--Покупка в долг-->
                <!--<a href="#" class="btn btn-sm btn-secondary" ng-class="{loading: promotionBonVoyage2020.buyTicketDebt.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 4" ng-click="promotionBonVoyage2020.buyTicket.setPage(3)">Назад</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionBonVoyage2020.data.tickets.buy_for_debt.enabled, loading: promotionBonVoyage2020.buyTicket.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 3" ng-click="promotionBonVoyage2020.buyTicket.setPage(4)">Далее</a>
                <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotionBonVoyage2020.data.tickets.buy_for_debt.enabled, loading: promotionBonVoyage2020.buyTicketDebt.loading}" ng-show="promotionBonVoyage2020.buyTicket.page == 4" ng-click="promotionBonVoyage2020.buyTicketDebt.submit()"><i class="fal fa-wallet"></i> Купить в рассрочку</a>
                -->
            </div>
        </div>
    </form>

    <div class="mb-4">
        <h5>Отправляйтесь в невероятное приключение вместе с Golden DAX</h5>
        <p>
            8 дней / 7 ночей на невероятном Кавказе
            <br>- Армения
            <br>- Грузия
            <br>- Азербайджан
            <br>В компании лучших бренд-партнеров и руководства компании в лучших местах с тысячелетней историей.
            <br>
            <br>Незабываемое путешествие уже готовится и ждет только тебя.
        </p>
        <p>
            <h5>Цена: <strong>БЕСПЛАТНО</strong></h5>
            <span class="text-muted">
                <i class="fal fa-exclamation-triangle"></i>
                При условии полного выполнения промоушена. При частичном выполнении партнер может доплатить разницу. Без выполнения промоушена стоимость поездки составит 1000 USDT на одного человека.
            </span>
        </p>
    </div>

    <!--<div class="row">
        <div class="col col-12">
            <div style="background: #24305e; border-radius: 3px; padding: 20px; text-align: center; font-size: 1.3em; color: white;">
                12-17 февраля
                <div class="text-muted">Россия, Крым</div>
            </div>
        </div>
    </div>-->

    <div class="row mb-0" style="line-height: normal; background: rgba(0,0,0,.05);">
        <div class="col col-12 col-md-6">
            <div style="border-radius: 5px; padding: 30px 20px; text-align: center; font-size: 1.3em; color: white;">
                <h5>Количество travel-бонусов</h5>
                <div style="font-size: 3.5em; line-height: 1em;">{{promotionBonVoyage2020.data.tickets.wallet_amount.bonus / 100000000 | mycurrency:2}}</div>
                <!--<div class="text-muted" style="font-size: .8em;">трэвел бонусов в наличии</div>-->
                <div class="text-muted">1 бонус = 1 USDT</div>
                <!--<div class="mt-4">
                    {{promotionBonVoyage2020.data.tickets.wallet_amount.bonus_withdrawal_limit / 100000000 | mycurrency:8}}
                    <div class="text-muted" style="font-size: .8em;">доступно к выводу</div>
                </div>-->
                <div class="mt-4" ng-if="promotionBonVoyage2020.data.tickets.wallet_amount.bonus_withdrawal_enabled">
                    <a href="#" class="btn btn-primary" ng-class="{loading: promotionBonVoyage2020.withdrawalBonus.loading}" ng-click="promotionBonVoyage2020.withdrawalBonus.submit()">Вывод</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <div style="padding: 20px 0;">
                <!--Потратить трэвел бонусы можно исключительно на приобретение билетов или на компенсацию купленных билетов на выездные мероприятия компании.
                Неиспользованные бонусы накопленные за период действия одного промоушена сгорают после его окончания.-->                
                <h5 class="mt-2">Как получить бонусы?</h5>
                <div class="text-muted">
                    Приглашайте новых клиентов, которые открывают счета, зарабатывайте карьерные бонусы и дополнительно 10%
                    или более от размера полученных бонусов будут зачислены travel-бонусами.
                </div>
                <h5 class="mt-2">Как потратить</h5>
                <div class="text-muted">
                    Полностью или частично можно оплатить билеты на путешествие с Golden DAX
                </div>
            </div>
        </div>
    </div>

    <div class="row-fullwidth">
        <div class="flex0 flex-center" style="background: #4caf50; padding: 20px; color: white;">
            <h3>{{promotionBonVoyage2020.data.bonus_percent}}%</h3>
            <!-- <h3 ng-repeat="item in promotionBonVoyage2020.data.tickets.price_list" ng-if="item.is_active">
                {{item.bonus_percent}}%
            </h3> -->
            <div class="px-3">
                <i class="fal fa-arrow-left mr-2"></i>
                Столько процентов от всех полученных карьерных бонусов в Golden DAX начисляется вам в виде travel-бонусов
            </div>
        </div>
    </div>
    
    <div class="row-fullwidth">
        <div style="background: #24305e; color: white;">
            <div style="padding: 20px;">
                <h5>Сначала оплати, а потом копи*</h5>
                <div class="mt-2">
                    GOLDEN DAX дает возможность приобрести билеты более выгодно! **
                    <br>Вы можете сначала приобрести билеты со своего расчетного счета, а затем выводить накопленные бонусы на свой расчетный счет.
                    <br>Чем раньше вы приобрете хотя бы один билет, тем больший процент бонусов будет приходить вам до самого завершения промоушена.
                </div>
            </div>
            <table class="table table-dark m-0" style="background-color: rgba(255,255,255,.05);">
                <tbody>
                    <tr ng-repeat="item in promotionBonVoyage2020.data.tickets.price_list" ng-class="{muted: item.is_expired || !item.is_active}">
                        <td style="padding-left: 20px;">{{item.bonus_percent}}%</td>
                        <td>
                            <span ng-if="item.dt_from == item.dt_to">только {{item.dt_from | date}}</span>
                            <span ng-if="item.dt_from != item.dt_to">с {{item.dt_from | date}} по {{item.dt_to | date}}</span>
                        </td>
                        <td class="strong">
                            <span ng-if="item.is_active"><i class="fal fa-arrow-left"></i> Если приобрести сейчас!</span>
                            <span ng-if="item.is_expired">Завершилось</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-mini text-muted" style="padding: 20px;">
                * также вы можете сначала накопить бонусы и уже на накопленные приобрести билеты. Но чем раньше вы приобрете билет, тем больше будет вам начисляться бонусов
                <br><br>** доступно только для пользователей с карьерными статусами 1 - 4. Для статусов 5 или выше ставка бонуса остается фиксированной в 10%.
            </div>
        </div>
    </div>

    <!--Условия возможности использования Travel бонусов-->
    <div class="row-fullwidth" style="line-height: normal; background: rgba(0,0,0,.05);">
        <div style="padding: 20px;">
            <h4>Условия возможности использования Travel бонусов</h4>
            <span class="text-muted">Чтобы воспользоваться бонусами в полной мере необходимо соблюсти одно или несколько следующих условий:</span>
            <br><strong>Можно потратить от суммарного количества накопленных бонусов на приобретение билета или вывести:</strong>
        </div>
        <table class="table table-dark mt-2 mb-0 text-white" style="background-color: rgba(255,255,255,.05);">
            <tbody>
                <tr>
                    <td style="padding-left: 20px;"><i class="fas fa-check-square text-success"></i></td>
                    <td>+{{promotionBonVoyage2020.data.bonus_conditions.base_discount_percent}}%</td>
                    <td>Без каких-либо условий
                        <br><span class="text-success">выполнено</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">
                        <i class="fas fa-check-square text-success" ng-if="promotionBonVoyage2020.data.bonus_conditions.dax_ref_count >= promotionBonVoyage2020.data.bonus_conditions.min_dax_ref_needed"></i>
                        <i class="fal fa-square" ng-if="promotionBonVoyage2020.data.bonus_conditions.dax_ref_count < promotionBonVoyage2020.data.bonus_conditions.min_dax_ref_needed"></i>
                    </td>
                    <td>+{{promotionBonVoyage2020.data.bonus_conditions.dax_ref_discount_percent}}%</td>
                    <td>
                        Привлечение новых клиентов на счета Standard или Trust
                        <br>Необходимое количество равно уровню карьеры на момент первой покупки билета или вывода
                        <br>{{promotionBonVoyage2020.data.bonus_conditions.dax_ref_count}} из {{promotionBonVoyage2020.data.bonus_conditions.min_dax_ref_needed}} 
                        <span class="text-success" ng-if="promotionBonVoyage2020.data.bonus_conditions.dax_ref_count >= promotionBonVoyage2020.data.bonus_conditions.min_dax_ref_needed">выполнено</span>
                        <span class="text-danger" ng-if="promotionBonVoyage2020.data.bonus_conditions.dax_ref_count < promotionBonVoyage2020.data.bonus_conditions.min_dax_ref_needed">не выполнено</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">
                        <i class="fas fa-check-square text-success" ng-if="promotionBonVoyage2020.data.bonus_conditions.proauto_ref_count >= promotionBonVoyage2020.data.bonus_conditions.min_proauto_ref_needed"></i>
                        <i class="fal fa-square" ng-if="promotionBonVoyage2020.data.bonus_conditions.proauto_ref_count < promotionBonVoyage2020.data.bonus_conditions.min_proauto_ref_needed"></i>
                    </td>
                    <td>+{{promotionBonVoyage2020.data.bonus_conditions.proauto_ref_discount_percent}}%</td>
                    <td>
                        Привлечение нового клиента в кооператив ПроАвто
                        <br>{{promotionBonVoyage2020.data.bonus_conditions.proauto_ref_count}} из {{promotionBonVoyage2020.data.bonus_conditions.min_proauto_ref_needed}}
                        <span class="text-success" ng-if="promotionBonVoyage2020.data.bonus_conditions.proauto_ref_count >= promotionBonVoyage2020.data.bonus_conditions.min_proauto_ref_needed">выполнено</span>
                        <span class="text-danger" ng-if="promotionBonVoyage2020.data.bonus_conditions.proauto_ref_count < promotionBonVoyage2020.data.bonus_conditions.min_proauto_ref_needed">не выполнено</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">
                        <i class="fas fa-check-square text-success" ng-if="promotionBonVoyage2020.data.bonus_conditions.academy_lessons_count >= promotionBonVoyage2020.data.bonus_conditions.min_academy_count_lessons_needed"></i>
                        <i class="fal fa-square" ng-if="promotionBonVoyage2020.data.bonus_conditions.academy_lessons_count < promotionBonVoyage2020.data.bonus_conditions.min_academy_count_lessons_needed"></i>
                    </td>
                    <td>+{{promotionBonVoyage2020.data.bonus_conditions.academy_lessons_discount_percent}}%</td>
                    <td>
                        Посещение полного цикла из 12 уроков Академии Golden DAX
                        <br>{{promotionBonVoyage2020.data.bonus_conditions.academy_lessons_count}} из {{promotionBonVoyage2020.data.bonus_conditions.min_academy_count_lessons_needed}} 
                        <span class="text-success" ng-if="promotionBonVoyage2020.data.bonus_conditions.academy_lessons_count >= promotionBonVoyage2020.data.bonus_conditions.min_academy_count_lessons_needed">выполнено</span>
                        <span class="text-danger" ng-if="promotionBonVoyage2020.data.bonus_conditions.academy_lessons_count < promotionBonVoyage2020.data.bonus_conditions.min_academy_count_lessons_needed">не выполнено</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!--Мои билеты-->
    <div class="mb-2 pt-4">
        <a href="#" class="btn btn-sm w-100 btn-primary" ng-click="promotionBonVoyage2020.buyTicket.open()">Получить билет</a>
        <div class="my-4">
            <h3>Мои билеты</h3>
            <div class="text-center text-muted py-4" ng-if="promotionBonVoyage2020.data.tickets.list.length == 0">
                Нет купленных билетов
            </div>
            <div class="tickets-list" ng-if="promotionBonVoyage2020.data.tickets.list.length > 0">
                <div class="tickets-list-item flex0 flex-center flex-space-between" ng-repeat="ticket in promotionBonVoyage2020.data.tickets.list" style="padding: 15px; margin-bottom: 10px; border-radius: 10px; border: 1px solid rgba(255,255,255,.2); background-color: rgba(255,255,255,.1);">
                    <div>
                        <h4 ng-if="ticket.birthday">{{ticket.last_name}} {{ticket.first_name}} <a href="#" class="btn btn-secondary ml-2" ng-click="promotionBonVoyage2020.tickets.openView(ticket)" ng-if="ticket.birthday">Смотреть данные</a></h4>
                        <h4 ng-if="!ticket.birthday">Нет данных <a href="#" class="btn btn-sm btn-secondary" ng-click="promotionBonVoyage2020.tickets.openEdit(ticket)" ng-if="!ticket.birthday">Заполнить данные до 28.06.2020г.</a></h4>
                        {{ticket.fact_price / 100000000 | mycurrency:0}} USDT
                        <span class="text-muted">{{ticket.dt | datetime}}</span>
                        <div ng-if="ticket.credit_id">
                            <span style="text-decoration: underline;">Билет приобретён в рассрочку</span>
                        </div>
                    </div>
                    <div>
                        <i class="fal fa-3x fa-check-square text-success" ng-if="ticket.birthday"></i>
                        <i class="fal fa-3x fa-clock text-danger" ng-if="!ticket.birthday"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Вопросы - ответы-->
    <div class="row mt-4 py-3 pb-4" style="line-height: normal; background: rgba(0,0,0,.05);">
        <div class="col col-12">
            <h4>Вопрос - ответ</h4>
            <table class="text-white">
                <tbody>
                    <tr>
                        <td>
                            <h6>— Если я не выполню условия, например по привлечению в Кооператив, то мне придет меньше бонусов?</h6>
                            <div class="text-muted mb-4">
                                Бонусы придут в полном объеме. Часть полученных бонусов замораживается на балансе до тех пор, пока условия не выполнятся. Если условие выполнится, то бонусы размораживаются и становятся доступны к трате или выводу.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>— Если я накоплю только часть бонусов? Могу я приобрести билет оплатив недостающую часть с баланса?</h6>
                            <div class="text-muted mb-4">
                                Да, можно тратить любое количество бонусов на приобретение билета, а недостающую сумму доплатить с расчетного счета.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>— Если я сначала приобрету билет и оплачу всю сумму сразу без использования бонусов, то потом могу полученные бонусы вывести на расчетный счет?</h6>
                            <div class="text-muted">
                                Да, именно так. Но необходимо убедиться на счет выполнения условий, чтобы иметь возможность вывести все бонусы.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Данные участника-->
    <form id="form-BonVoyage2020-ticket-view" class="popup-form animated zoomIn" data-title="Данные участника">
        <div class="popup-form-content">
            {{promotionBonVoyage2020.tickets.item.last_name}}
            <br>{{promotionBonVoyage2020.tickets.item.first_name}}
            <br>{{promotionBonVoyage2020.tickets.item.middle_name}}
            <br>{{promotionBonVoyage2020.tickets.item.birthday}}
            <div class="mt-4">
                <div ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 1">Паспорт РФ</div>
                <div ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 2">Паспорт гражданина другого государства</div>
                <div>{{promotionBonVoyage2020.tickets.item.passport_number}}</div>
                <div class="flex0">
                    <div ng-if="promotionBonVoyage2020.tickets.item.passport_photo_1">
                        <img ng-src="{{app.domains.avatar}}{{promotionBonVoyage2020.tickets.item.passport_photo_1}}" style="max-width: 128px; max-height: 128px; border-radius: 5px; margin-right: 10px; margin-bottom: 10px;">
                    </div>
                    <div ng-if="promotionBonVoyage2020.tickets.item.passport_photo_2">
                        <img ng-src="{{app.domains.avatar}}{{promotionBonVoyage2020.tickets.item.passport_photo_2}}" style="max-width: 128px; max-height: 128px; border-radius: 5px; margin-right: 10px; margin-bottom: 10px;">
                    </div>
                </div>
            </div>
            <div class="text-muted mt-2">
                <i class="fal fa-exclamation-triangle"></i>
                Изменение данных невозможно
            </div>
        </div>
        <div class="popup-form-footer">
            <a href="#" class="btn btn-primary" onclick="return CustomUI.hideForm()">Ok</a>
        </div>
    </form>

    <!--Заполните данные для билета-->
    <form id="form-BonVoyage2020-ticket-edit" class="popup-form animated zoomIn" data-title="Заполните данные для билета">
        <div class="popup-form-content">
            <div class="mb-4">
                <label for="BonVoyage-ticket2020-passport_type_id1"><input type="radio" name="BonVoyage-ticket2020-passport_type_id" ng-model="promotionBonVoyage2020.tickets.item.passport_type_id" id="BonVoyage-ticket2020-passport_type_id1" value="1"> Паспорт РФ</label>
                <br><label for="BonVoyage-ticket2020-passport_type_id2"><input type="radio" name="BonVoyage-ticket2020-passport_type_id" ng-model="promotionBonVoyage2020.tickets.item.passport_type_id" id="BonVoyage-ticket2020-passport_type_id2" value="2"> Гражданин другого государства</label>
            </div>
            <div class="my-3 text-warning" ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 1">
                Все поля заполняются кириллицей
            </div>
            <div class="my-3 text-warning" ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 2">
                Все поля заполняются латиницей
            </div>
            <input type="text" class="form-control mb-3" ng-model="promotionBonVoyage2020.tickets.item.last_name" placeholder="Фамилия" ng-class="{disabled: promotionBonVoyage2020.tickets.isFirstTicket()}">
            <input type="text" class="form-control mb-3" ng-model="promotionBonVoyage2020.tickets.item.first_name" placeholder="Имя" ng-class="{disabled: promotionBonVoyage2020.tickets.isFirstTicket()}">
            <input type="text" class="form-control mb-3" ng-model="promotionBonVoyage2020.tickets.item.middle_name" placeholder="Отчество" ng-class="{promotionBonVoyage2020.tickets.isFirstTicket()}">
            <select ng-model="promotionBonVoyage2020.tickets.item.sex" class="form-control mb-3">
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
            </select>
            <div>
                Дата рождения
            </div>
            <input type="date" class="form-control mb-3" id="input-birthday" ng-model="promotionBonVoyage2020.tickets.item.birthday" placeholder="Дата рождения">
            <div class="my-3 text-warning">
                Внимательно проверяйте правильность написания данных. Если в данных будет ошибка, то участник мероприятия не будет допущен на борт самолета.
            </div>
            <div class="my-3">
                <strong ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 1">Данные паспорта РФ</strong>
                <strong ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 2">Данные паспорта гражданина другого государства</strong>
                <div>
                    <input type="text" class="form-control" ng-model="promotionBonVoyage2020.tickets.item.passport_number" placeholder="Серия и номер паспорта">
                </div>
                <div class="my-3">
                    <input style="position: absolute; left: -10000px; opacity: 0;" id="input-photo-passport-1" type="file" onchange="angular.element(this).scope().promotionBonVoyage2020.tickets.processCFAttachImage(1, this.files)" accept="image/gif,image/png,image/jpeg">
                    <input style="position: absolute; left: -10000px; opacity: 0;" id="input-photo-passport-2" type="file" onchange="angular.element(this).scope().promotionBonVoyage2020.tickets.processCFAttachImage(2, this.files)" accept="image/gif,image/png,image/jpeg">
                    <div>
                        <a ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 1" href="#" class="w-100 btn btn-primary" ng-click="promotionBonVoyage2020.tickets.selectPhoto(1)">Выбрать фото главного разворота</a>
                        <a ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 2" href="#" class="w-100 btn btn-primary" ng-click="promotionBonVoyage2020.tickets.selectPhoto(1)">Выбрать фото паспорта</a>
                        <div ng-if="promotionBonVoyage2020.tickets.photo1" class="text-success">
                            <i class="fal fa-check"></i> Фотография выбрана
                        </div>
                    </div>
                    <div ng-if="promotionBonVoyage2020.tickets.item.passport_type_id == 1" class="mt-2">
                        <a href="#" class="w-100 btn btn-primary" ng-click="promotionBonVoyage2020.tickets.selectPhoto(2)">Выбрать фото страницы прописки</a>
                        <div ng-if="promotionBonVoyage2020.tickets.photo2" class="text-success">
                            <i class="fal fa-check"></i> Фотография выбрана
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 text-warning">
                <label for="BonVoyage2020-is_accept">
                    <input type="checkbox" id="BonVoyage2020-is_accept" ng-model="promotionBonVoyage2020.tickets.is_accept"> Я подтверждаю, что указанные данные являются точными и отказываюсь от претензий, если это не так.
                </label>
            </div>
        </div>
        <div class="popup-form-footer">
            <a href="#" class="btn btn-primary" ng-click="promotionBonVoyage2020.tickets.save()" ng-class="{disabled: !promotionBonVoyage2020.tickets.canSave(), loading: promotionBonVoyage2020.tickets.loading}">Сохранить</a>
        </div>
    </form>

</div>