<div class="row">
    <div class="col col-12" ng-class="{'disabled': app.user.user_status_id != 4}">
        <div class="card">     
            <div class="card-header">
                <h2>Промоушены</h2>
            </div>       

            <div class="card-body" > 
                <div class="card" style="padding-top: 1.25rem;"> 
                    <div class="card-header">
                        <span class="text-gold text-uppercase">Промоушены GOLDENDAX</span>
                    </div>
                    <ul class="list">
                        <li>
                            <a ng-href="/promotions/307IPhone/">
                            <img class="w-100 promo-main-img" style="width: 100%; height: 100%; object-fit: cover;" src="/assets/img/GD_iphone-12_1.jpg">
                            <img class="w-100 promo-main-img-mob" style="width: 100%; height: 100%; object-fit: cover;" src="/assets/img/GD_iphone-12_2.jpg"> 
                                <div class="event-list-item-footer">
                                    <div>
                                        <strong>307 Айфонов от Golden DAX. Забери свой!</strong>
                                        <!-- <br><span class="font-mini">ТЕКСТ ДЛЯ ЧЕГО-то</span> -->
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- <div>
                        <a ng-href="/promotions/307IPhone/">
                            <img class="promo-main-img" style="width: 100%; height: 100%; object-fit: cover;" src="/assets/img/GD_iphone-12_1.jpg">
                            <img class="promo-main-img-mob" style="width: 100%; height: 100%; object-fit: cover;" src="/assets/img/GD_iphone-12_2.jpg">
                            <div class="event-list-item-footer">
                                <div>
                                    <strong>307 IPhone</strong>
                                    <br><span class="font-mini">Получи айфон</span>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>

                
                <!-- <div class="card" ng-class="{'card-collapsed':promotion.no_trustera_collapsed}" style="padding-top: 1.25rem;"> 
                    <div class="card-header">
                        <span class="text-gold text-uppercase">Промоушены TRUSTERA</span>
                        <div>
	                        <span class="btn p-0" ng-click="promotion.no_trustera_collapsed = !promotion.no_trustera_collapsed">
                                <i ng-if="!promotion.no_trustera_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="promotion.no_trustera_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div> 
                    </div>                
                    <div class="card-body" style="background-color: #42454e;">
                        <div ng-if="competition.loading">
                            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                        </div>
                        <ul class="list" ng-if="!competition.loading && app.user.user_status_id == 4">
                            <li ng-repeat="item in promotion.list">
                                <a ng-href="/promotions/{{item.id}}">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <br><span class="font-mini">{{item.description}}</span>
                                        </div>
                                        <i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                            <li ng-repeat="item in competition.list">
                                <a ng-href="/competition/{{item.code}}">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <div class="font-mini" ng-if="item.description">{{item.description}}</div>
                                        </div>
                                        <!--<i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="list" ng-if="!competition.loading && app.user.user_status_id != 4">
                            <li ng-repeat="item in promotion.list">
                                <a ng-href="#">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <br><span class="font-mini">{{item.description}}</span>
                                        </div>
                                        <i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                            <li ng-repeat="item in competition.list">
                                <a ng-href="#">
                                    <img ng-src="{{app.domains.avatar}}{{item.image}}" class="w-100">
                                    <div class="event-list-item-footer">
                                        <div>
                                            <strong>{{item.title}}</strong>
                                            <div class="font-mini" ng-if="item.description">{{item.description}}</div>
                                        </div>
                                        <!--<i class="fal fa-{{item.status.icon}}"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                
                <div class="card" ng-class="{'card-collapsed':promotion.no_proauto_collapsed}" style="padding-top: 1.25rem;"> 
                    <div class="card-header">
                        <span class="text-gold text-uppercase">Промоушены ПРОАВТО</span>
                        <div>
							<span class="btn p-0" ng-click="promotion.no_proauto_collapsed = !promotion.no_proauto_collapsed">
                                <i ng-if="!promotion.no_proauto_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="promotion.no_proauto_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div> 
                    </div> 
                    <div class="card-body" style="background-color: #42454e;">
                    </div>
                </div> -->
       
        </div>
    </div>
</div>