<div class="row" ng-init="promotion.loadItem()">
    <div class="col col-12">
        <!--Загрузка-->
        <div ng-if="promotion.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card animated fadeIn" ng-if="!promotion.loading">
            <div class="card-header">
                <h2 class="flex0 flex-center flex-space-between"><a href="/promotions/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{promotion.item.title}}</h2>
            </div>
            <ul class="nav nav-tabs page-tabs w-100" ng-init="promotion.tabs.init()">
                        <li class="nav-item" ng-repeat="tab in promotion.tabs.list">
                            <a href="" class="nav-link tab-team" ng-class="{active: tab.active}" ng-click="promotion.tabs.select($index)">{{tab.title}}</a>
                        </li>
                    </ul>

            <div class="card-body">
                <div>

                    <div class="row mb-0">
                        
                        <div class="animated fadeIn w-100" ng-show="promotion.tabs.index == 0">

                            <div class="col col-12 promotion_blocks" ng-if="promotion.item.status.promotion_user_status_id == 4">
                                <i class="fal fa-check text-muted"></i> Промоушен успешно завершен.
                                <br><i class="fal fa-check text-muted"></i> Бонус выплачен.
                                <br><i class="fal fa-check text-muted"></i> Повторное прохождение промоушена невозможно.
                            </div>

                            <div class="col col-12 promotion_blocks" ng-if="promotion.item.id == 3">
                                <div class="mb-2">
                                    <i class="fal fa-exclamation-triangle"></i>
                                    Промоушен завершён
                                </div>
                            </div>

                            <div class="col col-12 promotion_blocks" ng-if="promotion.item.status.promotion_user_status_id == 3 || promotion.item.status.promotion_user_status_id == 6">

                                <div class="mb-2" ng-if="promotion.item.id != 3">
                                    Выполняется
                                    с <strong>{{promotion.item.status.dt_activate | datetime}}</strong>
                                    по <strong>{{promotion.item.status.dt_finish | datetime}}</strong>
                                </div>
                                
                                <!--Quick start-->
                                <ng-include src="'/app/views/promotions/1.html'" ng-if="promotion.item.id == 1"></ng-include>
                                <!--Be leader-->
                                <ng-include src="'/app/views/promotions/2.html'" ng-if="promotion.item.id == 2"></ng-include>
                                <!--Congress Golden DAX MRIYA 2020-->
                                <ng-include src="'/app/views/promotions/3.html'" ng-if="promotion.item.id == 3"></ng-include>
                                <!--Bon Voyage 2020 Golden DAX 2020-->
                                <ng-include src="'/app/views/promotions/4.html'" ng-if="promotion.item.id == 4"></ng-include>

                                <div ng-if="promotion.item.inprogress.is_closable">
                                    <div class="flex0">
                                        <a href="#" class="btn btn-sm btn-primary" ng-class="{disabled: !promotion.item.inprogress.can_close}" onclick="return CustomUI.showForm('form-promotion-finish-confirm');">Завершить</a>
                                        <div style="flex: 1; padding-left: 20px;">
                                            Досрочное завершение позволяет выполнить Промоушен ещё раз.
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Условия для активации-->
                            <div class="col col-12" ng-if="promotion.item.conditions">
                                <div ng-if="promotion.item.conditions.list.length > 0">
                                    <h4>Условия для активации</h4>
                                    <table class="table conditions">
                                        <tr ng-repeat="cond in promotion.item.conditions.list">
                                            <td><div class="flex0">
                                                <i ng-class="{'fas fa-check-square': cond.ok, 'fal fa-square': !cond.ok}"></i>
                                                {{cond.title}}</div>
                                            </td>
                                            <td><span class="font-mini text-muted">Факт</span><br>{{cond.value}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="center-align my-4" ng-if="promotion.item.id != 3">
                                    <a href="#" class="btn btn-secondary btn-icon-split" ng-class="{disabled: !promotion.item.conditions.ok}" ng-click="promotion.activatePromotion(promotion.item.id)">
                                        <span ng-if="!promotion.item.conditions.ok" class="icon text-white-50">
                                            <i class="fal fa-lock-alt"></i>
                                        </span>
                                        <span class="text">Активировать</span>
                                    </a>
                                    <div class="mt-2">
                                        Необходимо активировать!
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Статья с medium-->
                        <div class="col col-12 b fadeIn" ng-show="promotion.tabs.index == 1">
                            <article ng-bind-html="promotion.item.article | trust"></article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>