<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="page-news" ng-controller="newsCtrl">
    <div class="emp-profile animated fadeIn">
        <div ui-view></div>
    </div>
</div>