<div class="row" ng-init="news.loadList()">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h2>{{lang.news}}</h2>
            </div>
            <div class="card-body">
                <div ng-if="news.loading">
                    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                </div>
                <div class="center-align text-muted" ng-if="!news.loading && news.list.length == 0">
                    {{lang.empty_list}}
                </div>
                <ul class="list user-news-block" ng-if="!news.loading && news.list.length > 0">
                    <li ng-repeat="item in news.list" class="animated fadeIn">
                        <a ng-href="/news/{{item.url}}">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <img ng-src="{{item.picture | strReplace: '1000':'216'}}" class="item-poster">
                                </div>
                                <div class="col-md-9 col-sm-12 flex0 flex-space-between flex-column">
                                    <h5>{{item.title}}</h5>
                                    <div>
                                        <div class="left-align"><!--Имя пользователя--></div>
                                        <div class="right-align font-mini text-muted"><i class="fal fa-calendar"></i> {{item.dt | date}}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>