<div class="row" ng-init="news.loadItem()">
    <div class="col col-12">

        <div ng-if="news.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <div class="card animated fadeIn" ng-if="!news.loading">

            <div class="card-header flex0 flex-space-between">
                <h2><a ng-href="/news/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{news.item.title}}</h2>
            </div>

            <div class="card-body">

                <div class="right-align text-muted"><i class="fal fa-calendar"></i> {{news.item.dt | date}}</div>

                <art data-content="news.item.html"></art>

                <div class="article-keywords" style="margin-top: 20px;" ng-if="news.item.keywords.length > 0">
                    <a href="#" ng-repeat="kw in news.item.keywords" class="btn btn-sm btn-secondary">{{kw}}</a>
                </div>

                <div class="article-footer text-muted" style="margin-top: 20px;">
                    <i class="far fa-eye"></i> 21
                    &nbsp;&nbsp;
                    <i class="fas fa-ticket-alt"></i> 4
                    &nbsp;&nbsp;
                    <i class="fas fa-share-alt-square"></i> 7
                </div>

            </div>
        </div>
    </div>
</div>