#page-achievements {
	
    hr {
        margin-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
    }

    .lesson_counter {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(12, 1fr);
        overflow: hidden;
        border-radius: 40px;
        margin-top: 10px;
        > * {
            .flex0;
            .flex-center;
            .strong;
            padding: 5px;
            &:not(.active) {
                background-color: @text_color_dark;
                & > * {
                    visibility: hidden;
                }
            }
            &.active {
                background-color: @accent_color;
                color: @text_color_dark;
            }
        }
    }

    .mini_cards {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: repeat(4,1fr);
        grid-auto-flow: column;
        margin-top: 10px;
        .mini_card {
            .flex0;
            background-color: rgba(0,0,0,.15);
            font-size: 11px;
            .mini_card_header {
                .flex0;
                .flex-center;
                .strong;
                padding: 10px 0;
                background-color: @text_color_dark;
                border-left: 2px solid @accent_color;
                width: 70px;
                color: white;
            }
            .mini_card_body {
                .flex0;
                .flex-center;
                .flex-space-between;
                padding: 10px;
                width: 100%;
            }
            &.active {
                .mini_card_header {
                    background-color: @accent_color;
                    color: @text_color_dark;
                }
            }
        }
    }
    
    .bonus_status  {
        .flex0;
        background-color: rgba(0,0,0,.15);
        padding: 15px;
        color: white;
        .bonus_status_icon_wrapper {
            padding-right: 15px;
            .bonus_status_icon {
                .flex0;
                .flex-center;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                border: 1px solid @text_color_dark;
            }
        }
        &:not(.active) {
            .bonus_status_icon * {
                display: none;
            }
        }
        &.active {
            .bonus_status_icon {
                background-color: @text_color_dark;
                border-color: transparent;
                color: @accent_color;
            }
        }
        .bonus_status_description {
        }
    }
    .achiev-btn {
        .btn-primary {
            font-size: 14px;
            color: #fff;
            border-radius: 0;
            &:active, &:hover {
                background-color: #23242a;
                border-color: #23242a;
            }
        }   
    }
}

#events-nav {
	.list {
		padding: 0;
    	margin: 0;
    	
    	.list-item {
    		background: #343740;
		    padding: 0 10px;
		    margin-bottom: 10px;
		    border-left: 2px solid;
    	}
	}

	.ticket-price {
		color: white;
	    text-transform: uppercase;
	    border: 1px solid #aa906a;
	    padding: 2px 10px;
	    border-radius: 10px;
	}
	
    li {
        a {
            .transition_all;
        }
        &:hover {
            .transition_all;
            background-color: rgb(86, 90, 100);
        }
    }
    .tab-team {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -o-box-pack: justify;
        background-color: #42454e;
        color: white;
        padding: .75rem 0;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0;
    }
    @media screen and (max-width: 768px) {
        .tab-team {
            font-size: 9px;
        }
    }  
    .nav-item {
        flex:1;
    }
    .nav-link {
        border: none;
    }
    .nav-link.active {
        color: black;
        background: #bda076;
    }
    .nav-link:focus, .nav-link:hover {
        border: none;
    }
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
    #page-achievements {
        .lesson_counter {
            border-radius: 12px;
            grid-template-columns: repeat(6, 1fr);
        }
        .mini_cards {
            grid-template-rows: repeat(12,1fr);
        }
    }
}
