#page-beleader {
    .icn {
        .flex0;
        .flex-center;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        background-color: transparent;
        border-radius: 50px;
        border: 2px solid rgba(0,0,0,.4);
        &.icn-large {
            width: 40px;
            height: 40px;
        }
        &.ok {
            background-color: rgba(0,0,0,.4);
            border-color: transparent;
        }
    }
    #beleader-bonuses {
        strong {
            font-size: 1.4em;
            font-weight: normal;
            &:not(.ok) {
                font-family: Open Sans Light;
                opacity: .7;
            }
        }
    }
    .competition-card {
        .flex0;
        .flex-center;
        .flex-space-between;
        .flex-wrap;
        background: rgba(255,255,255,.1);
        border-radius: 10px;
        align-items: stretch;
        .competition-card-result-mobile {
            display: none;
        }
        .card-body {
            background-color: transparent;
            & > * {
                padding: 10px 15px;
            }
        }
        .competition-card-result-icon {
            .flex0;
            .flex-center;
            min-width: 100px;
            border-left: 1px solid rgba(0,0,0,.2);
        }
        & > * {
            padding: 10px 20px;
        }
    }
    .competition-user {
        .flex0;
        .flex-center;
        margin: 5px 0;
        .user-card {
            .flex0;
            .flex-center;
            max-width: 170px;
            color: white;
            padding: 10px;
            background-color: #807362;
            border-left: 2px solid #bda076;
            &.empty {
                background-color: rgba(0,0,0,.2);
            }
        }
    }
}