.task-container {
    .task-item {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        border-bottom: 1px solid @gold_color;
        padding-bottom: 5px;
        margin-top: 10px;

        .task-title {

        }

        .task-status {

        }

        .task-price {

        }
    }
}