#page-career {
    .card-body.collapse ~  .card-header {
        color: red!important;
    }
    .team-user-info {
        .card-body {
            .user-avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
            h6 {
                background-color: rgba(0, 153, 255, 1);
                color: white;
                padding: 5px 10px;
                border-radius: 20px;
                margin-top: -5px;
            }
        }
    }
    .main-card {
	    & > .card-header {
	        min-height: 40px;
	        text-transform: uppercase;
	        display: flex;
	    }
	   & > .card-body {
	        & .card-header {
	            padding: 10px;
	        	border-bottom: 1px solid rgba(0,0,0,.125);
	        	min-height: 50px;
	        }
	        & .card-body {
	            padding: 10px;
	            background-color: #42454e;
	        }
	    }
	}
    .main-card {
		.proauto {
			color: #ffc617;
			border-color: #ffc617;
		}
		.trustera {
			color: #2d52c9;
			border-color: #2d52c9;
		}
		.red {
			color: #ea3e45;
			border-color: #8f3a41;
		}
		.green {
			color: #8dc63f;
			border-color: #8dc63f;
		}
		.blue {
			color: #00bff3;
			border-color: #00bff3;
		}
		.h-45 {
			height: 45%;
		}
		.h-55 {
			height: 55%;
		}
		.card-content {
			h4 {
				text-transform: uppercase;
			    color: white;
			    font-weight: normal;
			    margin: 0;
			}
			.col-sm-12 {
				padding-bottom: 15px;
			}
			.row {
				margin-bottom: 20px;
			}
		}
		.field-row {
			.col-sm-12 {
				padding-bottom: 0;
			}
		}
		.field-container {
			display: flex;
			justify-content: space-between;
			background: #343740;
		    border-left: 2px solid;
		    padding: 10px;
		    margin-bottom: 10px;
		    label {
		    	font-size: 14px;
			    color: white;
			    text-transform: uppercase;
		    }
		}
    }
    #table-div {
        .table-responsive::-webkit-scrollbar {
            height: 5px;
            width: 5px;
        }
        .table-responsive::-webkit-scrollbar-track {
            background: #42454e;
            border-radius: 10px;
        }
        .table-responsive::-webkit-scrollbar-thumb {
            background: #656872;
            border-radius: 10px;
            margin: 10px;
        }
    }
}
@media screen and (max-width: 768px)
{
 	.big-donut {
 		max-height: 210px!important;
 		transform: scale(1)!important;
 	}
}
