#form-buy-goldendax {
    .career_plan_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 700px;
        font-size: 14px;
        li {
            .flex0;
            .flex-column;
            .flex-center;
            height: 230px;
            margin: 10px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, .2);
            &:not(.disabled):hover {
                border-color: @main_color;
                background-color: rgba(0, 0, 0, .05);
            }
            .desc {
                padding-bottom: 1em;
            }
            &:not(.disabled) {
                .cpointer;
            }
            &.disabled {
                opacity: .25;
                pointer-events: none;
                filter: grayscale(1);
            }
        }
    }
    .career_month_list {
        li {
            .cpointer;
            padding: 5px 10px;
            margin: 3px;
            &:not(.disabled):not(.active):hover {
                background-color: rgba(0, 0, 0, .05);
            }
            &.active {
                background: @main_color;
                color: #fff;
            }
        }
    }
}

.active_goldendax_list {
    margin-top: 0;
    li {
        line-height: normal;
        margin: 10px;
        span {
            display: inline-flex;
            .flex-center;
            background: #3559a3;
            color: #fff;
            height: 20px;
            border-radius: 20px;
            padding: 2px 7px;
        }
    }
}

#team-user-info, #career-daxlord-pgbar, #career-others-pgbar, #career-lordbravel-pgbar, {

    .forpartner-values {
        line-height: 1em;
        margin-top: .25em;
        > div {
            margin-bottom: 1em;
            label {
                display: block;
            }
        }
    }

    label {
        line-height: 1.3em;
        padding: 2px 0;
        display: block;
    }

    .career-status-head-wrapper {
        .career-status-head {
            font-size: 20px;
            line-height: 1em;
            padding: 5px 0;
            color: #cc9900 !important;
        }
    }

    // Условия достижения карьерного статуса
    .career-status {
        display: flex;
        line-height: 0;
        flex-direction: column;
        justify-content: space-between;
        > * {
            border-radius: 3px;
            margin: .5em 0;
            p {
                margin-top: 0;
            }
        }
        &-team-capacity {
            border: none;
            position: relative;
            line-height: 1.5em;
            display: flex;
            align-items: center;
            &-head {
                margin-bottom: 0;
            }
            &-isfull {
                position: absolute;
                top: 40px;
                right: 5px;
                font-size: 30px;
                color: green;
                padding-right: 15px;
            }
            &-progressbar {
                position: relative;
			    border-radius: 15px;
			    background: #232429;
			    height: 24px;
			    padding: 5px;
			    flex: 1;
                &-progress {
                    background-color: #bda076;
				    border-radius: 10px;
				    min-width: 14px;
				    min-height: 14px;
                }
            }            
            .value {
                padding-left: 10px;
                .percent-check {
                	height: 24px;
				    width: 24px;
				    border: 2px solid #232429;
				    border-radius: 15px;
				    text-align: center;
                }
            }
        }
        &-teamlead {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &-block {
                &-content {
    				&-0 {
    				    padding: 10px;
	                    background: #343740;
    					border-left: 2px solid;
    					border-left-color: rgb(233,62,68);
					}
					&-1 {
    				    padding: 10px;
	                    background: #343740;
    					border-left: 2px solid;
						border-left-color: rgb(142,198,63);
					}
					&-2 {
    				    padding: 10px;
	                    background: #343740;
    					border-left: 2px solid;
						border-left-color: rgb(0,191,243);
					}
					&-3 {
    				    padding: 10px;
	                    background: #343740;
    					border-left: 2px solid;
						border-left-color: rgb(189,160,118);
					}
                }
                margin: 0;
                label {
                    line-height: normal;
                }
                // padding: 5px;
                &-volume {
                    &-fio {
                        .strong;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-decoration: underline;
                        line-height: 1em;
                        margin: 0;
                    }
                }
                &-percent {
                    .flex0;
                    .flex-column;
                    .flex-center;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: normal;
                }
                &-isCheck {
                    font-size: 30px;
                    color: green;
                }
            }
            &-condition {
                text-align: center;
            }
        }
        &-array {
            border: 1px solid @dim_color;
            display: flex;
            &-item {
                .flex0;
                .flex-center;
                height: 30px;
                flex: 1;
                font-size: 16px;
                color: @dim_color;
                &.ok {
                    // background: @color_green;
                    background: rgba(0,255,0,.1);
                    color: #fff;
                }
                &.exclamation {
                    // background: @color_red;
                    background: rgba(255,0,0,.1);
                    color: #fff;
                }
                &:not(:last-child) {
                    border-right: 1px solid @dim_color;
                }
            }
        }
        &-note {
            margin: .5em 0;
            line-height: initial;
        }
        &-footnote {
            font-size: 10px;
            line-height: initial;
            margin-top: 1em;
        }
    }

    .career-status-head-wrapper {
        padding: 0;
        background: transparent;
        .career-status-head {
            font-size: 20px;
            line-height: 1em;
            padding: 5px 0;
            color: #cc9900 !important;
        }
    }

    .color-red {
        color: @color_red;
    }

    .color-green {
        color: @color_green;
    }

    .background-red {
        background-color: @color_red;
    }

    .background-green {
        background-color: @color_green;
    }

    .career-status-head-wrapper {
        .career-status-head {
            font-size: 20px;
            color: #cc9900 !important;
        }
    }

}