#page-leader-bonus {
    .card-header-body {
    	background: #33353d;
	    color: @gold_color;
	    
	    .custom-tr td {
	    	border-top: none;
	    }
	    .history-custom-tr td {
	    	border: none;
	    	border-right: 1px solid #42454e;
	    	border-bottom: 1px solid #42454e;
	    	text-align: center;
	    	white-space: nowrap;
	    	vertical-align: middle;
	    }
	    .active.custom-tr {
	    	background: #23242a;
	    	.leader-level-circle {
    			background: #33353d;
		    }
	    }
	    
    }
    .leader-level-circle {
    	background: #23242a;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    font-size: 11px;
	    padding-top: 2px;
    }
    .level-cell {
	    height: 20px;
	    background: #23242a;
	    flex: 1;
	    border: 0 solid #33353d;
	    border-right-width: 1px;
	}
	.level-cell:first-child {
		border-radius: 10px 0 0 10px;
	}
	.level-cell:last-child {
		border-radius: 0 10px 10px 0;
	}
	.active.level-cell {
	    background: @gold_color;
	}
	.custom-col.col {
		padding: 0;
	}
	.bonus-detail-container {
		display: flex;
		
		.bonus-detail-block:first-child {
			flex: 1;
			padding-right: 5px;
		}
		.bonus-detail-block:last-child {
			flex: 1;
			padding-left: 5px;
		}
	}
	@media screen and (max-width: 768px) {
		.custom-col.col {
			padding-bottom: 10px;
		}
		.bonus-detail-container {
			display: block;
			
			.bonus-detail-block:first-child {
				padding: 0;
				padding-bottom: 5px;
			}
			.bonus-detail-block:last-child {
				padding: 0;
				padding-top: 5px;
			}
		}
	}
}