#lead-page {
    .table {
        color: #bda076;
    }
    input[type='text'] {
    	background-color: #343740;
	    color: #bda076;
	    height: 40px;
	    border-radius: 10px;
	    border: 1px #bda076 solid;
	    padding: 10px;
	    flex: 1;
	    margin-right: 10px;
    	width: 100%;
    }
    textarea {
    	background-color: #343740;
	    color: #bda076;
	    border-radius: 10px;
	    border: 1px #bda076 solid;
	    padding: 10px;
	    flex: 1;
	    width: 100%;
    }
    .form-lead {
    	input[type='text'] {
    		margin-bottom: 10px;
    		margin-right: 0;
		}
		select {
			color: #bda076;
			background-color: #343740;
		    color: #bda076;
		    height: 40px;
		    border-radius: 10px;
		    border: 1px #bda076 solid;
		    flex: 1;
		    margin-bottom: 10px;
    		margin-right: 0;
    		width: 100%;
    		background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='rgb(189,160,118)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
		}
		select option {
		  background: #343740;
		}
    }
    .table tbody+tbody {
    	border-top: 1px solid #dee2e6;
	}
	.table th {
		border-top: none;
	}
	#page-lead-view {
		.text-muted {			
		    min-height: 18px;
		    font-size: 1.3em;
		}
		strong {
			font-size: 1.3em;
		}
		.lead-info-block {
			padding-right: 0;
			.col-sm-12 {
    			padding-right: 0;
			}
		}
		.lead-info-container {
			background-color: #42454e;
		    padding: 10px;
		    border-radius: 10px;
		    margin-bottom: 15px;
		}
	}
	.btn-chart {
		color: #ba9d73;
	    background-color: white;
	    padding: 2px;
	    font-weight: bold;
	    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	    font-size: 12px;
	    border-radius: 2px;
	    min-width: 49px;
	    margin-right: 2px;
	}
	.active.btn-chart {
		background-color: #ba9d73;
	    color: white;
	    box-shadow: none;
	}
	.duplicate-count {
		color: #bda076;
		margin-left: 10px;
		padding: 0 5px;
    	line-height: 15px;
		border: 1px solid;
		border-radius: 10px;
		cursor: default;
	}
}
