#page-material {
    .card-body {
    }
    .material_group {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(255,255,255,.1);
                }
                > a {
                    .flex0;
                    .flex-center;
                    .flex-space-between;
                    padding: 1em;
                    color: @accent_color;
                    > div {
                        width: 100%;
                        margin-bottom: 0;
                        .font-mini {
                            font-size: 14px;
                            line-height: 1.1em;
                            display: block;
                        }
                    }
                    &:hover {
                        background-color: @highlite_color;
                        * {
                            color: white !important;
                        }
                    }
                }
                .article-footer {
                    font-size: 14px;
                }
                .item-poster {
                    width: 120px;
                    height: auto;
                }
            }
        }
    }
    .medium_article {
        h1 {
            display: none;
        }
    }
}
