#page-myclients {
    // методы сбора лидов
    #myclients-methods,
    #form-dreamlinks,
    #form-webinarlinks {
        .myclients-methods-list {
            .myclients-methods-list-item {
                .flex0;
                .flex-center;
                .flex-space-between;
                flex-wrap: wrap;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                .h {
                    .flex0;
                    .flex-center;
                    strong {
                        font-size: 35px;
                        display: block;
                        margin-right: 10px;
                    }
                }
                .v {
                    margin-left: 10px;
                    input, .btn {
                        width: 208px;
                        max-width: 100%;
                        color: #cbced2;
                    }
                }
            }
        }
    }
    // необработанные заявки
    #myclients-requests {
        .myclients-requests-list {
            .myclients-requests-item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                .h {
                    .flex0;
                    .flex-center;
                    .flex-space-between;
                    .item-number {
                        font-size: 35px;
                        margin-right: 10px;
                    }
                    .item-dt {width: 100px;}
                    .item-elapsed {width: 100px;}
                }
                .v {
                    font-size: 1.2em;
                    margin: 20px 0 20px 40px;
                    hr {
                        border-top: 1px solid rgba(255,255,255,.14);
                    }
                }
            }
        }
    }
    .hr-dream {
        width: 110%;
        margin-left: -30px; 
        border-top: 1px solid #42454e;
    }
    .card-body {
        background-color: #42454e;
    }
    .accordion-btn-1, .accordion-btn-2.collapsed {
        display: none;
    }
    .accordion-btn-1.collapsed, .accordion-btn-2 {
        display: flex;
    }
    .radio-btn--gold {
        color: #aa906a;
        background-color: transparent;
        border-radius: 0;
        cursor: pointer;
        padding: .375rem 1.2rem;
        border: 1px solid #33353d;
        flex: 1;
        &:focus, &.focus, &.active {
            outline: transparent;
            box-shadow: none;
        }
        &:hover, {
            outline: transparent;
            box-shadow: none;
            color: #000;
            background-color: #aa906a;
        }
        &:first-child {
           border-radius: 10px 0 0 0;
        }
        &:last-child {
           border-radius: 0 10px 0 0;
           border-left: transparent;
        }
    }
    .active.radio-btn--gold {
        outline: transparent;
        box-shadow: none;
        color: #000;
        background-color: #aa906a;
    }
    .card-collapsed {
        .radio-btn--gold {
            &:first-child {
           border-radius: 10px 0 0 10px;
            }
            &:last-child {
               border-radius: 0 10px 10px 0;
            }   
        }
    }
    .table {
        color: #bda076;
    }
    .flat-right {
            border-top-right-radius: 0!important;
            border-bottom-right-radius: 0!important;
            margin-right: 0!important;
    }
    input[type='text'] {
    	background-color: #343740;
	    color: #bda076;
	    height: 40px;
	    border-radius: 10px;
	    border: 1px #bda076 solid;
	    padding: 10px;
	    flex: 1;
	    margin-right: 10px;
    	width: 100%;
    }
    textarea {
    	background-color: #343740;
	    color: #bda076;
	    border-radius: 10px;
	    border: 1px #bda076 solid;
	    padding: 10px;
	    flex: 1;
	    width: 100%;
    }
    .form-lead {
    	input[type='text'] {
    		margin-bottom: 10px;
    		margin-right: 0;
		}
		select {
			color: #bda076;
			background-color: #343740;
		    color: #bda076;
		    height: 40px;
		    border-radius: 10px;
		    border: 1px #bda076 solid;
		    flex: 1;
		    margin-bottom: 10px;
    		margin-right: 0;
    		width: 100%;
    		background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='rgb(189,160,118)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
		}
		select option {
		  background: #343740;
		}
    }
    .table tbody+tbody {
    	border-top: 1px solid #dee2e6;
	}
	.table th {
		border-top: none;
	}
	#page-lead-view {
		.text-muted {			
		    min-height: 18px;
		    font-size: 1.3em;
		}
		strong {
			font-size: 1.3em;
		}
		.lead-info-block {
			padding-right: 0;
			.col-sm-12 {
    			padding-right: 0;
			}
		}
		.lead-info-container {
			background-color: #42454e;
		    padding: 10px;
		    border-radius: 10px;
		    margin-bottom: 15px;
		}
	}
	.btn-chart {
		color: #ba9d73;
	    background-color: white;
	    padding: 2px;
	    font-weight: bold;
	    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	    font-size: 12px;
	    border-radius: 2px;
	    min-width: 49px;
	    margin-right: 2px;
	}
	.active.btn-chart {
		background-color: #ba9d73;
	    color: white;
	    box-shadow: none;
	}
	.duplicate-count {
		color: #bda076;
		margin-left: 10px;
		padding: 0 5px;
    	line-height: 15px;
		border: 1px solid;
		border-radius: 10px;
		cursor: default;
	}
	
	.card {
		.card-header {
		    min-height: 50px;
		}
    }
    .table {
    	th {
    		background: #33353d;
    		border: 2px solid #42454e;
    		text-transform: uppercase;
    		text-align: center;
    		vertical-align: middle;
    	}
    	td {
    		background: #33353d;
    		border: 2px solid #42454e;
    		color: white;
    		vertical-align: middle;
    		a {
    			color: white;
    			word-break: break-word;
    			text-decoration: underline;
    		}
    	}
    	.comment-top {
    		td {
    			border-top: none;
    		}
    	}
    	.comment-bottom {
    		border-bottom: none;
    	}
    }
}
