#page-news {
    .card-body {
    }
    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            &:not(:last-child) {
                border-bottom: 1px solid rgba(255,255,255,.1);
            }
            > a {
                .flex0;
                .flex-center;
                .flex-space-between;
                padding: 1em;
                color: @accent_color;
                > div {
                    width: 100%;
                    margin-bottom: 0;
                    .font-mini {
                        font-size: 14px;
                        line-height: 1.1em;
                        display: block;
                    }
                }
                &:hover {
                    color: white;
                    background-color: @highlite_color;
                }
            }
            .article-footer {
                font-size: 14px;
            }
            .item-poster {
                width: 100%;
                height: auto;
            }
        }
    }
    .medium_article {
        h1 {
            display: none;
        }
    }
}
