
.office-event-card {
    padding: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #807362;
    border-left: 3px solid #bda076;
    .office-event-info {
        span {
            font-size: 12px;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
        .office-event-datetime {
            font-size: 13px;
            color: white;
        }
    }
    &:hover {
        background-color: fade(#807362, 90%);
    }
    /*.btn-join-office-event {
        border: 1px solid @gold_color;
        width: 140px;
        height: 37px;
        color: #fff;
        font-size: 14px;
        background-color: #565656;
    }*/
}


#office-contact-info {
    i {
        color: @gold_color;
    }
}                    

#offices-page {

    .offices-head {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid @gold_color;
        h1 {
        }
    }

    .new-office-div {
        text-align: right;
        margin-bottom: 20px;
        a {
            // border-radius: 10px;
            // width: 180px;
            // font-size: 12px;
        }
    }

    .office-short-container {
        .office-short-info {
            .flex0;
            .flex-column;
            margin-bottom: 20px;
            justify-content: center;
            background-color: @light_gray;
            border-radius: 10px;
            cursor: pointer;
            font-size: 12px;
            &> * {
                padding: 15px;
                margin: 0;
                &:not(:last-child) {
                    padding-bottom: 0;
                }
            }
            h3 {
                // font-size: 20px;
                // border-bottom: 1px solid @gold_color;
                color: @gold_color;
                height: 46px;
                text-transform: uppercase;
                font-size: 12px;
                margin: 0;
                padding-top: 15px;
            }
            hr {
                margin: 0;
                padding: 0;
                background-color: #33353d;
                width: 90%;
                align-self: center;
            }
            .office-phone {
                .office-number {
                    color: white;
                    i {
                        color: @gold_color;
                    }
                }
            }
            .office-address {
                // border-bottom: 1px solid;
                margin-bottom: 10px;
                .office-address-text {
                    color: white;
                    i {
                        color: @gold_color;
                    }
                }

            }
            
            .btn {
                border-radius: 0;
            }
        }
    }

    .btn-office-more-info {
        align-self: center;
    }

    .office-contact-description {
        background-color: #42454E;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 10px;

        .office-head-text {
            font-size: 12px;
            text-transform: uppercase;
        }

        .office-description {
            color: white;
            font-size: 12px;
        }

        .contact-social-container {
            display: flex;
            justify-content: space-between;

            .office-social-link-container {
                margin-top: 10px;
                padding-bottom: 10px;
                //border-bottom: 1px solid @gold_color;
                display: flex;

                .social-link-bg {
                    background-color: #22232a;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    border-radius: 50px;
                    padding-top: 5px;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    .office-social-link {
                        color: @gold_color;
                        font-size: 14px;
                    }
                }
            }

            .contact-container {
                display: flex;
                align-items: center;
                width: 100%;

                .office-number, .office-address {
                    margin-left: 20px;
                    color: white;

                    i {
                        color: @gold_color;
                    }
                }
            }
        }
    }

    #office-event {
        margin-top: 20px;
        background-color: #42454E;
        padding-top: 10px;
        padding-bottom: 1px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 10px;
        h2 {
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    #office-contact {
        margin-top: 40px;

        h2 {
            border-bottom: 1px solid @gold_color;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }


    }

    #command-gallery {
        // margin-top: 70px;
        h4 {
            // border-bottom: 1px solid;
            // margin-bottom: 20px;
            width: 100%;
        }
        .command-card {
            height: 300px;
            overflow: scroll;
            overflow-x: hidden;

            .command-user-card {
                margin-top: 20px;
                display: flex;
                .command-user-img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                    background: url(/assets/img/logo/logo.png);
                    background-size: contain;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    border: 1px solid;

                    img {

                    }
                }
                .command-user-info {
                    margin-left: 20px;
                    .command-user-name {
                        font-weight: bold;
                    }
                    .command-user-role {
                        font-size: 14px;
                        color: gray;
                    }
                }
            }
        }
        .gallery-card {
            height: 300px;
            overflow: scroll;
            overflow-x: hidden;
            .office-gallery-img {
                margin-top: 20px;
                background: url(/assets/img/logo/logo.png);
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                border: 1px solid;
                height: 70px;
                width: 70px;
                img {

                }
            }
        }
    }
}