// howopen.less
#page-how-open-office {
    h1 {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid;
    }

    .how-open-body {
        padding: 1.25rem;
        background-color: #42454e;
        border-radius: 10px;
    }

    .open-description {
        font-size: 12px;
        color: white;
        margin-bottom: 2em;
    }

    .advantage-head {
        font-size: 14px;
    }

    .advantage-p {
        display: flex;
        margin-bottom: 20px;
        .advantage-p-description {
            display: flex;
            align-items: center;
            color: white;
        }
    }

    .advantage-lightning {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        min-width: 40px;
        background-color: #232429;
        border-radius: 50px;
        margin-right: 15px;
        i {
            color: white;
            font-size: 16px;
        }
    }

    .separate-line {
        border-bottom: 1px solid;
    }

    .how-it-work-head {
        font-size: 14px;
        margin-top: 40px;
    }

    .how-it-work {
        font-size: 12px;
        color: white;
    }

    .send-request {
        text-align: center;
        margin-top: 1.25rem;
        a {
            font-size: 11px;
            width: 280px;
            height: 40px;
            padding-top: 11px;
            // border-radius: 10px;
            text-transform: uppercase;
        }
        /*.btn-send-request-to-open {
            color: @gold_color;
            border: 2px solid;
            font-size: 15px;
            width: 200px;
            border-radius: 7px;
            background-color: #232323;
        }*/
    }
}

// requestform.less
#page-request-form {
    .request-form-body {

        background-color: @light_gray;
        padding-top: 25px;
        padding-bottom: 50px;
        border-radius: 10px;
        .form-container {
            width: 290px;
            margin: auto;
            text-align: center;
            #open-office-request-form {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                //width: 600px;
                margin-top: 30px;
                label {
                    font-size: 15px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                input[type="text"], textarea {
                    margin-bottom: 20px;
                    width: 100%;
                    text-indent: 0.5rem;
                    background-color: transparent;
                    border: 1px solid #7c7d83;
                    border-radius: 10px;
                    color: white;
                    padding-left: 10px;
                    &:focus {
                        border-color: @gold_color;
                        transition: border-color .2s ease;
                    }
                }
                input[type="text"] {
                    line-height: 2rem;
                    height: 40px;
                }
                textarea {
                    padding: 10px;
                }
                .send-request {
                    width: 100%;
                    margin-top: 10px;
                    a {
                        font-size: 11px;
                        width: 100%;
                        height: 40px;
                        padding-top: 11px;
                        border-radius: 10px;
                        text-transform: uppercase;
                    }
                }

                .select2-container {
                    width: 100% !important;
                }

                .select2-container--default .select2-selection--single {
                    background-color: transparent;
                    border-radius: 10px;
                    height: 40px;
                    border: 1px solid #7c7d83;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    line-height: 38px;
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    height: 37px;
                }

                .select2-container--default .select2-selection--single .select2-selection__placeholder {
                    color: #747373;
                }
                .select2-container .select2-selection--single .select2-selection__rendered {
                    padding-left: 19px;
                    text-align: left;
                }

                .select2-container {
                    margin-bottom: 20px;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    color: white;
                }
            }
        }
    }
    h2 {
        //font-size: 14px;
    }
}

// thanksAlexander.less
#page-request-form {
    h2 {
        font-size: 14px;
        //font-weight: bold;
    }
    .thanks-form-body {
        background-color: @light_gray;
        padding-top: 25px;
        padding-bottom: 50px;
        border-radius: 10px;
        text-align: center;
        h2 {
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        a {
            height: 40px;
            width: 290px;
            font-size: 12px;
            text-transform: uppercase;
            padding-top: 10px;
        }
    }
}