#page-partner {
    .bounty-tab {
        & > input:checked + label {
            background: @accent_color;
            color: #343740;
        }
        & > section {
            padding-bottom: 20px;
            border: none;
        }
    }
	.referal-list {
		background: #42454e;
		padding: 10px;
		.row-block {
            margin: 0;
			.col-block {
            	background: #343740;
				white-space: nowrap;
				padding: 4px;
				border-right: 2px solid #42454e;
				height: 60px;
				display: flex;
    			align-items: center;
				div {
					min-width: 20px;
				}
			}			
			.user-login {
    			div {
    				width: 102px;
		            overflow: hidden;
    				text-overflow: ellipsis;
				}
			}
			.number-val {
    			div {
    				width: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
				}
			}
			.days-val {
				div {
					width: 39px;
				}
			}
		}
		.search-input {
		    background-color: #343740;
		    color: #bda076;
		    height: 40px;
		    border-radius: 10px;
		    border: 1px #bda076 solid;
		    padding: 10px;
		    flex: 1;
		    width: 100%;
    		min-width: 150px;
		}
		.search-btn {
			display: -webkit-box;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-box-align: center;
		    justify-content: center;
		    align-items: center;
		    align-content: center;
		    flex-shrink: 0;
		    height: 40px;
		    padding: 0 10px;
		    color: #fff;
		    background: #bda076;
		    border-radius: 0 10px 10px 0;
		}
		select {
			border-radius: 10px;
		    background: inherit;
		    color: #bda076;
		    padding: 5px;
		    border: 1px solid;
		    width: 100%;
		    height: 40px;
    		min-width: 150px;
		}
	}
}