#events-page {
    .card-body {
        // padding: 0;
    }
    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            a {
                display: block;
                padding: 0;
                color: @accent_color;
                font-size: 1.5rem;
                position: relative;
                overflow: hidden;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                & > img {
                    .transition_all;
                    filter: brightness(0.85);
                }
                .font-mini {
                    font-size: 14px;
                    line-height: 1.1em;
                    display: block;
                }
                &:hover {
                    color: white;
                    background-color: @highlite_color;
                    & > img {
                        .transition_all;
                        filter: none;
                    }
                }
                .event-list-item-footer {
                    .flex0;
                    .flex-center;
                    .flex-space-between;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.5);
                    padding: 10px;
                    color: white;
                }
            }
        }
    }
    .conditions {
        tr {
            background: rgba(0,0,0,.1);
            td {
                border: none;
                color: @accent_color;
                vertical-align: middle;
                i {
                    font-size: 1.5rem;
                    margin-right: 10px;
                }
            }
        }
    }
    .medium_article {
        h1 {
            display: none;
        }
    }

    .quick_inprogress_ref_list {
        padding-left: 0;
        list-style-type: none;
        li {
            & >  div {
                .flex0;
                align-items: center;
                margin-bottom: 20px;
                .number {
                    width: 50px;
                    font-size: 70px;
                    line-height: 1em;
                }
                .ava {
                    width: 90px;
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                    }
                }
                .ref_info {
                    h4, h6 {
                        margin: 0;
                    }
                    .amount {
                        font-size: 1.3em;
                        display: block;
                    }
                }
            }
        }
    }
    .table_level {
        table {
            color: inherit;
            th, td {
                border: none;
            }
        }
    }
    .promotion_blocks {
        & > div, & > ul {
            background: rgba(0,0,0,.1);
            padding: 15px;
            border-radius: 6px;
            margin: 15px 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

