#registration-page {

    align-items: center;
    margin: auto auto;
    justify-content: center;
    display: flex;
    
    .btn {
        color: white;
    }
    label {
        font-size: 1rem;
        color: inherit;
    }
    .btn-small {
        height: 35px;
        line-height: initial;
        font-size: 11px;
        min-width: 100px;
        padding: .5rem;
    }
    input {
        background-color: inherit;
        border-color: #aa906a;
        color: #aa906a;
    }     
    select {
        width: 100%;
        height: 35px;
        line-height: 35px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    .select2-selection__rendered {
        line-height: 35px !important;
        color: #aa906a;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
        color: #aa906a;
        border-color: #aa906a;
        background-color: inherit;
    }
    .select2-selection__arrow {
        height: 35px !important;
        color: #aa906a;
    }
}