#page-statisticnew {
    .proauto {
        color: #ffc617;
        border-color: #ffc617;
    }
    .trustera {
        color: #2d52c9;
        border-color: #2d52c9;
    }
    .red {
        color: #ea3e45;
        border-color: #8f3a41;
    }
    .green {
        color: #8dc63f;
        border-color: #8dc63f;
    }
    .blue {
        color: #00bff3;
        border-color: #00bff3;
    }
    .fs-icon {
        font-size: 1.8em;
    }
    .h-45 {
        height: 45%;
    }
    .h-55 {
        height: 55%;
    }
    .user-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
    .card-content {
        .col-sm-12 {
            padding-bottom: 15px;
        }
        .row {
            margin-bottom: 20px;
        }
    }
    .field-row {
        .col-sm-12 {
            padding-bottom: 0;
        }
    }
    .field-container {
        display: flex;
        justify-content: space-between;
        background: #343740;
        border-left: 2px solid;
        padding: 10px;
        margin-bottom: 10px;
        label {
            font-size: 14px;
            color: white;
            text-transform: uppercase;
        }
    }
    #command-partner-chart {
        max-width: 100%;
        height: 150px;
        margin: 0 auto;
        background-color: #33353d;
        padding: 10px;
        
        .command-partner-chart-body {
            overflow-x: auto;            
        }
        .command-partner-chart-body::-webkit-scrollbar {
            height: 5px;
        }
        .command-partner-chart-body::-webkit-scrollbar-track {
            background: #42454e;
            border-radius: 10px;
        }
        .command-partner-chart-body::-webkit-scrollbar-thumb {
            background: #656872;
            border-radius: 10px;
            margin: 10px;
        }
        
        .profit-chart {
            display: flex;
            height: 100%;
            
            .profit-chart-item {
                color: #656872;
            
                .profit-chart-bar {
                    min-width: 50px;
                    background: #656872;
                    margin-left: 1px;
                }
                .profit-chart-bar-top {
                    min-width: 50px;
                    background: #33353d;
                    margin-left: 1px;
                }
            }            
            .profit-chart-item:hover {
                cursor: pointer;
                
                .profit-chart-bar {
                    background: #b1b1b1;
                }
                .profit-chart-text {
                    color: #b1b1b1;
                }
            }
            .active.profit-chart-item {
                .profit-chart-bar {
                    background: #bda076;
                }
                .profit-chart-text {
                    color: #bda076;
                }
            }
        }
    }
    
    .btn-small {	
    	font-size: 12px;
	    border-radius: 20px;
	    padding: 5px 10px;
	    margin-top: 5px;
    }
    .btn-small:focus, .btn-small.focus {
	    box-shadow: none;
	}
	.btn-small.active {	
    	background-color: #aa906a;
    	border-color: #aa906a;
    }
    
}

@media screen and (max-width: 768px)
{
 	.big-donut {
 		max-height: 210px!important;
 		transform: scale(1)!important;
 	}
}