#page-team {
    .team-user-info {
        .card-body {
            .user-avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
            h6 {
                background-color: rgba(0, 153, 255, 1);
                color: white;
                padding: 5px 10px;
                border-radius: 20px;
                margin-top: -5px;
            }
        }
    }
    #main-card {
    	.card-body {
    		background-color: #42454e;
    		padding: 5px 15px;
		}
		.card-header {
			min-height: 40px;
    		padding: 10px 15px;
		    text-transform: uppercase;
		    color: inherit;
		    border: none;
		}
		.card-content {
			h4 {
				text-transform: uppercase;
			    color: white;
			    font-weight: normal;
			    margin: 0;
			}
			.col-sm-12 {
				padding-bottom: 15px;
			}
			.row {
				margin-bottom: 20px;
			}
		}
		.custom-chart-container {
			background: #343740;
			height: 100%;
			display: flex;
            overflow: hidden;
            white-space: nowrap;
			.custom-chart-item-0 {
				height: calc(100% - 25px);
				border-left: 2px solid;
				border-left-color: rgb(233,62,68);
				background: rgba(233,62,68,.5);
				min-height: 70px;
			}
			.custom-chart-item-1 {
				height: calc(100% - 25px);
				border-left: 2px solid;
				border-left-color: rgb(142,198,63);
				background: rgba(142,198,63,.5);
				min-height: 70px;
			}
			.custom-chart-item-2 {
				height: calc(100% - 25px);
				border-left: 2px solid;
				border-left-color: rgb(0,191,243);
				background: rgba(0,191,243,.5);
				min-height: 70px;
			}
			.custom-chart-item-3 {
				height: calc(100% - 25px);
				border-left: 2px solid;
				border-left-color: rgb(189,160,118);
				background: rgba(189,160,118,.5);
				min-height: 70px;
			}
			.custom-chart-title-0 {
				color: rgb(233,62,68);
				font-size: 15px;
			}
			.custom-chart-title-1 {
				color: rgb(142,198,63);
				font-size: 15px;
			}
			.custom-chart-title-2 {
				color: rgb(0,191,243);
				font-size: 15px;
			}
			.custom-chart-title-3 {
				color: rgb(189,160,118);
				font-size: 15px;
			}
		}
		.field-row {
			.col-sm-12 {
				padding-bottom: 0;
			}
		}
		.field-container {
			display: flex;
			justify-content: space-between;
			background: #343740;
		    border-left: 2px solid;
		    padding: 10px;
		    margin-bottom: 10px;
		    label {
		    	font-size: 14px;
			    color: white;
			    text-transform: uppercase;
		    }
		}
		.subtitle {
			color: #cbced2;
		    text-transform: uppercase;
		    font-size: 15px;
		    margin: 10px 0;			
		}
    }
}

#team-nav {
    li {
        a {
            .transition_all;
            &:hover {
                .transition_all;
                background-color: rgb(86, 90, 100);
            }
        }
    }
    .tab-team {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -o-box-pack: justify;
        background-color: #42454e;
        color: white;
        padding: .75rem 0;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0;
    }
    @media screen and (max-width: 768px) {
        .tab-team {
            font-size: 9px;
        }
    }  
    .nav-item {
        flex:1;
    }
    .nav-link {
        border: none;
    }
    .nav-link.active {
        color: black;
        background: #bda076;
    }
    .nav-link:focus, .nav-link:hover {
        border: none;
    }
}
