.test-success-card {
    text-align: center;
}

.btn-try-more {
    padding: 5px;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

#form-testing-details {
    ul {
        margin-top: 1em;
        li {
            margin-bottom: 1em;
        }
    }
}

.test-error-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .try-more-disabled {
        background-color: lightblue !important;
        border-color: lightblue !important;
        pointer-events: none;
    }
}

.test-some-error-card {
    width: 100%;
    text-align: center;
}

.q-mistake {
    width: 100%;
    text-align: center;
    .row {
        margin-bottom: 0;
    }
}

.testing-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .testing-card-text {

    }
    .question-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        .index-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .q-index {
                height: 30px;
                width: 30px;
                border: 2px @main_color solid;
                border-radius: 50px;
                margin-left: 10px;
                background: rgba(255,255,255,0.2);
                margin-bottom: 10px;
                &:first-child {
                    margin-left: 0;
                }
                &.active {
                    background-color: @accent_color;
                }
            }
        }

        .q-counter {
        }

        .question {

        }

        .answer-container {
            margin-top: 30px;
            width: 100%;
            .answer {
                border: 1px solid rgba(255,255,255,0.2);
                text-align: center;
                margin-bottom: 15px;
                width: 100%;
                &.active {
                    border-color: white;
                }
                &:hover {
                    color: white;
                    background: rgba(255,255,255,.1);
                    border-color: transparent;
                }
            }
        }
    }
}

.answer {
    border: 1px solid rgba(255,255,255,0.2);
    // height: 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    &.active {
        border-color: black;
    }
    &.correct-answer {
        background: #4caf50;
        border-color: transparent;
        color: white !important;
    }
    &.uncorrect-answer {
        background: #f44336;
        border-color: transparent;
        color: white !important;
    }
}

