#wallet-page {
    .card-header {
        .filter-link.collapsed {
            display: block !important;
            &~p {
                display: none;
            } 
        }
    }
    .card-body {
        .brd-radius {
            border-radius: 10px;
        }
        .brd .col-3:not(:last-child), .brd div.col-6:not(:last-child), .brd div.col-12:not(:last-child)  {
            border-right: 1px solid #42454e!important;
        }
        .brd .col-3, .brd div.col-6, .brd div.col-12 {
            border-bottom:1px solid #42454e!important;
        }
        .btn-mini {
            font-size: 11px;
            flex: 1;
            padding: 0rem 0.5rem;
            &.focus, &:focus, &.active,&:hover {
                background-color: @gold_color!important;
                box-shadow: none!important;
            }
        }
        .btn-wallet {
            &.focus, &:focus, &.active,&:hover {
                background-color: @gold_color!important;
                box-shadow: none!important;
            }
        }
        .calendar {
            position: relative;
            input {
                width: 100%;
                min-width: 100px; 
                background:#33353d;
                padding: 0 5px;
                border-radius: 10px;
                border: none;
                text-align: center;
                .text-gold;
                &:focus {
                    outline: none;
                }
                &::-webkit-calendar-picker-indicator { 
                    background: transparent;
                     position: absolute;
                    width: 95%;
                    right: 0px;
                }
            }
            label {
                font-size: 11px;
                background-color: #43454e;
                width: 100%;
                border-radius: 0 0 10px 10px;
            }
        }
    }
    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-width: 450px;
        width: 100%;
        li {
            
            > a {
                .flex0;
                .flex-center;
                .flex-space-between;
                padding: 1em;
                color: @accent_color;
                > div {
                    width: 100%;
                    margin-bottom: 0;
                    .font-mini {
                        font-size: 14px;
                        line-height: 1.1em;
                        display: block;
                    }
                }
                &:hover {
                    color: white;
                    background-color: @highlite_color;
                }
            }
            .article-footer {
                font-size: 14px;
            }
            .item-poster {
                width: 120px;
                height: auto;
            }
        }
    }
    .medium_article {
        h1 {
            display: none;
        }
    }
    .btn {
        border-radius: 10px;
    }

    form {
        .popup-form-toolbox {
            display: none;
        }
        .popup-form-content {
            font-size: 12px !important;
            .card {
                overflow: hidden;
                .card-header{
                    padding: 10px 10px 0 10px;
                    border-bottom: 1px solid #42454e;
                    flex-wrap: wrap;
                }
                .card-body {
                    padding: 0 10px 10px 10px;
                    background-color: #42454e;
                }
                .bg {
                    width: 100%;
                    background-color: #33353d!important;
                }
            }
            .menu-input {
                p {
                    font-size: 11px;
                    color: @gold_color;
                    margin: 0;
                    line-height: 1em;
                    margin-bottom: 20px;
                }
                input {
                    background-color: #33353d;
                    color: white;
                    height: 40px;
                    max-width: 400px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0 0 2pt 0pt #fff;
                    padding: 0 10px;
                    &:focus {
                        box-shadow: 0 0 4pt 0pt #fff;
                        & ~ .label {
                            box-shadow: 0 0 4pt 0pt #fff;
                        }
                    }
                    & ~ .label {
                        .flex0;
                        align-items: center;
                        color: #fff;
                        border-radius: 0 10px 10px 0;
                        box-shadow: 0 0 2pt 0pt #fff;
                        height: 40px;
                        background-color: #33353d;
                    } 
                    &.disabled {
                        box-shadow: 0 0 2pt 0pt #67686d;
                        color: #67686d;
                    }
                    &.labeled {
                        width: calc(~"100%" - 40px);
                        border-radius: 10px 0 0 10px;
                    }

                    &.gold{
                        box-shadow: none;
                        border: 1px @gold_color solid;
                        padding: 10px;
                        &:focus {
                            box-shadow: 0 0 2pt 0pt #fff;
                        }
                    }
                    &.dark {
                        box-shadow: none;
                        background-color: #23242a;
                        & ~ .label {
                            .flex0;
                            .flex-center;
                            box-shadow: none;
                            border-radius: 0 10px 10px 0;
                            height: 40px;
                            background-color: #23242a;
                        }
                        &:focus {
                            box-shadow: 0 0 3pt 0pt #fff;
                            & ~ .label {
                                box-shadow: 0 0 3pt 0pt #fff;
                                // box-shadow: -5px 0 5px -5px transparent;
                            }
                        }

                    }
                }
            }
            .copy-div {
                background-color: @gold_color;
                height: 42px;
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin-left: -5px;
                font-size: 20px;
                padding-right: 3px;
                &:hover {
                    background-color: lighten(@gold_color, 5%);
                }
            }
            .form-group {
                .custom-select {
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0 0 2pt 0pt #fff;
                    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px red;
                    color: #fff;
                    background-color: #33353d;
                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: 0 0 3pt 0pt #fff;
                        background-color: #33353d;
                    }
                }
            }
        }
    }
    .wallet-left {
        display: flex;
        align-items: center;
        background-color: #33353d;
        color: white;
        height: 40px;
        max-width: 400px;
        outline: none;
        border: none;
        box-shadow: 0 0 2pt 0pt #fff;
        padding: 0 10px;
        width: 40%;
        border-radius: 10px 0 0 10px;
    }
    .wallet-right {
        align-items: center;
        color: #fff;
        border-radius: 0 10px 10px 0;
        background-color: #33353d;
        height: 40px;
        max-width: 400px;
        outline: none;
        border: none;
        box-shadow: 0 0 2pt 0pt #fff;
        padding: 0 10px;
        width: 60%;
        text-transform: uppercase;
    }
    .wallet-balance {
    	background-color: #42454e; 
    	padding: 10px;
    	cursor: pointer;
    }
    .wallet-balance:hover {
    	background-color: #5b5e65;
    }
    .wallet-balance.active {
    	background-color: #aa906a;
    	color: white;
    }
    .card-tab {
    	cursor: pointer;
    	background-color: #33353d !important;
    	flex: 1;
    	height: 60px;
    	color: @gold_color;
    }
    .card-tab.active {
    	background-color: #aa906a !important;
    	color: white;
	}
}

@media screen and (max-width: 576px) {
    .overflow-scroll {
        overflow-x: scroll;
    }
}
