#withdrawalmethod-page {
    input {
        width: 100%;
        background-color: #33353d;
        color: white;
        height: 40px;
        max-width: 400px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 2pt 0pt #fff;
        padding: 0 10px;
        &:focus {
            box-shadow: 0 0 4pt 0pt #fff;
            & ~ .label {
                box-shadow: 0 0 4pt 0pt #fff;
            }
        }
        & ~ .label {
            .flex0;
            align-items: center;
            color: #fff;
            border-radius: 0 10px 10px 0;
            box-shadow: 0 0 2pt 0pt #fff;
            height: 40px;
            background-color: #33353d;
        }
        &.disabled {
            box-shadow: 0 0 2pt 0pt #67686d;
            color: #67686d;
        }
        &.labeled {
            width: calc(~"100%" - 40px);
            border-radius: 10px 0 0 10px;
        }

        &.gold{
            box-shadow: none;
            border: 1px @gold_color solid;
            padding: 10px;
            &:focus {
                box-shadow: 0 0 2pt 0pt #fff;
            }
        }
        &.dark {
            box-shadow: none;
            background-color: #23242a;
            & ~ .label {
                .flex0;
                .flex-center;
                box-shadow: none;
                border-radius: 0 10px 10px 0;
                height: 40px;
                background-color: #23242a;
            }
            &:focus {
                box-shadow: 0 0 3pt 0pt #fff;
                & ~ .label {
                    box-shadow: 0 0 3pt 0pt #fff;
                    // box-shadow: -5px 0 5px -5px transparent;
                }
            }

        }
    }
    .withdrawal-block {
        margin-bottom: 20px;
        
        .withdrawal-field {
            color: white;
        }
    }
}
