<div id="withdrawalmethod-page" ng-init="withdrawal.load()">
    <!--Добавить способ вывода-->
    <form id="form-addwallet" data-title="{{lang.withdtawal_method_add_title}}" class="popup-form animated zoomIn" style="width:540px;overflow-y: auto;">
	    <div class="popup-form-content">
	        <div class="fm col s12">
	            
	            <div class="withdrawal-block" style="display: none">
			        <select id="currency" class="browser-default" style="display: none;" ng-model="withdrawal.form.currency_id" disabled>
                        <option ng-repeat="item in withdrawal.currency_list" value="{{item.id}}">{{item}}</option>
			        </select>
			    </div>
                <div class="withdrawal-block">
                    <div class="flex0 align-items-center text-white">
                        <img src="assets/img/logo/cryptocoins/BTC.png" style="margin-right: 15px;width: 40px;height: 40px;">
                        <div>BITCOIN</div>
                    </div>
                </div>
			    <div class="withdrawal-block">
                    <!--Адрес для вывода-->
                    <div class="withdrawal-field">{{lang.withdrawal_address}}</div>
                    <input type="text" ng-model="withdrawal.form.address" ng-class="{disabled: withdrawal.loading}" class="withdrawal-input">
		        </div>
		        <div class="withdrawal-block">
                    <!--Название адреса (только для вас)-->
                    <div class="withdrawal-field">{{lang.withdrawal_address_title}}</div>
                    <input type="text" ng-model="withdrawal.form.title" ng-class="{disabled: withdrawal.loading}" class="withdrawal-input">
		        </div>
	            <div class="flex0 flex-center" style="padding-top: 1em;">
	                <a href="#" class="btn btn-primary" ng-click="withdrawal.submit()" ng-class="{disabled: !withdrawal.addressIsCorrect() || !withdrawal.form.currency_id || !withdrawal.form.title, loading: withdrawal.loading}">{{lang.confirm}}</a>
	            </div>
	        </div>
	    </div>
    </form>

    <!--Удаление способа вывода-->
    <form id="form-removewallet" data-title="{{lang.withdtawal_method_delete_title}}" class="popup-form animated zoomIn" style="width: 540px; overflow-y: auto;">
	    <div class="popup-form-content">
	        <div class="fm col s12">
	            <div class="flex0 flex-space-between" style="padding-top: 1em;">
	                <a href="#" class="btn btn-primary" onclick="return CustomUI.hideForm();">{{lang.cancel}}</a>
	                <a href="#" class="btn btn-primary" ng-click="withdrawal.remove()">{{lang.confirm}}</a>
	            </div>
	        </div>
	    </div>
    </form>


    <div ng-if="withdrawal.loading">
        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
    </div>

    <!--История операций-->
    <div class="card" ng-if="!withdrawal.loading" class="animated fadeIn">
        <div class="card-header">
            <h2>Мои способы вывода</h2>
        </div>
        <div class="card-body">
            <div style="display: flex;align-items: center;">
                <img src="/assets/img/logo/cryptocoins/BTC.png" style="margin-right: 15px;width: 40px;height: 40px;">                	
                <span style="font-size: 2em;font-weight: normal;">BITCOIN</span>
            </div>
            <div style="margin: 20px 0;">
                <div ng-if="withdrawal.list.length == 0" class="text-muted text-center">
                    <!--Список пуст-->
                    {{lang.empty_list}}
                </div>
                <div ng-if="withdrawal.list.length > 0">
                    <div ng-repeat="item in withdrawal.list" style="background: #42454e;margin: 10px 0;padding: 10px;color: white;">
		                <div style="display:flex;align-items: center;position: relative;">
		                    <!--<div style="color: blue;">#{{$index + 1}}</div>-->
		                    <a href="#" ng-click="withdrawal.openRemove(item)" style="position: absolute;right: 15px;top: 20px;color:#aa906a;font-size: 15px;"><i class="far fa-trash-alt"></i></a>
		                    <div style="padding-right: 35px;">
                                <!--Мой адрес-->
                    		    <div style="font-size: 20px;text-transform: uppercase;">{{lang.my_address}} {{item.title}}</div>
                    		    <strong style="text-transform: none;font-size: 15px;color:#aa906a;">{{item.address}}</strong>
                    	    </div>
                        </div>
			        </div>
                </div>
            </div>
            <div class="flex0 flex-center" style="padding: 1em 0;">
                <!--Добавить-->
	            <a href="#" class="btn btn-sm btn-primary" ng-click="withdrawal.openAdd()" ng-class="{loading: withdrawal.loading}">{{lang.btn_add}}</a>
	        </div>
        </div>
    </div>
</div>