<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="page-leader-bonus" ng-controller="leaderBonusCtrl">
    <div class="emp-profile animated fadeIn">
        <div ui-view></div>
    </div>
</div>