<div class="page-wrap row" ng-init="bonus_leader_summary.load()">
	
	<div class="col col-12">
	    <div class="card w-100">
	        <div class="card-header">           
        		<h2>Лидерский бонус</h2>          
	        </div>
	        <div class="card-body">
	            <div>
	                <div class="card">
                		<div class="card-header" style="border-radius: 10px;">
                		Выплачивается лидерам, начиная с уровня карьеры AMBASSADOR 1 (12). Всего для выплаты данного бонуса выделяется 5% от всех оплаченных комиссий компаниями-партнёрами комиссий. Разделение данного процента происходит по уровням согласно таблицы ниже
                		</div>
	                </div>
	                <div class="card mt-3">
                		<div class="card-header d-block" style="border-radius: 10px;padding: .75rem;">
                			<h2>Level {{app.user.career_id ? (app.user.career_id - 11 < 0 ? 0 : app.user.career_id - 11) : 0}}</h2>
                			<div class="card-header-body mt-2 p-3 align-items-center row" style="margin: 0;">
                				<div class="custom-col col col-md-4 col-sm-12 text-uppercase">Ваш текущий уровень</div>
                				<div class="custom-col col col-md-8 col-sm-12">
                					<div ng-if="!app.user.career_id || app.user.career_id < 12" style="border-radius: 15px;background: #42454e;color: white;padding: 5px 10px;">
                						Достигните 12 уровня карьеры, чтобы получать бонус
                					</div>
                					<div ng-if="app.user.career_id >= 12" class="flex0">
                						<div class="level-cell" ng-repeat="level in leader_level" ng-class="{active: level.career_id <= app.user.career_id}">
                						</div>
                					</div>
                				</div>
                			</div>
                			<div class="card-header-body mt-2">
                				<div class="table-responsive">
			                        <table class="table">
			                            <thead class="thead-dark">
			                                <tr>
			                                    <th style="padding: .5rem;" scope="col"></th>
			                                    <th style="padding: .5rem;" scope="col">Карьера</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                    <th style="padding: .5rem;" scope="col">0,5%</th>
			                                </tr>   
			                            </thead>
			                            <tbody>
			                                <tr class="custom-tr" ng-repeat="level in leader_level" ng-class="{active: level.career_id == app.user.career_id}">
			                                    <td style="padding: .5rem;">
		                                    		<div class="text-gold flex0" ng-if="level.career_id == app.user.career_id">
		                                    			YOU <i class="fas fa-caret-right ml-2" style="font-size: 20px;"></i>
		                                    		</div>
			                                    </td>
			                                    <td style="padding: .5rem;" class="text-white">{{level.career_id}}</td>
			                                    <td style="padding: .5rem;" ng-repeat="item in level.percent">
			                                        <div class="leader-level-circle">
			                                            <i ng-if="item.exists" class="far fa-check text-gold"></i> 
			                                        </div>
			                                    </td>
			                                </tr>
			                            </tbody>
			                        </table>
			                    </div>
                			</div>
                		</div>
                		<div class="card mt-3" ng-if="(!app.user.career_id || app.user.career_id < 12) && bonus_leader_summary.data && bonus_leader_summary.data.length">
                			<div class="card-header d-block" style="border-radius: 10px;padding: .75rem;">
                				<div id="chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>                				
                			</div>
                		</div>
                		<div class="card mt-3" ng-if="bonus_leader_summary.data && bonus_leader_summary.data.length">
                			<div class="card-header d-block" style="border-radius: 10px;padding: .75rem;">
                				<div class="text-uppercase text-gold">История начислений</div>
                				<div>Начисление происходит каждый последний день месяца в 23:00</div>
                					<div class="card-header-body mt-2">
                						<div class="table-responsive">
				                        <table class="table m-0 text-white">
				                            <tbody>
				                                <tr class="history-custom-tr" ng-repeat="item in bonus_leader_summary.data | orderBy:'-'">
		                                    		<td>#{{item.number}}</td>
				                                    <td>{{newDate(item.dt) | date_notime}}</td>
				                                    <td>lvl {{item.career_id - 11}}</td>
				                                    <td>{{item.amount_usd / app.BTC_SATOCHI | mycurrency:2}} USDT</td>
				                                    <td>{{item.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</td>
				                                    <td>
				                                        <a href="/leaderbonus/{{item.id}}" class="text-uppercase text-white" style="border-bottom: 1px solid;">Детально</a>
				                                    </td>
				                                </tr>
				                            </tbody>
				                        </table>
				                    </div>
                				</div>
                			</div>
                		</div>
	                </div>
	            </div>
	        </div> 
	    </div>
    </div>

</div>



