<div class="page-wrap row" ng-init="bonus_leader.load()">

	<div class="col col-12">
		<div ng-if="bonus_leader.loading">
	        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
	    </div>
	    
	    <div class="card w-100" ng-if="!bonus_leader.loading">  
	        <div class="card-header d-block" style="border-radius: 10px;padding: .75rem;">
	            <h6><a href="/leaderbonus/" class="text-white"><i class="fas fa-chevron-left"></i> Назад</a></h6>
	            <div class="card-header-body mt-2 p-2 text-white">
            		<h2>Лидерский бонус #{{bonus_leader.data.number}}</h2>
	            </div>
	            <div class="bonus-detail-container mt-2">
            		<div class="bonus-detail-block">
            			<div class="card-header-body">
            				<div class="flex0 justify-content-between p-2">
            					<div class="text-white text-uppercase">Ваш уровень</div>
            					<div>LEVEL {{bonus_leader.data.career_id - 11}}</div>
            				</div>
            				<div class="flex0 justify-content-between p-2">
            					<div class="text-white text-uppercase">Дата</div>
            					<div>{{newDate(bonus_leader.data.dt) | date}}</div>
            				</div>
            			</div>
            		</div>
            		<div class="bonus-detail-block">
            			<div class="card-header-body">
            				<div class="flex0 justify-content-between p-2">
            					<div class="text-white text-uppercase">Суммарный доход</div>
            					<div>{{bonus_leader.data.amount_usd / app.BTC_SATOCHI | mycurrency:2}} USDT</div>
            				</div>
            				<div class="flex0 justify-content-between p-2">
            					<div class="text-white text-uppercase">Суммарный доход</div>
            					<div>{{bonus_leader.data.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</div>
            				</div>
            			</div>
            		</div>
		        </div>
		        <div class="card-header-body mt-2">
	                <div class="table-responsive">
			            <table class="table text-white">
			                <tbody>
			                    <tr class="history-custom-tr" ng-repeat="item in bonus_leader.data.list" style="height: 70px;">
			                        <td>{{(item.amount_usd > 0 ? item.amount_usd : item.amount_rub) / app.BTC_SATOCHI | mycurrency:2}} {{item.amount_usd > 0 ? 'USDT' : 'RUB'}}</td>
			                        <td style="padding: 10px;">
		                        		<img ng-if="item.dax_wallet_id" src="/assets/img/logo/trustera.png" alt="Trustera" style="max-width: 80px;">
		                        		<img ng-if="item.proauto_car_id" src="/assets/img/logo/proauto.png" alt="ПроАвто" style="max-width: 80px;">
			                        </td>
			                        <td>{{item.dax_wallet_invest_type_title || item.proauto_program_title}}</td>
			                        <td>
		                        		<img ng-if="item.country_code" src="/assets/flags/4x3/{{item.country_code.toLowerCase()}}.svg" style="max-width: 16px;">
			                        </td>
			                        <td>{{item.fio}}</td>
			                        <td>{{item.carrer_title_short}}</td>
			                    </tr>
			                </tbody>
			            </table>
			        </div>
	            </div>
	        </div>
	    </div>
    </div>

</div>



