<div class="card">
    <div class="card-header">
        <h2>Региональное руководство</h2>
    </div>
    <div class="card-body">          
        <div class="row" style="margin-bottom:0;">
            <div class="col col-12">
               Краткий текст о том, что можно стать региональным представителем...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            </div>
            <div class="col col-12" style="margin-top:30px;">
               <h5>Откройте офис GoldenDax и получите привилегии регионального представителя</h5>
            </div>
            <div class="col col-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col col-1"><img class="user-avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin:0 5px 0 15px;" src="/assets/img/user_55x55.png"></div>
                    <div class="col col-11">Описание привилегии/преимущества</div>      
                </div>
                <div class="row">
                    <div class="col col-1"><img class="user-avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin:0 5px 0 15px;" src="/assets/img/user_55x55.png"></div>
                    <div class="col col-11">Описание привилегии/преимущества</div>      
                </div>
                <div class="row">
                    <div class="col col-1"><img class="user-avatar" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin:0 5px 0 15px;" src="/assets/img/user_55x55.png"></div>
                    <div class="col col-11">Описание привилегии/преимущества</div>      
                </div>
            </div>
            <div class="col col-12" style="margin-top:10px;">
               <h5>Как это работает</h5>
            </div>
            <div class="col col-12" style="margin-top:10px;">
               Краткий текст о том, что нужно сделать... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            </div>
            <div class="col col-12" style="margin-top:30px;">
                <a href="/remanagement/request" class="btn btn-primary btn-sm btn-block">Подать заявку на открытие офиса</a>
            </div>
        </div>
    </div>
</div>