<div class="row" ng-if="!remanagement.confirm_flag">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Заявка на открытие офиса</h3>
            </div>
            <div class="card-body center-align">
                <div class="col col-12" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="ФИО">
                </div>
                <div class="col col-12" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="Номер телефона">
                </div>
                <div class="col col-12" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" placeholder="В каком городе вы хотите открыть офис GoldenDax?">
                </div>
                <div class="col col-12" style="margin-bottom: 10px;">
                    <input type="textarea" class="form-control" placeholder="Расскажите о себе и почему вы хотите открыть офис">
                </div>
                <div class="col col-12">
                    <a href="#" ng-click="remanagement.confirm()" class="btn btn-primary btn-block">Отправить заявку</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="remanagement.confirm_flag">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Заявка на открытие офиса успешно отправлена</h3>
            </div>
            <div class="card-body">
                <div class="col col-12">Спасибо, Александр!<br>Мы изучим заявку и свяжемся с вами в ближайшее время.
                </div>
                <div class="col col-12">
                    <a href="/remanagement/" class="btn btn-primary btn-block">ОК</a>
                </div>
            </div>
        </div>
    </div>
</div>