<!-- Результаты поиска -->
<div id="chat_search_result" ng-if="forms.list.search.visible && search.view_result">

    <!-- breadcrumb -->
    <nav class="messenger-breadcrumb" ng-show="mobileview">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="#" ng-click="search.hideSearchResult()" class="breadcrumb"><?=Model_Lang::getString('search')?></a>
                <a class="breadcrumb"><?=Model_Lang::getString('search_result')?></a>
            </div>
        </div>
    </nav>

    <div>
        <div class="spinner" ng-show="search.loading"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        <div ng-if="search.result.length == 0 && !search.loading">
            <p class="center-align _animated _bounce"><?=Model_Lang::getString('nothing_found')?></p>
        </div>
    </div>

    <div class="animated fadeIn scroll-style-1" style="flex:1;">
        <ul id="messenger_search_result" ng-if="search.result.length > 0">
            <li ng-repeat="item in search.result" class="animated fadeIn contacttype{{item.contact_type_id}}">
                <div ng-if="item.contact_type_id == <?=Constant::CONTACT_TYPE_USER?>">
                    <div>
	                    <a href="{{item.url}}"><img class="circle" ng-src="{{item.logo}}">
	                    <span class="title">{{item.title}}</span></a>
	                    <span class="city_title" ng-show="item.location"><i class="fa fa-map-marker"></i> {{item.location}}</span>
	                    <!-- <div><?=Model_Lang::getString('scope')?>:</div> -->
                        <div><div class="chip" ng-repeat="direction in item.direction_list">{{direction.title}}</div></div>
                    </div>
                    <div>
                    	<a class="btn green waves-effect waves-light" href="#" ng-click="channels.addToContacts(item)">+ <?=Model_Lang::getString('add_to_contacts')?></a>
                    </div>
                </div>
                <div ng-if="item.contact_type_id == <?=Constant::CONTACT_TYPE_ORG?>">
                	<div>
                		<a ng-href="/organization/{{item.id}}/">
		                    <img ng-src="{{item.logo}}">
		                    <span class="title">{{item.title}}</span>
	                    </a>
                            <span class="city_title" ng-show="item.location"><i class="fa fa-map-marker"></i> {{item.location}}</span>
	                    <!-- <div><?=Model_Lang::getString('scope')?>:</div> -->
                        <div><div class="chip" ng-repeat="direction in item.direction_list">{{direction.title}}</div></div>
                    </div>
                    <div>
                    	<a class="btn green waves-effect waves-light" href="#" ng-click="channels.addToContacts(item)">+ <?=Model_Lang::getString('add_to_contacts')?></a>
                    </div>
                </div>
            </li>
        </ul>
        <div style="margin-bottom: 40px;">
            <div>
                <div class="spinner" ng-show="search.loading" style="margin: 30px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                <div ng-if="search.result.length == 0 && !search.loading">
                    <p class="center-align _animated _bounce"><?=Model_Lang::getString('nothing_found')?></p>
                </div>
            </div>
            <div class="center-align" ng-if="search.more && !search.loading && search.more_type == 'citizens'">
                <a class="loadmore btn" href="#" ng-click="search.loadMoreCitizens()"><?= Model_Lang::getString('show_more'); ?></a>
            </div>
            <div class="center-align" ng-if="search.more && !search.loading && search.more_type == 'org'">
                <a class="loadmore btn" href="#" ng-click="search.loadMoreOrg()"><?= Model_Lang::getString('show_more'); ?></a>
            </div>
        </div>
    </div>

</div>