<script>
	function chat_messages_scroll() {
		var $e = $('#chat_messages_cnv');
		if($e.length && $e.scrollTop() < 700) {
			var $lm = $('[data-loadmore]');
			if($lm.length) {
				if(!$lm.hasClass('lmused')) {
					$lm.addClass('lmused');
					$lm.trigger('click');
				}
			}
		}
	}
</script>

<?Plugin_menu::draw('messenger_chanel_menu', 'dropdown-content')?>

<nav id="messenger-chat-breadcrumb" ng-show="mobileview ? !view_contacts : ((forms.list.chat.visible) && (channels.active.id != null))">
	<div class="nav-wrapper flex0">
        <ul class="left" ng-show="mobileview">
            <li ng-click="showContacts()"><a href="#"><i class="fa fa-2x fa-chevron-left"></i></a></li>
        </ul>
		<ul class="center">
			<li class="chat-bread-title"><img class="responsive-img" align="absmiddle" ng-src="{{channels.active.logo}}"><!--
                --><div><!--
                    --><strong>{{channels.active.title}}</strong><!--
                    --><br><!--
                    --><a target="_blank" class="hide-on-small-and-down" ng-repeat="mem in channels.active.info.user_list" href="{{mem.url}}" ng-if="mem.user_login != '<?= Model_User::getFollowerCode(); ?>'">{{mem.title}}</a><!--
                --></div><!--
            --></li>
		</ul>
		<ul class="right">
            <?if(Constant::MESSENGER_CALL_ENABLE){?>
                <li ng-show="channels.active.info.chat_type_id == 1"><a href="#" ng-click="startCall()"><i class="fa fa-phone"></i></a></li>
            <?}?>
			<li><a href="#" data-activates="messenger_chanel_menu" class="dropdown-button"><i class="material-icons">more_vert</i></a></li>
		</ul>
	</div>
</nav>
 
<!-- Список сообщений чата -->
<div id="chat_messages" image-view ng-if="((forms.list.chat.visible) || (forms.list.search.visible && !search.view_result)) && (channels.active.id != null)" ng-click="hideSmiles()">
    <div id="chat_messages_cnv" class="scroll-style-1" onscroll="chat_messages_scroll();">
        <div class="messenger_message_conversation_start" ng-hide="messages.list.length">
            <span><?=Model_Lang::getString('info_chat_created')?></span>
        </div>
        <div class="center-align" ng-show="messages.show_wait">
    	    <div class="spinner" style="margin: 5px auto 10px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="chat-message-container" ng-class="{active: message.active, noselectable: message.user.id == -2 || message.user.id == -1 || channels.active.is_readonly}" ng-click="messages.active.toggle($event, message)" ng-repeat="message in messages.list track by message.id"><!--
            --><div><i class="fa fa-check-circle"></i></div><!--
            --><div ng-if="message.user.id > 0"><!--
                --><div class="messenger_message_conversation_start" ng-if="messages.list[$index-1].date != message.date"><span>{{message.time | date_short}}</span></div><!--
                --><div class="messenger_message {{logged_id == message.user.id ? 'my animated fadeIn _bounceInDown' : 'you animated fadeIn _bounceInDown'}}" data-id="{{message.id}}"><!--
                    --><div class="messenger_text"><!--
                        --><div class="messenger_author_username_inmessage"><a target="_blank" ng-href="{{message.user.url}}"><img align="absmiddle" ng-src="{{message.user.avatar}}">{{message.user.login}}</a></div><!--
                	    --><div ng-if="message.data" class="messenger_message_file messenger_message_file_{{message.data.type}}">
                            <!-- IMAGE/PHOTO -->
                		    <div class="messenger_message_file_icon" ng-if="message.data.type == 'image'">
                                <a target="_blank" download href="{{message.data.path}}"><img data-filesource="{{message.data.path}}" ng-src="{{message.data.preview}}" /></a>
                                <img title="<?= Model_Lang::getString('signed_file'); ?>" class="signed" src="/img/app/ecp/signed.png" ng-if="message.data.signed == 1">
                            </div>
                            <div ng-if="message.data.type == 'audio'">
                                <audio ng-src="{{message.data.path}}" controls></audio>
                                <br><span style="font-size: .8em; color: rgba(0,0,0,.5);" ng-if="message.data.size >= 1024">{{message.data.size / 1024 | mycurrency:0}} KB</span>
                                <span style="font-size: .8em; color: rgba(0,0,0,.5);" ng-if="message.data.size<1024">{{message.data.size | mycurrency:0}} B</span>
                            </div>
                            <div ng-if="message.data.type == 'document'" class="flex0" style="align-items: center;">
                                <div class="messenger_message_file_icon" style="padding-right: 5px;">
                                    <a target="_blank" download href="{{message.data.path}}"><img src="/img/file_chat.png" style="height: 40px;"></a>
                                    <img title="<?= Model_Lang::getString('signed_file'); ?>" class="signed" src="/img/app/ecp/signed.png" ng-if="message.data.signed == 1">
                                </div>
                                <div style="padding-bottom: 4px;">
                		    	    <a target="_blank" download href="{{message.data.path}}" style="display: block; line-height: 1em;">{{message.data.filename}}</a>
                                    <span style="display: block; line-height: 1em; font-size: .8em; color: rgba(0,0,0,.5); margin: 2px 0;" ng-if="message.data.size >= 1024">{{message.data.size / 1024 | mycurrency:0}} KB</span>
                                    <span style="display: block; line-height: 1em; font-size: .8em; color: rgba(0,0,0,.5); margin: 2px 0;" ng-if="message.data.size < 1024">{{message.data.size | mycurrency:0}} B</span>
                		    	    <span style="display: block; line-height: 1em; font-size: .6em; color: rgba(0,0,0,.5);" ng-if="message.data.signed == 1"><?= Model_Lang::getString('signed_file'); ?></span>
                                </div>
                		    </div>
                	    </div><!--
                	    --><span ng-if="message.text" ng-bind-html="message.text | chat_message"></span><!--
                    --></div><!--
                    --><div class="messenger_author"><i class="fa fa-clock-o"></i></span> {{message.time | time_short}}</div><!--
                --></div><!--
            --></div>
            <!-- Системные сообщения -->
            <div ng-if="message.user.id == -2">
                <!-- load previous messages -->
                <div class="center-align messenger_message_system">
                    <a href="#" class="btn btn-flat" data-loadmore ng-click="messages.loadMore(this,message.data)"><i class="fa fa-refresh blue-text"></i> <?=Model_Lang::getString('previous_messages')?></a>
                </div>
            </div>
            <div ng-if="message.user.id == -1"> 
                <!-- завершенный звонок -->
                <div ng-if="message.data && message.data.type == 'hangout'">
                    <div class="messenger_message_system"><span ng-bind="message.text"></span></div>
                </div>
                <!-- отклоненный звонок -->
                <div ng-if="message.data && message.data.type == 'reject'">
                    <div class="messenger_message_system"><span ng-bind="message.text"></span></div>
                </div>
                <!-- карточка проекта -->
                <div ng-if="message.data && message.data.type == 'project_card'">
                    <div class="messenger_message_system" style="background: transparent;">
                        <div class="messenger_project_card">
                            <div>
                                <div ng-if="message.data.arguments.cover_list.length > 0">
                                    <div ng-repeat="cover in message.data.arguments.cover_list" ng-if="$index==0">
                                        <a href="/projects/show/{{message.data.arguments.url}}/" target="_blank" class="title"><img ng-src="/upload/project/{{cover.project_id}}/cover/135x100/{{cover.path}}"></a>
                                    </div>
                                </div>
                                <div>
                                    <a href="/projects/show/{{message.data.arguments.url}}/" target="_blank" class="title">{{message.data.arguments.title}}</a>
                                    <div class="price_format">{{message.data.arguments.price_format}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- simple system text message -->
                <div ng-if="!message.data || !(message.data.type == 'hangout' || message.data.type == 'reject' || message.data.type == 'project_card')" class="messenger_message_system"><span>{{message.text}}</span></div>
            </div>
        </div>
    </div>
</div>

<form id="form-messageDeleteConfirm" class="popup-form" data-title="<?=Model_Lang::getString('delete')?>">
    <div class="popup-form-content">
        Вы действительно хотите удалить {{messages.active.list.length}} сообщений
        <div ng-show="!messages.active.only_my">
            Внимание! Сообщения будут удалены только у Вас.
        </div>
        <div class="switch" ng-show="messages.active.only_my">
            <label>
                удалить только для меня
                <input type="checkbox" ng-model="messages.active.forall">
                <span class="lever"></span>
                удалить для всех
            </label>
        </div>
    </div>
    <div class="popup-form-footer">
        <a href="#" class="btn btn-flat" onclick="return CustomUI.hideForm()"><?=Model_Lang::getString('cancel')?></a>
        <a href="#" class="btn" ng-click="messages.active.actions.delete2()"><?=Model_Lang::getString('delete')?></a>
    </div>
</form>

<!-- Поле ввода сообщения -->
<div ng-show="(forms.list.chat.visible) && (channels.active.id != null && channels.active.is_readonly)" class="center-align font-readonly loading btn" style="padding: 20px; background-color: rgba(0,0,0,0.04); line-height: 1em; color: #777; justify-content: center; text-transform: none;">
    <?= Model_Lang::getString('warning_block_write_to_readonly_chat'); ?>
</div>
<div ng-show="(forms.list.chat.visible) && (channels.active.id != null && !channels.active.is_readonly)">
    <div id="chat_active_actions" ng-if="messages.active.list.length > 0">
        <div><a href="#" class="btn waves-effect waves-light" ng-click="messages.active.actions.showDeleteConfirm()"><?=Model_Lang::getString('delete')?> <span style="opacity: .7; margin-left: 5px;">{{messages.active.list.length}}</span></a></div>
        <div><a href="#" class="btn btn-flat waves-effect waves-light" ng-click="messages.active.clear()"><?=Model_Lang::getString('cancel')?></a></div>
    </div>
    <div id="chat_write" ng-if="messages.active.list.length == 0">
        <a class="btn-chat" href="#" ng-click="toggleSmiles()"  id="chat-message-toggleSmiles"><i class="fa fa-smile-o"></i></a>
        <div id="messagecontrol" contenteditable="true" placeholder="<?=Model_Lang::getString('write_message')?>" tabindex="0" onkeydown="angular.element(this).scope().messages.sendifenter(event)"></div>
        <a class="btn-chat" href="#" ng-click="messages.send(item)" id="chat-message-send">
            <i class="fa fa-paper-plane"></i>
        </a>
        <a class="btn-chat" href="#" id="chat-attach-image" ng-click="forms.attachImage()" title="<?=Model_Lang::getString('attach_file')?>...">
    	    <i class="fa fa-paperclip"></i>
        </a>
        <plugin name="messenger/recordaudio"></plugin>
    </div>
</div>

<!-- Welcome -->
<div id="chat_welcome" ng-if="channels.active.id == null && forms.list.chat.visible">
	<div class="animated bounceInDown">
	    <div class="chat_welcome_logo_wrapper">
	    	<img src="/img/messenger_logo.png" alt="BusinessMessenger">
	    	<div style="max-width: 30em; margin: auto auto; margin-top: 1em;">
		    	<?=Model_Lang::getString('messenger_welcome')?>
		    </div>
	    </div>
    </div>
</div>

<?include __DIR__.'/smiles.phtml'?>
<?include __DIR__.'/chat_search_result.phtml'?>

<form id="form-fileForm" class="popup-form" title="<?=Model_Lang::getString('upload_file')?>">
	<div class="popup-form-content scroll-style-1">
		<div id="image-preview"></div>
		<div>
			<input type="text" placeholder="<?=Model_Lang::getString('comment_to_file')?>" autocomplete="off" id="input-imageFile-comment">
			<!--
            <br>
			<input type="checkbox" id="input-sendCompressedImage" disabled="disabled" checked="checked" readonly="readonly"> <label for="input-sendCompressedImage"><?=Model_Lang::getString('send_compressed_image')?></label>
            -->
		</div>
		<canvas style="display: none;" id="my_canvas"></canvas>
	</div>
	<div class="popup-form-footer scwizard" id="wizard-messenger-document">
        <div data-scwizard-page="0" class="active">
            <div>
                <p>
                    <?if(Constant_Base::MESSENGER_DIGITAL_SIGN){?>
                        <input type="checkbox" id="digital_signature" />
                        <label for="digital_signature" style="padding-left: 25px; line-height: 1em; max-width: 200px;"><?= Model_Lang::getString('digital_signature'); ?>
                            <span style="display: block; font-size: 9pt; display: block; line-height: 1em; margin-top: 5px; color: #555;">(<?= Model_Lang::getString('digital_signature_warning'); ?>)</span>
                            <!-- <img src="/img/app/ecp/token.png" style="width: 25px;"> -->
                        </label>
                    <?}?>
                </p>
                <div class="right-align">
                    <a id="file_form_send_button" class="waves-effect waves-light btn green" data-scwizard-action="next"><?= Model_Lang::getString('send'); ?></a>
                </div>
            </div>
        </div>
        <div data-scwizard-page="1">
            <div>
                <div style="font-size: 9pt; max-width: 210px; line-height: 1.2em;">
                    <div class="loading">
                        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                    </div>
                    <div class="loaded" style="display: none;">
                        <div class="font-readonly left-align" style="margin-bottom: 10px;"><?= Model_Lang::getString('digital_signature_description'); ?></div>
                        <p>
                            <input type="text" autofocus maxlength="6" placeholder="<?= Model_Lang::getString('enter_sms_code'); ?>" id="enter_sms_code" />
                        </p>
                    </div>
                </div>
                <div class="right-align">
                    <a id="digital_signature_send_button" class="waves-effect waves-light btn green disabled" disabled data-scwizard-action="next"><?= Model_Lang::getString('send'); ?></a>
                </div>
            </div>
        </div>
	</div>
</form>

<form popup-ajax method="POST" action="/index/digitalsignature/generatecode/" id="form-digitalsignature-generatecode" data-title=""></form>

<script>
    $(function(){

        $('#enter_sms_code').on('input paste change', function(){
            if($(this).val().length == 6) {
                $('#digital_signature_send_button').removeClass('disabled').removeAttr('disabled');//.trigger('click');
            }
        });

        $('#form-digitalsignature-generatecode').data('success', function(resp){
            if(resp.status == 'success') {
                if(resp.session != '') {
                    preloader.off();
                    $('#enter_sms_code').val('123456');
                    $('#digital_signature_send_button').attr('disabled', false).removeClass('disabled');
                    $('#digital_signature_send_button').click();
                }else{
                    $('#wizard-messenger-document .loading').hide();
                    $('#wizard-messenger-document .loaded').show();
                    $('#enter_sms_code').focus();
                    preloader.off();
                }
            } else {
                gmaback.js.showError(data.message, 4000);
            }
        });

        // Визард отправки документа
        $('#wizard-messenger-document').scWizard('init', {
            onback: function(index) {
                // auction_current_page_index = index;
            },
            onnext: function(index) {
                if(index == 1) {
                    if($('#wizard-messenger-document input#digital_signature:checked').length) {
                        $('#form-digitalsignature-generatecode').submit();
                    } else {
                        return Messenger.fileForm.send(document.getElementById('file_form_send_button'));
                    }
                } else {
                    Messenger.fileForm.digital_signature_sms_code = $('#enter_sms_code').val();
                    return Messenger.fileForm.send(document.getElementById('digital_signature_send_button'));
                }
            }
        });
    });
</script>

<div style="display: none;">
    <form id="form-chat-attach-image" popup-ajax data-title="Attach image" method="POST" enctype="multipart/form-data">
        <input id="input-chat-attach-image" type="file" name="form[image]" onchange="Messenger.processChatAttachImage(this);" />
        <input type="hidden" name="form[protect]" />
    </form>
</div>

<!--
<script src="/app/plugin/load-image/load-image.js"></script>
<script src="/app/plugin/load-image/load-image-meta.js"></script>
<script src="/app/plugin/load-image/load-image-exif.js"></script>
<script src="/app/plugin/load-image/load-image-exif-map.js"></script>
<script src="/app/plugin/load-image/load-image-orientation.js"></script>
-->

<script>

    var canvas_id = 'my_canvas';
    var canvas = document.getElementById(canvas_id);
    var ctx = canvas.getContext('2d');
    var editableDiv;

    // var loadImage = require('plugin/load-image/load-image.all.min.js');

    /*
	require(
		['plugin/load-image/load-image.all.min'],
		function(loadImage){
		    alert(loadImage);
		}
	);*/

    var Messenger = {
        fileForm: {
            originalFile: null,
            compressedFile: null,
            documentFile: null,
            compressedAudio: null,
            sendCompressedImage: true,
            documentFileName: null,
            digital_signature_sms_code: '',
            setPreviewImage: function(img) {
                $('#image-preview').html(img);
                // return CustomUI.showForm('form-fileForm');
            },
            showPreview: function(img) {
                return CustomUI.showForm('form-fileForm');
            },
            pasteText: function(text) {
                // do nothing
            },
            send: function(btn){
                if($(btn).hasClass('loading')) {
                    return false;
                }
                $(btn).addClass('loading');
                var form = new FormData(),
                request = new XMLHttpRequest();
                form.append('chat_id', gmaback.messenger_scope.channels.active.id);    
                form.append('digital_signature_sms_code', Messenger.fileForm.digital_signature_sms_code);    
                form.append('message', $('#input-imageFile-comment').val());
                var sendCompressed = true || $('#input-sendCompressedImage').is(':checked');
                if(sendCompressed) {
                	if(this.compressedAudio) {
	                    var blob = new Blob([this.compressedAudio], {type: 'application/octet-binary'});
	                    // form.append('audio_compressed', blob, 'audio_compressed.mp3');
	                    form.append('audio_compressed', blob, 'audio_compressed.ogg');
                	} else if (this.compressedFile) {
                        var blob = new Blob([this.compressedFile], {type: 'application/octet-binary'});
                        form.append('image_compressed', blob, 'image_compressed.jpg');
                    } else if (this.documentFile) {
	                    var blob = new Blob([this.documentFile], {type: 'application/octet-binary'});
	                    form.append('document', blob, this.documentFileName);
                    }
                } else {
                    // var fileOfBlob = new File(this.compressedFile, 'image_original');
                    // form.append('image_original', fileOfBlob);
                    // form.append('image_original', this.originalFile);
                }
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        /*
                    	Messenger.fileForm.originalFile = null;
                    	Messenger.fileForm.compressedFile = null;
                    	Messenger.fileForm.compressedAudio = null;
                        */
                        var data = angular.fromJson(request.responseText);
                        console.log(data);
                        $(btn).removeClass('loading');
                        if(typeof data.error != 'undefined') {
                            gmaback.js.showError(data.error.message, 4000);
                        } else if(typeof data.status != 'undefined') {
                            if(data.status == 'success') {
                                $('#input-imageFile-comment').val('');
                                CustomUI.hideForm();                            
                            } else {
                                gmaback.js.showError(data.message, 4000);
                            }
                        } else {
                            gmaback.js.showError(data.result, 4000);
                        }
                    }
                };
                request.open(
                    'POST',
                    '/uploadimg',
                    true
                );
                request.setRequestHeader('X-Xsrftoken', '<?= Model_App::getToken(); ?>');
                request.send(form);
                return false;
            }
        },
        // После добавления файла к сообщению
        processChatAttachImage: function(input) {
            var max_upload_image_size = getApp().messenger.max_upload_image_size;
            if(input.files && input.files[0]) {
                Messenger.fileForm.originalFile = null;
                Messenger.fileForm.documentFile = null;
                Messenger.fileForm.compressedAudio = null;
                Messenger.fileForm.compressedFile = null;
                Messenger.fileForm.documentFileName = null;
                Messenger.fileForm.digital_signature_sms_code = '';
                Messenger.fileForm.sendCompressedImage = false;
                $('#wizard-messenger-document input#digital_signature').removeAttr('checked');
                $('#wizard-messenger-document').scWizard('showPage', 0);
                $('#wizard-messenger-document .loading').show();
                $('#wizard-messenger-document .loaded').hide();
                $('#wizard-messenger-document input[type="text"]').val('');
                $('#digital_signature_send_button').addClass('disabled').attr('disabled', 'disabled');
                var file = input.files[0];
                $('#input-chat-attach-image').val('');
                var filename = file.name;
                var image_extensions = ['png', 'jpg', 'jpeg', 'gif'];
                var fileicons = ['ai', 'avi', 'css', 'csv', 'dbf', 'doc', 'docx',
                    'dwg', 'exe', 'fla', 'htm', 'html', 'iso', 'js', 'json', 'mp3',
                    'mp4', 'pdf', 'ppt', 'psd', 'rtf', 'svg',
                    'txt', 'xls', 'xlsx', 'xml', 'zip'
                ];
                var extension = filename.split('.').pop();
                extension = extension.toLowerCase();
                var idx = image_extensions.indexOf(extension);
                var file_type = 'unknown';
                var file_preview_html = '<?=Model_Lang::getString('upload_image')?>...';
                if(idx == -1) {
                    Messenger.fileForm.documentFile = null;
                    Messenger.fileForm.documentFileName = filename;
                    file_type = 'document';
                    var file_icon  = '/img/file.png';
                    if(fileicons.indexOf(extension) >= 0) {
                        file_icon = '/img/extensions/' + extension + '.png';
                    }
                    file_preview_html = '<div style="padding-top: 20px; word-break: break-all;"><img src="' + file_icon +'" style="height: 110px; box-shadow: none;" /><br>' + filename + '</div>';
                } else {
                    file_type = 'image';
                }
                $('#image-preview').html(file_preview_html);
                CustomUI.showForm('form-fileForm');
                if(file_type == 'document') {
                    var reader = new FileReader();
                    reader.onload = function(evt) {
                        var fileOrBlob = evt.target.result; // base64 encoded image
                        Messenger.fileForm.documentFile = fileOrBlob
                    };
                    reader.readAsDataURL(file);
                } else if(file_type == 'image') {
                    var reader = new FileReader();
                    reader.onload = function(evt) {
                        var fileOrBlob = evt.target.result; // base64 encoded image
					    loadImage.parseMetaData(
						    input.files[0],
						    function(options) {
							    var orientation = 0;
							    if(typeof options != 'undefined' && typeof options.exif != 'undefined') {
								    // console.log('loadImage.parseMetaData', data, data.exif);
								    orientation = options.exif.get('Orientation');
							    }
							    // console.log('orientation', orientation);
							    var pastedImage = new Image();
		                        pastedImage.onload = function () {
		                            var w = pastedImage.width;
		                            var h = pastedImage.height;
		                            var resized = false;
		                            if(w > h) {
		                                if (w > max_upload_image_size) {
		                                    w = max_upload_image_size;
		                                    h *= w / pastedImage.width;
		                                    resized = true;
		                                }
		                            } else {
		                                if (h > max_upload_image_size) {
		                                    h = max_upload_image_size;
		                                    w *= h / pastedImage.height;
		                                    resized = true;
		                                }
		                            }
		                            canvas.width = w;
		                            canvas.height = h;
		                            if(orientation > 0) {
		                        	    // console.log('loadImage.transformCoordinates', options, orientation);
		                        	    loadImage.transformCoordinates(canvas, {orientation: orientation});
								    }
		                            if(resized) {
		                                // drawImage(img,sx,sy,swidth,sheight,x,y,width,height);
		                                ctx.drawImage(pastedImage, 0, 0, pastedImage.width, pastedImage.height, 0, 0, w, h);
		                            } else {
		                                ctx.drawImage(pastedImage, 0, 0);
		                            }
		                            var photo = canvas.toDataURL('image/jpeg');
		                            Messenger.fileForm.compressedFile = photo;
				                    // Create an image element for preview
				                    var img = document.createElement('img');
                                    img.onload = function() {
                                        CustomUI.centerForms();
                                    };
				                    img.src = photo;
				                    $('#image-preview').html(img);
				                    CustomUI.centerForms();
		                        };
		                        pastedImage.src = fileOrBlob; // base64 encoded image
		                        // Create an image element for preview
		                        /*var img = document.createElement('img');
		                        img.src = fileOrBlob;
		                        $('#image-preview').html(img);
		                        CustomUI.centerForms();*/
		                        // show form
		                        // Messenger.fileForm.originalFile = imageFile;
		                        // CustomUI.showForm('form-fileForm');
						    }
					    );


                    };
                    /*reader.onload = function (e) {
                        $('#blah')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };*/
                    reader.readAsDataURL(file);
                }
            }
        }
    };

	function toDataUrl(url, callback) {
		var xhr = new XMLHttpRequest();
		
		xhr.onload = function() {
			var reader = new FileReader();
			reader.onloadend = function() {
				callback(reader.result);
			}
			reader.readAsDataURL(xhr.response);
		};
		xhr.open('GET', url);
		xhr.responseType = 'blob';
		xhr.send();
	}

	$(function(){

        // Called whenever a paste event has occured
        if(document.addEventListener) {

            editableDiv = document.getElementById(getApp().messenger.message_control_id);
            var $messagecontrol = $('#' + getApp().messenger.message_control_id)[0];

			if (editableDiv.addEventListener) {
				var listener = function(e) {
					if(editableDiv.textContent == '') {
						$(editableDiv).removeClass('filled');
					} else {
						$(editableDiv).addClass('filled');
					}
				}
			    editableDiv.addEventListener('input', listener, false);
			    editableDiv.addEventListener('DOMNodeRemovedFromDocument', listener, false);
			    editableDiv.addEventListener('DOMSubtreeModified', listener, false);
			    editableDiv.addEventListener('DOMNodeInserted', listener, false);
			    editableDiv.addEventListener('DOMNodeRemoved', listener, false);
			    editableDiv.addEventListener('DOMCharacterDataModified', listener, false);
			}

            // paste from clipboard
            $(document).on('paste','[contenteditable]',function(e) {
                return universalPaste(e, Messenger.fileForm);
            });

        }

	});

</script>