<div id="smile-tabs" ng-show="smile_window_visible && forms.list.chat.visible && (channels.active.id != null)">
    <div>
        <div class="_col _s12">
            <ul class="tabs">
                <?foreach(Model_Messenger_Smile::getPacks() as $i => $pack){?>
                    <li class="tab col s2"><a href="#smile_pack_<?=$pack->code?>" <?=($i==0)?'class="active"':null?>><i style="font-size: 1.5rem;" class="grey-text <?=$pack->icon?>"></i></a></li>
                <?}?>
            </ul>
        </div>
        <?$tab_index=4;?>
        <?foreach(Model_Messenger_Smile::getPacks() as $i => $pack){?>
            <ul id="smile_pack_<?=$pack->code?>" class="animated fadeIn smile-pack scroll-style-1 scroll-style-darken" <?/*ng-click="smileselect()"*/?>>
                <?foreach($pack->smiles as $smile){
                    ?><li tabindex="<?=$tab_index++?>" data-smile="<?=$smile->code?>" data-smile-utf="<?=json_decode('"'.$smile->utf.'"')?>" title=":<?=$smile->code?>:" onmousedown="Emoji.addEmoji(this, document.getElementById(getApp().messenger.message_control_id)); return cancelEvent(event);" onclick="return cancelEvent(event);" onmouseover="return cancelEvent(event);"><i data-smile="<?=$smile->code?>" class="emoticon emoticon-<?=$smile->code?>"></i></li><?
                }?>
            </ul>
        <?}?>
    </div>
    <script>
        $(function(){
            var $parent = $('#smile-tabs');
            $parent.find('ul.tabs').tabs();
        });
    </script>
</div>
