<div id="page-rewards">
    <div class="emp-profile animated fadeIn" ng-init="rewards.loadTurnover()">
        <div class="animated fadeIn" ng-init="rewards.loadBonusInfo()">
            <div class="main-card card">
                <div class="card-header">
                    <h2>Вознаграждения</h2>
                </div>
                <div  class="card-body" style="border-radius: 0 0 0 0;">
                    <div class="card mb-4">
                        <div class="card-header d-flex">
                            <span class="text-gold">БОНУСЫ ЗА ПРОДВИЖЕНИЕ TRUSTERA</span>
                        </div>
                        <div class="card-body rewards-bonus-head">
                                <div class="myclients-methods-list-item" >
                                        <div class="bg-main rewards-bonus-item">
                                            <!-- <div class="flex0 col-md-5 col-10 p-0"> -->
                                            <div class="flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_career_collapsed}">
                                                <div style="color:#999a9e; padding: 10px; flex:1; font-size: 20px;">                                                    
                                                    Career Bonus
                                                </div>
                                                <div style="padding: 10px;">
                                                    <i class="far fa-circle fa-2x" ng-if = "rewards.data.career_id == 0" style="color:#25262c"></i>
                                                    <i class="far fa-check-circle fa-2x" ng-if = "rewards.data.career_id >= 1" style="color:#bda076"></i>
                                                </div>
                                            </div>
                                            <!-- <div class=" underline v flex0 ml-auto mw-100 my-2"> -->
                                            <div class="underline flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_career_collapsed}">
                                                <div style="padding: 10px;  flex:1" ng-click="rewards.no_career_collapsed = !rewards.no_career_collapsed">                                              
                                                    <a ng-if="!rewards.no_career_collapsed" style="color:#bda076" href="#">Как получить Career bonus?</a>
                                                    <a ng-if="rewards.no_career_collapsed" style="color:#bda076" href="#">Свернуть</a>
                                                </div>
                                                <div style="padding: 10px;">
                                                    <a style="color:#bda076" href="/statistic/">Статистика</a>
                                                </div>
                                            </div>
                                            <div class="card rewards-bonus-background-collapse" ng-if="rewards.no_career_collapsed" style="color:#d6d6d7; padding: 10px; border-top: 2px solid #43464f; background: #23242b;"> 
                                                <img style="width: 150px; height: 100px; object-fit: cover; align-self: center;"  src="/assets/img/career.png">
                                                Используйте основную возможность заработка в Golden DAX - Карьерный бонус. Он выплачивается всем как за личные продажи, так и за организацию товарооборота командой. В начале карьеры вы начинаете с прямых комиссионных в 10%, а затем по мере роста это значение увеличивается. Процент комиссионных означает, что вы получите именно столько процентов с каждой личной сделки от суммы, которую в качестве комиссии платит в компанию Golden DAX компания-партнер за реализацию товара или услуги конечному покупателю. Также вы получите разницу между вашим процентом комиссионных и комиссионными вашего партнера в вашей сети, если сделку совершит он или кто-то в его команде.<br><br><span class="text-gold">Пример прямой продажи:</span><br>Вы порекомендовали другу воспользоваться услугами кооператива Проавто. Комиссией, которую платит в Golden DAX компания Проавто, является сумма вступительного взноса. Если она составит 60 000 рублей и ваш карьерный бонус 30%, то вы получаете 18 000 рублей.<br><br><span class="text-gold">Пример командной продажи:</span><br>Знакомый вашего друга (второй уровень глубины от вас по команде) сделал то же самое, что и вы, но его размер карьерного бонуса 10%, а ваш такой же - 30%. Тогда он получит 6000 рублей, а вы получите 12 000 рублей. Это разница: 30% (ваши) минус 10% (друга). Так эта разница выплачивается без ограничений уровня глубины, главное, чтобы между размерами карьерного бонуса была положительная разница.
                                            </div>
                                        </div>
                                        <div class="bg-main rewards-bonus-item">
                                            <div class="flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_main_collapsed}">
                                                <div class="rewards-bonus-flex">                                                    
                                                    Main Bonus
                                                </div>
                                                <div style="padding: 10px;">
                                                    <i class="far fa-circle fa-2x" ng-if = "rewards.data.career_id < 2 || rewards.data.amount < 5000" style="color:#25262c"></i>
                                                    <i class="far fa-check-circle fa-2x" ng-if = "rewards.data.career_id >= 2 && rewards.data.amount >= 5000" style="color:#bda076"></i>
                                                </div>
                                            </div>
                                            <div class="underline flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_main_collapsed}">
                                                <div style="padding: 10px;  flex:1" ng-click="rewards.no_main_collapsed = !rewards.no_main_collapsed">                                              
                                                    <a ng-if="!rewards.no_main_collapsed" style="color:#bda076" href="#">Как получить Main bonus?</a>
                                                    <a ng-if="rewards.no_main_collapsed" style="color:#bda076" href="#">Свернуть</a>
                                                </div>
                                                <div style="padding: 10px;">
                                                    <a style="color:#bda076" href="/statistic/">Статистика</a>
                                                </div>
                                            </div>
                                            <div class="card rewards-bonus-background-collapse" ng-if="rewards.no_main_collapsed" style="color:#d6d6d7; padding: 10px; border-top: 2px solid #43464f; background: #23242b;"> 
                                                <img style="width: 150px; height: 100px; object-fit: cover; align-self: center;"  src="/assets/img/main.png">
                                                Это специальный бонус от компании-партнера Trustera. Он выплачивается только от её клиентов с 6-ти уровней глубины от тех средств, которые компания начисляет в качестве дохода этим клиентам на инвестиционные счета. После начисления дохода делается вычет согласно тарифу инвестиционного счета. Этот вычет в пользу компании Trustera делит пополам: половину оставляет себе, а вторую половину выплачивает бренд-партнерам Golden DAX, которые находятся в цепочке пригласителей этого клиента как раз на эти 6 поколений вверх. Эта сумма в свою очередь делится на 6 частей в следующих процентных пропорциях: 50% и 5 раз по 10%. Первая часть выплачивается непосредственному пригласителю клиента, а остальные вышестоящим 5-ти бренд-партнерам.
                                            </div>
                                        </div>
                                        <div class="bg-main rewards-bonus-item"">
                                            <div class="flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_world_collapsed}">
                                                <div class="rewards-bonus-flex">                                                    
                                                    World Bonus
                                                </div>
                                                <div style="padding: 10px;">
                                                    <i class="far fa-circle fa-2x" ng-if = "rewards.data.career_id < 8" style="color:#25262c"></i>
                                                    <i class="far fa-check-circle fa-2x" ng-if = "rewards.data.career_id >= 8" style="color:#bda076"></i>
                                                </div>
                                            </div>
                                            <!-- <div class=" underline v flex0 ml-auto mw-100 my-2"> -->
                                            <div class="underline flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_world_collapsed}">
                                                <div style="padding: 10px;  flex:1" ng-click="rewards.no_world_collapsed = !rewards.no_world_collapsed">                                              
                                                    <a ng-if="!rewards.no_world_collapsed" style="color:#bda076" href="#">Как получить World bonus?</a>
                                                    <a ng-if="rewards.no_world_collapsed" style="color:#bda076" href="#">Свернуть</a>
                                                </div>
                                                <div style="padding: 10px;">
                                                    <a style="color:#bda076" href="/statistic/">Статистика</a>
                                                </div>
                                            </div>
                                            <div class="card rewards-bonus-background-collapse" ng-if="rewards.no_world_collapsed" style="color:#d6d6d7; padding: 10px; border-top: 2px solid #43464f; background: #23242b;"> 
                                                <img style="width: 150px; height: 100px; object-fit: cover; align-self: center;"  src="/assets/img/world.png">
                                                Данный  бонус выплачивается только бренд-партнерам компании уровень карьеры которых 8 или выше. Для выплаты бонуса выделяется 6% от всех полученных комиссий компанией Golden DAX от компаний партнеров за реализацию их товаров или услуг по всему миру. В конце месяца производится подсчет суммы и она делится на 6 равных частей. Первая часть делится на всех, кто имеет карьерный статус 8 и выше в равных пропорциях. Вторая часть только на тех, кто имеет статус 9 и выше также в равных пропорциях. И так далее.
                                            </div>
                                        </div>
                                        <div class="bg-main rewards-bonus-item">
                                            <!-- <div class="flex0 col-md-5 col-10 p-0"> -->
                                            <div class="flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_office_collapsed}">
                                                <div class="rewards-bonus-flex">                                                    
                                                    Office Bonus
                                                </div>
                                                <div style="padding: 10px;">
                                                    <i class="far fa-circle fa-2x" ng-if = "rewards.data.is_chief == 0" style="color:#25262c"></i>
                                                    <i class="far fa-check-circle fa-2x" ng-if = "rewards.data.is_chief == 1" style="color:#bda076"></i>
                                                </div>
                                            </div>
                                            <div class="underline flex0" ng-class="{'rewards-bonus-background-collapse': rewards.no_office_collapsed}">
                                                <div style="padding: 10px;  flex:1" ng-click="rewards.no_office_collapsed = !rewards.no_office_collapsed">                                              
                                                    <a ng-if="!rewards.no_office_collapsed" style="color:#bda076" href="#">Как получить Office bonus?</a>
                                                    <a ng-if="rewards.no_office_collapsed" style="color:#bda076" href="#">Свернуть</a>
                                                </div>
                                                <div style="padding: 10px;">
                                                    <a style="color:#bda076" href="/statistic/">Статистика</a>
                                                </div>
                                            </div>
                                            <div class="card rewards-bonus-background-collapse" ng-if="rewards.no_office_collapsed" style="color:#d6d6d7; padding: 10px; border-top: 2px solid #43464f; background: #23242b;"> 
                                                <img style="width: 150px; height: 100px; object-fit: cover; align-self: center;"  src="/assets/img/office.png">
                                                Выплачивается только офисам, которые являются официальными представителями компании Golden DAX во всем мире. В качестве бонуса выплачивается 5% от любой полученной комиссии компанией Golden DAX от компаний партнеров за реализацию их товаров или услуг. Для получения бонуса клиент должен быть из того же города, где территориально располагается офис.
                                            </div>
                                        </div>
                                </div>      
                        </div>
                        <!-- <div class="card-header d-flex">
                            <span class="text-gold">БОНУСЫ ЗА ПРОДВИЖЕНИЕ PROAUTO</span>
                        </div>
                        <div class="card-body">
                            <div class="myclients-methods-list-item" >
                                <div class="bg-main rewards-bonus-item">
                                    <div class="flex0">
                                        <div class="rewards-bonus-flex">                                                    
                                            ПроАвто Бонус
                                        </div>
                                        <div style="padding: 10px;">
                                            <i class="far fa-circle fa-2x" style="color:#25262c"></i>
                                        </div>
                                    </div>
                                    <div class="underline flex0">
                                        <div class="rewards-bonus-how-get" style="padding: 10px; flex:1;">                                                    
                                            <a style="color:#bda076" href="#">Как получить ПроАвто бонус?</a>
                                        </div>
                                        <div class="rewards-bonus-how-get-mob" style="padding: 10px; flex:1;">                                                    
                                            <a style="color:#bda076" href="#">Как получить?</a>
                                        </div>
                                        <div style="padding: 10px;">
                                            <a style="color:#bda076" href="/statistic/">Статистика</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div  class="card-body" style="border-radius: 0 0 0 0;">
                    <div class="card mb-4">
                        <div class="card-header d-flex">
                            <span class="text-gold">БОНУСЫ ЗА ПРОДВИЖЕНИЕ АКАДЕМИИ</span>
                        </div>
                        <div class="card-body">
                            <div class="myclients-methods-list-item" >
                                <div class="bg-main rewards-bonus-item">
                                    <!-- <div class="flex0 col-md-5 col-10 p-0"> -->
                                    <div class="flex0">
                                        <div style="color:#999a9e; padding: 10px; flex:1; font-size: 20px;">                                                    
                                            Бонусы за академию
                                        </div>
                                        <div style="padding: 10px;">
                                            <i class="far fa-circle fa-2x" style="color:#25262c"></i>
                                        </div>
                                    </div>
                                    <!-- <div class=" underline v flex0 ml-auto mw-100 my-2"> -->
                                    <div class="underline flex0">
                                        <div class="rewards-bonus-how-get" style="padding: 10px; flex:1;">                                                    
                                            <a style="color:#bda076" href="/achievements/">Как получить бонус за академию?</a>
                                        </div>
                                        <div class="rewards-bonus-how-get-mob" style="padding: 10px; flex:1;">                                                    
                                            <a style="color:#bda076" href="/achievements/">Как получить?</a>
                                        </div>
                                        <div style="padding: 10px;">
                                            <a style="color:#bda076" href="/achievements/">Статистика</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="card-body">
                    <div class="card mb-4">
                        <div class="card-header d-flex">
                            <span class="text-gold">Подарки партнерам</span>
                        </div>
                        <div class="card-body">
                            <div ng-if="level.id>1" class="myclients-methods-list-item rewards-flex" ng-repeat="level in rewards.turnover.career_list">
                                <div class="bg-main rewards-bonus-item" style="flex:1">
                                    <!-- <div class="flex0 col-md-5 col-10 p-0"> -->
                                    <div class="flex0">
                                        <div style="color:#bda076; padding: 10px;">                                                    
                                            статус
                                        </div>
                                        <div style="padding: 10px; color:#999a9e;" ng-if="level.dt_career_success">
                                            {{newDate(level.dt_career_success) | date_dmy}}
                                        </div>
                                    </div>
                                    <!-- <div class=" underline v flex0 ml-auto mw-100 my-2"> -->
                                    <div class="flex0" style="color:#999a9e; padding-left: 10px; padding-bottom: 10px; font-size: 18px;">
                                        {{level.title}}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 pl-md-2 px-0 flex0 flex-column" style="flex:1;">
                                    <div class="field-container p-0 position-relative" style="flex: 1; border-left: none;">
                                        <img class="w-100" src="/assets/img/career/{{level.id - 1}}.jpg" alt="">
                                        <p class="ml-2 position-absolute">Подарок</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
