/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("@{assets_dir}/fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("@{assets_dir}/fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
        url("@{assets_dir}/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),
        url("@{assets_dir}/fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("@{assets_dir}/fonts/Helvetica/HelveticaLight/HelveticaLight.eot");
    src: url("@{assets_dir}/fonts/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
        url("@{assets_dir}/fonts/Helvetica/HelveticaLight/HelveticaLight.woff") format("woff"),
        url("@{assets_dir}/fonts/Helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("@{assets_dir}/fonts/Helvetica/HelveticaBold/HelveticaBold.eot");
    src: url("@{assets_dir}/fonts/Helvetica/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
        url("@{assets_dir}/fonts/Helvetica/HelveticaBold/HelveticaBold.woff") format("woff"),
        url("@{assets_dir}/fonts/Helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
