  /* BEGIN Light */
  @font-face {
    font-family: 'Open Sans Light';
    src: url("@{assets_dir}/fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
    font-weight: 300;
    font-style: normal; }
  /* END Light */
  /* BEGIN Light Italic */
  @font-face {
    font-family: 'Open Sans LightItalic';
    src: url("@{assets_dir}/fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
    font-weight: 300;
    font-style: italic; }
  /* END Light Italic */
  /* BEGIN Regular */
  @font-face {
    font-family: 'Open Sans';
    src: url("@{assets_dir}/fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
    font-weight: normal;
    font-style: normal; }
  /* END Regular */
  /* BEGIN Italic */
  @font-face {
    font-family: 'Open Sans Italic';
    src: url("@{assets_dir}/fonts/OpenSans/Italic/OpenSans-Italic.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
    font-weight: normal;
    font-style: italic; }
  /* END Italic */
  /* BEGIN Semibold */
  @font-face {
    font-family: 'Open Sans Semibold';
    src: url("@{assets_dir}/fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
    font-weight: 600;
    font-style: normal; }
  /* END Semibold */
  /* BEGIN Semibold Italic */
  @font-face {
    font-family: 'Open Sans SemiboldItalic';
    src: url("@{assets_dir}/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
    font-weight: 600;
    font-style: italic; }
  /* END Semibold Italic */
  /* BEGIN Bold */
  @font-face {
    font-family: 'Open Sans Bold';
    src: url("@{assets_dir}/fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
    font-weight: bold;
    font-style: normal; }
  /* END Bold */
  /* BEGIN Bold Italic */
  @font-face {
    font-family: 'Open Sans BoldItalic';
    src: url("@{assets_dir}/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
    src: url("@{assets_dir}/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("@{assets_dir}/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("@{assets_dir}/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("@{assets_dir}/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("@{assets_dir}/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic; }
  /* END Bold Italic */