@font-face {
    font-family: 'password';
    src: url("@{assets_dir}/fonts/password.ttf");
    src: url("@{assets_dir}/fonts/password.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}