<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="page-material" ng-controller="materialCtrl">
    <div class="emp-profile animated fadeIn">
        <div ui-view></div>
    </div>
</div>