<div class="card" ng-init="material.loadList()">

    <div class="card-header">
        <!--<h2>Материалы</h2>-->
        <p class="m-0 fs-text">Материалы</p>
    </div>
    <!--<div class="card-body">-->  
    
        
            <div class="card-body">
                <div class="card" ng-class="{'card-collapsed':material.no_golden_dax_collapsed}" style="padding-top: 1.25rem;">
                    <div class="card-header" style="display: flex;">
                        <span class="text-gold text-uppercase">Материалы golden dax</span>
                            <div>
                                <span class="btn p-0" ng-click="material.no_golden_dax_collapsed = !material.no_golden_dax_collapsed">
                                    <i ng-if="!material.no_golden_dax_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                    <i ng-if="material.no_golden_dax_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                                </span>
                            </div> 
                      
                    </div> 
                    <div class="card-body" style="background-color:#42454e">
                    <div ng-if="material.loading">
                        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                    </div>
                        <div ng-if="!material.loading">
                            <div class="material_group" ng-repeat="group in material.list | filter:{id : 2}"> <!--подгружает для голден дакс -->
                                <div class="material-top-background-color-text">{{group.title}}</div>
                                <div class="center-align" ng-if="group.list.length == 0">
                                        {{lang.empty_list}}
                                </div>
                                <ul class="list material-info-background-color-text" ng-if="group.list.length > 0">
                                    <li ng-repeat="item in group.list" class="animated fadeIn" style="border:0px">
                                        <a ng-href="{{item.url}}" target="_blank" ng-if="item.type && item.type == 'file'">
                                            <div class="row">
                                                <div class="col col-12 flex0" style="align-items: center;">
                                                    <i class="fal fa-file-alt" style="margin-right: 1em;"></i>
                                                    <h5 class="material-text-link">{{item.title}}</h5>
                                                </div>
                                            </div>
                                        </a>
                                        <a ng-href="/material/{{item.url}}" ng-if="!item.type || item.type != 'file'">
                                            <div class="row">
                                                <div class="col col-12 flex0" style="align-items: center;">
                                                    <i class="fal fa-file-alt" style="margin-right: 1em;"></i>
                                                    <h5 class="material-text-link">{{item.title}}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card" ng-class="{'card-collapsed':material.no_trustera_collapsed}" style="padding-top: 1.25rem;">
                <div class="card-header">
                    <span class="text-gold text-uppercase">Материалы trustera</span>
                        <div>
                            <span class="btn p-0" ng-click="material.no_trustera_collapsed = !material.no_trustera_collapsed">
                                <i ng-if="!material.no_trustera_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="material.no_trustera_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div> 
                  
                </div>
                <div class="card-body" style="background-color:#42454e">
                    <div ng-if="material.loading">
                        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                    </div>
                    <div ng-if="!material.loading">
                        <div class="material_group" ng-repeat="group in material.list | filter:{id : 1}"> <!--подгружает для трастера -->
                            <div class="material-top-background-color-text">{{group.title}}</div>
                            <div class="center-align" ng-if="group.list.length == 0">
                                    {{lang.empty_list}}
                            </div>
                            <ul class="list material-info-background-color-text" ng-if="group.list.length > 0">
                                <li ng-repeat="item in group.list" class="animated fadeIn" style="border:0px">
                                    <a ng-href="{{item.url}}" target="_blank" ng-if="item.type && item.type == 'file'">
                                        <div class="row">
                                            <div class="col col-12 flex0" style="align-items: center;">
                                                <i class="fal fa-file-alt" style="margin-right: 1em;"></i>
                                                <h5 class="material-text-link">{{item.title}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                    <a ng-href="/material/{{item.url}}" ng-if="!item.type || item.type != 'file'">
                                        <div class="row">
                                            <div class="col col-12 flex0" style="align-items: center;">
                                                <i class="fal fa-file-alt" style="margin-right: 1em;"></i>
                                                <h5 class="material-text-link">{{item.title}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" ng-class="{'card-collapsed':material.no_proauto_collapsed}" style="padding-top: 1.25rem;">
                <div class="card-header">
                    <span class="text-gold text-uppercase">Материалы Проавто</span>
                        <div>
                            <span class="btn p-0" ng-click="material.no_proauto_collapsed = !material.no_proauto_collapsed">
                                <i ng-if="!material.no_proauto_collapsed" class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                <i ng-if="material.no_proauto_collapsed" class="fal fa-angle-down ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div> 
                  
                </div>
                <div class="card-body" style="background-color:#42454e">
                    <div ng-if="material.loading">
                        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                    </div>
                    <div ng-if="!material.loading">
                        <div class="material_group" ng-repeat="group in material.list | filter:{id : 3}"> <!--подгружает для проавто -->
                            <div class="material-top-background-color-text">{{group.title}}</div>
                            <div class="center-align" ng-if="group.list.length == 0">
                                    {{lang.empty_list}}
                            </div>
                            <ul class="list material-info-background-color-text" ng-if="group.list.length > 0">
                                <li ng-repeat="item in group.list" class="animated fadeIn" style="border:0px">
                                    <a ng-href="{{item.url}}" target="_blank" ng-if="item.type && item.type == 'file'">
                                        <div class="row">
                                            <div class="col col-12 flex0" style="align-items: center;">
                                                <i class="fal fa-file-alt" style="margin-right: 1em;"></i>
                                                <h5 class="material-text-link">{{item.title}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                    <a ng-href="/material/{{item.url}}" ng-if="!item.type || item.type != 'file'">
                                        <div class="row">
                                            <div class="col col-12 flex0" style="align-items: center;">
                                                <i class="fal fa-file-alt" style="margin-right: 1em;"></i>
                                                <h5 class="material-text-link">{{item.title}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
</div>