<div class="row" ng-init="material.loadItem()">
    <div class="col col-12">
        <div ng-if="material.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card animated fadeIn" ng-if="!material.loading">
            <div class="card-header">
                <h2><a ng-href="/material/" class="btn btn-secondary"><i class="fal fa-arrow-left"></i></a> {{material.item.title}}</h2>
            </div>
            <div class="card-body">
                <div>
                    <art data-content="material.item.html"></art>
                </div>
            </div>
        </div>
    </div>
</div>