<b>1. О пользовательском соглашении между Администрацией сайта {{conf.domain}} и Пользователем сайта.</b>
1.1. Эксплуатация сайта {{conf.domain}} (далее по тексту Сайта) и его сервисов Пользователем Сайта (далее по тексту Пользователь) автоматически означает согласие Пользователя безоговорочно принять и обязательство соблюдать все нижеописанные условия настоящего Пользовательского Соглашения (далее по тексту Соглашения).
1.2. Администрация Сайта (далее по тексту Администрация) может в любой момент изменять настоящее Соглашение, все произведенные изменения вступают в свою силу с момента публикации обновленной версии Соглашения на настоящей странице. Использование Сайта и его сервисов после изменения Соглашения означает согласие Пользователя с ними. Пользователь несет ответственность за самостоятельное ознакомление с актуальной версией Соглашения.
1.3. В случае, если Вы не согласны соблюдать настоящее Соглашение, пожалуйста, далее не используйте Сайт, удалите Вашу имеющуюся учетную запись пользователя (далее по тексту Аккаунт), связавшись с Администрацией.
<br><b>2. Используемые понятия и определения.</b>
2.1. Сайт – комплекс веб-страниц, объединенных одной темой, дизайном и размещенных в сети Интернет в одном адресном пространстве домена {{conf.domain}} и со стартовой страницей в сети Интернет по адресу {{conf.domain}}.
2.2. Пользователь – любое лицо, производящее доступ к Сайту с помощью сети Интернет и просмотревшее хотя бы одну страницу Сайта без предварительной регистрации и авторизации на сайте, а также любое лицо, имеющее Аккаунт на Сайте. Пользователь не вправе использовать Сайт и его сервисы и не может принять условия Соглашения, если он не достиг установленного законодательством РФ возраста для заключения подобных соглашений или не выполнил других условий для заключения подобных соглашений, предусмотренных законодательством РФ.
2.3. Администрация – группа лиц, уполномоченных Владельцем Сайта управлять деятельностью Сайта. Администрация Сайта действует от имени Владельца Сайта, если иное не будет указано отдельно.
2.4. Аккаунт – персональное интернет-пространство Пользователя, защищенное паролем. В нем содержится персональная информация, личные и контактные данные Пользователя и Контент, размещенный Пользователем.
2.5. Контент – любая информация (тексты, фото, видео, презентации и прочие материалы), размещенная Пользователем на Сайте под своим Аккаунтом и не противоречащая условиям настоящего Соглашения и законодательству РФ.
<br><b>3. Ответственность Администрации.</b>
3.1. Сайт только предоставляет зарегистрированным Пользователям возможность размещения информации и возможность доступа других Пользователей к этой информации. Администрация и Владелец Сайта ни в каком случае не несут никакой ответственности за достоверность и актуальность информации, размещенной на Сайте.
3.2. В то же время Администрация обязуется прилагать все возможные усилия для исключения с Сайта неаккуратной, оскорбительной, не соответствующей действительности информации, но, в конечном счете, ответственность за нее несут разместившие ее лица.
3.3. Пользуясь информацией, размещенной на Сайте, Пользователь осознает и принимает риски, сопряженные с возможной недостоверностью этой информации.
3.4. Администрация и Владелец Сайта не гарантируют отсутствие ошибок и компьютерных вирусов в программном обеспечении, на сервере и компьютерных сетях, используемых Сайтом. Администрация не несет ответственности за утрату данных или порчу оборудования при использовании Сайта.
3.5. Администрация не гарантирует никаких результатов от использования сайта и(или) его сервисов.
3.6. Администрация не несет ответственности за причинение каких-либо потерь или убытков, возникших в итоге наличия рекламы в услугах и/или взаимодействия Пользователей с рекламодателями.
3.7. Ни при каких обстоятельствах Администрация сайта и Владелец Сайта не несут ответственности перед Пользователями, любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием сайта, содержимого сайта, сервисов Сайта или других материалов, к которым Пользователи или другие лица получили доступ с помощью сайта.
3.8. Мнение Пользователей Сайта может не совпадать с мнением Администрации.
<br><b>4. Права Администрации.</b>
4.1. В любой момент без предварительного уведомления Пользователя изменять любые составляющие Сайта (его оформление, Контент, сервисы, скрипты, программное обеспечение и т.п.).
4.2. Отправлять Пользователю по электронной почте сообщения, касающиеся использования Сайта (при возникновении такой необходимости).
4.3. В любой момент изменять условия предоставления Аккаунта, временно приостановить доступ к нему или прекратить его без предварительного уведомления Пользователя.
4.4. Изменять и удалять любой Контент, противоречащий условиям настоящего Соглашения и законодательству РФ, приостанавливать, ограничивать или прекращать доступ Пользователя к любому из разделов или сервисов Сайта с предварительным уведомлением или без него.
<br><b>5. Права Пользователя.</b>
5.1. Бесплатно, если специально не оговорено иное, использовать весь Контент и сервисы Сайта в личных целях, не противоречащим условиям настоящего Соглашения и законодательству РФ.
5.2. Предоставлять свои данные.
5.3. Обращаться к Администрации Сайта за помощью в использовании Сайта или для разрешения спорных вопросов.
<br><b>6. Обязанности Пользователя.</b>
6.1. При регистрации на Сайте и создании Контента предоставлять достоверную, точную, актуальную и полную информацию.
6.2. Обеспечивать сохранность своих личных логина и пароля для доступа к Сайту.
6.3. Соблюдать условия настоящего Соглашения, не осуществлять запрещенных действий на Сайте, не нарушать правила цитирования, копирования и распространения Контента Сайта.
6.4. Придерживаться установленных правил и ограничений при создании своего Контента на Сайте.
6.5. В полной мере нести ответственность за любые действия, произведенные Пользователем с использованием его Аккаунта, а также за любые последствия таких действий.
6.6. На Сайте запрещено:
6.6.1. Использовать автоматизированные программы для сбора информации и/или взаимодействия с Сайтом и его сервисами;
6.6.2. Размещать любые файлы, которые содержат вирусы, вредоносные программы;
6.6.3. Мешать нормальному функционированию Сайта и его сервисов;
6.6.4. Создавать более одного пользовательского Аккаунта;
6.6.5. Предоставлять третьим лицам доступ к своему Аккаунту, если они не выступают в качестве полномочных представителей владельца Аккаунта;
6.6.6. Использовать пароли и иную идентификационную информацию других Пользователей в неправомерных, коммерческих или корыстных целях;
6.6.7. Любым путем (в том числе путем взлома) пытаться получить доступ к чужому Аккаунту без согласия Пользователя, которому он пренадлежит;
6.6.8. Регистрировать фальшивый Аккаунт - от имени лица, которым Вы не являетесь или чьи интересы Вы не уполномочены представлять;
6.6.9. Размещать на Сайте персональную информацию других пользователей, а также любых третьих лиц без их личного согласия на это;
6.6.10. Размещать любую навязчивую информацию, в том числе агитационные материалы, коммерческие предложения, распространять спам, сообщения, требующие их передачи одному или нескольким пользователям, схемы финансовых пирамид или призывы в них участвовать;
6.6.11. Описывать или пропагандировать преступную деятельность, размещать инструкции или руководства по совершению преступных действий;
6.6.12. Размещать любую несанкционированную Администрацией рекламу;
6.6.13. Размещать любую информацию, нарушающую исключительные права пользователей или третьих лиц на объекты интеллектуальной собственности;
6.6.14. Домогаться, притеснять, оскорблять, назойливо преследовать или иначе злонамеренно доставлять беспокойство любому физическому или юридическому лицу, Пользователю сайта;
6.6.15. Подделывать технические заголовки или иным способом манипулировать данными с целью сокрытия или подмены источника происхождения Содержания, передаваемого в ходе использования Аккаунта;
6.6.16. Загружать, публиковать и передавать иным способом следующий Контент:
6.6.16.1. незаконный;
6.6.16.2. вульгарный, непристойный, порнографического характера;
6.6.16.3. оскорбительный по отношению к другим пользователям и третьим лицам;
6.6.16.4. исключительные права на который пренадлежит третьим лицам;
6.6.16.5. нарушающий исключительные права третьих лиц;
6.6.16.6. не подлежащий разглашению или служебного характера;
6.6.16.7. рекламного характера, а также корреспонденцию, спам, «письма счастья», приглашения к участию в финансовых пирамидах или навязывающий услуги иными способами;
6.6.16.8. с целью нарушения, разрушения или ограничения функциональности любого программного, аппаратного обеспечения или телекоммуникационного оборудования;
6.6.16.9. содержащий информацию или инструкции по совершению незаконных действий, описывающий или пропагандирующий преступную деятельность, а также инструкции или руководства по совершению преступных действий;
6.6.16.10. пропаганда нанесения вреда или ущерба любому государственному органу, физическому или юридическому лицу;
6.6.16.11. пропаганда жестокого обращения с животными;
6.6.16.12. носящий мошеннический характер;
6.6.16.13. клевета, дискредитирующая информация, угрозы;
6.6.16.14. пропаганда расовой, религиозной, этнической ненависти или вражды, любая иная информация, нарушающая охраняемые законом права человека и гражданина.
6.6.17. размещать любую другую информацию, которая, по мнению Администрации Сайта, не соответствует целям работы Сайта, ущемляет интересы пользователей или по другим причинам нежелательна для размещения на Сайте.
<br><b>7. О правах на Контент.</b>
7.1. Права на все элементы Сайта (в том числе дизайн, графические изображения, текст, фото, видео, иллюстрации, программы, скрипты, звуки, музыка и другие объекты и их подборки) принадлежат Администрации, права на размещаемый Контент принадлежат правообладателям в соответствии с законодательством РФ, все права на эти объекты защищены.
7.2. Любой Контент, размещенный на Сайте запрещается копировать (воспроизводить), перерабатывать, распространять, отображать во фрейме, публиковать, скачивать, передавать, продавать или другим способом использовать целиком или по частям, если нет на то предварительного письменного разрешения правообладателя или Администрации.
7.3. Создавая свой Контент на Сайте, Пользователь предоставляет Администрации и другим пользователям неисключительное право его использования в личных некоммерческих целях и, если это не нарушает прав правообладателя. При использовании Контента обязательно сохранение всех знаков и указаний на авторства, сохранение материалов в первозданном виде.
7.4. Пользователь не имеет права публиковать на Сайте Контент других сайтов, баз данных и прочих объектов исключительных прав без согласия на то их правообладателей.
7.5. Любое не описанное в настоящем Соглашении использование Сайта и его Контента категорически запрещено.
7.6. Ничто в настоящем Соглашении не может быть понято как передача исключительных прав.
<br><b>8. О правилах использования материалов.</b>
8.1. Все материалы, размещенные на Сайте {{conf.domain}}, не могут быть использованы в любых средствах массовой информации, в сети Интернет или на любых других носителях без официального разрешения на это Администрации Сайта.
8.2. Для Интернет-ресурсов, при наличии разрешения Администрации Сайта, публикация материалов Сайта возможна только в неизменном виде и при условии наличия в начале и в заключение материала активной гиперссылки на {{conf.domain}}.
8.3. Запрещено включение в RSS-рассылки сообщений, полностью дублирующих материалы Сайта.
<br><b>9. О правилах использования Сайта.</b>
9.1. Используя Сайт, Пользователь обязуется не нарушать или пытаться нарушать информационную безопасность Сайта.
9.2. На Сайте запрещается:
9.2.1. доступ к данным, не предназначенным для данного Пользователя или вход в систему под логином, не принадлежащем данному Пользователю;
9.2.2. попытки проверить уязвимость системы безопасности Сайта, нарушение процедуры регистрации и авторизации без разрешения Администрации;
9.2.3. попытки создать помехи в использовании Сайта другим Пользователям, что включает в себя распространение компьютерных вирусов, порчу данных, постоянную рассылку повторяющейся информации, пересылку электронной почты через сервер сайта, одновременную отправку большого количества электронной почты и/или запросов к Сайту с целью намеренно вывести сервер сайта из строя и тому подобные действия, выходящие за рамки нормального целевого использования Сайта, и могущие умышленно или по неосторожности повлечь сбои в его работе;
9.2.4. рассылку пользователям Сайта материалов, на которые они не давали своего согласия, «спама», любых писем и рекламы без разрешения Администрации;
9.2.5. имитацию и/или подделку любого заголовка пакета TCP/IP или любой части заголовка в любом электронном письме или размещенном на Сайте материале;
9.2.6. использование или попытки использования любого программного обеспечения, или процедуры для навигации или поиску на Сайте, кроме встроенной в Сайт поисковой машины и традиционных и общедоступных браузеров (MicrosoftInternetExplorer, MozillaFirefox и других подобных).
9.2.7. НАРУШЕНИЕ БЕЗОПАСНОСТИ СИСТЕМЫ ИЛИ КОМПЬЮТЕРНОЙ СЕТИ ВЛЕЧЕТ ЗА СОБОЙ ГРАЖДАНСКУЮ И УГОЛОВНУЮ ОТВЕТСТВЕННОСТЬ. АДМИНИСТРАЦИЯ БУДЕТ РАССЛЕДОВАТЬ ВСЕ СЛУЧАИ ВОЗМОЖНОГО НАРУШЕНИЯ БЕЗОПАСНОСТИ СО СТОРОНЫ ПОЛЬЗОВАТЕЛЕЙ САЙТА В СОТРУДНИЧЕСТВЕ С КОМПЕТЕНТНЫМИ ОРГАНАМИ С ЦЕЛЬЮ ПРЕСЕЧЕНИЯ ПОДОБНОЙ ЗЛОНАМЕРЕННОЙ ДЕЯТЕЛЬНОСТИ.
<br><b>10. Личные данные.</b>
10.1.Все данные, которые Пользователь вводит на Сайте с согласия Пользователя сохраняются в базе данных сайта и могут передаваться франчайзерам и/или их посредникам для установления письменного или устного контакта с Пользователем и/или предоставления ему интересующей его информации о предложениях франчайзинга.
10.2.Администрация прилагает все возможные усилия для того, чтобы избежать несанкционированного использования персональной информации Пользователей. Однако Администрация не несет ответственности за возможное нецелевое использование персональной информации Пользователей, произошедшее из-за:
10.2.1. Технических неполадок в программном обеспечении, серверах или компьютерных сетях, находящихся вне контроля Администрации;
10.2.2. Перебоев в работе Сайта, связанных с намеренным или ненамеренным использованием Сайта не по назначению третьими лицами, описанным в разделе «О правилах использования Сайта»;
10.2.3. Передачи паролей или информации с Сайта Пользователями другим лицам, не являющимися зарегистрированными пользователями Сайта или другим Пользователям, не имеющим доступа к данной информации в силу условий регистрации и заключенных договоров с Администрацией;
10.3.Используя Сайт, Пользователь соглашается и принимает, что Администрация оставляет за собой право использовать его персональную информацию анонимно и в обобщенном виде для статистических целей, а также для таргетинга рекламы, размещаемой на Сайте.
10.4.Администрация обязуется не предоставлять никакой персональной информации о Пользователях частным лицами и организациям за исключением случаев, предусмотренных настоящим Соглашением и действующим законодательством РФ.
10.5. Администрация не несет ответственности за возможное нецелевое использование информации с Сайта зарегистрированными пользователями или иными лицами и/или организациями, которое произошло без уведомления Администрации с нарушением или без информационной безопасности Сайта.
<br><b>11. О рекламе.</b>
11.1.Пользователь понимает и соглашается с тем, что все услуги Сайта или любая их часть может сопровождаться рекламой. Используя Сайт, Пользователь признает право Администрации размещать подобную рекламу без предварительного уведомления и без какой-либо компенсации пользователям. Характер размещения и количество рекламы, отображаемой на Сайте в целом, определяются и изменяются по усмотрению Администрации.
11.2.Переписка и деловые отношения Пользователей с рекламодателями или участие в рекламных акциях, проводимых рекламодателями, осуществляемых при помощи Сайта, включая оплату, доставку, в том числе условия, гарантии и презентации соответствующих услуг или товаров, упомянутых или найденных вследствие таковых отношений, порождают права и обязательства исключительно между Пользователем и рекламодателем.
<br><b>12. Общие положения.</b>
12.1.Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации. Если по тем или иным причинам одна или несколько норм настоящих Правил является недействительной или не имеющей юридической силы, это не оказывает влияния на действительность или применимость остальных норм.
12.2.Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.