<form class="popup-form animated zoomIn" id="form-registration-congratulation" data-title="{{lang.registration}}">
    <div class="popup-form-content">
        {{lang.success_registration_1}}
    </div>
</form>

<form id="form-agreement" class="popup-form animated zoomIn" data-title="{{lang.agreement_general_title}}" style="width: 21cm; max-width: 100%;">
    <div class="popup-form-content scroll-style-1" style="max-width: none;">
        <ng-include src="'app/views/inc/agreement_text.html'"></ng-include>
    </div>
    <div class="popup-form-footer">
        <a href="#" class="btn btn-primary" onclick="return CustomUI.hideForm()">{{lang.ok}}</a>
    </div>
</form>