<div class="card">
    <div class="card-header">
        <h2>Обучение</h2>
    </div>
    <div class="card-body">     
        <a href="/education/463" style="color: black;">           
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-1">
                    <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                </div>
                <div class="col col-11">
                    <h4>Название курса / урока</h4>
                </div>                                                         
            </div>
        </a>
        <a href="/education/463" style="color: black;">           
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-1">
                    <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                </div>
                <div class="col col-11">
                    <h4>Название курса / урока</h4>
                </div>                                                         
            </div>
        </a>
        <a href="/education/463" style="color: black;">           
            <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                <div class="col col-1">
                    <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                </div>
                <div class="col col-11">
                    <h4>Название курса / урока</h4>
                </div>                                                         
            </div>
        </a>
    </div>
</div>