<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <h3>Название курса/урока</h3>
            </div>
            <div class="card-body">
                <div class="col col-12 center-align">
                    <img src="/assets/img/user_500x500.png">
                </div>         
            </div>
        </div>
    </div>
</div>