<div id="page-statisticnew">
    <div class="emp-profile animated fadeIn">
        <div class="animated fadeIn">
            <div class="card main-card">
            	<div class="card-header">
                    <h2 class="text-white">Мой Бизнес</h2>
                </div>
                <div class="card-body">
                    <div class="career-partner">
                        <div class="card no-shadow">
                            <div class="card-content">
						        <!-- Прибыль по месяцам  -->
						        <div class="card" style="margin-bottom: 20px;" ng-class="{'card-collapsed': profit.no_collapsed}" ng-init="team.loadProfit()">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						            	<div>
						                	<a href="#" class="btn btn-small btn-secondary" ng-class="{active: !team.profit_all_time}" ng-click="team.changeProfitPeriod()">Прибыль по месяцам</a>
						                	<a href="#" class="btn btn-small btn-secondary" ng-class="{active: team.profit_all_time}" ng-click="team.changeProfitPeriod()">Прибыль за все время</a>
						                </div>
						                <div class="btn accordion-btn p-0" ng-click="profit.no_collapsed = !profit.no_collapsed">
					                        <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
					                    </div>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<!-- <div class="subtitle">Прибыль {{team.partner_cur_amount | mycurrency:2}} USDT</div> -->
						                    	<div class="mb-2" id="command-partner-chart" style="">
                                                    <div class="h-100 command-partner-chart-body">
                                                        <div class="profit-chart">
                                                            <div ng-if="!team.list.length" class="w-100 text-center align-self-center text-muted">Нет данных</div>
                                                            <div ng-if="team.list.length" ng-repeat="item in team.list" class="profit-chart-item" ng-class="{active: team.profitChartItem.dt == item.dt}" ng-click="team.profitChartItemClick(item)" title="{{item.amount_total / BTC_SATOCHI | mycurrency}} USDT">
                                                                <div style="height: calc(100% - 25px);">
                                                                    <div class="profit-chart-bar-top" style="height: {{100 - item.amount_total / team.data.command_profit.max * 100 < 0 ? 0 : 100 - item.amount_total / team.data.command_profit.max * 100}}%;">
                                                                    </div>
                                                                    <div class="profit-chart-bar" style="height: {{item.amount_total / team.data.command_profit.max * 100 > 100 ? 100 : item.amount_total / team.data.command_profit.max * 100}}%;">
                                                                    </div>
                                                                </div>
                                                                <div class="text-center profit-chart-text">
                                                                    {{team.getDt(item.dt)}}
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                </div>
												<div class="mb-2" style="background-color: #33353d">
						                    		<div class="flex0">
						                    			<div class="flex0 d-sm-flex d-none" style="width: 50px; border-right: 1px solid #42454e">
						                    				<img class="m-auto" src="/assets/img/logo/trustera_small.png">
						                    			</div>
							                    		<p class="fs-text color-text ml-2 my-auto">Trustera</p>
														<span class="trustera ml-auto my-auto pr-2 fs-text">{{team.profitChartItem.amount / BTC_SATOCHI | mycurrency}} USDT</span>
							                    		<div class="btn accordion-btn py-0 px-3 collapsed" data-toggle="collapse" data-target="#accordion-profit-trustera" style="border-left: 1px solid #42454e">
							                    		 	<div class="ml-auto">
									                        	<i class="fal fa-angle-up fa-3x chevron" style="color: #42454e"></i>
									                        </div>
									                    </div>
								                	</div>
			                                        <div class="collapse pt-2" id="accordion-profit-trustera" style="background-color:#23242a" ng-if="team.profitChartItem"> 
				                                        <div class="row field-row m-0" style="margin-bottom: 0;">
				                                        	<div class="col-md-6 col-sm-12 pr-md-1 px-2">
				                                        		<div class="field-container trustera">
							                                        <label>Career bonus</label>
				                                        			<span class="fs-text">{{team.profitChartItem.amount_career / BTC_SATOCHI | mycurrency}} USDT</span>
						                                        </div>
						                                        <div class="field-container trustera">
							                                        <label>Main bonus</label>
							                                        <span class="fs-text">{{team.profitChartItem.amount_main / BTC_SATOCHI | mycurrency}} USDT</span>
						                                        </div>
				                                        	</div>
				                                        	<div class="col-md-6 col-sm-12 pl-md-1 px-2">
				                                        		<div class="field-container trustera">
							                                        <label>World bonus</label>
				                                        			<span class="fs-text">{{team.profitChartItem.amount_world / BTC_SATOCHI | mycurrency}} USDT</span>
						                                        </div>
						                                        <div class="field-container trustera">
							                                        <label>Office bonus</label>
							                                        <span class="fs-text">{{team.profitChartItem.amount_office / BTC_SATOCHI | mycurrency}} USDT</span>
						                                        </div>
				                                        	</div>	   
				                                        </div>                                 			
			                                        </div>
			                                    </div>
			                                    <div class="" style="background-color: #33353d">
						                    		<div class="flex0">
						                    			<div class="flex0 d-sm-flex d-none" style="width: 50px; border-right: 1px solid #42454e">
						                    				<img class="m-auto" src="/assets/img/logo/pro-auto_small.png">
						                    			</div>
							                    		<p class="fs-text color-text ml-2 my-auto">ПроАвто</p>
							                    		<span class="proauto ml-auto my-auto pr-2 fs-text">{{team.profitChartItem.amount_rub / BTC_SATOCHI | mycurrency}} RUB</span>
							                    		<div class="btn accordion-btn  py-0 px-3 collapsed" data-toggle="collapse" data-target="#accordion-profit-proavto" style="border-left: 1px solid #42454e">
							                    		 	<div class="ml-auto">
									                        	<i class="fal fa-angle-up fa-3x chevron" style="color: #42454e"></i>
									                        </div>
									                    </div>
								                	</div>
			                                        <div class="collapse pt-2" id="accordion-profit-proavto" style="background-color: #23242a" ng-if="team.profitChartItem"> 
				                                        <div class="row field-row m-0" style="margin-bottom: 0;">
				                                        	<div class="col-md-6 col-sm-12 pr-md-1 px-2">
				                                        		<div class="field-container proauto">
							                                        <label>Proauto bonus</label>
				                                        			<span class="fs-text">{{team.profitChartItem.amount_proauto / BTC_SATOCHI | mycurrency}} RUB</span>
						                                        </div>
				                                        	</div>
				                                        	<div class="col-md-6 col-sm-12 pl-md-1 px-2">
				                                        	</div>	   
				                                        </div>                                 			
			                                        </div>
			                                    </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        <!-- ТОВАРООБОРОТ  -->
								<div class="card" style="margin-bottom: 20px;" ng-class="{'card-collapsed': circulation.no_collapsed}">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						                <span>ТОВАРООБОРОТ - {{team.data.command_profit.total_turnover / BTC_SATOCHI | mycurrency}} USDT</span>
						                <div class="btn accordion-btn p-0" ng-click="circulation.no_collapsed = !circulation.no_collapsed">
					                        <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
					                    </div>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content flex0 flex-wrap p-0">
							                  	<div class="col-md-6 pl-md-0 pr-md-1 flex-column flex0 p-0">
							                  		<div class="col-12 p-0 field-container trustera mb-1 m-0" style="flex: 1">
							                  			<div class="col-7 p-0">
							                  				<div class="col-12 h-55 p-0 py-2 fs-text">
							                  					<p class="color-text ml-2 my-auto">Trustera</p>
							                  					<p class="ml-2 my-auto"> {{team.data.command_profit.trustera_turnover / BTC_SATOCHI | mycurrency}} USDT</p>
							                  				</div>
							                  				<div class="col-12 h-45 pr-0 font-weight-light color-text" style="font-size: 2em; padding-left: 10px; border-top: 1px solid #42454e">{{team.data.command_profit.trustera_turnover / team.data.command_profit.total_turnover * 100 | mycurrency}}%</div>
							                  			</div>
							                  			<div class="col-5 p-0 flex0" style="border-left: 1px solid #42454e">
							                  				<img class="m-auto" src="/assets/img/logo/trustera_medium.png">
							                  			</div>
							                  		</div>
							                  		<div class="col-12 p-0 field-container proauto mt-1 m-0" style="flex: 1">
							                  			<div class="col-7 p-0">
							                  				<div class="col-12 h-55 p-0 py-2 fs-text">
							                  					<p class="color-text ml-2 my-auto">ПроАвто</p>
							                  					<p class="ml-2 my-auto"> {{team.data.command_profit.proauto_turnover / BTC_SATOCHI | mycurrency}} USDT</p>
							                  				</div>
							                  				<div class="col-12 h-45 pr-0 py-1 font-weight-light color-text" style="font-size: 2em; padding-left: 10px; border-top: 1px solid #42454e">{{100 - team.data.command_profit.trustera_turnover / team.data.command_profit.total_turnover * 100 | mycurrency}}%</div>
							                  			</div>
							                  			<div class="col-5 p-0 flex0" style="border-left: 1px solid #42454e">
							                  				<img class="m-auto" src="/assets/img/logo/pro-auto_medium.png">
							                  			</div>
							                  		</div>
							                  	</div>

							                  	<div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="turnover-chart" style="height: 100%; max-height: 210px; margin: 0 auto"></div>
							                  	</div>
							                </div>
							            </div>
							        </div>
							    </div>
								<!-- Trustera  -->
								<div class="card" style="margin-bottom: 20px;" ng-class="{'card-collapsed': trustera.no_collapsed}">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						                <span>Trustera</span>
						                <div class="btn accordion-btn p-0" ng-click="trustera.no_collapsed = !trustera.no_collapsed">
					                        <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
					                    </div>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content flex0 flex-wrap pb-3">
							                  	<div class="col-md-6 pl-md-0 pr-md-1 flex-column flex0 p-0">
							                  		<div class="col-12 p-0 field-container flex-column red mb-1 fs-text" style="flex: 1">
							                  			<p class="color-text ml-2 mb-auto">Сумма коридоров</p>
							                  			<p class="ml-2 mt-auto">{{team.data.command_profit.trustera_turnover / BTC_SATOCHI | mycurrency}} USDT</p>
							                  		</div>
							                  		<div class="col-12 p-0 field-container flex-column green mt-1 m-0 fs-text" style="flex: 1">
							                  			<p class="color-text ml-2 mb-auto">ОИК</p>
							                  			<p class="ml-2 mt-auto">{{team.data.command_profit.oik_sum / BTC_SATOCHI | mycurrency}} USDT</p>
							                  		</div>
							                  	</div>

							                  	<div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="trustera-chart" style="height: 100%; max-height: 150px; margin: 0 auto"></div>
							                  		<!--<svg width="100%" height="100%" viewBox="3.5 -4 35 50" class="donut bg-main" style="max-height: 150px;">
								                        <circle class="donut-hole" cx="22" cy="25" r="15.91549430918954" fill="transparent"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#607e3e" stroke-width="6" stroke-dasharray="51 49" stroke-dashoffset="25"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#8f3a41" stroke-width="6" stroke-dasharray="49 51" stroke-dashoffset="74"></circle>
							                    	</svg>-->
							                  	</div>
							                </div>

							                <div class="card-content flex0 flex-wrap pb-3" style="border-top: 1px solid #343740">
							                	<p class="col-12 p-0">СЧЕТА</p>
							                  	<div class="col-md-6 pl-md-0 pr-md-1 flex-column flex0 p-0">
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container red mb-1 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Стандартные</span> 
							                  			<span class="mr-0 ml-auto my-auto" style="font-size: 10px;">{{team.data.command_profit.standart_cnt}} / {{team.data.command_profit.standart_amount / BTC_SATOCHI | mycurrency}} / {{team.data.command_profit.standart_amount_limit / BTC_SATOCHI | mycurrency}}</span>
							                  		</div>
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container green my-1 m-0 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Трастовые</span> 
							                  			<span class="mr-0 ml-auto my-auto" style="font-size: 10px;">{{team.data.command_profit.trust_cnt}} / {{team.data.command_profit.trust_amount / BTC_SATOCHI | mycurrency}} / {{team.data.command_profit.trust_amount_limit / BTC_SATOCHI | mycurrency}}</span>
							                  		</div>
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container blue mt-1 m-0 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Intro(+)</span> 
							                  			<span class="mr-0 ml-auto my-auto" style="font-size: 10px;">{{team.data.command_profit.intro_cnt}} / {{team.data.command_profit.intro_amount / BTC_SATOCHI | mycurrency}} / {{team.data.command_profit.intro_amount_limit / BTC_SATOCHI | mycurrency}}</span>
							                  		</div>
							                  	</div>
							                  	<div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="wallet-chart" style="height: 150px; max-height: 150px; margin: 0 auto"></div>							                  		<!--<svg width="100%" height="100%" viewBox="3.5 -4 35 50" class="donut bg-main" style="max-height: 150px;">
								                        <circle class="donut-hole" cx="22" cy="25" r="15.91549430918954" fill="transparent"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#197a98" stroke-width="6" stroke-dasharray="25 75" stroke-dashoffset="25"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#607e3e" stroke-width="6" stroke-dasharray="45 55" stroke-dashoffset="100"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#8f3a41" stroke-width="6" stroke-dasharray="30 70" stroke-dashoffset="155"></circle>
							                    	</svg>-->
							                  	</div>
							                </div>

							                <div class="card-content flex0 flex-wrap" style="border-top: 1px solid #343740">
							                	<p class="col-12 p-0">ПОЛЬЗОВАТЕЛИ</p>
							                  	<div class="col-md-6 pl-0 pr-1 flex0 p-0 flex-md-row flex-column">
							                  		<div class="col-md-6 field-container flex-column border-0 mr-md-1 mb-md-0 mb-1" style="flex: 1">
							                  			<p class="red mt-0">ИНВЕСТОРЫ</p>
							                  			<div class="flex0 mt-auto">
							                  				<i class="far fa-user fs-icon red my-auto mr-auto"></i>
							                  				<p class="color-text m-0 mt-auto" style="font-size: 27px;">{{team.data.command_profit.investor_cnt}}</p>
							                  			</div>
							                  		</div>
							                  		<div class="col-md-6 field-container flex-column border-0 ml-md-1 mt-md-0 mt-1 mb-0" style="flex: 1">
							                  			<p class="green mt-0">ПУСТЫЕ ПОЛЬЗОВАТЕЛИ</p>
							                  			<div class="flex0 mt-auto">
							                  				<i class="far fa-user-times fs-icon green my-auto mr-auto"></i>
							                  				<p class="color-text m-0 mt-auto" style="font-size: 27px;">{{team.data.command_profit.empty_cnt}}</p>
							                  			</div>
							                  		</div>
							                  	</div>
							                  	<div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="people-chart" style="height: 150px; margin: 0 auto"></div>
							                  		<!--<svg width="100%" height="100%" viewBox="3.5 -4 35 50" class="donut bg-main" style="max-height: 150px;">
								                        <circle class="donut-hole" cx="22" cy="25" r="15.91549430918954" fill="transparent"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#607e3e" stroke-width="6" stroke-dasharray="51 49" stroke-dashoffset="25"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#8f3a41" stroke-width="6" stroke-dasharray="49 51" stroke-dashoffset="74"></circle>
							                    	</svg>-->
							                  	</div>
							                </div>
							            </div>
							        </div>
							    </div>
								<!--  ПРОАВТО  -->
								<div class="card" style="margin-bottom: 20px;" ng-class="{'card-collapsed': proauto.no_collapsed}">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						                <span>ПРОАВТО</span>
						                <div class="btn accordion-btn p-0" ng-click="proauto.no_collapsed = !proauto.no_collapsed">
					                        <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
					                    </div>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
							                <div class="card-content flex0 flex-wrap pb-3">
							                  	<div class="col-md-6 pl-0 pr-1 flex0 p-0 flex-md-row flex-column">
							                  		<div class="col-md-6 field-container flex-column border-0 mr-md-1 mb-md-0 mb-1" style="flex: 1">
							                  			<p class="red mt-0">ПАЙЩИКИ</p>
							                  			<div class="flex0 mt-auto red">
							                  				<i class="far fa-user fs-icon my-auto mr-auto"></i>
							                  				<p class="color-text m-0 mt-auto" style="font-size: 27px;">{{team.data.command_profit.shareholder_cnt}}</p>
							                  			</div>
							                  		</div>
							                  		<div class="col-md-6 field-container flex-column border-0 ml-md-1 my-md-0 my-1 mb-0" style="flex: 1">
							                  			<p class="green mt-0">АВТОМОБИЛИ В ОЧЕРЕДИ</p>
							                  			<div class="flex0 mt-auto green">
							                  				<i class="fas fa-car fs-icon my-auto mr-auto"></i>
							                  				<p class="color-text m-0 mt-auto" style="font-size: 27px;">{{team.data.command_profit.queue_cnt}} <span title="В процессе накопления">({{team.data.command_profit.cumulative_car_cnt}})</span></p>
							                  			</div>
							                  		</div>
							                  	</div>
							                  	<div class="col-md-6 pl-0 pr-1 flex0 p-0 flex-md-row flex-column">
							                  		<div class="col-md-6 field-container flex-column border-0 mr-md-1 my-md-0 my-1" style="flex: 1">
							                  			<p class="blue mt-0">АВТОМОБИЛИ ПОЛУЧЕННЫЕ</p>
							                  			<div class="flex0 mt-auto blue">
							                  				<i class="fas fa-car fs-icon my-auto mr-auto"></i>
							                  				<p class="color-text m-0 mt-auto" style="font-size: 27px;">{{team.data.command_profit.received_cnt}}</p>
							                  			</div>
							                  		</div>
							                  		<div class="col-md-6 field-container flex-column border-0 ml-md-1 mt-md-0 mt-1 mb-0" style="flex: 1">
							                  			<p class="proauto mt-0">АВТОМОБИЛИ ПОГАШЕННЫЕ</p>
							                  			<div class="flex0 mt-auto proauto">
							                  				<i class="fas fa-car-garage fs-icon my-auto mr-auto"></i>
							                  				<p class="color-text m-0 mt-auto" style="font-size: 27px;">{{team.data.command_profit.paid_off_cnt}}</p>
							                  			</div>
							                  		</div>
							                  	</div>
							                </div>

							                <div class="card-content flex0 flex-wrap" style="border-top: 1px solid #343740">
							                	<p class="col-12 p-0">ПРОГРАММЫ</p>
							                  	<div class="col-md-6 pl-md-0 pr-md-1 flex-column flex0 p-0">
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container red mb-1 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Базовая</span> 
							                  			<span class="mr-0 ml-auto my-auto">{{team.data.command_profit.base_car_cnt}} / {{team.data.command_profit.base_car_amount / BTC_SATOCHI}}</span>
							                  		</div>
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container green my-1 m-0 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Стандартная</span> 
							                  			<span class="mr-0 ml-auto my-auto">{{team.data.command_profit.standart_car_cnt}} / {{team.data.command_profit.standart_car_amount / BTC_SATOCHI}}</span>
							                  		</div>
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container blue my-1 m-0 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Премьер</span> 
							                  			<span class="mr-0 ml-auto my-auto">{{team.data.command_profit.premier_car_cnt}} / {{team.data.command_profit.premier_car_amount / BTC_SATOCHI}}</span>
							                  		</div>
							                  		<div class="col-12 p-0 pr-2 py-md-1 py-2 field-container proauto mt-1 m-0 fs-text" style="flex: 1">
							                  			<span class="color-text ml-2 my-auto">Накопительная</span> 
							                  			<span class="mr-0 ml-auto my-auto">{{team.data.command_profit.cumulative_car_cnt}} / {{team.data.command_profit.cumulative_car_amount / BTC_SATOCHI}}</span>
							                  		</div>
							                  	</div>
							                  	<div class="col-md-6 pr-md-0 pl-md-1 mt-md-0 mt-2 p-0">
							                  		<div id="proauto-chart" style="height: 150px; margin: 0 auto"></div>
							                  		<!--<svg width="100%" height="100%" viewBox="3.5 -4 35 50" class="donut bg-main" style="max-height: 150px;">
								                        <circle class="donut-hole" cx="22" cy="25" r="15.91549430918954" fill="transparent"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#997e2a" stroke-width="6" stroke-dasharray="25 75" stroke-dashoffset="25"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#197a98" stroke-width="6" stroke-dasharray="20 80" stroke-dashoffset="100"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#607e3e" stroke-width="6" stroke-dasharray="15 85" stroke-dashoffset="180"></circle>
								                        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#8f3a41" stroke-width="6" stroke-dasharray="40 60" stroke-dashoffset="265"></circle>
							                    	</svg>-->
							                  	</div>
							                </div>

							            </div>
							        </div>
							    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>