/*
* Scrollbar style
* https://css-tricks.com/custom-scrollbars-in-webkit/
*/
.scroll-style-1 {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    // the entire scrollbar
    &::-webkit-scrollbar {
        width: 24px;
        height: 24px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        border-radius: 11px;
        height: 12px;
        box-shadow: inset 0 0 15px rgba(0,0,0,.25);
        border: 9px solid transparent;
        &:horizontal {
            border-left-width: 5px;
            border-right-width: 5px;
        }
        &:vertical {
            border-top-width: 5px;
            border-bottom-width: 5px;
        }
    }
    // the draggable scrolling handle.
    &::-webkit-scrollbar-thumb {
        min-height: 40px;
        border: solid transparent;
        border-radius: 11px;
        background-clip: content-box;
        box-shadow: inset 0 0 0 10px #777;
        &:horizontal {
            border-width: 9px 5px;
        }
        &:vertical {
            border-width: 5px 9px;
        }
    }
    &:hover::-webkit-scrollbar-thumb {
    }
    // the buttons on the scrollbar (arrows pointing upwards and downwards).
    &::-webkit-scrollbar-button {
        background-position: center center;
        background-repeat: no-repeat;
        &:horizontal {
            &:decrement {
            }
            &:increment {
            }
        }
    }
    // the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    // the draggable resizing handle that appears at the bottom corner of some elements.
    &::-webkit-resizer {}
    // the part of the track (progress bar) not covered by the handle.
    &::-webkit-scrollbar-track-piece {}
}
