@media only screen and (min-width: 768px) {
    .text-md-left {
        text-align: left;
    }
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    .main-user-menu, .left-menu-list .menu-user {
        border-radius: 0;
    }
    .popup-overlay {
        padding: 0;
        height: 100% !important;
        .popup-form {
            border-radius: 0;
            min-width: unset;
        }
    }
    .card {
        .card-header, .card-body {
            padding: 0.5rem;
        }
    }
    #user {
        .requirements {
            table {
                td {
                    padding: .25em;
                }
            }
        }
    }
    .navbar-brand {
        img {
            width: 164px;
        }
    }
    .navbar {
        padding: 0;
    }
    .card-header {
        h3 {
            font-size: 18px;
        }
    }
    .row-fullwidth {
        margin-left: -8px;
        margin-right: -8px;
    }
    #page-beleader {
        .competition-user {
            margin: 0;
        }
        .competition-card {
            padding: 0px;
            .card-body {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .competition-card-result-mobile {
                .flex0;
                .flex-center;
                .flex-space-between;
                & > * {
                    padding: 0 15px;
                }
                .bonus_usdt {
                    font-size: 30px;
                    &:not(.ok) {
                        font-family: Open Sans Light;
                        opacity: .7;
                    }
                }
            }
            .user-card {
                max-width: 80%;
            }
            & > * {
                padding: 10px 0;
                width: 100%;
                &:not(:last-child):not(.beleader_user_referals) {
                    border-bottom: 1px solid rgba(0,0,0,.2);
                }
            }
        }
        .competition-card-result-icon {
            display: none !important;
        }
    }
    
}

@media only screen and (max-width: 768px) {
    #offices-page {
        .office-contact-description {
            .contact-social-container {
                flex-direction: column;
                .contact-container {

                    .office-number {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    #page-request-form {
        .request-form-body {
            .form-container {
                width: 250px;
            }
        }
    }

    #page-request-form {
        .thanks-form-body {
            a {
                width: 250px;
            }
        }
    }

    #offices-page {
        .office-contact-description {
            .contact-social-container {
                .contact-container {
                    flex-direction: column;
                    align-items: flex-start;
                    .office-address {
                        margin: 0;
                    }
                }
            }
        }
    }
}