.flex-debug {
    > * {
        outline: 1px dotted red;
    }
}

.flex-wrap {
    -webkit-box-lines: multiple;
    flex-wrap: wrap;
}

.flex-between {
    .flex-space-between;
}

.flex-center {
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-grow1 {
    flex-grow: 1;
    -webkit-box-flex: 1;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    justify-content: space-between;
}

.flex0 {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but     mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.flex-inline {
    .flex0;
    display: -webkit-inline-flex;     /* NEW - Chrome */
    display: inline-flex;
}

.flex-column-between {
    .flex-column;
    .flex-space-between;
}

.flex {
    .flex0;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.flex2 {
    .flex0;
    > * {
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;
        margin-right: 10px;
    }
    > *:last-child {
        margin-right: 0;
    }
}
.flex3 {
    .flex2;
    > * {
        .flex-grow1;
    }
}