.left-menu-list {
    .menu-user-item {
        color: white;
        // border-top-left-radius: @partner_border_radius;
        // border-top-right-radius: @partner_border_radius;
        // border: 1px solid rgba(0,0,0,.125);
        background-color: @light_gray;
        position: relative;
        padding: 30px 20px;
        margin: 0 0 -1px 0;
        align-items: center;
        border-bottom: 1px @separator_color solid;
        a {
            color: white;
        }

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .menu-user {
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: 2px @separator_color solid;
        .user-avatar {
            width: 70px; height: 70px; border-radius: 50%; object-fit: cover;
        }
        .user-fio {
            padding-left: 15px;
            width: calc(~"100%" - 70px);
            cursor: pointer;
            h4 {
                margin-bottom: 0;
                text-transform: none;
                font-size: 18px;
            }
            & > span {
                color: @accent_color;
                font-size: 12px;
                text-transform: none;
            }
        }
    }
    .menu-dax-rate {
        font-size: 11px;
        height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 2px @separator_color solid;
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 20px;
                color: @gold_color;
                font-weight: bold;
            }
        }
    }
    .menu-ref-link {
        height: 130px;
        border-bottom: 1px @separator_color solid;
        p {
            font-size: 11px;
            color: @gold_color;
            margin: 0;
            line-height: 1em;
            margin-bottom: 20px;
        }
        input[type="text"] {
            background-color: @light_gray;
            color: white;
            height: 40px;
            border-radius: 10px;
            width: calc(~"100%" - 30px);
        }
        .ref-link {
            border: 1px @gold_color solid;
            padding: 10px;
        }
        .copy-div {
            background-color: @gold_color;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-left: -15px;
            font-size: 20px;
            padding-right: 3px;
            flex: 1;
            // z-index: 1;
            &:hover {
                background-color: lighten(@gold_color, 5%);
            }
        }

    }
}