@main_font_bold: 'Open Sans Semibold';

.medium_article {
    max-width: 740px;
    margin: auto;
    padding-bottom: 38px;
    section {
        // margin-top: 26px;
        figure {
            margin-left: 0;
            margin-right: 0;
            margin-top: 43px;
        }
        ul, ol {
            margin-left: 29px;
            margin-top: 29px;
            padding: 0;
    		font-size: 17px;
            li {
                margin-bottom: 14px;
            }
        }
        figcaption {
            &.imageCaption {
                text-align: center;
                margin: 10px auto 0;
                font-weight: normal;
                font-style: normal;
                color: rgba(0,0,0,.68);
                letter-spacing: 0;
            }
        }
        .progressiveMedia-image {
            display: block;
            max-width: 100%;
        }
        /*h1, h2, h3, h4, h5, h6 {
            font-family: @main_font_bold;
            margin-top: 0;
            padding-top: 16px !important;
            margin-bottom: .5rem;
        }
        h4 {
            font-size: 26px;
            margin: 0;
            // margin-top: 39px;
        }
        h1 {
            // padding-top: 16px !important;
            font-size: 42px;
            font-style: normal;
            font-weight: normal;
            line-height: 1.25;
            letter-spacing: 0;
            // margin-top: 0;
        }
        h3 {
            color: rgba(0,0,0,.84);
            font-size: 34px;
            line-height: 1.15;
            letter-spacing: -.015em;
            // margin-top: 53px;
        }*/
        h1 {
        	margin-top: 0;
            margin: 0;
    		line-height: 1.3em;
        }
        h4 {
        	font-size: 2em;
		    font-weight: 100;
		    margin-top: 0;
		    margin-bottom: 0.5em;
    		line-height: 1.3em;
        }
        p {
            margin-top: 38px;
            margin-bottom: 0;
            font-weight: normal;
            font-style: normal;
            font-size: 21px;
            line-height: 1.58;
            letter-spacing: -.003em;
            .dropCap {
                font-family: @main_font_bold;
                font-size: 72px;
                padding-top: 6px;
                margin-left: -5px;
                margin-right: 7px;
                letter-spacing: -.03em;
                line-height: .83;
                margin-bottom: -.08em;
                float: left;
            }
        }
        h4+p {
            margin-top: 6px;
        }
        blockquote {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 40px;
            margin-inline-end: 40px;
            margin-top: 38px;
            font-weight: normal;
            font-style: italic;
            line-height: 1.58;
            letter-spacing: -.003em;
            padding-left: 20px;
            margin-left: -23px;
            padding-bottom: 2px;
            font-size: 21px;
            &.pullquote {
                font-size: 1.5em;
            }
            &:not(.pullquote) {
                border-left: 3px solid @accent_color;
            }
        }
    }
    hr {
        margin-top: 39px;
        height: 30px;
        margin-bottom: 39px;
        display: block;
        border: 0;
        text-align: center;
        overflow: visible;
        &:before {
            content: '···';
            display: inline-block;
            color: rgb(108, 115, 123);
            position: relative;
            font-weight: normal;
            font-size: 30px;
            letter-spacing: 10px;
            line-height: 30px;
            height: 30px;
        }
    }
}

.medium_article {
    section {
        h1 {
            font-size: 1.75rem;
        }
        h3 {
            font-size: 1.75rem;
            margin-top: 32px;
        }
        h4 {
            font-size: 1.1rem;
            opacity: .7;
            opacity: 1;
            color: rgba(255,255,255,.5);
            // font-family: 'Open Sans Light';
        }
        figure {
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 1.25rem;
        }
        p {
            margin-top: 20px;
            font-size: 17px;
            .dropCap {
                font-size: 52px;
            }
        }
        blockquote {
            font-size: 17px;
        }
        &:first-child {
            h4:first-child {
                padding-bottom: .25rem;
                border-bottom: 1px solid #bda076;
            }
        }
    }
}
