<!doctype html>
<html>
	<head>
		<title>Doughnut Chart</title>
		<script src="../src/Chart.Core.js"></script>
		<script src="../src/Chart.Doughnut.js"></script>
		<style>
			body{
				padding: 0;
				margin: 0;
			}
			#canvas-holder{
				width:30%;
			}
		</style>
	</head>
	<body>
		<div id="canvas-holder">
			<canvas id="chart-area" width="500" height="500"/>
			{% raw %}
			{% endraw %}
		</div>


	<script>

		var doughnutData = [
				{
					value: 1,
					label: "One"
				},
				{
					value: 2,
					label: "Two"
				},
				{
					value: 3,
					label: "Three"
				},
				{
					value: 4,
					label: "Four"
				},
				{
					value: 5,
					label: "Five"
				}

			];

			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
					//Boolean - Whether we should show a stroke on each segment
					segmentShowStroke : true,

					//String - The colour of each segment stroke
					segmentStrokeColor : "#000",

					//Number - The width of each segment stroke
					segmentStrokeWidth : 1,

					//Number - The percentage of the chart that we cut out of the middle
					percentageInnerCutout : 70, // This is 0 for Pie charts

					//Number - Amount of animation steps
					animationSteps : 100,

					//String - Animation easing effect
					animationEasing : "easeOutBounce",

					//Boolean - Whether we animate the rotation of the Doughnut
					animateRotate : true,

					//Boolean - Whether we animate scaling the Doughnut from the centre
					animateScale : false,

					//String - A legend template
					legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"><%if(segments[i].label){%><%=segments[i].label%><%}%></span></li><%}%></ul>"

				});
			};



	</script>
	</body>
</html>
