<div id="page-lead">
    <div class="emp-profile animated fadeIn">
        <div class="animated fadeIn">            
            <div class="card">
                <div class="card-body">
                    <div class="text-muted text-center">Раздел в разработке</div>
                </div>
            </div>
        </div>
    </div>
</div>