<div id="transfer" ng-controller="partnerCtrl">
    <div id="page-partner" class="emp-profile animated fadeIn">
        <div class="row">
            <div class="col col-12">
                <div class="card">
                	<div class="card-header">
						<h2>Команда</h2>
					</div>
                    <div class="card-body bounty-tab">

                        <input id="tab3" type="radio" name="tabs" checked>
                        <label for="tab3"><i class="fas fa-sitemap mr-2"></i>Дерево</label>
                        <input id="tab1" type="radio" name="tabs">
                        <label for="tab1"><i class="fas fa-poll-people mr-2"></i>Список</label>

                        <!--Дерево-->
                        <section id="content3" class="referal-list">
                            <div ng-if="!referealTree.loading && referealTree.tree.referal_list.length > 0" style="padding-right: 15px;">
                                <a href="#" style="color: inherit;border-bottom: 1px solid;" ng-click="referealTree.expandAll()" ng-if="!referealTree.treeExpanded">Развернуть дерево</a>
                                <a href="#" style="color: inherit;border-bottom: 1px solid;" ng-click="referealTree.collapseAll()" ng-if="referealTree.treeExpanded">Свернуть дерево</a>
                            </div>
                            <div id="referal_tree" class="col s12 animated fadeIn">
                                <div ng-if="referealTree.loading">
                                    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                                </div>
                                <script type="text/ng-template" id="tree_item_renderer.html">
                                    <div class="flex0" style="align-items: center;width: 100%;">
                                        <div class="flex0" style="font-size: 1.6em;width: 50px;align-items: center;color: rgba(0,0,0,0.4);font-weight: bold;">
                                            <span style="min-width: 15px;margin-right: 5px;display: inline-block;"><i ng-if="item.referal_list.length > 0" ng-click="item.expanded = !item.expanded" class="fa cpointer" ng-class="{'fa-plus-square': !item.expanded, 'fa-minus-square': item.expanded}"></i></span>{{item.referal_list.length}}<hr style="margin-left:5px;width: 50px;border-top: 2px solid rgba(0,0,0,.2);">
										</div>
										<a ng-href="/profile/{{item.user.user_login}}" style="color: inherit;">
                                        <div class="row-block">
	                                        <div class="flex0 align-items-center">
                                                <div class="col-block">
                                                    <div>
                                    			        <div class="text-center" style="color: white;font-weight: bold;" title="Глубина линии относительно Вас">
                                    				        <div>{{item.depth}}</div>
                                    			        </div>
                                                        <div class="text-center" title="Всего в команде ({{item.sub_count}})">
                                                            <div style="font-weight: bold;overflow: hidden;text-overflow: ellipsis;width: 20px;">{{item.sub_count}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                    			<div class="col-block">
                                    				<div class="flex0 align-items-center">
                                    					<img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover; margin-right: 5px;" ng-src="{{app.domains.avatar}}{{item.user.avatar_path[2]}}">
                                    					<!-- <div class="text-center" style="width:20px;">
                                    						<div ng-if="item.user.is_verificated" title="Пользователь верифицирован"><i class="fas fa-shield-check"></i></div>
                                    						<div ng-if="item.user.is_premium" title="Премиум"><i class="fas fa-gem"></i></div>
                                    					</div> -->
                                    				</div>
                                    			</div>
                                    			<div class="col-block user-login">
                                    				<div>
                                    					<div title="{{item.user.fio}}">{{item.user.fio}}</div>
                                    					<div class="text-muted" title="{{item.user.user_login}}">@{{item.user.user_login}}</div>
                                    				</div>
                                    			</div>
                                    			<div class="col-block" style="font-size: 1.3rem;color: #219dff;">
                                    				<div>
                                    					<div ng-if="item.user.invest_wallet_exist && item.user.invest_wallet_balance > 0" title="Есть средства на инвестиционных счетах">
                                    						<i class="fas fa-square"></i>
                                    					</div>
                                    					<div ng-if="item.user.invest_wallet_exist && item.user.invest_wallet_balance == 0" title="Нет средств на инвестиционных счетах">
                                    						<i class="fal fa-square"></i>
                                    					</div>
                                    				</div>
                                    			</div>
                                    			<div class="col-block" style="font-size: 1.3rem;">
                                    				<div>
                                    					<div ng-if="item.user.proauto_car && item.user.proauto_car.proauto_car_status_id == 5"  style="color: black;" title="Автомобиль получен">
                                    						<i class="fas fa-car"></i>
                                    					</div>
                                    					<div ng-if="item.user.proauto_car && item.user.proauto_car.proauto_car_status_id != 5">
                                    						<div ng-if="item.user.proauto_program_id != 4" title="Пользователь вступил в кооператив">
                                    							<i class="fas fa-car"></i>
                                    						</div>
                                    						<div ng-if="item.user.proauto_program_id == 4" title="Пользователь вступил в кооператив на накопительную программу">
                                    							<i class="fal fa-car"></i>
                                    						</div>
                                    					</div>
                                    				</div>
                                    			</div>
                                    			<div class="col-block text-center" title="{{item.user.user_career.title}}">
                                    				<div ng-if="item.user.user_career.id">
                                    					<span class="fa-stack fa-1x">
															<i class="fas fa-hexagon fa-stack-2x"></i>
															<strong class="fa-stack-1x" style="color: black;">{{item.user.user_career.id}}</strong>
														</span>
                                    				</div>
                                    				<div ng-if="!item.user.user_career.id" title="Нет карьерного статуса">
                                    					<span class="fa-stack fa-1x">
                                    						<i class="fas fa-hexagon fa-stack-2x" style="color: black;"></i>
                                    						<strong class="fa-stack-1x">&nbsp;</strong>
                                    					</span>
                                    				</div>
                                    			</div>
                                    			<!-- <div class="col-block number-val">
                                    				<div ng-if="item.user.sum_amount >= 0" title="Баланс на счетах пользователя ({{item.user.sum_amount / app.BTC_SATOCHI | mycurrency:0}})">$ {{item.user.sum_amount / app.BTC_SATOCHI | mycurrency:0}}</div>
                                    				<div ng-if="!item.user.sum_amount && item.user.sum_amount != 0" class="text-center" title="Просмотр баланса доступен до 3 уровня глубины">{{item.user.investor_status.code}}</div>
                                    			</div> -->
                                    			<div class="col-block number-val">
                                    				<div style="min-width: 80px;">
                                    					<!-- <div title="Количество пользователей ({{item.user.value_command}})">
                                    						<span ng-if="item.user.value_command >= 0 && item.user.is_partner">
                                    							<i class="fas fa-users"></i>
                                    							{{item.user.value_command}}
                                    						</span>
                                    					</div> -->
														<!-- <div title="Контрактная сумма счетов пользователя ({{item.user.value_limit_command / app.BTC_SATOCHI | mycurrency:0}} USDT)"> -->
														<div style="min-width: 80px;" title="Товарооборот ({{item.user.value_limit_command / app.BTC_SATOCHI | mycurrency:0}} USDT)">
                                    						<span ng-if="item.user.value_limit_command >= 0">
                                    							<i class="fas fa-file-invoice-dollar" style="width:15px;"></i>
                                    							{{item.user.value_limit_command / app.BTC_SATOCHI | mycurrency:0}}
                                    						</span>
                                    					</div>
                                    				</div>
                                    				
                                    			</div>
                                    		</div>
										</div>
										</a>
                                    </div>
                                    <div class="sublist animated fadeIn" ng-if="item.sub_count > 0 && item.expanded">
                                        <div ng-repeat="item in item.referal_list" class="item" ng-include="'tree_item_renderer.html'"></div>
                                    </div>
                                </script>
                                <div ng-if="!referealTree.loading && referealTree.tree.referal_list.length == 0" class="center-align font-readonly">
                                    {{lang.list_empty}}  
                                </div>
                                <div ng-if="!referealTree.loading" class="scroll-style-1" style="max-height: 500px;">
                                    <div ng-repeat="item in referealTree.tree.referal_list" class="item" ng-include="'tree_item_renderer.html'"></div>
                                </div>
                            </div>
                        </section>

                        <!--Список-->
                        <section id="content1" class="referal-list">
                            <div ng-init="referealTree.load()">
                                <div ng-if="referealTree.loading">
                                    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                                </div>
                                <div class="center-align font-readonly" ng-if="!referealTree.loading && referealTree.tree.referal_list.length == 0">
                                    {{lang.list_empty}}
                                </div>
	                            <div ng-if="!referealTree.loading && referealTree.tree.referal_list.length > 0">
	                                <div class="row" style="margin: 0;">
	                                	<div class="flex0 col s12 mt-2">
	                                		<select ng-model="referealTree.sortItemId" ng-change="referealTree.changeSort()">
                                                <option value="">Сортировка: По умолчанию</option>
	                                			<option ng-repeat="sortItem in referealTree.sortItems" ng-value="{{sortItem.id}}">{{sortItem.title}}</option>
			                                </select>
			                                <div style="cursor: pointer;color: inherit;font-size: 1.5rem;align-self: center;margin-left: 5px;" ng-click="referealTree.reverseSort()">
			                                	<i ng-if="referealTree.sortDirection < 0" class="far fa-long-arrow-down"></i>
			                                	<i ng-if="referealTree.sortDirection > 0" class="far fa-long-arrow-up"></i>
			                                </div>
		                                </div>
	                                	<div class="flex0 s12 col mt-2">
		                                    <input type="text" class="search-input" placeholder="Поиск..." ng-model="referealTree.search_str">
	                        			</div>
	                                </div>
	                                <div id="list-container" class="scroll-style-1">
		                                <div class="row-block" ng-repeat="item in referealTree.list | filter: referealTree.search" style="margin: 10px 0;">
                                    		<a ng-href="/profile/{{item.user.user_login}}" style="color: inherit;">	                            		
                                    			<div class="flex0 align-items-center">
                                    				<div class="col-block text-center" style="font-size: 1.3rem;color: rgba(0,0,0,0.3);font-weight: bold;" title="Глубина линии относительно Вас">
                                    					<div>{{item.depth}}</div>
                                    				</div>
                                    				<div class="col-block">
                                    					<div class="flex0 align-items-center">
                                    						<img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover; margin-right: 5px;" ng-src="{{app.domains.avatar}}{{item.user.avatar_path[2]}}">
                                    						<!--<div class="text-center" style="width:20px;">
                                    							<div ng-if="item.user.is_verificated" title="Пользователь верифицирован"><i class="fas fa-shield-check"></i></div>
                                    							<div ng-if="item.user.is_premium" title="Премиум"><i class="fas fa-gem"></i></div>
                                    						</div>-->
                                    					</div>
                                    				</div>
                                    				<div class="col-block user-login">
                                    					<div>
                                    						<div title="{{item.user.fio}}">{{item.user.fio}}</div>
                                    						<div class="text-muted" title="{{item.user.user_login}}">@{{item.user.user_login}}</div>
                                    					</div>
                                    				</div>
                                    				<div class="col-block text-center" title="{{item.user.user_career.title}}">
                                    					<div ng-if="item.user.user_career.id">
                                    						<span class="fa-stack fa-1x">
																<i class="fas fa-hexagon fa-stack-2x"></i>
																<strong class="fa-stack-1x" style="color: black;">{{item.user.user_career.id}}</strong>
															</span>
                                    					</div>
                                    					<div ng-if="!item.user.user_career.id" title="Нет карьерного статуса">
                                    						<span class="fa-stack fa-1x">
                                    							<i class="fas fa-hexagon fa-stack-2x" style="color: black;"></i>
                                    							<strong class="fa-stack-1x">&nbsp;</strong>
                                    						</span>
                                    					</div>
                                    				</div>
                                    				<div class="col-block" style="font-size: 1.3rem;">
                                    					<div>
                                    						<div ng-if="item.user.proauto_car && item.user.proauto_car.proauto_car_status_id >= 5" style="color: black;" title="Автомобиль получен">
                                    							<i class="fas fa-car"></i>
                                    						</div>
                                                            <div ng-if="item.user.proauto_car && (item.user.proauto_car.proauto_car_status_id == 3 || item.user.proauto_car.proauto_car_status_id == 4)" title="Пользователь в очереди кооператива">
                                                                <i class="fas fa-car"></i>
                                                            </div>
                                                            <div ng-if="item.user.proauto_car && item.user.proauto_car.proauto_car_status_id == 2 && item.user.proauto_car.proauto_program_id == 4" title="Пользователь вступил в кооператив на накопительную программу">
                                                                <i class="fal fa-car"></i>
                                                            </div>
                                    					</div>
                                    				</div>
                                    				<div class="col-block" style="font-size: 1.3rem;color: #219dff;">
                                    					<div>
                                    						<div ng-if="item.user.invest_wallet_exist && item.user.invest_wallet_balance > 0" title="Есть средства на инвестиционных счетах">
                                    							<i class="fas fa-square"></i>
                                    						</div>
                                    						<div ng-if="item.user.invest_wallet_exist && item.user.invest_wallet_balance == 0" title="Нет средств на инвестиционных счетах">
                                    							<i class="fal fa-square"></i>
                                    						</div>
                                    					</div>
                                    				</div>
                                    				<div class="col-block number-val">
                                    					<div ng-if="item.user.sum_amount >= 0" title="Баланс на счетах пользователя" style="width: 69px;">$ {{item.user.sum_amount / app.BTC_SATOCHI | mycurrency:0}}</div>
                                    					<div ng-if="!item.user.sum_amount && item.user.sum_amount != 0" style="width: 69px;" title="Просмотр баланса доступен до 3 уровня глубины (Статус {{item.user.investor_status.title}})">{{item.user.investor_status.code}}</div>
                                    				</div>
                                    				<div class="col-block number-val">
                                    					<div title="Контрактная сумма счетов пользователя ({{item.user.value_limit_command / app.BTC_SATOCHI | mycurrency:0}} USDT)" style="width: 69px;">
                                    						<span ng-if="item.user.value_limit_command >= 0">
                                    							<i class="fas fa-file-invoice-dollar"></i>
                                    							{{item.user.value_limit_command / app.BTC_SATOCHI | mycurrency:0}}
                                    						</span>
                                    					</div>
                                    				</div>
                                    				<div class="col-block" title="{{item.user.country_title}}">
                                    					<div class="flag flag-icon-background flag-icon-{{item.user.country_alpha2}}" style="height: 15px;width: 20px;"></div>
                                    				</div>
                                    				<div class="col-block days-val" title="Количество дней с момента регистрации">
                                    					<div>{{item.user.days}} д</div>
                                    				</div>
                                    			</div>
                                    		</a>		                                
			                            </div>
		                            </div>
	                            </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>