<div id="page-team" ng-controller="teamCtrl" ng-if="app.user.user_status_id > 1">
    <div class="emp-profile animated fadeIn">

        <!--<div ng-if="team.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>-->

        <div class="animated fadeIn" ng-init="team.init()">
            
            <div class="card">
            	<div class="card-header">
					<h2>Статистика</h2>
				</div>
                <div id="main-card" class="card-body">
                    <div class="career-partner">
                        <div class="card no-shadow">
                            <div class="card-content">
                                <div class="row" ng-if="view.info.user_career && careerStatus.data">
	                                <div class="card col-md-6 col-sm-12">
						                <div class="card-header">
						                    <span>Ваш текущий статус</span>
						                </div>
						                <div class="card-body">
						                    <div class="card no-shadow">
						                        <div class="card-content" style="padding: 0;">
						                            <h4>{{view.info.user_career_title}}</h4>
						                        </div>
						                    </div>
						                </div>
						            </div>
						            <div class="card col-md-6 col-sm-12">
						                <div class="card-header">
						                    <span>Процент карьерного бонуса</span>
						                </div>
						                <div id="team-user-info" class="card-body">
						                    <div class="card no-shadow">
						                        <div class="card-content" style="padding: 0;">
						                        	<div class="career-status">
						                        		<div class="career-status-team-capacity">
						                        			<div class="career-status-team-capacity-progressbar">
					                                            <div class="career-status-team-capacity-progressbar-progress" style="width: {{view.info.user_career.career_bonus_percent}}%;"></div>
					                                        </div>
					                                        <div class="value" style="font-size: 30px;">{{view.info.user_career.career_bonus_percent | number:0}}%</div>
				                                        </div>
			                                        </div>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        
						        <div class="card" style="margin-bottom: 20px;" ng-init="careerStatus.load()" ng-show="careerStatus.data">
						            <div class="card-header">
						                <span>{{view.info.user_career_title}} <i class="fal fa-long-arrow-right" style="color: white;margin: 0 10px;"></i> {{careerStatus.data.career_title}}</span>
						            </div>
						            <div id="team-user-info" class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
                                                <div>
                                                    <div class="career-status-teamlead-block">
                                                        <div class="career-status-teamlead-block-content-3">
                                                            <div class="flex0 flex-center flex-space-between">
                                                                <label>
                                                                    <div style="color: white;font-size: 14px;margin-bottom: 10px;">
                                                                        <span >Общий объем инвестиций команды</span>
                                                                    </div>
                                                                    <span class="text-gold">
                                                                        <span>{{careerStatus.data.value_limit_command.fact / BTC_SATOCHI | mycurrency:0}} USDT</span>
                                                                        из
                                                                        <span>{{careerStatus.data.value_limit_command.min | mycurrency:0}} USDT</span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                            <div class="career-status-team-capacity">
                                                                <div class="career-status-team-capacity-progressbar">
                                                                    <div class="career-status-team-capacity-progressbar-progress" style="width: {{careerStatus.data.value_limit_command.percent}}%;"></div>
                                                                </div>
                                                                <div class="value">
                                                                    <div class="percent-check" ng-style="{'background' : careerStatus.data.value_limit_command.ok ? '#232429' : 'inherit'}">
                                                                        <i ng-if="careerStatus.data.value_limit_command.ok" class="fas fa-check text-gold" style="font-size: 12px;padding-top: 5px;"></i>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
						                    	<div class="row" style="padding: 0 10px;margin-bottom: 0;">
							                        <div class="career-status-teamlead-block col-md-6 col-sm-12" style="padding: 5px;" ng-repeat="leader in careerStatus.data.side_volume_leaders"  ng-if="leader.value_limits">
							                        	<div class="career-status-teamlead-block-content-{{$index}}">
				                                            <div class="flex0 flex-center flex-space-between">
				                                                <label>
				                                                	<div style="color: white;font-size: 14px;margin-bottom: 10px;">
					                                                    <a ng-href="/profile/{{leader.user_login}}" ng-if="leader.user_login" style="color: white;">{{leader.fio}} - {{leader.percent.progress}}%</a>
					                                                    <span ng-if="!leader.user_login">{{leader.fio}} - {{leader.percent.progress}}%</span>
				                                                    </div>
				                                                    <span class="text-gold">
				                                                        <span>{{leader.percent.fact | mycurrency:0}} USDT</span>
				                                                        из
				                                                        <span>{{leader.percent.max | mycurrency:0}} USDT</span>
				                                                    </span>
				                                                </label>
				                                            </div>
				                                            <div class="career-status-team-capacity">
					                                            <div class="career-status-team-capacity-progressbar">
					                                                <div class="career-status-team-capacity-progressbar-progress" style="width: {{leader.percent.progress}}%;"></div>
					                                            </div>
					                                            <div class="value">
					                                            	<div class="percent-check" ng-style="{'background' : leader.percent.ok ? '#232429' : 'inherit'}">
					                                            		<i ng-if="leader.percent.ok" class="fas fa-check text-gold" style="font-size: 12px;padding-top: 5px;"></i>
					                                            	</div>
				                                            		
					                                            </div>
				                                            </div>
				                                            <!--<div ng-if="leader.value_limits" class="mt-2">
				                                                <div ng-repeat="lim in leader.value_limits" ng-if="lim.title">
				                                                    Из них {{lim.title}}:
				                                                    <strong>{{lim.value | mycurrency:0}} USDT</strong>
				                                                </div>
				                                            </div>-->
			                                            </div>
			                                        </div>
			                                        <div class="career-status-teamlead-block col-md-6 col-sm-12" style="padding: 5px;">
							                        	<div class="custom-chart-container">
							                        		<div ng-repeat="leader in careerStatus.data.side_volume_leaders" style="width: {{leader.percent.fact / careerStatus.data.total_fact_percent * 100 | number:0}}%;">
							                        			<div class="custom-chart-item-{{$index}}"></div>
							                        			<div class="text-center custom-chart-title-{{$index}}">{{leader.percent.fact / careerStatus.data.total_fact_percent * 100 | number:0}}%</div>
							                        		</div>
			                                            </div>
			                                        </div>
		                                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        
						        <div class="card" style="margin-bottom: 20px;" ng-init="team.loadPartner()">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						                <span>Golden Dax</span>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Прибыль {{team.partner_cur_amount | mycurrency:2}} USDT</div>
						                    	<div id="command-partner-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
		                                        <div class="subtitle">Бонусы</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container">
					                                        <label>Career bonus</label>
		                                        			<span style="font-size: 1.1em;">{{team.career_bonus | mycurrency:2}} USDT</span>
				                                        </div>
				                                        <div class="field-container">
					                                        <label>Main bonus</label>
					                                        <span style="font-size: 1.1em;">{{team.main_bonus | mycurrency:2}} USDT</span>
				                                        </div>
				                                        <div class="field-container">
					                                        <label>Проавто bonus</label>
					                                        <span style="font-size: 1.1em;">{{team.proauto_bonus | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container">
					                                        <label>World bonus</label>
		                                        			<span style="font-size: 1.1em;">{{team.world_bonus | mycurrency:2}} USDT</span>
				                                        </div>
				                                        <div class="field-container">
					                                        <label>Office bonus</label>
					                                        <span style="font-size: 1.1em;">{{team.office_bonus | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>	                                    			
		                                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        <div class="card" style="margin-bottom: 20px;" ng-init="team.loadFinance()">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						                <span>Trustera</span>
						            </div>
						            <div class="card-body" style="border-radius: 0;border-bottom: 1px solid #343740;">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Объем инвестиций команды</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container">
					                                        <label>Общий объем</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.command_finance.invest_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container">
					                                        <label>Прирост</label>
		                                        			<span style="font-size: 1.1em;">{{team.finance_grow_amount | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>	                                    			
		                                        </div>
		                                        <div id="command-finance-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
						                    </div>
						                </div>
						            </div>
						            <div class="card-body" style="border-radius: 0;border-bottom: 1px solid #343740;">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Объем счетов команды</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container">
					                                        <label>Общий объем</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.command_finance.oik_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container">
					                                        <label>Прирост</label>
		                                        			<span style="font-size: 1.1em;">{{team.oik_grow_amount | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>	                                    			
		                                        </div>
		                                        <div id="command-oik-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
						                    </div>
						                </div>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Статистика счетов</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container" style="border-left-color: rgb(233,62,68);color: rgb(233,62,68);">
					                                        <label style="color: rgb(233,62,68);">Трастовые</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.command_finance.trust_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
				                                        </div>
				                                        <div class="field-container">
					                                        <label style="color: #bda076;">Стандартные</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.command_finance.standart_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container" style="border-left-color: rgb(0,191,243);color: rgb(0,191,243);">
					                                        <label style="color: rgb(0,191,243);">Intro</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.command_finance.intro_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
				                                        </div>
				                                        <div class="field-container" style="border-left-color: rgb(142,198,63);color: rgb(142,198,63);">
					                                        <label style="color: rgb(142,198,63);">Проавто</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.command_finance.proauto_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</span>
				                                        </div>
		                                        	</div>	                                    			
		                                        </div>
                                                <div class="career-status-teamlead-block" style="padding-bottom: 5px;">
							                        <div class="custom-chart-container">
							                        	<div style="width: {{team.data.command_finance.trust_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%;">
                                                            <div class="custom-chart-item-0"></div>
                                                            <div class="text-center custom-chart-title-0">{{team.data.command_finance.trust_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%</div>
                                                        </div>
                                                        <div style="width: {{team.data.command_finance.standart_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%;">
                                                            <div class="custom-chart-item-3"></div>
                                                            <div class="text-center custom-chart-title-3">{{team.data.command_finance.standart_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%</div>
                                                        </div>
                                                        <div style="width: {{team.data.command_finance.intro_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%;">
                                                            <div class="custom-chart-item-2"></div>
                                                            <div class="text-center custom-chart-title-2">{{team.data.command_finance.intro_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%</div>
                                                        </div>
                                                        <div style="width: {{team.data.command_finance.proauto_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%;">
                                                            <div class="custom-chart-item-1"></div>
                                                            <div class="text-center custom-chart-title-1">{{team.data.command_finance.proauto_sum / (team.data.command_finance.trust_sum + team.data.command_finance.standart_sum + team.data.command_finance.intro_sum + team.data.command_finance.proauto_sum) * 100 | number:0}}%</div>
                                                        </div>
			                                        </div>
			                                    </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        <div class="card" style="margin-bottom: 20px;" ng-init="team.loadPeople()">
						            <div class="card-header" style="border-bottom: 1px solid #343740;">
						                <span>Количество пользователей по продуктам</span>
						            </div>
						            <div class="card-body" style="border-radius: 0;border-bottom: 1px solid #343740;">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container" style="border-left-color: rgb(233,62,68);color: rgb(233,62,68);">
					                                        <label style="color: rgb(233,62,68);">Инвесторы Trustera</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.people.investors.length}}</span>
				                                        </div>
				                                        <div class="field-container">
					                                        <label style="color: #bda076;">Партнеры Goldendax</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.people.partners.length}}</span>
				                                        </div>
		                                        	</div>
		                                        	<div class="col-md-6 col-sm-12">
		                                        		<div class="field-container" style="border-left-color: rgb(0,191,243);color: rgb(0,191,243);">
					                                        <label style="color: rgb(0,191,243);">Пайщики Проавто</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.people.proauto.length}}</span>
				                                        </div>
				                                        <div class="field-container" style="border-left-color: rgb(142,198,63);color: rgb(142,198,63);">
					                                        <label style="color: rgb(142,198,63);">Пустые пользователи</label>
		                                        			<span style="font-size: 1.1em;">{{team.data.people.empty_cnt}}</span>
				                                        </div>
		                                        	</div>	                                    			
		                                        </div>                                  
			                                    <div class="career-status-teamlead-block" style="padding-bottom: 5px;">
							                        <div class="custom-chart-container">
							                        	<div style="width: {{team.data.people.investors.length / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%;">
							                        		<div class="custom-chart-item-0"></div>
							                        		<div class="text-center custom-chart-title-0">{{team.data.people.investors.length / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%</div>
							                        	</div>
							                        	<div style="width: {{team.data.people.partners.length / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%;">
							                        		<div class="custom-chart-item-3"></div>
							                        		<div class="text-center custom-chart-title-3">{{team.data.people.partners.length / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%</div>
							                        	</div>
							                        	<div style="width: {{team.data.people.proauto.length / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%;">
							                        		<div class="custom-chart-item-2"></div>
							                        		<div class="text-center custom-chart-title-2">{{team.data.people.proauto.length / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%</div>
							                        	</div>
							                        	<div style="width: {{team.data.people.empty_cnt / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%;">
							                        		<div class="custom-chart-item-1"></div>
							                        		<div class="text-center custom-chart-title-1">{{team.data.people.empty_cnt / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.proauto.length + team.data.people.empty_cnt) * 100 | number:0}}%</div>
							                        	</div>
			                                        </div>
			                                    </div>
						                    </div>
						                </div>
						            </div>
						            <div class="card-body" style="border-radius: 0;border-bottom: 1px solid #343740;">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Trustera</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col">
		                                        		<div class="field-container">
					                                        <label>Прирост инвесторов</label>
		                                        			<span style="font-size: 1.1em;">{{team.people_invest_cur_cnt}}</span>
				                                        </div>
		                                        	</div>           			
		                                        </div>
		                                        <div id="invest-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
						                    </div>
						                </div>
						            </div>
						            <div class="card-body" style="border-radius: 0;border-bottom: 1px solid #343740;">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Golden Dax</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col">
		                                        		<div class="field-container">
					                                        <label>Прирост партнеров</label>
		                                        			<span style="font-size: 1.1em;">{{team.people_partner_cur_cnt}}</span>
				                                        </div>
		                                        	</div>           			
		                                        </div>
		                                        <div id="partner-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
						                    </div>
						                </div>
						            </div>
						            <div class="card-body">
						                <div class="card no-shadow">
						                    <div class="card-content" style="padding: 0;">
						                    	<div class="subtitle">Проавто</div>
		                                        <div class="row field-row" style="margin-bottom: 0;">
		                                        	<div class="col">
		                                        		<div class="field-container">
					                                        <label>Прирост пайщиков</label>
		                                        			<span style="font-size: 1.1em;">{{team.people_proauto_cur_cnt}}</span>
				                                        </div>
		                                        	</div>           			
		                                        </div>
		                                        <div id="proauto-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
						                    </div>
						                </div>
						            </div>
						        </div>
						            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div ng-if="false">
                <div class="card" style="padding-top: 1.25rem;" ng-if="view.info.user_career && careerStatus.data">
                    <div class="card-body" style="border-radius: 15px;">
                        <div class="career-partner">
                            <div class="card no-shadow">
                                <div class="card-content" style="padding: 0;">
                                    <div>
                                        <span class="text-muted">Ваш текущий статус: </span>
                                        {{view.info.user_career_title}}
                                    </div>
                                    <div>
                                        <span class="text-muted">Процент карьерного бонуса: </span>
                                        {{view.info.user_career.career_bonus_percent}}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card" ng-init="careerStatus.load()" ng-show="careerStatus.data" style="padding-top: 1.25rem;" >
                    <div class="card-header">
                        <h5>{{view.info.user_career_title}} <i class="fal fa-long-arrow-right"></i> {{careerStatus.data.career_title}}</h5>
                    </div>
                    <div id="team-user-info" class="card-body">
                        <div class="career-partner">
                            <div class="card no-shadow">
                                <div class="card-content" style="padding: 0;">
                                    <div class="career-status">
                                        <div class="career-status-head-wrapper" ng-if="false">
                                            <p class="career-status-head">{{careerStatus.data.career_title}}
                                                <label class="text-muted"><!--Следующий статус-->{{lang.cr_status_next}}</label>
                                            </p>
                                            <strong style="line-height: 1.3em; padding-top: 15px;"><!--Условия достижения карьерного статуса-->{{lang.cr_status_title}}:</strong>
                                        </div>
                                        <div class="career-status-team-capacity">
                                            <p class="career-status-team-capacity-head"><label>Общий объем инвестиций команды</label></p>
                                            <div class="career-status-team-capacity-isfull" style="top: 25px;">
                                                <i ng-class="{'fas fa-check color-green': careerStatus.data.value_limit_command.ok, 'fas fa-times color-red': !careerStatus.data.value_limit_command.ok}"></i>
                                            </div>
                                            <div><big style="font-size: 1.75em;">{{careerStatus.data.value_limit_command.fact / BTC_SATOCHI | mycurrency:0}}</big>
                                                {{lang.from2}}
                                                {{careerStatus.data.value_limit_command.min | mycurrency:0}}  USDT
                                            </div>
                                            <div class="career-status-team-capacity-progressbar">
                                                <div class="career-status-team-capacity-progressbar-progress" style="width: {{careerStatus.data.value_limit_command.percent}}%;"></div>
                                                <div class="value">{{careerStatus.data.value_limit_command.percent|number:0}}%</div>
                                            </div>
                                            <div ng-if="careerStatus.data.value_limit_command.value_limits" class="mt-2">
                                                <div ng-repeat="lim in careerStatus.data.value_limit_command.value_limits" ng-if="lim.title">
                                                    Из них {{lim.title}}:
                                                    <strong>{{lim.value / BTC_SATOCHI | mycurrency:0}} USDT</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="career-status-teamlead">
                                            <div class="flex0 flex-center flex-space-between">
                                                <label><!--Лидеры команды (баллы)-->{{lang.cr_status_leaders_volume}}</label>
                                                <div>
                                                    <div class="career-status-teamlead-condition" ng-if="careerStatus.data.side_volume_leaders.isComplete"><!--Условия выполнены-->{{lang.cr_status_ok}}</div>
                                                    <div class="career-status-teamlead-condition" ng-if="!careerStatus.data.side_volume_leaders.isComplete"><!--Условия не выполнены-->{{lang.cr_status_bad}}</div>
                                                </div>
                                            </div>
                                            <div class="career-status-teamlead-block" ng-repeat="leader in careerStatus.data.side_volume_leaders">
                                                <div class="flex0 flex-center flex-space-between">
                                                    <label>
                                                        <a ng-href="/profile/{{leader.user_login}}" class="text-dim" ng-if="leader.user_login">{{leader.fio}}</a>
                                                        <span class="text-dim" ng-if="!leader.user_login">{{leader.fio}}</span>
                                                        <br>
                                                        <span class="text-gold">
                                                            <big style="font-size: 1.75em;">{{leader.percent.fact | mycurrency:0}}</big>
                                                            из
                                                            <span>{{leader.percent.max | mycurrency:0}} USDT</span>
                                                        </span>
                                                    </label>
                                                    <div>
                                                        <i ng-class="{'fas fa-check color-green': leader.percent.ok, 'fas fa-times color-red': !leader.percent.ok}" style="font-size: 30px;"></i>
                                                    </div>
                                                </div>
                                                <div class="career-status-team-capacity-progressbar">
                                                    <div class="career-status-team-capacity-progressbar-progress" style="width: {{leader.percent.progress}}%;"></div>
                                                    <div class="value">{{leader.percent.progress|number:0}}%</div>
                                                </div>
                                                <div ng-if="leader.value_limits" class="mt-2">
                                                    <div ng-repeat="lim in leader.value_limits" ng-if="lim.title">
                                                        Из них {{lim.title}}:
                                                        <strong>{{lim.value | mycurrency:0}} USDT</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="careerStatus.data.period.value > 0">
                                            <div class="career-status-note">
                                                <!--Необходимо подтвердить статус в течение-->
                                                {{lang.cr_status_need_confirm1}}
                                                {{careerStatus.days.length}} <!--дней-->{{lang.cr_status_need_confirm2}}
                                            </div>
                                            <div class="career-status-array">
                                                <div class="career-status-array-item {{d.class}}" ng-repeat="d in careerStatus.days"
                                                     ng-class="{'background-green': d.class == 'ok', 'background-red': d.class == 'exclamation'}"
                                                     ng-class="{fill: d.fill}">
                                                    <i class="fal fa-check" ng-if="d.class == 'ok'"></i>
                                                    <i class="fal fa-exclamation-triangle" ng-if="d.class == 'exclamation'"></i>
                                                </div>
                                            </div>
                                            <div class="career-status-footnote">
                                                <!--Поддерживайте все условия выполненными в течении всего срока. Если вы не будете выполнять условия в течении 24-х часов, то счетчик сбросится.-->
                                                {{lang.cr_status_footnote}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="padding-top: 1.25rem;" ng-init="team.loadPartner()">
                    <div class="card-header">
                        <h5>Личные выплаты по партнерке</h5>
                    </div>
                    <div class="card-body team-user-info">
                        <div class="card no-shadow">
                            <div class="card-content">
                                <div class="row" style="margin-bottom: 0;">
                                    <div class="col col-12">
                                	    <div class="forpartner-values">
	                                        <div style="margin: 1em 0 0 0;">
	                                    	    <div style="display: flex;justify-content: space-around;">
	                                    		    <div class="center-align">
		                                        	    <!--Баланс-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.data.partner_dax_wallet.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Баланс</label>
		                                            </div>
		                                            <div class="center-align">
			                                            <!--Прибыль-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.partner_cur_amount | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Прибыль {{team.partner_cur_period}}</label>
		                                            </div>
	                                            </div>
	                                            <div id="command-partner-chart11111" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
	                                            <div style="display: flex;justify-content: space-around;">
	                                    		    <div class="center-align">
		                                        	    <strong style="font-size: 1.3em;">{{team.career_bonus | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Career bonus {{team.partner_cur_period}}</label>
		                                            </div>
		                                            <div class="center-align">
			                                            <!--Прибыль-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.main_bonus | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Main bonus {{team.partner_cur_period}}</label>
		                                            </div>
	                                            </div>
	                                            <div style="display: flex;justify-content: space-around;">
	                                    		    <div class="center-align">
		                                        	    <strong style="font-size: 1.3em;">{{team.world_bonus | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">World bonus {{team.partner_cur_period}}</label>
		                                            </div>
		                                            <div class="center-align">
			                                            <!--Прибыль-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.office_bonus | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Office bonus {{team.partner_cur_period}}</label>
		                                            </div>
	                                            </div>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card" style="padding-top: 1.25rem;">
                    <div class="card-header">
                        <h5>Финансы команды</h5>
                    </div>
                    <div class="card-body team-user-info" style="border-radius: 0;" ng-init="team.loadFinance()">
                        <div class="card no-shadow">
                            <div class="card-content">
                                <div class="row" style="margin-bottom: 0;">
                                    <div class="col col-12">
                                	    <div class="forpartner-values">
	                                        <div style="margin: 1em 0 0 0;">
	                                    	    <div style="display: flex;justify-content: space-around;">
	                                    		    <div class="center-align">
		                                        	    <!--Баланс-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.data.command_finance.invest_sum / app.BTC_SATOCHI | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Общий объем</label>
		                                            </div>
		                                            <div class="center-align">
			                                            <!--Прибыль-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.finance_grow_amount | mycurrency:2}} USDT</strong>
			                                            <label class="text-muted">Прирост {{team.finance_cur_period}}</label>
		                                            </div>
	                                            </div>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" style="background-color: #343740;border: none;">
                        <h5>Статистика счетов команды</h5>
                    </div>
                    <div class="card-body team-user-info" ng-init="team.loadWallets()">
                        <div class="card no-shadow">
                            <div class="card-content">
	                            <div class="row" style="margin-bottom: 0;">
	                        	    <div class="col col-12">	                                        
		                                <div id="command-wallet-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
	                                </div>
	                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card" style="padding-top: 1.25rem;" ng-init="team.loadPeople()">
                    <div class="card-header">
                        <h5>Люди - {{team.data.people.investors.length + team.data.people.partners.length + team.data.people.empty_cnt}}</h5>
                        <h6 style="margin: 0;">Конверсия зарегистрированных = {{(team.data.people.investors.length + team.data.people.partners.length) / (team.data.people.investors.length + team.data.people.partners.length + team.data.people.empty_cnt) * 100 | number:2}}%</h6>
                    </div>
                    <div class="card-body team-user-info" style="border-radius: 0;">
                        <div class="card no-shadow">
                            <div class="card-content">
                                <div class="row" style="margin-bottom: 0;">
                                    <div class="col col-12">
	                            	    <div id="people-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" style="background-color: #343740;border: none;padding-bottom: 0;">
                        <h5>Прирост инвесторов</h5>
                    </div>
                    <div class="card-body team-user-info" style="border-radius: 0;padding-top: 0;">
                        <div class="card no-shadow">
                            <div class="card-content">
	                            <div class="row" style="margin-bottom: 0;">
	                        	    <div class="col col-12">
	                        		    <div class="forpartner-values">
	                                        <div style="margin: 1em 0 0 0;">
	                                    	    <div style="display: flex; justify-content: flex-end;">
	                                    		    <div class="center-align">
		                                        	    <!--Инвесторы-->	                                        
			                                            <strong style="font-size: 1.3em;">{{team.people_invest_cur_cnt}}</strong>
			                                            <label class="text-muted">{{team.people_invest_cur_period}}</label>
		                                            </div>
	                                            </div>
		                            		    <div id="invest-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
		                            	    </div>
		                                </div>
	                                </div>
	                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" style="background-color: #343740;border: none;padding-bottom: 0;">
                        <h5>Прирост партнеров</h5>
                    </div>
                    <div class="card-body team-user-info" style="padding-top: 0;">
                        <div class="card no-shadow">
                            <div class="card-content">
	                            <div class="row" style="margin-bottom: 0;">
	                        	    <div class="col col-12">
	                        		    <div class="forpartner-values">
	                                        <div style="margin: 1em 0 0 0;">
	                                    	    <div style="display: flex; justify-content: flex-end;">
	                                    		    <div class="center-align">
		                                        	    <!--Партнеры-->
			                                            <strong style="font-size: 1.3em;">{{team.people_partner_cur_cnt}}</strong>
			                                            <label class="text-muted">{{team.people_partner_cur_period}}</label>
		                                            </div>
	                                            </div>
		                            		    <div id="partner-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
		                            	    </div>
		                                </div>
	                                </div>
	                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>