<div id="transfer" ng-controller="userCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>Social</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-12">
                        <h3>Достижения</h3>
                        <div class="row center-align">
                            <div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div>
                            <div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div>
                            <div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div><br><div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div>
                            <div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div>
                            <div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div>
                            <div class="col col-6" style="margin:10px 0;">
                                <a href="#" style="color:#212529;" onclick="return CustomUI.showForm('form-achievement');">
                                    <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                                    <h5>Название бейджа</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="form-achievement" class="popup-form animated fadeIn team-user-info" style="width: 26em;">
                    <div class="popup-form-content center-align row">
                        <div class="col col-12">
                            <h3>Название бейджа</h3>
                        </div>
                        <div class="col col-12">
                            <img class="user-avatar" style="margin:10px; width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="/assets/img/user_220x220.png">
                        </div>
                        <div class="col col-12">
                            Краткое описание достижения... Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, adipiscing elit. 
                        </div>
                        <div class="col col-12" style="margin-top:20px">
                            <a href="#" class="btn btn-sm btn-primary">Поделиться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>