<div>

    <div id="splash">
        <section id="registration">
            <nav class="wide_menu">
                <ul>
                    <li><a ng-href="/">{{lang.index}}</a></li>
                    <li class="active" ng-if="!is_logged"><a ng-click="pages.gotoURL('index.login')" ng-href="#">{{lang.login}}<?=Model_Lang::getString('login')?></a></li>
                    <li ng-if="!is_logged"><a ng-click="pages.gotoURL('index.registration')" ng-href="#">{{lang.registration}}<?=Model_Lang::getString('login')?></a></li>
                </ul>
            </nav>
        </section>
    </div>

    <style>
        #agreement-text-view {
            max-width: 21cm;
            height: calc(100vh - 56px);
            margin: auto;
            padding: 20px;
            background: rgba(255,255,255,.9);
        }
    </style>

    <div id="agreement-text-view" ng-init="niceScroll('#agreement-text-view', {autohide: false})">
        <h3>Пользовательское соглашение</h3>
        <ng-include src="'app/views/inc/agreement_text.html'"></ng-include>
    </div>

</div>