<div id="user-page" ng-controller="walletCtrl" ng-init="wallet.init()">
    <div ng-if="!wallet.rub_active">
        <a class="green mt-2 d-block text-capitalize"  n_g-click="partnerRub.fill.open()" href="#">пополинть</a>
        <a class="blue mt-2 d-block text-capitalize" ng-class="{disabled: w.amount <= 0}" ng-click="partnerRub.withdrawalBtc.open()" href="#">вывести</a>
    </div>
</div>