<div id="user-page" ng-controller="walletCtrl" ng-init="wallet.init()">

    <div class="flex0 row">

        <div class="col s12 m5 hide-on-small-only">
            <ng-include src="'/app/views/user_menu.html'"></ng-include>
        </div>

        <div class="col s12 m7">

            <div class="card">
                <div class="card-content">
                    <h5>{{lang.buy_dax}}</h5>
                    <div id="buy-container">
                        <div class="row">

                            <canvas id="myCanvas" width="250" height="250" style="display: none;"></canvas>

                            <!-- Покупка Bitcoin в Вашем городе -->
                            <form id="form-buyincity" class="animated fadeIn popup-form" data-title="{{lang.buy_btc_in_your_city}}" style="width: 600px;">
                                <div class="popup-form-content">
                                    <!--Курсы обмена-->
                                    {{lang.exchange_rate}}:
                                    <br>1BTC = {{buyincity.info.quotes.quote_btc_in_usd | mycurrency:2}} $
                                    <br>1BTC = {{buyincity.info.quotes.quote_btc_in_usd * buyincity.info.quotes.quote_usd_in_rub | mycurrency:2}} {{lang.rub2}}
                                    <hr>
                                    {{lang.buy_for_cash}}
                                    {{buyincity.info.title}},
                                    {{lang.buy_for_cash2}}
                                    <input type="text" ng-model="buyincity.form.amount_rub" placeholder="{{lang.enter_amount_in_rub}}">
                                    <span class="font-readonly font-mini">{{lang.min_amount}} &ndash; 100 000 {{lang.rub2}}
                                    <br>{{lang.max_amount}} &ndash; 5 000 000 {{lang.rub2}}</span>
                                    <div>
                                        <!--Вы получите-->
                                        {{lang.you_gived2}}: {{buyincity.form.amount_rub / (buyincity.info.quotes.quote_btc_in_usd * buyincity.info.quotes.quote_usd_in_rub) | mycurrency:8}} BTC
                                        <div style="color: #ff7272; font-size: .8em; line-height: 1em;">
                                            {{lang.rate_must_change}}
                                        </div>
                                    </div>
                                    <input type="text" ng-model="buyincity.form.phone" placeholder="{{lang.contact_phone}}">
                                    <input type="text" ng-model="buyincity.form.fio" placeholder="{{lang.your_name}}">
                                </div>
                                <div class="popup-form-footer">
                                    <!--Отправить заявку-->
                                    <a href="#" class="btn" ng-click="buyincity.sendRequest()">{{lang.send_order}}</a>
                                </div>
                            </form>

                            <form id="form-result" class="popup-form animated zoomIn" title="{{lang.buy}}">
                                <div id="result" class="popup-form-content">
                                    <div style="font-size: 150%;">
                                        <div ng-show="buy.form.from_currency_code != 'btc'" class="ext-info">
                                            <!--Внимание! Необходимо приобрести и отправить именно столько BTC, сколько указано-->
                                            {{lang.warning_buy_only_for_btc}}
                                            <br>{{lang.warning_buy_only_for_btc2}} <strong>{{buy.getCurrentQuote().title}}</strong>,
                                            {{lang.warning_buy_only_for_btc3}}
                                        </div>
                                        <span id="resp_message"></span>
                                        <input style="font-size: 110%; font-weight: bold; margin-bottom: 0" id="resp_address" type="text" readonly style="background-color: transparent; border: none;" />
                                        <div class="right-align"><a href="#" style="font-size: 80%;" onclick="return copyAddressToCB('resp_address');">{{lang.copy_address}}</a></div>
                                        <div id="tag" style="display: none; text-decoration: underline;">{{lang.destination_tag}}: <span style="font-weight: bold;"></span></div>
                                        <div class="flex0 flex-wrap" style="margin-top: 1em;">
                                            <div style="padding: 10px;">
                                                <div style="padding: 10px 0;">
                                                    <!-- Времени на выполнение операции -->
                                                    <strong>{{lang.operation_time_limit}}</strong>
                                                    <!-- <br><span id="resp_timeout"></span> {{lang.secs}} -->
                                                    <b id="resp_timeout_string"></b>
                                                </div>
                                                <div class="right-align blue-text">
                                                    <b id="resp_receive"></b>
                                                </div>
                                            </div>
                                            <div style="padding: 10px;">
                                                <div style="padding: 10px 0;" class="center-align">
                                                    <strong>{{lang.qr_code}}:</strong>
                                                    <div id="resp_qrcode_url" class="center-align"><div class="img_shadow" class="center-align"></div></div>
                                                </div>
                                                <p>{{lang.need}} <span id="resp_confirms_needed"></span> {{lang.need_confirms}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <form id="form-submit" class="popup-ajax" method="POST" data-title="Buy" ng-init="buy.init()" ng-class="{disabled: buy.loading_submit}">
                                <input type="hidden" name="form[op]" value="transfer">
                                <div class="loader2">
                                    <img src="/img/loader2.gif" alt="Loading...">
                                </div>
                                <div class="flex0 flex-center">
                                    <div ng-if="wallet.loading">
                                        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                                    </div>
                                    <div ng-if="!wallet.loading && !app.var.create_wallet_allow">{{lang.buy_not_enabled}}</div>
                                    <div ng-if="!wallet.loading && app.var.create_wallet_allow">
                                        <hr>
                                        <!--Для покупки DAX необходимо отправить BTC на адрес:-->
                                        {{lang.buy_to_btc_address}}
                                        <div style="padding: 3px 0;"><strong>{{wallet.data.buy_wallet.address}}</strong></div>
                                        <!--Любая отправленная сумма при получении будет автоматически сконвертирована по курсу на время получения и зачислена на Ваш счёт.-->
                                        <div class="font-mini font-readonly">{{lang.buy_description}}</div>
                                        <div class="right-align" style="padding-top: 10px;">
                                            <a class="font-link-ajax" href="#" onclick="return CustomUI.showForm('form-buy-calc');"><i class="fal fa-calculator"></i> {{lang.calc}}</a>
                                            <span style="margin-left: 20px;">
                                                <a class="font-underline" href="/blog/buy_instruction.html" target="_blank"><i class="fal fa-link"></i> {{lang.buy_instructions}}</a>
                                            </span>
                                        </div>
                                        <!--Калькулятор покупки*-->
                                        <div id="form-buy-calc" class="popup-form animated fadeIn" data-title="{{lang.buy_calc}}*" style="width: 26em;">
                                            <div class="popup-form-content">
                                                <div class="">
                                                    <div class="icon-block">
                                                        <!--Вы отдаёте-->
                                                        <h5 style="margin-top: 0;">{{lang.you_take}}</h5>
                                                        <div class="flex0">
                                                            <div style="width: 75%;">
                                                                <input id="input-from_amount" type="text" ng-model="buy.form.from_amount" class="browser-default display" name="form[from_amount]" ng-change="buy.changeFromAmount()" style="_background-image: url(img/bitcoin-logo.png); border-radius: 0; border: 1px solid #2A7FB1 !important; text-align: right; padding-right: .3em; height: 45px;" maxlength="10">
                                                            </div>
                                                            <select ng-model="buy.form.from_currency_code" ng-change="buy.changeCurrency()" name="form[currency_from]" class="browser-default" style="border-radius: 0; height: 45px; width: 25%; flex-shrink: 0; border: 1px solid #2A7FB1; border-left: 0;">
                                                                <option ng-repeat="item in buy.quotes" value="{{item.code}}">{{item.title}}</option>
                                                            </select>
                                                        </div>
                                                        <div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="icon-block">
                                                        <!--Вы получаете-->
                                                        <h5 style="margin-top: 0;">{{lang.you_give}}</h5>
                                                        <input id="input-to_amount" ng-model="buy.form.to_amount" ng-change="buy.changeToAmount()" name="form[to_amount]" type="text" class="browser-default display" style="background-image: url(img/logo/cryptocoins/DAX.png);">
                                                        <div style="opacity: 0; overflow: hidden; width: 0; height: 0; position: fixed;">
                                                            <p class="light" style="padding: 5px 0;">{{lang.receive_currency}}:</p>
                                                            <div id="select-currency-to" class="columnOf3 collection scroll-style-1 select-currency">
                                                                <div class="active">
                                                                    <span><img align="absmiddle" src="/img/logo/cryptocoins/DAX.png"> Dax</span>
                                                                    <p>
                                                                        <input name="form[currency_to]" type="radio" id="target_dax" value="DAX" checked />
                                                                        <label for="target_dax"></label>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="buy-rate" class="grey-text right-align">
                                                            <span class="rate-info2">1 DAX = {{view.info.dax_rate_current}} USDT</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="font-mini font-readonly">
                                                    * - <!--все расчеты являются примерными, точный курс покупки будет автоматически
                                                    рассчитан после подтверждения биткоин транзакции перевода.-->
                                                    {{lang.buy_calc_asterix}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- https://api.bitfinex.com/v1/trades/BTCUSD -->
                                        <!--Если у Вас нет Bitcoin, мы рекомендуем воспользоваться одним из способов его покупки:-->
                                        <!--
                                        <hr>
                                        <div>
                                            {{lang.if_you_not_btc}}
                                            <div style="margin: 1em 0 0 0;">
                                                &mdash; {{lang.buy_to}} <a href="https://localbitcoins.net/" target="_blank" class="underline">https://localbitcoins.net/</a>
                                                <div ng-if="buyincity.info.location">
                                                    &mdash; {{lang.for2}} {{buyincity.info.location}} {{lang.buy_accesed}}
                                                    <a href="#" class="underline" ng-click="buyincity.show()">{{lang.buy}}</a>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
