<div id="page-forpartner" class="row" ng-controller="forpartnerCtrl">

    <div ng-if="!app.is_logged" style="padding: 30px; text-align: center;">
        <!--Информация о парнерской программе доступна только авторизованным пользователям. Вы не авторизованы.-->
        {{lang.forpartner_disabled_for_noauth}}
        <div style="padding: 30px 0;">
            <a href="/login/" class="btn btn-primary">{{lang.login}}</a>
            <a href="/registration/" class="btn btn-primary">{{lang.registration}}</a>
        </div>
    </div>

    <div ng-if="app.is_logged">
        <!--Покупка билета GoldenDAX-->
        <form id="form-buy-goldendax" class="popup-form" data-title="{{lang.carrer_buy_biuing_process}}">
            <div class="popup-form-content">
                <!--{{career.buy.form}}-->
                <!-- 1/4 -->
                <div ng-if="!career.buy.form.plan_id">
                    <ul class="career_plan_list">
                        <li ng-repeat="plan in career.buy.plan_list" ng-click="career.buy.selectPlan(plan)" ng-class="{disabled: !plan.is_active}">
                            <h5>{{plan.title}}</h5>
                            <div class="desc">
                                {{plan.description}}
                            </div>
                            <a class="btn btn-primary" href="#"><!--Купить-->{{lang.buy}}</a>
                        </li>
                    </ul>
                </div>
                <!-- 2/4 -->
                <div ng-if="career.buy.form.plan_id && !career.buy.show_confirm">
                    <!--Выберите период-->
                    {{lang.carrer_buy_select_period}}:
                    <ul class="career_month_list">
                        <li ng-repeat="price in career.buy.price_list" ng-click="career.buy.selectPrice(price)" ng-class="{active: price.active}">
                            <span>
                                <input type="radio" id="{{price.id}}" style="position: inherit; opacity: inherit; pointer-events: inherit;">
                                {{price.title}} ... {{price.amount_usd | number}}$
                                <span ng-if="price.description" style="opacity: .4;">({{price.description}})</span>
                            </span>
                        </li>
                    </ul>
                    <div class="center-align">
                        <a href="#" class="btn btn-primary" ng-click="career.buy.showConfirm()" ng-class="{disabled: !career.buy.form.price_id}"><!--Купить-->{{lang.buy}}</a>
                    </div>
                </div>
                <!-- 3/4 -->
                <div ng-if="career.buy.show_confirm && !career.buy.wallet">
                    <div style="margin-bottom: 1em;">
                        <!--Вы покупаете билет GoldenDAX.-->
                        {{lang.carrer_buy_you}}
                        <div><strong>{{lang.carrer_buy_period}}:</strong> {{career.buy.getPrice().title}}</div>
                        <div><strong>{{lang.carrer_buy_price}}:</strong> {{career.buy.getPrice().amount_usd}} $</div>
                        <div ng-if="career.buy.getPrice().description">{{career.buy.getPrice().desc}}</div>
                        <div class="confirm-code">
            				<div ng-if="career.buy.telegram_exists">
				                <a href="#" class="btn btn-primary" ng-class="{loading: career.buy.loading, disabled: career.buy.loading}" ng-click="career.buy.telegramprepareconfirm()" style="margin-bottom: 10px;">{{lang.send_telegram_code}}</a>
	            				<div>{{lang.send_telegram_pin}}</div>
				            </div>
				            <div ng-if="career.buy.show_password">
					            <div>{{lang.enter_pwd_for_confirm}}</div>
					            <input type="password" ng-model="career.buy.form.password" autocomplete="new-password" placeholder="{{lang.enter_pwd}}">
				            </div>
				            <div ng-if="career.buy.show_telegram">
					            <div>{{lang.enter_telegram_pin}}</div>
					            <input ng-model="career.buy.form.pin" type="text">
					        </div>
				        </div>
                    </div>
                    <div class="center-align">
                        <a href="#" class="btn btn-primary" ng-click="career.buy.submit()" ng-class="{loading: career.buy.loading, disabled: !career.buy.form.price_id || (career.buy.form.password == '' && career.buy.form.pin == '')}"><!--Подтверждаю, перейти к оплате-->{{lang.carrer_buy_confirm}}</a>
                    </div>
                </div>
                <!-- 4/4 -->
                <div ng-if="!career.buy.loading && career.buy.wallet">
                    <div style="font-size: 150%;">
                        <div class="ext-info">
                            <!--Внимание! Необходимо приобрести и отправить именно столько BTC, сколько указано-->
                            {{lang.warning_buygoldendax_only_for_btc}}
                            <br>{{lang.warning_buygoldendax_only_for_btc2}} <strong>BTC</strong>,
                            {{lang.warning_buygoldendax_only_for_btc3}}
                        </div>
                        <span><!--Необходимо оплатить-->{{lang.need_paid}} <strong>{{career.buy.wallet.amount_format}}</strong> {{lang.to_address}}</span>
                        <input style="font-size: 110%; font-weight: bold; margin-bottom: 0" value="{{career.buy.wallet.address}}" id="resp_address" type="text" readonly style="background-color: transparent; border: none;" />
                        <!--Скопировать адрес-->
                        <div class="right-align"><a href="#" style="font-size: 80%;" onclick="return copyAddressToCB('resp_address');">{{lang.copy_address}}</a></div>
                        <div style="padding: 10px 0;">
                            <!-- Времени на выполнение операции -->
                            <strong>{{lang.operation_time_limit}}</strong>
                            <br><b id="resp_timeout_string">{{career.buy.wallet.timeout_string}}</b>
                        </div>
                        <div class="right-align blue-text">
                            <b id="resp_receive">{{career.buy.wallet.receive_text}}</b>
                        </div>
                    </div>
                    <div style="padding: 10px 0;" class="center-align">
                        <strong>{{lang.qr_code}}:</strong>
                        <div id="resp_qrcode_url" class="center-align">
                            <div class="img_shadow" class="center-align">
                                <img ng-src="{{career.buy.wallet.qrcode_url}}">
                            </div>
                        </div>
                    </div>
                    <p>
                        {{lang.need}}
                        <span id="resp_confirms_needed">{{career.buy.wallet.give}}</span>
                        {{lang.need_confirms}} {{career.buy.wallet.confirms_needed}}
                    </p>
                </div>
            </div>
            <div class="popup-form-content">
            </div>
        </form>

        <div class="row">
        
	        <div class="col col-12">
	            <div class="card">
	                <div class="card-body" style="border-radius: 15px;">
	                    <div class="center-align">
	                        <!--GoldenDAX-->
	                        <div ng-if="career.loading">
	                            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
	                        </div>
	                        <div ng-if="!career.loading">
	                            <div ng-if="career.current.length > 0">
	                                <!--Билет активен до-->
	                                <strong>{{lang.carrer_buy_active_until}}</strong>
	                                <ul class="active_goldendax_list">
	                                    <li ng-repeat="ticket in career.current"><span>{{ticket.title}}</span> {{ticket.dt_end | date_short}}</li>
	                                </ul>
	                                <a href="#" class="btn btn-primary" ng-click="career.buy.show()"><!--Продлить билет-->{{lang.carrer_buy_extend_ticket}}</a>
	                                <!--доступа в клуб GoldenDAX-->
	                                <!--<br>{{lang.carrer_buy_buy_ticket3}}-->
	                            </div>
	                            <div ng-if="career.current.length == 0">
	                                <!--У Вас нет клубного билета-->
	                                {{lang.carrer_buy_you_not_have}}
	                                <br><a href="#" class="underline" ng-click="career.buy.show()"><!--Купить билет-->{{lang.carrer_buy_buy_ticket}}</a>
	                                <!--для доступа в клуб GoldenDAX-->
	                                {{lang.carrer_buy_buy_ticket2}}
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
        </div>
    </div>

</div>