<div>

	<div class="emp-profile animated fadeIn">
		<div class="card">
        	<div class="card-header">
        		<h2>ИНФОРМАЦИЯ</h2>
        	</div>
            <div class="card-body">
                Раздел на обновлении!
            </div>
        </div>
    </div>
</div>