<!-- views -->
<div>
    <!-- Glav section -->
    <div class="glav-section select2">
        <div class="elision container row p-0 m-0"  ng-if="app.user.user_status_id != 1">
            <div ng-controller="headerCtrl" class="flex-grow-1 left-section row col-4 align-items-center p-0 m-0 menuVisable">
                <div class="logo mainMenu">
                    <div class="mobile-touch-menu"></div>
                </div>

                <!-- user -->
                <div class="user" ng-if="app.isLogged() && getStateName() != 'index_login'">
                    <div class="user-photo">
                        <div class="up-wrapper">
                            <img class="ava" ng-src="{{app.domains.avatar}}{{app.user.avatar_url[2]}}" ng-click="avatar.show()" style="cursor: pointer;">
                            <input type="file" style="display: none;" id="input-user-avatar" js-crop="" js-crop-callback="avatar.callback(ok, resp)" js-crop-title="{{lang.select_avatar}}">
                        </div>
                    </div>
                    <div class="user-subject" onclick="location.href='/user/'" >
                         {{app.user.fio}}
                        <span>{{view.info.user_career_title ? view.info.user_career_title : '&nbsp;'}}</span>
                    </div>
                    <div class="user-sur-nikname" onclick="location.href='/user/'" >
                        @{{app.user.user_login}}
                    </div>
                    <div class="user-id" onclick="location.href='/user/'" >
                        ID {{app.user.number}}
                    </div>
                    <div class="both">
                    </div>
                    <div class="user-complite-line">
                        <canvas class="complite-line" width="20" height="20"></canvas>
                        <canvas class="complite-line-1" width="20" height="20"></canvas>
                        <canvas class="complite-line-2" width="20" height="20"></canvas>
                        <canvas class="complite-line-3" width="20" height="20"></canvas>
                        <canvas class="complite-line-4" width="20" height="20"></canvas>
                        <canvas class="complite-line-5" width="20" height="20"></canvas>
                        <canvas class="complite-line-6" width="20" height="20"></canvas>
                        <canvas class="complite-line-7" width="20" height="20"></canvas>
                        <canvas class="complite-line-8" width="20" height="20"></canvas>
                        <canvas class="complite-line-9" width="20" height="20"></canvas>
                    </div>
                    <div class="progress" style="visibility:hidden">
                        [{"1","1","1","1","1","1","1","1","1","1"}]
                    </div>
                    <script type="text/javascript">
/*                        let progress = JSON.parse($('.progress').html());
                        for( var i; i < count(progress); i++) {
                            getCanvas('complite-line'+i, progress[i]);
                        }*/

                        getCanvas('complite-line');
                        getCanvas('complite-line-1');
                        getCanvas('complite-line-2');
                        getCanvas('complite-line-3');
                        getCanvas('complite-line-4');
                        getCanvas('complite-line-5');
                        getCanvas('complite-line-6');
                        getCanvas('complite-line-7');
                        getCanvas('complite-line-8');
                        getCanvas('complite-line-9');

                        function getCanvas(cls, noactive) {
                            const canvas = document.querySelector('.' + cls + '');
                            const width = canvas.width = 20;
                            const height = canvas.height = 20;
                            const ctx = canvas.getContext('2d');

                            ctx.fillStyle = noactive > 0 ? '#f8f8f8' : '#6f56a7';
                            ctx.fillRect(0, 0, width, height);
                        }
                    </script>

                    <div ng-if="app.user.is_verificated" class="user-status-verification">
                        Верифицирован
                    </div>
                </div>
                <!-- user end-->

                <!-- menus -->
                <ng-include src="'/app/views/left_menu.html'"></ng-include>

                <div class="both">
                </div>
                <div class="bottom-both-height-plus" style="height:400px;width: 100%;">
                    &nbsp;
                </div>
                <br>
                <br>
                <!-- menus end -->
                <!-- copyright -->
                <div class=copyright>
                    <div>© 2021, Elision Capital</div>
                    <div><a href="/copyright" style=""></a></div>
                </div>
                <!-- copyright end-->
            </div>

<!--            <div class="container" ng-if="app.user.user_status_id == 1">
                <div class="row">
                    <main id="main-index" class="col col-12" ui-view></main>
                </div>
            </div>-->

            <!--//////////////////-->

            <div ng-controller="indexCtrl" class="right-section col-8  showIndex" ng-if="app.user.user_status_id != 1">
                <!--/////////////////-->
                <main id="main-index" class="" ui-view></main>
            </div>
        </div>

    </div>
</div>

<div id="modalCtrl" ng-controller="modalCtrl">

    <form class="popup-form" id="form-jscrop" data-title="{{lang.select_avatar}}" style="width:450px;">
        <div class="popup-form-content" style="padding: 0; max-width: 100%;">
            <div style="color: #777; line-height: 1.3em; font-size: 12pt;">
                <div class="select_avatar_desc">
                    <!-- Ваш аватар будет доступен для просмотра всем посетителям. -->
                    {{lang.avatar_description}}
                </div>
                <div class="msgCrop">
                    <img src="#" class="target_avatar" />
                    <div class="btns">
                        <a class="scale_plus btn white grey-text" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="scale_minus btn white grey-text" href="#">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-form-footer">
            <div class="flex0 flex-between flex-wrap">
                <div>
                    <a class="btn btn-flat" onclick="return $(this).closest('.popup-form').data('JSCropHelper').selectAnotherPicture();">{{lang.select_another_picture}}</a>
                </div>
                <div>
                    <a class="btn" onclick="return $(this).closest('.popup-form').data('JSCropHelper').finish();">{{lang.save}}</a>
                </div>
            </div>
        </div>
    </form>

</div>