<div class="first-menu-section" ng-if="!app.isLogged()">
    <ul>
        <li ng-if="!app.isLogged()" onclick="location.href='/'">
            Главная
        </li>
        <li ng-if="!app.isLogged()" onclick="location.href='/login/'">
            Вход
        </li>
        <li ng-if="!app.isLogged()" onclick="location.href='/registration/'">
            Регистрация
        </li>
    </ul>
</div>
<div class="first-menu-section" ng-if="app.isLogged() && getStateName() != 'index_login'">
    <ul ng-if="app.user.user_status_id != 1">
        <li ng-class="{active: pages.isActive('index.user')}" onclick="location.href='/user/'" >
            профиль
        </li>
        <li ng-class="{active: pages.isActive('index.portfel')}" onclick="location.href='/portfel/'" >
            портфели
        </li>
        <li ng-class="{active: pages.isActive('index.myclients')}" onclick="location.href='/myclients/'">
            работа компании
        </li>
        <li ng-class="{active: pages.isActive('index.settings')}" onclick="location.href='/settings/'">
            безопастность
        </li>
        <li ng-class="{active: pages.isActive('index.career')}" onclick="location.href='/career/'">
            бонусы
        </li>
        <li ng-class="{active: pages.isActive('index.settings')}" onclick="location.href='/settings/'">
            настройки
        </li>
    </ul>
</div>
<div class="second-menu-section" ng-if="app.isLogged() && getStateName() != 'index_login'" >
    <ul ng-if="app.user.user_status_id != 1">
        <li ng-class="{active: pages.isActive('index.material')}"onclick="location.href='/material/'">
            статьи
        </li>
        <li onclick="location.href='/'">
            биржа обмена
        </li>
        <li ng-class="{active: pages.isActive('index.team')}" onclick="location.href='/team/'">
            live
        </li>
    </ul>
</div>
<div class="second-menu-section">
    <ul ng-if="app.user.user_status_id != 1">
        <li ng-class="{active: pages.isActive('index.wallet')}" ng-click="app.logout()">
            Выйти
        </li>
    </ul>
</div>
