<div ng-controller="loginCtrl" class="center-form py-5">

    <ng-include src="'app/views/inc/social_forms.html'"></ng-include>

    <div style="width: 400px; max-width: 80%; margin: auto;">
        <div class="page-wrap">
            <div class="p-front__content">
                <div class="p-signin">
                    <form id="form-login" class="p-signin__form animated fadeInRight">
                        <h5 class="p-signin__form-heading">{{lang.login}}</h5>
                        <div class="p-signin__form-content">
                            <!-- ng-if="!in_system" -->
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <!-- <label for="p-signin-work-email">{{lang.email}}</label> -->
                                    <input type="text" ng-model="form.email" my-enter="sendtelegrampin()" ng-change="reset()" class="browser-default form-control" id="p-signin-work-email" placeholder="{{lang.phone_or_email}}">
                                </div>
                            </div>
                            <div class="row" ng-if="!show_sendtelegrampin" style="text-align: right; ">
                                <div class="form-group col-md-12">
                                    <!-- <label for="p-signin-set-password">{{lang.pwd}}</label> -->
                                    <div ng-if="show_telegram">
			                            <input ng-model="form.pin" my-enter="loginbypin()" type="text" class="browser-default form-control" id="p-signin-set-pin"  placeholder="{{lang.enter_code}}">
			                            {{lang.login_enter_telegram_pin}}
			                        </div>
                                    <div ng-if="show_password">
                                    	<input type="password" ng-model="form.password" my-enter="login()" class="browser-default form-control" id="p-signin-set-password" placeholder="{{lang.pwd}}">
                                    </div>
                                    
                                </div>
                            </div>
                            <div>
                            	<div ng-if="show_password">
	                                <button type="button" ng-click="login()" class="btn btn-primary btn-sm p-signin__form-submit" ng-class="{loading: loading}">
	                                    {{lang.logining}}<i ng-if="loading" class="fal fa-spinner fa-spin" style="margin-left: .25em;"></i>
	                                </button>
                                </div>                                
		                        <div ng-if="show_sendtelegrampin" style="text-align: right; ">
		                            <button type="button" ng-click="sendtelegrampin()" class="btn btn-primary btn-sm p-signin__form-submit" ng-class="{loading: loading}">
		                                Далее<i ng-if="loading" class="fal fa-spinner fa-spin" style="margin-left: .25em;"></i>
	                                </button>
		                        </div>
		                        <div ng-if="show_telegram">
                        			<button type="button" ng-click="loginbypin()" class="btn btn-primary btn-sm p-signin__form-submit" ng-class="{loading: loading}">
                        			    {{lang.logining}}<i ng-if="loading" class="fal fa-spinner fa-spin" style="margin-left: .25em;"></i>
	                                </button>
		                        </div>
                                
                            </div>
                            <div class="p-signin__form-links">
                                <div class="p-signin__form-link" style=" text-align: end; margin-right: 17px; ">
                                    <!--<br><label>{{lang.you_not_have_account}}</label>
                                    <br>--><a ng-click="pages.gotoURL('index.registration')" ng-href="#" class="btn btn-secondary btn-sm">{{lang.reg}}!</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="p-signin__form-content text-center" ng-if="in_system">
                            <div class="font-mini">Вы уже зарегистрированы на одном из сайтов компаний партнеров (Trustera, ПроАвто)
                            <br>Для входа необходимо подключить нашего Телеграм бота Golden DAX</div>
                            <div style="margin-top:10px;">
                                <a class="btn btn-small btn-primary btn-block flex-center" ng-click="openTelegram()" style="color:white;">Открыть в Телеграм</a>
                            </div>
                            <div style="margin-top:10px;">Если кнопка не работает, то найдите вручную в Телеграм бота <strong>@goldendaxbot</strong></div>
                        </div> -->
                        <ng-include src="'app/views/inc/social_links.html'"></ng-include>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>