<div id="page-myclients" ng-controller="myclientsCtrl" ng-init="myclients.init()">

    <div class="emp-profile animated fadeIn">
        
        <form id="form-addlead" class="popup-form animated zoomIn form-lead" data-title="Добавить лид" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                <input type="text" placeholder="Имя и Фамилия" ng-model="lead.form.fio">
                <input type="text" placeholder="Номер телефона" ng-model="lead.form.phone">
                <textarea placeholder="Комментарий" ng-model="lead.form.comment"></textarea>
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead.addlead()" ng-class="{disabled: !lead.addLeadIsOK(), loading: lead.loading}">Добавить</a>
            </div>
        </form>
    	
    	<form id="form-addleadduplicated" class="popup-form animated zoomIn form-lead" data-title="Внимание" style="max-width: 350px;width: 100%;">
            <div class="popup-form-content">
                Данный лид уже зарегистрирован в системе
            </div>
            <div class="popup-form-footer">
                <a href="#" class="btn btn-primary" ng-click="lead.hideForm()">ОК</a>
            </div>
        </form>
                
        <form id="form-webinarlinks" class="popup-form animated zoomIn form-lead" data-title="Реферальные ссылки" style="max-width: 550px;width: 100%;">
            <div class="popup-form-content">
                <div class="myclients-methods-list">
                    <div class="myclients-methods-list-item">
                        <div class="h">
                            <strong>1</strong>
                            Ссылка #1
                        </div>
                        <div class="v">
                            <input type="text" class="form-control" value="https://trustera.global/r/{{app.user.user_login}}/" readonly>
                        </div>
                    </div>
                    <div class="myclients-methods-list-item">
                        <div class="h">
                            <strong>2</strong>
                            Ссылка #2
                        </div>
                        <div class="v">
                            <input type="text" class="form-control" value="https://trustera.global/r/{{app.user.user_login}}/" readonly>
                        </div>
                    </div>
                    <div class="myclients-methods-list-item">
                        <div class="h">
                            <strong>3</strong>
                            Ссылка #3
                        </div>
                        <div class="v">
                            <input type="text" class="form-control" value="https://trustera.global/r/{{app.user.user_login}}/" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        

        <!-- Как работать с разделом? -->
        <form id="form-how_work_with_clients" class="popup-form animated zoomIn" data-title="Как работать с разделом?">
            <div class="popup-form-content">
                Как работать с разделом?
            </div>
        </form>

        <!-- Инструкция по работе с заявками -->
        <form id="form-leadInstruction" class="popup-form animated zoomIn" data-title="Инструкция по работе с заявками">
            <div class="popup-form-content">
                Инструкция по работе с заявками
            </div>
        </form>

        <div ng-if="requests.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <!-- Свои условия -->
        <form id="form-repsonalConditions" class="popup-form animated zoomIn" data-title="Свои условия (Рубль)">
            <div class="popup-form-content">
	            <div class="mb-3">
	                <label>Желаемая сумма</label>
	                <br><strong>{{requests.repsonalConditions.item.dream_calc_history.need_amount | mycurrency:0}}</strong>
	            </div>
	            <div class="mb-3">
	                <label>Единоразовое получение средств</label>
	                <br><strong>{{requests.repsonalConditions.item.dream_calc_history.amount_one_time_withdrawal | mycurrency:0}}</strong>
	            </div>
	            <div class="mb-3">
	                <label>Доход в месяц после получения</label>
	                <br>
	                <strong ng-if="requests.repsonalConditions.item.dream_calc_history.amount_one_time_withdrawal == null">0</strong>
	                <strong ng-if="requests.repsonalConditions.item.dream_calc_history.amount_one_time_withdrawal">{{(requests.repsonalConditions.item.dream_calc_history.need_amount - requests.repsonalConditions.item.dream_calc_history.amount_one_time_withdrawal) * 0.04 | mycurrency:0}}</strong>
	            </div>
	            <div class="mb-3">
	                <label>Срок накопления (месяцев)</label>
	                <br><strong>{{requests.repsonalConditions.item.dream_calc_history.months | number:0}}</strong>
	            </div>
	            <div class="mb-3">
	                <label>Сколько готов откладывать каждый месяц</label>
	                <br><strong>{{requests.repsonalConditions.item.dream_calc_history.amount_monthly_invest | mycurrency:0}}</strong>
	            </div>
	            <div class="mb-3">
	                <label>Необходимая сумма для старта</label>
	                <br><strong>{{requests.repsonalConditions.item.dream_calc_history.amount_need_invest | mycurrency:0}}</strong>
	            </div>
            </div>
        </form>

        <div class="card" >
            <div class="card-header">
                <h2>Работа с клиентами</h2>
                <a href="#" ng-click="openHowWorkWithClients()"><i class="fal fa-question-circle"></i> Как работать с разделом?</a>
            </div>
            <div class="card-body" style="background-color: #33353d">
                <div class="animated fadeIn" ng-if="!requests.loading">
                    <!-- Методы сбора лидов trustera-->
                    <div id="myclients-methods" class="card mb-4" ng-class="{'card-collapsed': !methods.no_collapsed}">
                        <div class="card-header d-flex">
                            <span class="text-gold">МЕТОДЫ СБОРА ЛИДОВ TRUSTERA</span>
                            <span class="btn p-0" ng-click="methods.collapse()">
                                <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="myclients-methods-list">
                                <div class="myclients-methods-list-item mb-2 bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">01</p>
                                            <p class="fs-text color-text ml-2 my-auto">Реферальная ссылка на главную страницу Trustera</p>
                                        </div>
                                        <div class="v flex0 ml-auto mw-100 my-2" style="height: 40px">
                                            <input type="text" class="form-control flat-right" id="inp-reflink" value="https://trustera.global/r/{{requests.user_login_trustera}}/" readonly>   <!--app.user.user_login requests.user_login_gd-->
                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-reflink');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="myclients-methods-list-item mb-2 bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">02</p>
                                            <p class="fs-text color-text ml-2 my-auto ">Реферальная ссылка на страницу регистрации Trustera</p>
                                        </div>
                                        <div class="v flex0 ml-auto mw-100 my-2" style="height: 40px">
                                            <input type="text" class="form-control flat-right" id="inp-reflinkgd" value="https://trustera.global/ref/{{requests.user_login_trustera}}/" readonly>   <!--app.user.user_login requests.user_login_gd-->
                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-reflinkgd');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="myclients-methods-list-item d-block mb-2 bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">03</p>
                                            <p class="fs-text color-text ml-2 my-auto ">Сбор заявок через ссылку на проект "Мечта"</p>
                                        </div>
                                        <div class="ml-auto my-auto flex0 flex-center btn btn-primary accordion-btn-1 collapsed" data-toggle="collapse" data-target="#accordion-profit-trustera" style="width: 242px">Получить ссылку</div>
                                        <div class="ml-auto my-auto flex0 flex-center btn btn-secondary accordion-btn-2 collapsed" data-toggle="collapse" data-target="#accordion-profit-trustera" style="width: 242px">Свернуть</div>
                                    </div>
                                    <div class="collapse" id="accordion-profit-trustera" style="background-color: #23242a"> 
                                        <div class="row field-row m-0 color-text" style="margin-bottom: 0;">
                                             <div class="fs-text overflow-hidden pt-0 px-2 w-100">
                                                <div class="myclients-methods-list">
                                                    <hr class="hr-dream mt-0">
                                                    <div class="myclients-methods-list-item">
                                                        <div class="col-md-6 col-12 p-0 mb-md-0 mb-2">
                                                            КАЛЬКУЛЯТОР
                                                        </div>
                                                        <div class="v flex0 ml-auto">
                                                            <input type="text" class="form-control flat-right" id="inp-calc" value="https://dream.trustera.global/calc/{{app.user.user_login}}" readonly>    
                                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-calc');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-dream">
                                                    <div class="myclients-methods-list-item">
                                                        <div class="col-md-6 col-12 p-0 mb-md-0 mb-2">
                                                            ДЛЯ ПУТЕШЕСТВЕННИКОВ
                                                        </div>
                                                        <div class="v flex0 ml-auto">
                                                            <input type="text" class="form-control flat-right" id="inp-aroundtheworld" value="https://dream.trustera.global/landing/r/aroundtheworld/{{app.user.user_login}}" readonly>
                                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-aroundtheworld');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-dream">
                                                    <div class="myclients-methods-list-item">
                                                        <div class="col-md-6 col-12 p-0 mb-md-0 mb-2">
                                                            ДЛЯ ДОСТОЙНОЙ СТАБИЛЬНОЙ ЖИЗНИ
                                                        </div>
                                                        <div class="v flex0 ml-auto">
                                                            <input type="text" class="form-control flat-right" id="inp-stability" value="https://dream.trustera.global/landing/r/stability/{{app.user.user_login}}" readonly>
                                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-stability');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-dream">
                                                    <div class="myclients-methods-list-item">
                                                        <div class="col-md-6 col-12 p-0 mb-md-0 mb-2">
                                                            ОБРАЗОВАНИЕ
                                                        </div>
                                                        <div class="v flex0 ml-auto">
                                                            <input type="text" class="form-control flat-right" id="inp-education" value="https://dream.trustera.global/landing/r/education/{{app.user.user_login}}" readonly>
                                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-education');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-dream">
                                                    <div class="myclients-methods-list-item">
                                                        <div class="col-md-6 col-12 p-0 mb-md-0 mb-2">
                                                            ПЕРЕЕЗД В ДРУГУЮ СТРАНУ
                                                        </div>
                                                        <div class="v flex0 ml-auto">
                                                            <input type="text" class="form-control flat-right" id="inp-relocate" value="https://dream.trustera.global/landing/r/relocate/{{app.user.user_login}}" readonly>
                                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-relocate');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-dream">
                                                    <div class="myclients-methods-list-item">
                                                        <div class="col-md-6 col-12 p-0 mb-md-0 mb-2">
                                                            ДЛЯ ЛЮКСОВОЙ ЖИЗНИ
                                                        </div>
                                                        <div class="v flex0 ml-auto">
                                                            <input type="text" class="form-control flat-right" id="inp-luxe" value="https://dream.trustera.global/landing/r/luxe/{{app.user.user_login}}" readonly>
                                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-luxe');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-dream mb-0">
                                                </div>
                                            </div>
                                        </div>                                          
                                    </div>
                                </div> -->
                                <!--<div class="myclients-methods-list-item">
                                    <div class="h">
                                        <strong>3</strong>
                                        Приглашение на вебинар
                                    </div>
                                    <div class="v">
                                        <a class="btn btn-primary" href="#" ng-click="startWebinar.open()">Получить ссылку</a>
                                    </div>
                                </div>-->
                                <!-- <div class="myclients-methods-list-item mb-2 bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">03</p>
                                            <p class="fs-text color-text ml-2 my-auto ">Приглашение на мероприятие Golden DAX</p>
                                        </div>
                                        <a class="ml-auto my-auto btn btn-primary flex0 flex-center" style="width: 242px" href="/events/">Выбрать мероприятие</a>
                                    </div>
                                </div> -->

                                <!-- <div class="myclients-methods-list-item bg-main" >
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">04</p>
                                            <p class="fs-text color-text ml-2 my-auto ">Реферальная ссылка Golden DAX</p>
                                        </div>
                                        <div class="v flex0 ml-auto my-2 mw-100" style="height: 40px">
                                            <input type="text" class="form-control flat-right" id="inp-reflinkgd" value="https://goldendax.club/r/{{app.user.user_login}}/" readonly>

                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-reflinkgd');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Методы сбора лидов проавто-->
                    <!-- <div id="myclients-methods" class="card mb-4" ng-class="{'card-collapsed': methodproauto.no_collapsed}" ng-if="app.user.proauto_car_id">
                        <div class="card-header d-flex">
                            <span class="text-gold">МЕТОДЫ СБОРА ЛИДОВ ПРОАВТО</span>
                            <span class="btn p-0" ng-click="methodproauto.no_collapsed = !methodproauto.no_collapsed">
                                <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="myclients-methods-list"> -->
                                <!--<div class="myclients-methods-list-item mb-2 bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">01</p>
                                            <p class="fs-text color-text ml-2 my-auto">Реферальная ссылка на главную страницу</p>
                                        </div>
                                        <div class="v flex0 ml-auto mw-100 my-2" style="height: 40px">
                                            <input type="text" class="form-control flat-right" id="inp-reflink-proauto" value="https://proauto.io/rpro/70" readonly>
                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-reflink-proauto');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- <div class="myclients-methods-list-item bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">01</p>
                                            <p class="fs-text color-text ml-2 my-auto ">Реферальная ссылка ПроАвто</p>
                                        </div>
                                        <div class="v flex0 ml-auto my-2 mw-100" style="height: 40px">
                                            <input type="text" class="form-control flat-right" id="inp-reflink-proauto" value="https://proauto.io/rpro/{{app.user.proauto_car_id}}" readonly>

                                            <div class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-reflink-proauto');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                        <!-- методы сбора проавто -->
                    <div class="card mb-4" ng-class="{'card-collapsed': !methodspro.no_collapsed}">
                        <div class="card-header d-flex">
                            <span class="text-gold">МЕТОДЫ СБОРА ЛИДОВ ПРОАВТО</span>
                            <span class="btn p-0" ng-click="methodspro.collapse()">
                                <i class="fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="myclients-methods-list">
                                <div class="myclients-methods-list-item mb-2 bg-main">
                                    <div class="flex0 flex-wrap px-2 pb-md-0 pb-2 w-100">
                                        <div class="flex0 col-md-5 col-10 p-0">
                                            <p class="m-0" style="font-size: 30px; min-width: 45px; border-right: 1px solid #42454e">01</p>
                                            <p class="fs-text color-text ml-2 my-auto">Реферальная ссылка на главную страницу</p>
                                        </div>
                                        <div class="v flex0 ml-auto mw-100 my-2" style="height: 40px">
                                            <input ng-if="requests.user_login_proauto" type="text" class="form-control flat-right" style="color:#c9ccd0;" id="inp-reflink-proauto" value="https://proauto.pro/r/{{requests.user_login_proauto}}" readonly>   <!-- app.user.user_login -->
                                            <div ng-if="requests.user_login_proauto" class="copy-div cpointer rounded-right flex0 flex-center" style="background-color: #bda076" onclick="return copyAddressToCB('inp-reflink-proauto');"><i class="bx bx-copy text-white fa-lg px-2"></i></div>
                                       
                                            <input ng-if="requests.not_user_login_proauto" style="border-radius: 10px !important;" type="text" class="form-control flat-right" style="color:#c9ccd0;" id="inp-reflink-proauto2" value="Не зарегистрирован"  readonly>   
                                        </div>
                                    </div>
                                </div>                         
                            </div>
                        </div>
                    </div>


                    <!-- Необработанные заявки -->
                    <!-- <div id="myclients-requests" class="card mb-4">
                        <div class="card-header flex-wrap">
                            <div>
                                <h2>Заявки с проекта "Мечта"</h2>
                            </div>
                            <div>
        	                    <div>
        	                        Всего получено заявок: {{requests.total_count}}
        	                    </div>
        	                    <div>
        	                        Необработанные заявки: {{requests.inwork.list.length}}
        	                    </div>
                            </div>
                            <div class="text-muted mt-2" style="line-height: normal; font-size: 1.2em;">
                                Заявки с проекта "Мечта" сначала попадают в этот список и требуют молниеносной обработки.
                                Мы рекомендуем обрабатывать их в течение 10 минут!
                                Чем больше проходит времени, тем ниже будет конверсия.
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mt-4 mb-4 text-center text-muted" ng-if="requests.inwork.list.length == 0">
                                Заявок пока нет
                            </div>
                            <div class="myclients-requests-list" ng-if="requests.inwork.list.length > 0">
                                <div class="myclients-requests-item" ng-repeat="item in requests.inwork.list">
                                    <div class="h">
                                        <div class="flex0 flex-center">
                                            <strong class="item-number">{{$index + 1}}</strong>
                                            <span>
                                                {{item.fio}}
                                                <br><span ng-if="item.age" class="text-muted">{{item.age}} лет</span>
                                            </span>
                                        </div>
                                        <div class="flex0 flex-center flex-space-between">
                                            <span class="item-dt text-muted">{{item.dt | datetime}}</span>
                                            <span class="item-elapsed">04:23</span>
                                            <span class="btn btn-secondary" href="#" ng-click="item.collapsed = !item.collapsed">
                                                <span ng-if="item.collapsed"><i class="fas fa-chevron-circle-down"></i> Подробнее</span>
                                                <span ng-if="!item.collapsed"><i class="fas fa-chevron-circle-up"></i> Подробнее</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="v" ng-show="!item.collapsed">
                                        <span class="text-muted">Выбранная мечта:</span> <strong>{{item.dream.target}}</strong>
                                        <div>{{item.target_dream}}</div>
                                        <a href="#" ng-if="item.dream_calc_history" class="btn btn-primary" ng-click="requests.repsonalConditions.open(item)">Свои условия</a>
                                        <div class="mt-4 mb-2">
                                            <span class="text-muted">Комментарий:</span>
                                            <div>{{item.message}}</div>
                                        </div>
                                        <div class="mt-4 mb-2">
                                            <strong>{{item.phone}}</strong>
                                            <span class="ml-2 mr-2">
                                                <i class="fab fa-whatsapp"></i>
                                                <i class="fab fa-telegram"></i>-- >
                                            </span>
                                            <span class="text-muted" ng-if="item.phone_provider">{{item.phone_provider}}</span>
                                            <div ng-if="item.dream.instagram">
                                                <a target="_blank" ng-href="https://www.instagram.com/{{item.dream.instagram}}/">
                                                {{item.instagram}}
                                                <i class="fab fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!--<div class="mt-4 mb-2">
                                            <span class="text-muted">IP:</span> <strong>{{item.ip}}</strong>
                                            <br><span class="text-muted">Браузер:</span> <strong>{{item.browser}}</strong>
                                            <br><span class="text-muted">Местоположение (автоопределение):</span> <strong>{{item.location}}</strong>
                                        </div> -- >
                                       <div class="mt-4 mb-2">
                                            <span class="btn btn-success mr-2" ng-click="requests.inwork.addLead(item)">Обработана</span>
                                            <span class="btn btn-danger" ng-click="requests.inwork.deleteItem(item)">Удалить заявку</span>
                                            <div class="mt-2 mb-2 text-muted" style="line-height: normal;">
                                                Прежде чем нажать на кнопку обязательно свяжитесь с клиентом!
                                                Пользуйтесь <a href="#" class="font-underline" ng-click="openLeadInstruction()">инструкцией</a> по работе с заявками.
                                                <br>Нажатие кнопки добавляет человека в лиды с касанием в виде звонка.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="animated fadeIn" >
                        <div class="card" ng-class="{'card-collapsed': lead.no_collapsed}">
                            <div class="card-header p-0 flex0" style="height: 50px;border: none;">
                                <div class="btn-group btn-group-toggle h-100 w-100" data-toggle="btn">
                                    <a href="/myclients/" class="flex0 flex-center btn radio-btn--gold px-sm-2 px-1 active">Лиды</a>
                                    <a href="/lead/list/" class="flex0 flex-center btn radio-btn--gold px-sm-2 px-1">Контакты</a>
                                    <a href="/lead/archive/" class="flex0 flex-center btn radio-btn--gold px-sm-2 px-1">Архив</a>
                                    <div class="radio-btn--gold flex-grow-0 px-0">
                                        <span class="btn py-0 flex0 h-100 px-sm-3 px-2" ng-click="lead.no_collapsed = !lead.no_collapsed" style="border-left: transparent;">
                                            <i class="my-auto fal fa-angle-up ml-auto fa-2x chevron" style="color: #bda076"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="padding-top: 0;" ng-init="lead.load()">
                                <!-- <div style="background-color: #343740;border: none;padding-bottom: 0;align-items: center;color: white;padding: .75rem 0 0 0;">
                                    <h5 style="margin: 0;">Прирост лидов</h5>
                                </div>
                                <div class="card no-shadow">
                                    <div class="card-content">
                                        <div class="row" style="margin-bottom: 0;">
                                            <div class="col col-12">    
                                                <div style="display: flex;justify-content: flex-end;">
                                                    <strong style="font-size: 1.3em;">{{lead.cur_cnt}} лид(ов)</strong>
                                                </div>                                        
                                                <div id="lead-grow-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
                                            </div>
                                            <div class="col col-12">
                                                <div style="background: #3f424c;">
                                                    <div style="padding-left: 15px;padding-top: 10px;">
                                                        <a href="#" class="btn btn-chart" ng-click="lead.setPieSeriesData('week')" ng-class="{active: lead.pie_interval == 'week'}">неделя</a>
                                                        <a href="#" class="btn btn-chart" ng-click="lead.setPieSeriesData('month')" ng-class="{active: lead.pie_interval == 'month'}">месяц</a>
                                                        <a href="#" class="btn btn-chart" ng-click="lead.setPieSeriesData('year')" ng-class="{active: lead.pie_interval == 'year'}">год</a>
                                                        <a href="#" class="btn btn-chart active" ng-click="lead.setPieSeriesData('all')" ng-class="{active: lead.pie_interval == 'all'}">все время</a>
                                                    </div>
                                                    <div id="lead-pie-chart" style="max-width: 100%; height: 305px; margin: 0 auto"></div>
                                                </div>
                                            </div>                              
                                        </div>
                                    </div>
                                </div> -->
                                <div class="card" style="padding-top: 1.25rem;">
                                    <div class="card-body" style="border-radius: 15px;padding: 0;">
                                        <div class="card no-shadow">
                                            <div class="card-content">
                                                <div class="row" style="margin-bottom: 0;">
                                                    <div class="col col-12" style="display: flex;margin-bottom:20px;">
                                                        <input type="text" placeholder="Поиск" ng-model="lead.fio">
                                                        <a href="#" class="btn btn btn-primary" ng-click="lead.openAddLead()">Добавить лида</a>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped my-responsive-table table-overflow-lid">
                                                        <thead>
                                                            <tr>
                                                                <th class="table-padding-lid">Имя пользователя</th>
                                                                <th class="table-padding-lid">Источник лида</th>
                                                                <th class="table-padding-lid">Статус лида</th>
                                                                <th class="table-padding-lid">Дата и время</th>
                                                                <th class="table-padding-lid" style="border-right: none;"></th>
                                                                <th class="table-padding-lid" style="border-left: none;"></th>
                                                            </tr>
                                                        </thead>
                                                            <tbody ng-repeat="item in lead.data.grow | filter: search ">
                                                                <tr>
                                                                    <td class="table-padding-lid" ng-class="{'comment-bottom': item.comment}"><a href="/lead/view/{{item.id}}/">{{item.fio}}</a></td>
                                                                    <td class="text-center table-padding-lid">{{item.lead_source_title}}</td>
                                                                    <td class="text-center table-padding-lid">{{item.lead_status_title}}</td>
                                                                    <td class="text-center table-padding-lid">{{item.dt | date_dmy_hm}}</td>
                                                                    <td class="text-center table-padding-lid" style="border-right: none;">
                                                                    	<img ng-if="item.lead_source_id != 7" src="/assets/img/logo/trustera.png" alt="Trustera" style="max-height: 30px;">
		                        										<img ng-if="item.lead_source_id == 7" src="/assets/img/logo/proauto_mini.png" alt="ПроАвто" style="max-height: 30px;">
                                                                    </td>
                                                                    <td class="text-center table-padding-lid" style="border-left: none;">
                                                                        <a title="В архив" style="color: #bda076;" href="#" ng-click="lead.setisarch(item)"><i class="far fa-trash-alt"></i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="item.comment" class="comment-top">
                                                                    <td colspan="6" style="border-top: none;word-break: break-word;font-style: italic;color: slategray; white-space: pre-wrap;">{{item.comment}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </a>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
