
<div class="logo">
    <div class="mobile-touch-menu"></div>
</div>
<script>

    od = new Date(),
        year = od.getFullYear(),
        month = od.getMonth() + 1,
        day = od.getDate(),
        hours = od.getHours(),
        minutes = od.getMinutes(),
        seconds = od.getSeconds();
    tm = "Сейчас " + hours + ":" + ((minutes>10) ? minutes : '0' + minutes) + ", " + ((day>10) ? day : '0' + day) + "." + ((month>10) ? month : '0' + month) + "." + year + "";
    $('.time').html(tm);

    // let name = new Array();
    //$('.name').html(name[1]);
</script>
<div class="container row p-0 m-0" ng-init="wallet.open()">
    <div ng-if="wallet.loading" class="w-100">
        <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
    </div>

    <div class="header pb-3 mb-3 align-items-right mr-0">
        <div class="hellow-block float-left">
            <p class="hello-message"> С возвращением, <span class="name">{{app.user.fio}}</span></p>
            <span class="time">Сейчас 09:37, 09.03.2021</span>
        </div>
        <button ng-click="app.logout()" class="top-exit-button float-right"/>
        <!--
                <div ng-repeat="item in app.languages">
                    {{item.code}}
            <button onclick="windows.reload()" class="toggle-top-language en float-right" ng-click="changeLang(item.code)" title="{{app.language.title}}"/>
            <button onclick="windows.reload()" class="toggle-top-language ru float-right" ng-click="changeLang(item.code)" title="{{app.language.title}}"/>
        </div> -->
    </div>
    <div class="dashboard-section mb-3 w-100 h-100 row">
        <div class="left mt-3 col-5 p-0 m-0">
            <div class="yours-balance height-85 ml-5 mt-4" ng-if="!walletpage.is_closed">
                <p class="mb-1">Ваш {{lang.wallet_total_balance}}</p>
                <span class="balance color">
                                    {{walletpage.data.total_amount / BTC_SATOCHI | mycurrency:2}} $
                </span>
            </div>
            <div class="base-company-balance height-165 ml-5 mt-4">
                <div ng-repeat="item in walletpage.list.main">
                    <p class="mb-1">{{lang.checking_account}}</p>
                    <span class="balance" data-total_amount="{{walletpage.data.total_amount / BTC_SATOCHI }}" data-balance="{{item.amount / BTC_SATOCHI}}">
                                        {{item.amount / BTC_SATOCHI | mycurrency:2}} $
                                    </span>
                    <div class="both"></div>

                    <div ng-if="walletView.wallet" style="padding-top: 20px;">
                        <!--<div class="flex0 flex-space-between">
                            <a href="#" class="btn" ng-click="actions.toggle()">Действия со счётом</a>
                        </div>-->
                        <div id="wallet-actions" _ng-i_f="actions.visible" class="card animated pulse">
                            <div class="card-content">
                                <div class="buttons" style="justify-content: center;">
                                    <!--Для расчётного счёта-->
                                    <div ng-if="walletView.wallet.dax_wallet_type_id == 1">
                                        <!--<a href="#" class="btn" ng-click="createInvest.open()">{{lang.create_invest_btn}}</a>-->
                                        <a href="/wallet/{{walletView.wallet.number}}/buy/" style="border-radius: 30px 0px 0px 30px;" class="btn btn-wallet" n_g-click="buy.showBuyCalc()">{{lang.refill}}</a>
                                        <!--Перевод-->
                                        <a href="#" class="btn btn-wallet" style="border-radius: 0px;" ng-click="createTransfer.open()">{{lang.transfer}}</a>
                                        <!--<a href="#" class="btn" ng-click="withdrawal.open()">{{lang.withdrawal}}</a>-->
                                        <a href="/wallet/{{walletView.wallet.number}}/withdraw/" style="border-radius: 0px 30px 30px 0px;" class="btn btn-wallet">{{lang.withdrawal}}</a>
                                    </div>
                                    <!--Для инвестиционных счетов-->
                                    <div ng-if="walletView.wallet.dax_wallet_type_id == 2">
                                        <!--<a href="#" class="btn disabled" ng-click="increaselimit.open(walletView.wallet)" ng-class="{disabled: !walletView.wallet.can_prolong}">Увеличить лимит</a>-->
                                        <!--<a href="#" class="btn" ng-click="prolongInvest.open()" ng-class="{disabled: !walletView.wallet.can_prolong}">Продлить счёт</a>-->
                                        <!--<br>до {{walletView.wallet.possible_new_unlock_dt | datetime}}-->
                                    </div>
                                    <div ng-if="walletView.wallet.dax_wallet_type_id == 2">
                                        <!--<a href="#" class="btn" ng-click="closeInvest.open()" ng-class="{disabled: walletView.wallet.is_locked || walletView.wallet.amount <= 0}">Закрыть счёт</a>-->
                                        <!--Пополнить счёт-->
                                        <a href="#" class="btn btn-wallet" ng-click="paidInvest.open()">{{lang.wallet_up}}</a>
                                        <a ng-class="{disabled: walletView.wallet.unlocked_amount_usd < 1 || walletView.wallet.amount <= 0 || investToMain.wallet.need_recalc_profit || investToMain.loading, loading: investToMain.loading}" href="#" class="btn btn-wallet" ng-click="investToMain.open(walletView.wallet)">{{lang.move_from_partner_to_main}}</a>
                                        <!--<p ng-if="investToMain.wallet.need_recalc_profit" style="text-align: center; line-height: 1.2em; font-size: 11pt;">
                                            {{lang.error_need_recalc_profit}}
                                            <br><span>
                                                <a href="#" class="btn" ng-class="{loading: investToMain.loading, disabled: investToMain.loading || !investToMain.wallet.need_recalc_profit}" ng-click="investToMain.calcProfitAndPartner(investToMain.wallet.id)">Рассчитать</a>
                                            </span>
                                        </p>-->
                                        <!--Доп. условия-->
                                        <a ng-if="walletView.wallet.dax_wallet_trust_settings" href="#" class="btn btn-wallet" ng-click="trustSettings.open()">{{lang.wallet_extended_conditions}}</a>
                                    </div>
                                    <!--Partner-->
                                    <div ng-if="walletView.wallet.dax_wallet_type_id == 3">
                                        <a ng-if="walletView.wallet.dax_wallet_type_id == 3" ng-class="{disabled: item.amount < 1 || partnerToMain.loading, loading: partnerToMain.loading}" href="#" class="btn btn-wallet" ng-click="partnerToMain.open(walletView.wallet)">{{lang.move_from_partner_to_main}}</a>
                                    </div>
                                </div>
                                <!--Invest-->
                                <!--<div ng-if="walletView.wallet.dax_wallet_type_id == 2" class="font-mini font-readonly" style="padding-top: 10px;">
                                    Имейте ввиду, что инвестиционный счет нельзя пополнить. Чтобы отправить средства в работу создайте новый счет.
                                </div>-->
                                <div class="flex0 flex-space-between" ng-if="walletView.wallet && walletView.wallet.debt && walletView.wallet.debt.amount_remain > 0" style="margin-top: 10px; line-height: 1.1em; color: #cd3538;">
                                    <div>
                                        <i class="fal fa-exclamation-triangle"></i>
                                        {{lang.unpaid_installment_amount}}
                                        <strong class="text-nowrap">{{walletView.wallet.debt.amount_remain / BTC_SATOCHI | mycurrency:2}} USDT</strong>
                                        <div class="font-mini" style="line-height: 1.2em; margin-top: 5px; color: #282828;">{{lang.in_payment_by_installments}} {{walletView.wallet.debt.paid_profit_percent}}% {{lang.of_the_total_profit_of_the_account_is_given}}</div>
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <a href="#" class="btn btn-wallet" ng-click="closeDebt.open()" style="line-height: 1.3em;" ng-class="{disabled: walletView.wallet && walletView.wallet.dax_wallet_trust_settings && walletView.wallet.dax_wallet_trust_settings.is_third_party_access}">{{lang.pay_installments}}</a>
                                    </div>
                                </div>
                                <div ng-if="walletView.wallet && walletView.wallet.dax_wallet_trust_settings && walletView.wallet.dax_wallet_trust_settings.is_third_party_access" class="flex0 flex-space-between" style="margin-top: 10px; line-height: 1.1em; color: #cd3538;">
                                    <div>
                                        <i class="fal fa-exclamation-triangle"></i>
                                        {{lang.access_to_your_account_restricted}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="user-page" ng-init="wallet.init()" ng-if="!wallet.rub_active">
                        <div ng-if="!wallet.rub_active">
                            <a class="green mt-2 d-block text-capitalize"  ng-click="partnerRub.fill.open()" href="#">пополинть</a>
                            <a class="blue mt-2 d-block text-capitalize" ng-class="{disabled: w.amount <= 0}" ng-click="partnerRub.withdrawalBtc.open()" href="#">вывести</a>
                        </div>
                    </div>

                    <div id="user-page" ng-init="wallet.init()" ng-if="wallet.rub_active">
                        <div>
                            <a class="blue mt-2 d-block text-capitalize" ng-class="{disabled: w.amount_rub <= 0}" ng-click="" href="#">вывести</a>
                        </div>
                    </div>

                </div>
            </div>
            <div ng-init="walletpage.calculateTotalAmount(5000)" class="base-in-portfolios height-85 ml-5 mt-4">
                <p class="mb-1">{{lang.in_portfolios}}</p>
                <span class="balance">
                                {{walletpage.in_portfolios | mycurrency:2}} $
                 </span>
                <div class="finance-courses">
                    <ul>
                        <li>+ 1280 $</li>
                        <li>+ 9,6 %</li>
                    </ul>
                </div>
                <div class="both"></div>
                <a class="green mt-2 d-block text-capitalize" href="/withdrawalmethod/">Создать</a>
                <a class="blue mt-2 d-block text-capitalize" href="">Портфели</a>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="right mt-3 mt-50 col-7 charts p-0 m-0">
            <div class="capital-structure-company mt-4">
                <h3 class="mb-1">Распределение капитала компании</h3>
                <div class="chartjs-wrapper">
                    <div class="chartone" style="visibility:hidden; height:2px; position: absolute;"></div>
                    <canvas id="chart-1" class="chart-1" width="470" height="400"
                            style="display: block; width: 385px; height: 400px;">
                    </canvas>
                    <script>
                        let chart = null;

                        chart = new Chart(document.getElementById("chart-1"), {
                            type: "doughnut",
                            data: {
                                labels: [
                                ],
                                datasets: [{
                                    label: "Распределение капитала компании",
                                    data: [
                                        39,
                                        22,
                                        20
                                    ],
                                    "backgroundColor": [
                                        "#6f56a7",
                                        "#595366",
                                        "#9975e6"
                                    ],
                                    "borderWidth": 2,
                                    "weight": 2,
                                }]
                            },
                            "options": {
                                rotation: -Math.PI,
                                cutoutPercentage: 65,
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        fontSize: 11,
                                        fontFamily: 'myMontserratRegular',
                                        fontColor: "#000",
                                        boxWidth: 40,
                                        padding: 11,
                                        usePointStyle: true,
                                    }
                                },
                                animation: {
                                    animateRotate: true,
                                }
                            }
                        });

                        function updateChartOne() {
                            var dat = JSON.parse($('.chartone').html());

                            labelsDo = [];
                            dataDo = []
                            for (let i = 0; i < dat.length; i++) {
                                labelsDo.push(dat[i].percent + ' - ' + dat[i].name);
                                dataDo.push(dat[i].percent);
                            }

                            if (chart) {
                                chart.type = 'doughnut';
                                chart.data.labels = labelsDo;
                                chart.data.datasets.data = dataDo;
                                chart.update();
                            }
                        }

                    </script>
                </div>
                <!-- Chart company capital structure -->
            </div>
            <div class="company-structures-tarifs mt-4">
                <h3 class="mb-1">Распределение тарифов компании</h3>
                <div class="chartjs-wrapper">
                    <div class="chartwo"></div>
                    <canvas id="chart-2" class="chart-2" width="400" height="128"
                            style="display: block;">
                    </canvas>
                    <script>
                        let chartTwo = null;

                        chartTwo = new Chart(document.getElementById("chart-2"), {
                            type: "horizontalBar",
                            data: {
                                labels: [
                                    "Neural",
                                    "Infinite",
                                    "3",
                                    "4",
                                    "5",
                                    "6",
                                    "7",
                                ],
                                datasets: [{
                                    label: "Распределение тарифов компании",

                                    barThickness: 9,
                                    borderWidth: 0,
                                    data: [
                                        6, 11, 8, 3, 4, 16, 12
                                    ],
                                    backgroundColor: [
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                    ],
                                    borderWidth: 0,
                                }]
                            },
                            "options": {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            fontColor: "black",
                                            fontSize: 10,
                                            fontFamily: 'myMontserratRegular',
                                        },
                                        gridLines: {
                                            lineWidth: 0
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            fontColor: "black",
                                            fontSize: 10,
                                            fontFamily: 'myMontserratRegular',
                                            beginAtZero: true,
                                            maxTicksLimit: 5,
                                            stepSize: Math.ceil(250 / 5),
                                            max: 250
                                        },
                                        barPercentage: 1.048,
                                        gridLines: {
                                            display:false
                                        }
                                    }]
                                }
                            }
                        });

                        function updateChartTwo() {
                            var dat = JSON.parse($('.charttwo').html());

                            labelsDo = [];
                            dataDo = []
                            for (let i = 0; i < dat.length; i++) {
                                labelsDo.push(dat[i].percent + ' - ' + dat[i].name);
                                dataDo.push(dat[i].percent);
                            }

                            if (chart) {
                                chart.type = 'horizontalBar';
                                chart.data.labels = labelsDo;
                                chart.data.datasets.data = dataDo;
                                chart.update();
                            }
                        }
                    </script>
                </div>
                <!-- Chart company capital structure -->
            </div>
            <div class="capital-structures-bonuses mt-4">
                <h3 class="mb-1">Доходность компании по месяцам</h3>
                <div class="chartjs-wrapper">
                    <div class="charthree" style="visibility: hidden; height:2px; position: absolute; "></div>
                    <canvas id="chart-3" class="chart-3" width="400" height="128"
                            style="display: block;">
                    </canvas>
                    <script>
                        let chartt = null;

                        chartt = new Chart(document.getElementById("chart-3"), {
                            type: "bar",
                            data: {
                                labels: [
                                    "Октябрь",
                                    "Ноябрь",
                                    "Декабрь",
                                    "Январь",
                                    "Февраль"
                                ],
                                datasets: [{
                                    label: "Доходность компании по месяцам",

                                    barThickness: 9,
                                    borderWidth: 0,
                                    data: [
                                        1, 3, 5, 7, 6
                                    ],
                                    backgroundColor: [
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                        "#a899ca",
                                    ],
                                    borderWidth: 0,
                                }]
                            },
                            "options": {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            fontColor: "black",
                                            fontSize: 10,
                                            fontFamily: 'myMontserratRegular',
                                        },
                                        gridLines: {
                                            display:false
                                        },
                                        barPercentage: 1.218
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            fontColor: "black",
                                            fontSize: 10,
                                            fontFamily: 'myMontserratRegular',
                                            beginAtZero: true,
                                            maxTicksLimit: 5,
                                            stepSize: Math.ceil(8/5),
                                            max: 8
                                        },
                                        gridLines: {
                                            lineWidth: 0
                                        }
                                    }]
                                }
                            }
                        });

                        function updateChartThree() {
                            var datthree1 = JSON.parse($('.charthree').html());

                            labelsBar = [];
                            dataBar = []
                            for (var i = 0; i < datthree1.length; i++) {
                                // console.log(datthree1[i]);
                                    labelsBar.push(datthree1[i].month);
                                    dataBar.push(datthree1[i].data);
                                break;
                            }

                            if (chartt) {
                                chartt.type = "bar";
                                chartt.data.labels = labelsBar[0];
                                chartt.data.datasets.data = dataBar[0];
                                chartt.update();
                            }
                        }
                    </script>
                </div>
                <!-- Chart company capital structure -->
            </div>
        </div>
    </div>

    <div ng-controller="newsCtrl" class="news mt-3" style="display:none">
        <section ng-init="news.loadList()">
            <!-- New -->

            <ul class="list user-news-block" ng-if="!news.loading && news.list.length > 0">
                <li ng-repeat="item in news.list" class="animated fadeIn">
                    <a ng-href="/news/{{item.url}}">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <img ng-src="{{item.picture | strReplace: '1000':'216'}}" class="item-poster">
                            </div>
                            <div class="col-md-9 col-sm-12 flex0 flex-space-between flex-column">
                                <h5>{{item.title}}</h5>
                                <div>
                                    <div class="left-align"><!--Имя пользователя--></div>
                                    <div class="right-align font-mini text-muted"><i class="fal fa-calendar"></i> {{item.dt | date}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

                <div  ng-if="!news.loading && news.list.length > 0">
    <!--            <div ng-if="news.loading">-->
                    <div class="new">
                        <div class="head">
                            <div class="subject">аналитика (12)</div>
                            <div class="data">{{item.dt | date}}</div>
                            <div class="both"></div>
                        </div>
                        <img class="new-img" src="/img/new_im.png">
                        <img class="new-img"  ng-src="{{item.picture | strReplace: '1000':'216'}}" class="item-poster">
                        <div class="prev"></div>
                        <h1>{{item.title}}</h1>
                        <div class="announce">
                            <p>По итогам 2020 года удвоилось число
                                женщин-инвесторов: их доля составляет
                                31%, в то время как по результатам 2019...</p>
                        </div>
                        <a class=" blue more" href="/">Подробнее</a>
                    </div>
                    <!-- New end-->
                    <!-- New -->
                    <div class="new n_right">
                        <div class="head">
                            <div class="subject">elision capital (4)</div>
                            <div class="data">10.03.2021</div>
                            <div class="both"></div>
                        </div>
                        <img class="new-img" src="/img/new_im_1.png">
                        <div class="prev"></div>
                        <h1>Тинькофф Мобайл запустил сервис
                            для блокировки рекламы
                            в интернете</h1>
                        <div class="announce">
                            <p>По итогам 2020 года удвоилось число
                                женщин-инвесторов: их доля составляет
                                31%, в то время как по результатам 2019...</p>
                        </div>
                        <a class=" blue more" href="/">Подробнее</a>
                    </div>
                </div>

<!--            </div>-->
            <div class="both"></div>
            <!-- New end -->
        </section>
    </div>
</div>

<!-- внесение средств на счет  -->
<form id="form-partnerRub-fill" style="display:none; width: 600px; margin: 0 auto;" class="form-deposit-into-account animated zoomIn" data-title="Внесение средств на счет">
    <div class="popup-form-content p-0">
        <div class="card">
            <div class="card-header" style="position: relative; display: flex;">
                <!-- <div class="row brd-radius px-0 w-100 mb-0" style="background-color: #42454e; flex: 1">
                     <div class="col-sm-4">
                         <a href="#" class="col-12 btn btn-primary mb-2" ng-click="partnerRub.fill.close()">Отменить</a>
                     </div>
                     <div class="col-sm-4">
                         <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.transfer.open()">Перевод</a>
                     </div>
                     <div class="col-sm-4">
                         <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.withdrawalBtc.open()">Вывести</a>
                     </div>
                 </div>-->
                <div class="bg text-center">
                    <p class="text-gold">ВНЕСЕНИЕ СРЕДСТВ НА СЧЕТ</p>
                </div>
            </div>
            <div class="card-body text-black-50 text-center">
                <div class="bg py-3">
                    <p class="mt-0">На данный моменты мы принимаем оплату только в виде криптовалюты Bitcoin.</p>
                    <a class="text-gold" href=""><u>Как купить и перевести Bitcoin?</u></a>
                    <p>Ваш счёт настроен, необходимо создать операцию перевода биткойнов на следующий адрес: </p>

                    <div class="flex0 menu-input px-2 mb-2">
                        <div class="flex0 w-100 flex-center">
                            <input type="text" class="gold labeled px-3" id="inp-btc-adress" value="xxxxxxxxxxxxxxxxxxxxxx" readonly="">
                            <div class="copy-div cpointer">&nbsp;<i class="bx bx-copy" onclick="return copyAddressToCB('inp-btc-adress');"></i></div>
                        </div>
                    </div>
                    <a class="text-gold mb-3" href=""><u>Показать QR-код</u></a>
                    <div class="col-sm-9 mx-auto mt-4 menu-input flex0 flex-center flex-wrap">
                        <div class="col-sm-5">
                            <div class="flex0 flex-center" style="width: 200px">
                                <input type="text" class="dark labeled px-2">
                                <label class="label px-1">
                                    USDT
                                </label>
                            </div>
                        </div>
                        <span class="m-auto strong" style="color: #23242a; font-size: 40px; line-height: 1; ">=</span>
                        <div class="col-sm-5">
                            <div class="flex0 flex-center" style="width: 200px">
                                <input type="text" class="dark labeled px-2">
                                <label class="label px-1">
                                    BTC
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
            </div>
        </div>
    </div>
</form>
<!-- перевод другому пользователю  -->
<form id="form-partnerRub-transfer" style="display:none; width: 600px; margin: 0 auto;" class="form-deposit-into-account animated zoomIn" data-title="перевод другому пользователю">
    <div class="popup-form-content p-0">
        <div class="card">
            <div class="card-header" style="position: relative; display: flex !important;">
                <div class="text-center card-tab" ng-class="{active: !partnerRub.isTransferTrustera}" ng-click="partnerRub.isTransferTrustera = !partnerRub.isTransferTrustera">
                    <p>ПЕРЕВОД ДРУГОМУ ПОЛЬЗОВАТЕЛЮ</p>
                </div>
                <div class="text-center card-tab" ng-class="{active: partnerRub.isTransferTrustera}" ng-click="partnerRub.isTransferTrustera = !partnerRub.isTransferTrustera">
                    <p>ПЕРЕВЕСТИ В<br>TRUSTERA</p>
                </div>
            </div>
            <div class="card-body text-black-50" ng-if="!partnerRub.isTransferTrustera">
                <div class="bg py-4" style="border-bottom: 1px solid #42454e;">
                    <div class="col-sm-10 mx-auto ">
                        <div class="flex0 menu-input px-2 pb-2">
                            <div class="w-100">
                                <p class="text-black-50">Введите сумму перевода в USDT (минимум 1 USDT):</p>
                                <input type="number" step="0.01" ng-model="partnerRub.transfer.form.amount_dax" class="w-100" value="">
                                <br>
                                <p class="text-black-50" style="margin-top: 5px;">текущий баланс {{wallet.item.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</p>
                            </div>
                        </div>
                        <div class="flex0 menu-input px-2 py-2">
                            <div class="flex0 flex-wrap w-100">
                                <p class="text-black-50">Введите ID, никнейм или номер телефона (без +7):</p>
                                <input type="text" class="flex-grow-1 w-100" value="" placeholder="Например: 9179171717" ng-model="partnerRub.transfer.form.number" ng-change="partnerRub.transfer.numberChange()">
                                <div ng-if="!partnerRub.transfer.searchUser && partnerRub.transfer.form.number" style="display: flex;align-items: center;margin-top: 20px;">
                                    Такой пользователь Golden DAX не найден
                                </div>
                                <div ng-if="partnerRub.transfer.searchUser" style="display: flex;align-items: center;margin-top: 20px;">
                                    <img class="user-avatar" ng-src="{{app.domains.avatar}}{{partnerRub.transfer.searchUser.avatar_path[2]}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                    <div style="margin-left: 10px;">
                                        {{partnerRub.transfer.searchUser.fio}}
                                        <br>@{{partnerRub.transfer.searchUser.user_login}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg py-4">
                    <div class="col-sm-10 mx-auto text-left">
                        <div class="confirm-code mb-4">
                            <div ng-if="partnerRub.transfer.telegram_exists">
                                <a href="#" class="btn btn-sm btn-primary mb-2" ng-class="{loading: partnerRub.transfer.loading, disabled: partnerRub.transfer.loading || !partnerRub.transfer.isOkTelegram()}" ng-click="partnerRub.transfer.telegramprepareconfirm()">{{lang.send_telegram_code}}</a>
                                <div>{{lang.send_telegram_pin}}</div>
                            </div>
                            <div ng-if="partnerRub.transfer.show_telegram">
                                <div>{{lang.enter_telegram_pin}}</div>
                                <input ng-model="partnerRub.transfer.form.pin" type="text" my-enter="partnerRub.transfer.submit()" class="mt-2">
                            </div>
                            <div ng-if="partnerRub.transfer.show_password">
                                {{lang.enter_pwd_for_confirm}}
                                <input type="password" ng-model="partnerRub.transfer.form.password" my-enter="partnerRub.transfer.submit()" class="mt-2">
                            </div>
                        </div>
                        <div class="col-12 flex0 flex-between pb-4">
                            <a href="#" class="btn btn-sm btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
                            <a href="#" class="btn btn-sm btn-primary" style="max-width: 200px" ng-class="{loading: partnerRub.transfer.loading, disabled: partnerRub.transfer.loading || !partnerRub.transfer.isOk()}" ng-click="partnerRub.transfer.submit()">Перевести</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body text-black-50" ng-if="partnerRub.isTransferTrustera">
                <div ng-init="partnerRub.partnerToMain.open()">
                    <div class="bg py-4" style="border-bottom: 1px solid #42454e;">
                        <div class="col-sm-10 mx-auto ">
                            <div class="flex0 menu-input px-2 pb-2">
                                <div class="w-100">
                                    <p class="text-black-50">Введите сумму перевода в USDT (минимум 1 USDT):</p>
                                    <input type="number" step="0.01" ng-model="partnerRub.partnerToMain.form.amount_dax" class="w-100" value="">
                                    <br>
                                    <p class="text-black-50" style="margin-top: 5px;">{{lang.dax_wallet_available_amount}} {{partnerRub.partnerToMain.max_amount | mycurrency:2}} USDT</p>
                                </div>
                            </div>
                            <div class="px-2 py-2">
                                <div class="w-100">
                                    <p class="text-black-50">Сумма будет отправлена на Ваш расчетный счет в Trustera</p>
                                </div>
                                <div class="w-100">
                                    <p class="text-black-50">{{wallet.main_number}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg py-4">
                        <div class="col-sm-10 mx-auto text-left">
                            <div class="confirm-code mb-4">
                                <div ng-if="partnerRub.partnerToMain.telegram_exists">
                                    <a href="#" class="btn btn-smbtn-primary mb-2" ng-class="{loading: partnerRub.partnerToMain.loading, disabled: partnerRub.partnerToMain.loading}" ng-click="partnerRub.partnerToMain.telegramprepareconfirm()">{{lang.send_telegram_code}}</a>
                                    <div>{{lang.send_telegram_pin}}</div>
                                </div>
                                <div ng-if="partnerRub.partnerToMain.show_telegram">
                                    <div>{{lang.enter_telegram_pin}}</div>
                                    <input ng-model="partnerRub.partnerToMain.form.pin" type="text" my-enter="partnerRub.partnerToMain.submit()" class="mt-2">
                                </div>
                                <div ng-if="partnerRub.partnerToMain.show_password">
                                    {{lang.enter_pwd_for_confirm}}
                                    <input type="password" ng-model="partnerRub.partnerToMain.form.password" my-enter="partnerRub.partnerToMain.submit()" class="mt-2">
                                </div>
                            </div>
                            <div class="col-12 flex0 flex-between pb-4">
                                <a href="#" class="btn btn-sm btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
                                <a href="#" class="btn btn-sm btn-primary" style="max-width: 200px" ng-class="{loading: partnerRub.partnerToMain.loading, disabled: partnerRub.partnerToMain.loading || (partnerRub.partnerToMain.form.password == '' && partnerRub.partnerToMain.form.pin == '')}" ng-click="partnerRub.partnerToMain.submit()">Перевести</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Вывод средств  -->
<form id="form-partnerRub-withdrawalBtc" style="display:none;  width: 600px; margin: 0 auto;" class="form-deposit-into-account animated zoomIn" data-title="перевод другому пользователю" ng-init="partnerRub.withdrawalBtc.init()">
    <div class="popup-form-content p-0">
        <div class="card">
            <div class="card-header" style="position: relative; display: flex;">
                <!-- <div class="row brd-radius px-0 w-100 mb-0" style="background-color: #42454e; flex: 1">
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.fill.open()">Пополнить</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-secondary--dark mb-2" ng-click="partnerRub.transfer.open()">Перевод</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="col-12 btn btn-primary mb-2" ng-click="partnerRub.withdrawalBtc.close()">Отмена</a>
                    </div>
                </div> -->
                <div class="bg text-center">
                    <p class="text-gold">ВЫВОД СРЕДСТВ</p>
                </div>
            </div>
            <div class="card-body text-black-50">
                <div class="bg pt-2" style="border-bottom: 1px solid #42454e;">
                    <div class="col-sm-10 mx-auto text-left">
                        <p class="text-black-50 px-2">Вывод из</p>
                        <div class="flex0 menu-input px-2 pb-2">
                            <div class="flex0 w-100 flex-center">
                                <div class="wallet-left px-2">{{wallet.item.amount / app.BTC_SATOCHI | mycurrency:2}} USDT</div>
                                <div class="wallet-right px-2 d-sm-flex d-none">{{wallet.item.dax_wallet_type_title}} {{wallet.item.number}}</div>
                                <div class="wallet-right px-2 d-sm-none d-flex">{{wallet.item.number}}</div>

                            </div>
                        </div>
                        <p class="text-black-50 px-2 mt-4">Вывод на</p>
                        <div class="form-group px-2">
                            <select class="custom-select form-control" ng-model="partnerRub.withdrawalBtc.form.withdrawal_wallet_id">
                                <option value="">Выберите кошелек</option>
                                <option ng-repeat="item in partnerRub.withdrawalBtc.withdrawal_wallets" value="{{item.id}}">{{item.title}}</option>
                            </select>
                            <a class="btn btn-sm btn-primary" href="/withdrawalmethod/" style="margin: 1em 0;">{{lang.add_wallet}}...</a>
                        </div>
                        <p class="col-12 text-black-50 mt-4 px-2">Сумма</p>
                        <div class="flex0 flex-wrap menu-input px-2">
                            <div class="flex0 w-100">
                                <input type="number" step="0.01" ng-model="partnerRub.withdrawalBtc.form.amount" class="dark labeled" ng-change="partnerRub.withdrawalBtc.changeAmount()">
                                <label class="label px-2">
                                    USDT
                                </label>
                            </div>
                        </div>
                        <div class="flex0 flex-wrap px-2 py-3">
                            <div class="w-100 flex0 justify-content-between py-1">
                                <span>МИНИМУМ</span>
                                <span class="strong">10 USDT</span>
                            </div>
                            <div class="w-100 flex0 justify-content-between py-1">
                                <span class="pr-2 text-left">ВРЕМЯ ОБРАБОТКИ</span>
                                <span class="strong text-right text-nowrap">ДО 14 СУТОК</span>
                            </div>
                            <div class="w-100 flex0 justify-content-between py-1">
                                <span>КОМИССИЯ</span>
                                <span class="strong">0%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg">
                    <div class="flex0 flex-wrap mx-auto px-4 py-3 col-sm-10 history-oper-withdrawal" style="text-align: unset!important;">
                        <div class="w-100 flex0 flex-sm-nowrap flex-wrap py-1 justify-content-between">
                            <span class="col-sm-auto p-0">ОБЩАЯ СУММА НА ВЫВОД</span>
                            <span class="col-sm-auto p-0 strong text-gold">{{partnerRub.withdrawalBtc.form.amount}} USDT</span>
                        </div>
                        <div class="w-100 flex0 flex-sm-nowrap flex-wrap py-1 justify-content-between">
                            <span class="col-sm-auto p-0">ТЕКУЩИЙ КУРС USDT/BTC</span>
                            <span class="col-sm-auto p-0 strong text-gold">1 BTC = {{partnerRub.withdrawalBtc.getRate() | mycurrency:2}} USDT</span>
                        </div>
                        <div class="w-100 flex0 flex-sm-nowrap flex-wrap py-1 justify-content-between">
                            <span class="col-sm-auto p-0">ОЖИДАЕМАЯ СУММА BTC</span>
                            <span class="col-sm-auto p-0 strong text-gold">{{partnerRub.withdrawalBtc.form.target_amount | number:8}} USDT</span>
                        </div>
                    </div>
                    <div class="flex0 flex-wrap mx-auto px-4 py-3 col-sm-10">
                        <div class="confirm-code mb-4">
                            <div ng-if="partnerRub.withdrawalBtc.telegram_exists">
                                <a href="#" class="btn btn-sm btn-primary mb-2" ng-class="{loading: partnerRub.withdrawalBtc.loading, disabled: partnerRub.withdrawalBtc.loading" ng-click="partnerRub.withdrawalBtc.telegramprepareconfirm()">{{lang.send_telegram_code}}</a>
                                <div>{{lang.send_telegram_pin}}</div>
                            </div>
                            <div ng-if="partnerRub.withdrawalBtc.show_telegram">
                                <div>{{lang.enter_telegram_pin}}</div>
                                <input ng-model="partnerRub.withdrawalBtc.form.pin" type="text" my-enter="partnerRub.withdrawalBtc.submit()" class="mt-2">
                            </div>
                            <div ng-if="partnerRub.withdrawalBtc.show_password">
                                {{lang.enter_pwd_for_confirm}}
                                <input type="password" ng-model="partnerRub.withdrawalBtc.form.password" my-enter="partnerRub.withdrawalBtc.submit()" class="mt-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 flex0 flex-between pb-4">
                        <a href="#" class="btn btn-sm btn-secondary--dark" ng-click="partnerRub.fill.close()">ОТМЕНА</a>
                        <a href="#" class="btn btn-sm btn-primary" ng-click="partnerRub.withdrawalBtc.submit()" ng-class="{disabled: partnerRub.withdrawalBtc.loading || !partnerRub.withdrawalBtc.form.withdrawal_wallet_id || partnerRub.withdrawalBtc.form.amount < MIN_WITHDRAWAL_USDT || (partnerRub.withdrawalBtc.form.password == '' && partnerRub.withdrawalBtc.form.pin == ''), loading: partnerRub.withdrawalBtc.loading}">ПОДТВЕРДИТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Вывод средств с партнёрского рублевого счёта-->
<form id="form-partnerRub-withdrawal" style="display:none;  width: 600px; margin: 0 auto;" class="popup-form animated zoomIn" data-title="Вывод средств с партнёрского рублевого счёта">
    <div class="popup-form-content">
        <div ng-if="partnerRub.withdrawal.page == 1">
            Баланс: <span class="text-muted">{{partnerRub.wallet.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</span>
            <div class="my-2 text-muted">
                <div>1. Минимальна сумма на вывод 3000 руб</div>
                <div>2. Рубли с этого счет можно выводить только на ИП и самозанятым</div>
                <!--{{partnerRub.wallet.number}}-->
            </div>
        </div>
        <div ng-if="partnerRub.withdrawal.page == 2">
            <div class="text-muted">
                <div>Минимальна сумма на вывод 3000, максимальная {{partnerRub.wallet.amount_rub / app.BTC_SATOCHI | mycurrency:2}} RUB</div>
            </div>
            <div class="mb-2">
                <label>Сумма</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.amount">
            </div>
            <div class="mb-2">
                <label>Наименование ИП</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.ip_title">
            </div>
            <div class="mb-2">
                <label>ИНН</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.inn">
            </div>
            <div class="mb-2">
                <label>Номер расчетного счета</label>
                <br><input type="text" class="form-control" ng-model="partnerRub.withdrawal.form.rs_number">
            </div>
        </div>
    </div>
    <div class="popup-form-footer">
        <a href="#" class="btn btn-secondary" ng-click="partnerRub.withdrawal.close()">Отмена</a>
        <a href="#" class="btn btn-primary" ng-class="{disabled: !partnerRub.withdrawal.isAllow()}" ng-if="partnerRub.withdrawal.page == 1" ng-click="partnerRub.withdrawal.setPage(2)">Далее</a>
        <a href="#" class="btn btn-primary" ng-class="{loading: partnerRub.withdrawal.loading, disabled: !partnerRub.withdrawal.formFilled()}" ng-if="partnerRub.withdrawal.page == 2" ng-click="partnerRub.withdrawal.submit()">Зарегистрировать заявку вывода</a>
    </div>
</form>

<!--Дополнительная информация по операции-->
<form id="form-more-by-ref" style="display:none" class="popup-form animated fadeIn" data-title="Дополнительная информация по операции">
    <div class="popup-form-content">
        <p>Данный бонус был в том числе распределен между следующими нижестоящими партнерами в цепочке:</p>
        <table class="table" border="1" frame="void" rules="rows" style="color: black;">
            <tr ng-repeat="ref_item in wallet.ref_history_list.list">
                <td>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="flex0 flex-center">
                            <img ng-src="{{app.domains.avatar}}/img/user_80x80.png" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                            <div style="padding-left: 10px;">
                                {{ref_item.title}}
                                <i class="" style="border-radius: 30px; background-color: rgb(189, 160, 118); color: black; width: 20px; height: 20px; display: inline-flex; align-items: center; justify-content: center; font-size: 11px;">{{ref_item.career_id}}</i>
                                <div class="text-muted" style="font-size: 12px;">@{{ref_item.user_login}}</div>
                            </div>
                        </div>
                        <div>
                            {{ref_item.paid_amount / app.BTC_SATOCHI}} {{ref_item.index ? ref_item.index : 'USDT'}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <a href="#" class="btn btn-sm btn-secondary" ng-click="wallet.showMoreInfoClose()" style="float: right;">Закрыть</a>
    </div>
</form>


<ng-include src="'/app/views/partner_status.html'"></ng-include>
<div id="transfer" ng-controller="myprofileCtrl">

    <div class="emp-profile animated fadeIn">
        
        <!--Подключение Telegram бота-->
        <form id="form-tg_login_bot" class="popup-form" data-title="Телеграм бот" style="width: 600px; max-width: 100vw; margin-top: 100px;" ng-class="{disabled: profile.loading}"> 
            <div class="popup-form-content" style="font-size: 14px;">
                <div style="font-size: 18px; color: red;"><b> Вы авторизовались с помощью одноразового пароля!</b></div>
                Для продолжения работы необходимо подключить нашего Телеграм бота, зарегистрироваться у него и получить от него код, который необходимо ввести в поле ниже.
                <br><a id="abc" class="ml-auto my-auto flex0 flex-center btn btn-sm btn-primary accordion-btn-1 collapsed" href="tg://resolve?domain=goldendaxbot">Открыть в телеграм</a>
                <br>
                Если кнопка не работает, то найдите вручную в Телеграм бота
                <strong>@goldendaxbot</strong>.
                <div style="margin: 20px 0;">
                    Для продолжения введите код полученный от бота:
                    <input type="text" ng-model="profile.form.telegram_code" maxlength="4" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength">
                </div>
            </div>
            <div class="popup-form-footer">
                <a href="#" ng-click="profile.tgLoginBotsubmit()" class="ml-auto my-auto flex0 flex-center btn btn-sm btn-primary accordion-btn-1" ng-class="{loading: tgLoginBot.loading, disabled: profile.form.telegram_code.length != 4}">Продолжить</a>
            </div>
        </form>
        
        <form id="form-profile_fio" class="popup-form animated zoomIn" data-title="ФИО">
            <div class="popup-form-content">
                <div class="row">
                    <div class="col col-12 row" style="margin: 10px 0;">
                        <input type="text" class="col col-12" ng-model="profile.data.fio">
                    </div>
                    <div class="col col-12">
                        <!--Краткий поясняющий текст-подсказка, что нужно указать... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.-->
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                        <button class="btn btn-sm btn-primary" ng-click="profile.savefio()">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
        <form id="form-profile_phone" class="popup-form animated zoomIn" data-title="Телефон">
            <div class="popup-form-content">
                <div class="row">
                    <div class="col col-12 row" style="margin: 10px 0;">
                        <input type="text" class="col col-12" ng-model="profile.data.phone">
                    </div>
                    <div class="col col-12">
                        <!--Краткий поясняющий текст-подсказка, что нужно указать... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.-->
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                        <button class="btn btn-sm btn-primary" ng-click="profile.savephone()">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
        <form id="form-profile_email" class="popup-form animated zoomIn" data-title="Email">
            <div class="popup-form-content">
                <div class="row">
                    <div class="col col-12 row" style="margin: 10px 0;">
                        <input type="text" class="col col-12" ng-model="profile.data.email">
                    </div>
                    <div class="col col-12">
                        <!--Краткий поясняющий текст-подсказка, что нужно указать... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.-->
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                        <button class="btn btn-sm btn-primary" ng-click="profile.saveemail()">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
        <form id="form-about" class="popup-form animated zoomIn" data-title="О себе">
            <div class="popup-form-content">
                <div class="row">
                    <div class="col col-12 row" style="margin: 10px 0;">
                        <textarea rows="10" cols="45" class="col col-12" ng-model="profile.data.about"></textarea>
                    </div>
                    <div class="col col-12">                        
                    </div>
                    <div class="col col-12" style="margin-top: 20px;">
                        <button class="btn btn-sm btn-primary" ng-click="profile.saveabout()">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>

        <div ng-if="profile.loading" ng-init="profile.checkbot()">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
            <!-- <div ng-if="profile.flag" ng-init="profile.checkbot()"></div> -->
        </div>
        <div class="card" ng-if="!profile.loading && profile.data" style="display: none">
            <div class="card-header">
                <h6 style="margin-bottom: 0;">
                    {{profile.data.fio}}
                </h6>
                <h5 class="card-header-career" style="color: #bda076;">
                    {{view.info.user_career_title}}
                </h5>
            </div>
            <div class="card-body">     
                <div class="row">
                    <div class="col-md-4 col-sm-12">         
                        <img style="width: 100%; border-radius: 15px 15px 0 0;" ng-src="{{app.domains.avatar}}{{profile.data.avatar_path[2]}}">
                        <div class="user-card-body">
                            <div class="col-12"><i class="far fa-at"></i> <span>{{profile.data.user_login || '--'}}</span></div>
                            <div class="col-12">ID <span>{{profile.data.number|| '--'}}</span></div>
                            <div class="col-12"><i class="far fa-phone"></i> <span>{{profile.data.phone || '--'}}</span></div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="row profile-info-row">
                            <div class="col-md-4 col-sm-6 profile-info">
                                <div class="user-info-sticker">
                                     <div class="text-muted" style="margin-bottom:5px">Продукты</div> 
                                         <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                        <!-- <h4>{{profile.data.investor_status_title}}</h4>-->
                                      <div class="row justify-content-start" style="margin-bottom: 12px">
                                          <div class="col-6 col-md-6" style="padding-right: 4px;" >  
                                            <div class="user-info-sticker-box text-center">
                                                 <i ng-if="profile.data.invest_wallet_exist" title="Клиент TRUSTERA" class="fas fa-square user-info-sticker-box-icon" ng-style="{color: profile.data.invest_wallet_exist ? '#2573b5' : '#858585'}"></i> 
                                            </div>
                                          </div>
                                          <div class="col-6 col-md-6" style="padding-left: 4px;"> 
                                            <div class="user-info-sticker-box text-center">
                                                <i ng-if="profile.data.proauto_car_exist" title="Клиент ПРОАВТО" class="fas fa-car user-info-sticker-box-icon" ng-style="{color: profile.data.proauto_car_exist ? '#ffeb00' : '#858585'}"></i>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="row justify-content-around">
                                        <div class="col-6 col-md-6" style="padding-right: 4px;"> 
                                            <div class="user-info-sticker-box text-center">
                                                  <i ng-if="false" class="fas fa-hexagon user-info-sticker-box-icon"></i> 
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6" style="padding-left: 4px;">   
                                            <div class="user-info-sticker-box">
                                            </div>
                                        </div>
                                      </div>
                                </div> 
                                     <!-- class="text-muted">Инвестиции</div>--> 
                                        <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                        <!-- <h4>{{profile.data.investor_status_title}}</h4>-->
                                   <!-- <h4>{{profile.data.investor_status.code}}</h4>
                                    <div class="invest-progress">
                                        <div class="progress" style="width: {{profile.data.investor_status.next_investor_status_percent}}%;"></div>
                                    </div>
                                    <p>{{profile.data.investor_status.title}}</p>
                                </div>     -->
                            </div>
                            <div class="col-md-4 col-sm-6 profile-info">
                                <a class="user-info-sticker" hr_ef="/forpartner/" style="color: inherit;display: block;">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Подписка</div>
                                    
                                    <h4 ng-if="getPremiumDate()">{{profile.data.goldendax_ticket_title.substring(0, 4)}}</h4>
                                    <h4 ng-if="!getPremiumDate()">Base</h4>
                                    <div class="invest-progress">
                                        <div class="progress" ng-class="{'progress-base': !getPremiumDate()}"></div>
                                    </div>
                                    <div ng-if="getPremiumDate()" class="text-muted" style="display: flex;margin-block-start: 1em;margin-block-end: 1em;justify-content: space-between;">
	                                    <div>premium</div>
	                                    <div ng-if="profile.isInTree">{{getPremiumDate()}}</div>
                                    </div>
                                    <p ng-if="!getPremiumDate()">base sub</p>
                                </a>
                            </div>
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info">
                                <div class="user-info-sticker inviter-img">
                                    <img ng-src="{{app.domains.avatar}}{{view.info.partner.referer.avatar[2]}}">
                                    <a href="/profile/{{profile.data.inviter_user_login}}" style="color: inherit;">
                                        <div class="text-muted">Пригласитель</div>
                                        <h4>{{'@' + profile.data.inviter_user_login}}</h4>
                                    </a>
                                    <a ng-if="!profile.data.inviter_user_login" href="#" style="color: inherit;">
                                        <div class="text-muted">Пригласитель</div>        
                                    </a>
                                </div>
                            </div>                            
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info event-profile-info"
                                 ng-click="profile.GoToVisitedEvents()"
                                 ng-class="{'event-profile-info-pointer': profile.data.official_event_count > 0, 'event-profile-info-default': profile.data.official_event_count <= 0}">
                                <div class="user-info-sticker">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Мероприятия</div>
                                    <h4 class="user-info-sticker-count">{{profile.data.official_event_count}}</h4>
                                    <div style="display: flex;align-items: center;"><p style="margin: 0;flex: 1;">пройдено</p><i class="far fa-calendar-check"></i></div>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info event-profile-info event-profile-info-pointer"
                                 ng-click="profile.GoToTeam()">
                                <div class="user-info-sticker user-team-count">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <a href="/team/" style="color: inherit;">
	                                    <div class="text-muted">Команда</div>
	                                    <h4 class="user-info-sticker-count">{{view.info.value.command}}</h4>
	                                    <div style="display: flex;align-items: center;"><p style="margin: 0;flex: 1;">человек</p><i class="far fa-users" style="color:black;"></i></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info">
                                <div class="user-info-sticker">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Регистрация</div>
                                    <h5 style="font-size: 11px; color: gray;">{{profile.data.regDate | date_notime }}</h5>
                                    <h4 class="user-info-sticker-count" style="line-height: .8;margin-bottom: 10px;margin-top: -7px;">{{profile.data.regDayAgo}}</h4>
                                    <div style="display: flex;align-items: center;"><p style="margin: 0;flex: 1;">дней</p><i class="far fa-check-circle"></i></div>
                                </div>
                            </div>
                        </div>     
                    </div>
                    
                    
                    <!--<div class="col col-12 user-partner-block scroll-style-1" style="margin-top: 20px;">
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                    </div>
                    
                    <div class="col col-12 left-align" style="margin-top: 30px;">
                        <h4>Публикации</h4>
                    </div>
                    <div class="col col-12 user-partner-block scroll-style-1">
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                    </div>-->
                    
                    <div class="col col-12">
                        <div class="card-block">
                            <h4>О себе 2</h4>
                            <div style="color: white;margin-top: -15px;white-space: pre-line;">
                                {{profile.data.about}}
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary btn-sm" style="color:white;margin-top:10px;" ng-click="profile.showabout()">Редактировать</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a ng-if="profile.data.contactObj.facebook" href="{{profile.data.contactObj.facebook}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-facebook-f"></i></a>
                                <a ng-if="profile.data.contactObj.twitter" href="{{profile.data.contactObj.twitter}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-twitter"></i></a>
                                <a ng-if="profile.data.contactObj.instagram" href="{{profile.data.contactObj.instagram}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-instagram"></i></a>
                                <a ng-if="profile.data.contactObj.vk" href="{{profile.data.contactObj.vk}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-vk"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="col col-12 left-align" style="margin-top: 30px;">
                        <h4>Лендинги</h4>
                    </div>
                    <div class="col col-12 user-partner-block scroll-style-1">
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                    </div>-->
                    
                </div>                 
            </div>
        </div>
    </div>
</div>