<div id="transfer" ng-controller="userCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h2>Уведомления</h2>
            </div>
            <div class="card-body">                
                <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                    <div class="col col-2">
                        <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                    </div>
                    <div class="col col-9">
                        <div>
                            Уведомление: <span style="font-weight: bold;">Название</span>
                        </div>
                        <div class="text-muted">2 часа назад</div>
                    </div>
                    <i class="fas fa-ellipsis-v col col-1"></i>                    
                </div>
                <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                    <div class="col col-2">
                        <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                    </div>
                    <div class="col col-9">
                        <div>
                            Уведомление: <span style="font-weight: bold;">Название</span>
                        </div>
                        <div class="text-muted">2 часа назад</div>
                    </div>
                    <i class="fas fa-ellipsis-v col col-1"></i>                    
                </div>
                <div class="row user-news-block" style="margin-bottom: 0;align-items: center;">
                    <div class="col col-2">
                        <img src="/assets/img/user_55x55.png" style="max-width: 50px; border-radius: 50%;">
                    </div>
                    <div class="col col-9">
                        <div>
                            Уведомление: <span style="font-weight: bold;">Название</span>
                        </div>
                        <div class="text-muted">2 часа назад</div>
                    </div>
                    <i class="fas fa-ellipsis-v col col-1"></i>                    
                </div>
            </div>
        </div>
    </div>
</div>