<div class="card-body" id="team-user-info" style="border-radius: 0;margin-bottom: 1.25rem;" ng-if="app.user.user_status_id == 3">
    <div>
        <!--Для приглашения скопируйте и передайте ссылку-->
        <div ng-if="app.user.user_status_id == 3">
            <!--<div class="ref_link">
                <input id="inp-reflink" readonly class="browser-default disabled" value="Реферальная ссылка недоступна">
                <a href="#" class="disabled"><i class="fal fa-copy"></i></a>
            </div>-->
            <label>Возможность приглашать новых клиентов и партнеров есть только у бренд-партнеров.</label>
        </div>
    </div>
    <div ng-if="app.user.user_status_id == 3">
        <div ng-if="partnerStatus.step == 0">
            <p>Вы являетесь кандидатом, так как не выполнили все условия становления бренд-партнером.
            Чтобы стать таковым, необходимо иметь любой инвестиционный счет в Trustera.</p>
            <p>Сначала создайте счет, а затем нажмите кнопку Проверить.</p>
            <div class="right-align">
                <a href="#" class="btn btn-primary" ng-class="{loading: partnerStatus.loading_check}" ng-click="partnerStatus.check()">Проверить</a>
            </div>
        </div>
        <div ng-if="partnerStatus.step == 1">
            <p>
                Отлично!
                <br>Теперь Ваш аккаунт отвечает всем требованиям для становления бренд-партнером
            </p>
            <div class="right-align">
                <a href="#" class="btn btn-primary" ng-click="partnerStatus.step = 2">Далее</a>
            </div>
        </div>
        <div ng-if="partnerStatus.step == 2">
            <br>Вам будет присвоен карьерный статус:
            
            <p>1 - Club Member
            Вы сможете получить 10% от суммы оплаченных ажио Вашего первого приглашенного клиента, а затем карьерный статус поднимется. Ознакомьтесь с маркетинговым планом. 
            </p>

            <p>Вам будет активирован Premium сроком на 30 дней бесплатно. 
            Узнайте больше о Premium.</p>

            <div class="center-align">* * *</div>

            <p>Ознакомьтесь с важными правилами, которые обязан соблюдать каждый бренд-партнер.</p>

            <a href="https://medium.com/trustera-work-space/partner-terms-d6bd991280ee" target="_blank">Ознакомиться с правилами</a>

            <p>
                <label style="display: flex; align-items: center;">
                    <input class="form-control cpointer" style="display: inline-block; width: 20px; padding: 0; margin-right: 5px; height: 20px;" type="checkbox" ng-model="partnerStatus.accept">
                    Я подтверждаю, что ознакомился с правилами и полностью согласен с ними.
                </label>
            </p>
            <div class="right-align">
                <a href="#" class="btn btn-sm btn-secondary" ng-class="{loading: partnerStatus.loading_bepartner, disabled: !partnerStatus.accept}" ng-click="partnerStatus.bepartner()">Стать партнером</a>
            </div>
        </div>
    </div>
</div>
<div class="card-body" id="team-user-info" style="border-radius: 0;margin-bottom: 1.25rem;" ng-if="app.user.user_status_id == 4 && partnerStatus.step == 3">
	<p>Спасибо, что выбрали путь бренд-партнера Golden DAX!</p>
	<p>Чтобы Вы как можно скорее освоили свой новый статус, мы дарим Вам 30 дней Премиум подписки в клуб.</p>
	<p>Подробнее ознакомиться с тем, что дает эта подписка, можно по этой ссылке (откроется в новом окне).</p>
	<p>Также на первое продление или в течение следующих 30 дней на любое количество продлений будет действовать скидка 90%.</p>
<div class="right-align">
    <a href="#" class="btn btn-primary" ng-click="partnerStatus.step = 0">Все понятно</a>
</div>
</div>