<div id="transfer" ng-controller="userCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>Подарки</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-12">
                        Описание подарков и условий получения... При подтверждении карьерного статуса каждый партнер получает единоразовый бонус в виде подарка. каждому уровню соответствует свой подарок.
                    </div>
                    <div class="col col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Agent</th>
                                    <th scope="col">Present</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Status</td>
                                    <td>Description</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Status</td>
                                    <td>Description</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Status</td>
                                    <td>Description</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>