<div id="transfer" ng-controller="profileCtrl">

    <div class="emp-profile animated fadeIn" ng-init="profilebycode.load()">
                
        <div ng-if="profilebycode.loading">
            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>
        <div class="card" ng-if="!profilebycode.loading && profilebycode.data">  
            <div class="card-header">
                <h6 style="margin-bottom: 0;">
                    {{profilebycode.data.fio}}
                </h6>
                <h5 class="card-header-career" style="color: #bda076;"   ng-if ="profilebycode.data.user_login != 'lordbravel' && profilebycode.data.user_login != 'rav985' && profilebycode.data.user_login != 'Daxelrod' && profilebycode.data.user_login != 'Alex005' && profilebycode.data.user_login != 'shaman' && profilebycode.data.user_login != 'SCINER'">
                     {{profilebycode.data.career_title}}
                 </h5>
            </div>
            <div class="card-body">     
                <div class="row">
                    <div class="col-md-4 col-sm-12">         
                        <img style="width: 100%; border-radius: 15px 15px 0 0;" ng-src="{{app.domains.avatar}}{{profilebycode.data.avatar_path[2]}}">
                        <div class="user-card-body">
                            <div class="col-12"><i class="far fa-at"></i> <span>{{profilebycode.data.user_login || '--'}}</span></div>
                            <div class="col-12">ID <span>{{profilebycode.data.number|| '--'}}</span></div>
                            <div class="col-12" ng-if="profilebycode.isInTree"><i class="far fa-phone"></i> <span>{{profilebycode.data.phone || '--'}}</span></div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="row profile-info-row">
                            <div class="col-md-4 col-sm-6 profile-info">
                                <div class="user-info-sticker">
                                    <div class="text-muted">Инвестиции</div>
                                        <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                        <!-- <h4>{{profilebycode.data.investor_status_title}}</h4>-->
                                    <h4>{{profilebycode.data.investor_status.code}}</h4>
                                    <div class="invest-progress">
                                        <div class="progress" style="width: {{profilebycode.data.investor_status.next_investor_status_percent}}%;"></div>
                                    </div>
                                    <p>{{profilebycode.data.investor_status.title}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 profile-info">
                                <div class="user-info-sticker">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Подписка</div>
                                    <h4 ng-if="profilebycode.premium_date">{{profilebycode.data.goldendax_ticket_title.substring(0, 4)}}</h4>
                                    <h4 ng-if="!profilebycode.premium_date">Base</h4>
                                    <div class="invest-progress">
                                        <div class="progress" ng-class="{'progress-base': !profilebycode.premium_date}"></div>
                                    </div>
                                    <div ng-if="profilebycode.premium_date" class="text-muted" style="display: flex;margin-block-start: 1em;margin-block-end: 1em;justify-content: space-between;">
	                                    <div>premium</div>
	                                    <div ng-if="profilebycode.isInTree">{{profilebycode.premium_date}}</div>
                                    </div>
                                    <p ng-if="!profilebycode.premium_date">base sub</p>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info" ng-class="{disabled: !profilebycode.data.inviter_user_login}">
                                <div class="user-info-sticker inviter-img">
                                    <img ng-src="{{app.domains.avatar}}{{profilebycode.data.inviter_avatar_path[2]}}">
                                    <a href="/profile/{{profilebycode.data.inviter_user_login}}" style="color: inherit;">
                                        <div class="text-muted">Пригласитель</div>
                                        <h4>{{'@' + profilebycode.data.inviter_user_login}}</h4>
                                    </a>
                                    <a ng-if="!profilebycode.data.inviter_user_login" href="#" style="color: inherit;">
                                        <div class="text-muted">Пригласитель</div>        
                                    </a>
                                </div>
                            </div>                            
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info event-profile-info"
                                 ng-click="profilebycode.GoToVisitedEvents()"
                                 ng-class="{'event-profile-info-pointer': profilebycode.data.invited_by_me && profilebycode.data.official_event_count > 0,
                                            'event-profile-info-default': !profilebycode.data.invited_by_me && profilebycode.data.official_event_count <= 0}">
                                <div class="user-info-sticker">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Мероприятия</div>
                                    <h4 class="user-info-sticker-count">{{profilebycode.data.official_event_count}}</h4>
                                    <div style="display: flex;align-items: center;"><p style="margin: 0;flex: 1;">пройдено</p><i class="far fa-calendar-check"></i></div>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info">
                                <div class="user-info-sticker user-team-count">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Команда</div>
                                    <h4 class="user-info-sticker-count">{{profilebycode.data.value_command}}</h4>
                                    <div style="display: flex;align-items: center;"><p style="margin: 0;flex: 1;">человек</p><i class="far fa-users" style="color:black;"></i></div>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-6 col-xs-6 profile-info">
                                <div class="user-info-sticker">
                                    <!-- <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_55x55.png">-->
                                    <div class="text-muted">Регистрация</div>
                                    <h5 style="font-size: 11px; color: gray;">{{profilebycode.data.regDate | date_notime}}</h5>
                                    <h4 class="user-info-sticker-count" style="line-height: .8;margin-bottom: 10px;margin-top: -7px;">{{profilebycode.data.regDayAgo}}</h4>
                                    <div style="display: flex;align-items: center;"><p style="margin: 0;flex: 1;">дней</p><i class="far fa-check-circle"></i></div>
                                </div>
                            </div>
                        </div>     
                    </div>
                    
                    
                    <!--<div class="col col-12 user-partner-block scroll-style-1" style="margin-top: 20px;">
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                        <div class="col col-3">
                            <img class="user-avatar" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"  src="/assets/img/user_110x110.png">
                            <div>Ачивка</div>
                        </div>
                    </div>
                    
                    <div class="col col-12 left-align" style="margin-top: 30px;">
                        <h4>Публикации</h4>
                    </div>
                    <div class="col col-12 user-partner-block scroll-style-1">
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                    </div>-->
                    
                    <div class="col col-12" ng-if="profilebycode.data.about">
                        <div class="card-block">
                            <h4>О себе 1</h4>
                            <div style="color: white;margin-top: -15px;white-space: pre-line;">
                                {{profilebycode.data.about}}
                            </div>
                            <div style="margin-top:10px;">
                                <a ng-if="profilebycode.data.contactObj.facebook" href="{{profilebycode.data.contactObj.facebook}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-facebook-f"></i></a>
                                <a ng-if="profilebycode.data.contactObj.twitter" href="{{profilebycode.data.contactObj.twitter}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-twitter"></i></a>
                                <a ng-if="profilebycode.data.contactObj.instagram" href="{{profilebycode.data.contactObj.instagram}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-instagram"></i></a>
                                <a ng-if="profilebycode.data.contactObj.vk" href="{{profilebycode.data.contactObj.vk}}" target="_blank"><i style="margin-right: 20px;" class="fab fa-2x fa-vk"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="col col-12 left-align" style="margin-top: 30px;">
                        <h4>Лендинги</h4>
                    </div>
                    <div class="col col-12 user-partner-block scroll-style-1">
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div>
                                dax.capital/r/korobeinik/1
                            </div>
                        </div>
                    </div>-->
                    <div class="col col-12" ng-if="profilebycode.isInTree">
                        <div class="card-block">
                            <div class="left-align">
                                <h4>Скопировать реферальную ссылку</h4>
                            </div>                                    
                            <div style="color:white;">
                                https://trustera.global/r/{{profilebycode.data.user_login}}/ <i class="far fa-copy" style="cursor: pointer;" ng-click="profilebycode.copyToClipboard()"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>                 
            </div>
        </div>
    </div>
</div>