<div style="margin: 1em 0;">
    <div class="ref_link">
        <input id="inp-reflink" readonly class="browser-default" value="{{getRefURL()}}">
        <a href="#" onclick="return copyAddressToCB('inp-reflink');"><i class="fal fa-copy"></i></a>
    </div>
    <!--Для приглашения скопируйте и передайте ссылку-->
    <span class="text-muted">{{lang.partner_programm_basic_copy_link}}</span>
</div>