<!-- views -->

<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; url=https://goldendax.club/registration/">
	<script type="text/javascript">
		window.location.href = "https://goldendax.club/registration/"
	</script>
	<title>Page Redirection</title>
</head>
<body>
	<!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
	If you are not redirected automatically, follow this <a href='https://goldendax.club/registration/'>link to example</a>.
</body>
<!-- <div style="background: url(/assets/img/bg_ref.jpg) center center;min-height: 100vh;">

	<div class="content">
		<img src="/assets/img/logo/logo.png" style="max-width: -webkit-fill-available; margin-bottom: 30px;">
	    <div class="ref-form" ng-if="!ref.is_sended">
	    	<div class="center-align">
    			<div>
    				<input type="text" ng-model="ref.form.fio" placeholder="Фамилия Имя Отчество">
    			</div>
    			<div>
    				<input type="text" ng-model="ref.form.phone" placeholder="Номер телефона">
    			</div>
    			<div style="margin-top: 20px;">
    				<a href="#" class="btn btn-primary" ng-click="ref.submit()">Отправить</a>
    			</div>
    		</div>
	    </div>
	    <div class="ref-form" ng-if="ref.is_sended">
	    	<div class="center-align">
    			<strong style="color: white;font-size: 1.4em;">Ваша заявка принята!</strong>
    			<div style="margin-top: 20px;">
    				<a href="#" class="btn btn-primary">ОК</a>
    			</div>
    		</div>
	    </div>	    
    </div>

</div>
<style type="text/css">
	.content {
		margin: auto;
	    max-width: 500px;
	    padding: 20px;
	    padding-top: 100px;
	}
	.ref-form {
		background: rgba(0,0,0,0.5);
	    padding: 80px 0 80px 0;
	    border: 1px solid;
	    border-radius: 20px;;
	}
	input {
		width: 100%;
		max-width: 260px;
	    background: inherit;
	    margin: 10px;
	    height: 40px;
	    border: 1px solid #bda076;
	    border-radius: 10px;
	    color: #bda076;
	    padding: 10px;
	    font-size: 1.2em;
	}
	input:focus {
		color: white;
		border: 1px solid white;
	}
</style> -->