<!--<div id="page-region-agio" ng-controller="officesCtrl" ng-init="program.load()">
    <div class="card">
        <div class="card-header flex0 flex-space-between event-header">
            <h2>
            	<a ng-href="/offices/" class="event-title" href="/offices/"><i style="color: white;" class="fas fa-chevron-left"></i></a> Оплаченные ажио в регионе {{program.data.region_title}}
            </h2>
        </div>
        <div class="card-body">
        	<table class="table table-striped table-dark" style="color: #bda076;" ng-if="program.data.dax_wallet_operation_list.length">
        		<tr>
			    	<th scope="col">Сумма</th>
			    	<th scope="col">%</th>
			    	<th scope="col">Дата</th>
			    	<th scope="col">ФИО</th>
			    	<th scope="col">Username</th>
			  	</tr>
			  	<tr  scope="row" ng-repeat="item in program.data.dax_wallet_operation_list">
			  		<td><span>{{item.amount / app.BTC_SATOCHI | number:2}} USDT</td>
			  		<td><span>{{item.amount / app.BTC_SATOCHI * 0.05 | number:2}} USDT</td>
			    	<td><span>{{item.dt | datetime}}</span></td>
			    	<td><span>{{item.user_fio}}</td>
			    	<td><span>{{item.user_user_login}}</td>
			  	</tr>
			</table>
			<span ng-if="!program.data.dax_wallet_operation_list.length">Нет данных</span>
        </div>
    </div>
</div>-->