<script>
    $(function(){
        $('input').on('keyup', function() {
            if ($(this).val().length > 0) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });
    });
</script>
<div id="registration-page" style="padding-top: 0 !important;" ng-init="data.load()" class="container py-5" ng-controller="registrationCtrl" >
    
    <form id="form-ref" class="popup-form" data-title="Пригласитель отсутствует!" style="overflow-y: auto;">
        <div class="popup-form-content">
            Возможно, вы регистрируетесь не по партнерской ссылке!
        </div>
        <div class="popup-form-footer" style="padding-bottom: 60px !important;">
            <a href="#" id="ref_cancel" class="btn btn-flat" ng-click="registration.back()" style="margin-right: 20px;">{{lang.cancel}}</a>
            <a href="#" id="not_ref_next" class="btn" ng-click="registration.agreeRef()">Я согласен</a>
        </div>
    </form>

    <div class="card animated fadeIn" style="max-width: 450px;">
        <div class="card-body">
            <form id="form-registration" autocomplete="off" _title="{{lang.registration}}" method="post" class="col s12 animated fadeIn">
                <input type="hidden" name="form[sms_code]" value="" id="input-sms_code">
                <input type="hidden" name="form[token]" value="{{user.social.profile.token}}" id="hybridauth-token">
                <input type="hidden" name="form[fio]" value="" id="hybridauth-fio">
                <input type="hidden" name="form[inviter_id]" value="" id="inviter-id">
                <h4 class="text-center">{{lang.registration}}</h4>
                <div>
                    <div ng-if="!registration.next_step">
                        <div id="nonsc-container" style="margin-top:15px;">
                        <div class="text-center">Для продолжения Вам необходимо зарегистрироваться, это бесплатно</div>
                        <div class="row" style="margin-top:15px;">                                                
                            <div class="col s12">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <label>{{lang.enter_login}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!--Придумайте логин-->
                                        <input ng-model="registration.form.user_login" name="form[user_login]" id="user_login" type="text" class="form-control" style="margin: 0;">
                                    </div>
                                    <div class="font-mini" style="line-height: 1.3em;text-align: left;margin: .25em 4em 1em 4em;">
                                        {{lang.warning_login_limits}}
                                    </div>
                                </div>
                                <div style="margin-top:15px;">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label>{{lang.firstname}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="first_name" type="text" class="form-control" ng-model="registration.form.first_name" name="form[first_name]">
                                        </div>
                                    </div>
                                    <div class="row align-items-center" style="margin-top:20px;">
                                        <div class="col-md-6">
                                            <label>{{lang.lastname}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="last_name" type="text" class="form-control" ng-model="registration.form.last_name" name="form[last_name]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>                    
                        <div class="row" style="margin: 0; height: 175px; display: flex; align-items: center;">
                            <div class="col s12">
                                <div class="border-circle-top">
                                    <div class="row inviter zero_margin-b">
                                        <div class="col s12">
                                            <div class="text-center">
                                                <!-- choose -->
                                                <div class="user-card no-shadow animated fadeIn" ng-show="inviter.showChoose">
                                                    <div class="avatar_and_fio">
                                                        <div class="flex0 flex-grow1 flex-column flex-space-between">
                                                            <div class="fio">
                                                                <div class="flex0 flex-space-between align-items-center">
                                                                    <input id="input_inviter_search" type="text" class="form-control" ng-change="inviter.search.run()" ng-model="inviter.search.login" style="width: 100%;">
                                                                    <!-- <input id="input_inviter_search" type="text" class="form-control" ng-change="inviter.search.reset()" ng-model="inviter.search.login" style="width: 100%;margin-right: 20px;"> -->
                                                                    <!-- <a id="inviter_search_run" href="#" class="btn btn-small btn-primary" ng-click="inviter.search.run()" style="min-width: 65px;">OK</a> -->
                                                                </div>
                                                                <span ng-if="inviter.search.result == 1">{{lang.choose_mentor_yourself}}</span>
                                                                <!--Такого пользователя нет-->
                                                                <span ng-if="inviter.search.result == 2" class="red-text">{{lang.user_not_found2}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- auto -->
                                                <div class="user-card no-shadow animated fadeIn" ng-show="!inviter.showChoose && !inviter.user">
                                                    <div class="avatar_and_fio">
                                                        <div class="flex0 flex-grow1 flex-column flex-space-between">
                                                            <h5 style="margin: 0;">{{lang.reg_your_mentor}}</h5>
                                                            <div style="margin-top:10px;">
                                                                <!--Если пригласитель не указан, то он будет выбран автоматически-->
                                                                <span class="font-mini">{{lang.reg_text1}}</span>
                                                                <div>
                                                                    <br><a id="inviter_search_choose" href="#" class="btn btn-small btn-primary" ng-click="inviter.chooseMyself()">{{lang.choose_mentor_yourself}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- exist -->
                                                <div class="user-card no-shadow animated fadeIn" ng-show="!inviter.showChoose && inviter.user">
                                                    <div class="avatar_and_fio">
                                                        <div class="flex0 flex-grow1 flex-column flex-space-between">
                                                            <div class="fio">
                                                                <h5 style="margin: 0;">{{lang.reg_your_mentor}}</h5>
                                                                <span style="margin-top:15px;line-height: 1em;font-family:'Fira Sans',sans-serif,Arial;font-size: 18pt;">{{inviter.user.fio}}</span>
                                                                <div>
                                                                    <br><a id="inviter_search_change" href="#" class="btn btn-small btn-primary" ng-click="inviter.chooseMyself()"><!--Мне нужен другой-->{{lang.reg_text2}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="cpointer" ng-click="registration.form.is_not_usa = !registration.form.is_not_usa;">
                                    <div class="flex0" style="align-items: baseline;">
                                        <i class="fal fa-check-square" ng-if="registration.form.is_not_usa"></i>
                                        <i class="fal fa-square" ng-if="!registration.form.is_not_usa"></i>
                                        <span class="ml-2">Продолжая регистрацию на данном сайте я подтверждаю, что не являюсь гражданином США</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <a class="btn btn-primary" ng-class="{loading: registration.loading, disabled: registration.loading || !registration.form.is_not_usa}" ng-click="registration.next()">{{lang.next_step}}</a>
                            </div>
                            <div class="col">
                                <!--Уже есть аккаунт? Войдите-->
                                {{lang.do_you_havce_acc}}
                                <br><a href="/login/">{{lang.logining}}</a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="registration.next_step" class="text-center">
                        <div class="row">
                        <div class="col s12">
                            <!-- Страна и регион -->
                            <div style="margin: 1em 0;" ng-if="false">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <label>{{lang.search_country}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!--Выберите страну-->
                                        <select ng-model="registration.form.country_id" ng-change="countryChange()" name="form[country_id]">
                                            <option ng-repeat="item in data.countries" value="{{item.id}}">{{item.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center" style="margin-top:15px;">
                                    <div class="col-md-6">
                                        <label>{{lang.search_region}}</label>
                                    </div>
                                    <div class="col-md-6" ng-class="{select2_disabled: registration.form.country_id == '' || region.list.length == 0}">
                                        <!--Выберите регион-->
                                        <select ng-model="registration.form.region_id" id="select-region_id2" name="form[region_id]">
                                            <option value="{{item.id}}" ng-repeat="item in region.list">{{item.title}}</option>
                                        </select>
                                    </div> 
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="font-mini" style="margin-bottom: 10px;" ng-bind-html="lang.telegram_help_login_goldendax | trust"></div>
                                <input ng-model="registration.form.telegram_code" name="form[telegram_code]" maxlength="6" id="phone" type="text" placeholder="{{lang.enter_code}}" class="form-control" style="margin-bottom: 0;">
                            </div>
                        </div>
                    </div>
                        <div class="row align-items-center" style="margin-top:15px;">
                            <div class="col">
                                <a class="btn btn-primary" ng-class="{loading: registration.loading, disabled: registration.loading}" ng-click="registration.submit()">{{lang.Complete_registration}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>