<div id="schedule" ng-controller="scheduleCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="row">
            <div class="col col-12">
                <h3>Расписание</h3>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <div class="col col-12"><h5>10:00 – 12:00</h5></div>
                        <div class="row schedule-user">
                            <div class="col col-3">
                                <img src="/assets/img/user_500x500.png" style="max-width: 120px; border-radius: 50%; object-fit: cover;">
                            </div>
                            <div class="col col-9">
                                <h5>Татьяна Донская</h5>
                                Вице-президент BetaStrim
                            </div>
                        </div>                        
                        <div class="col col-12">
                            <h5>Название доклада данного участника</h5>
                            Краткое описание доклада... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <div class="col col-12"><h5>10:00 – 12:00</h5></div>
                        <div class="row schedule-user">
                            <div class="col col-3">
                                <img src="/assets/img/user_500x500.png" style="max-width: 120px; border-radius: 50%; object-fit: cover;">
                            </div>
                            <div class="col col-9">
                                <h5>Татьяна Донская</h5>
                                Вице-президент BetaStrim
                            </div>
                        </div>                        
                        <div class="col col-12">
                            <h5>Название доклада данного участника</h5>
                            Краткое описание доклада... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <div class="col col-12"><h5>10:00 – 12:00</h5></div>
                        <div class="row schedule-user">
                            <div class="col col-3">
                                <img src="/assets/img/user_500x500.png" style="max-width: 120px; border-radius: 50%; object-fit: cover;">
                            </div>
                            <div class="col col-9">
                                <h5>Татьяна Донская</h5>
                                Вице-президент BetaStrim
                            </div>
                        </div>                        
                        <div class="col col-12">
                            <h5>Название доклада данного участника</h5>
                            Краткое описание доклада... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>