<div id="transfer" ng-controller="userCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>Social</h3>
            </div>
            <div class="card-body">
                <div class="col col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d85361.19048114272!2d49.12890145861971!3d55.79109516229314!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1551784721042" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>