<div class="flex0 flex-column flex-center">

    <img src="/assets/img/32_gold.png" alt="GoldenDAX" style="max-width: 50%; height: auto; margin: auto;">
    
    <div class="flex0 flex-column d-md-none" style="margin: 40px 0;">
        <a class="btn btn-secondary" href="/login/">Вход</a>
        <br><a class="btn btn-secondary" href="/registration/">Регистрация</a>
    </div>

</div>
