<div id="transfer" ng-controller="userCtrl">
    <div class="emp-profile animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h3>Статистика</h3>
            </div>
            <div class="card-body">     
            </div>
        </div>
    </div>
</div>