<div ng-controller="testingCtrl" class="center-form">

    <div class="page-wrap">

        <div class="test-success-card" ng-if="testing.result.error_count == 0">
            <h1>Поздравляем</h1>
            <p>Вы прошли тестирование.</p>
            <p>Вы ответили верно на все вопросы.</p>
        </div>

        <div class="test-some-error-card" ng-if="testing.result.error_count > 0 && testing.result.error_count <= 2">
            <h1>Поздравляем</h1>
            <p>Вы прошли тестирование.</p>
            <p>Вы допустили {{testing.result.error_count}} ошибок</p>

            <div class="q-mistake" ng-repeat="quest in testing.errQuestionArr">
                <p>{{quest.answer}}</p>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <p>Ваш ответ</p>
                        <a class="btn answer uncorrect-answer">{{quest.choosen_answer}}</a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <p>Верный ответ</p>
                        <a class="btn answer correct-answer">{{quest.correct_answer}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="test-error-card" ng-if="testing.result.error_count > 2">
            <h1 style="margin-bottom: 0;">Вы не прошли тест</h1>
            <div>Вы допустили {{testing.result.error_count}} ошибок</div>

            <div class="row" style="margin-top: 2rem; background: rgba(0,0,0,.1); padding: 1em; margin-left: -1.5rem; margin-right: -1.5rem;">
                <div class="col col-sm-12 col-lg-6 flex0 flex-center">Вы можете снова пройти тест через 2 часа после попытки</div>
                <div class="col col-sm-12 col-lg-6">
                    <div class="flex0 flex-center">
                        <div ng-if="testing.countdown.interval > 0">
                            {{testing.countdown.hours}}:{{testing.countdown.minutes}}:{{testing.countdown.seconds}}
                        </div>
                        <div style="margin-left: 1em;">
                            <a ng-class="{disabled: testing.countdown.interval > 0}"
                               class="btn btn-primary btn-try-more"
                               href="#"
                               ng-click="testing.tryMore()">Попробовать еще раз</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="q-mistake" ng-repeat="quest in testing.errQuestionArr">
                <div style="margin-bottom: 1rem; padding: 1em; background: rgba(0,0,0,.05); ">
                    <p>{{quest.answer}}</p>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <p>Ваш ответ</p>
                            <a class="btn answer uncorrect-answer">{{quest.choosen_answer}}</a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <p>Верный ответ</p>
                            <a class="btn answer correct-answer">{{quest.correct_answer}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testing-card" ng-if="!testing.result">

            <!--<div class="testing-card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis cumque deserunt ducimus
                explicabo iusto, magnam molestias nulla sunt voluptatem. Asperiores autem ducimus ex illum non
                officiis
                quo repellendus repudiandae.
            </div>-->

            <div class="question-block">
                <div class="index-container">
                    <div class="q-index"
                         ng-repeat="q in testing.test.questions"
                         ng-class="{active: $index == testing.number - 1}"></div>
                </div>
                <p class="q-counter">
                    Вопрос {{testing.number}} / {{testing.test.questions.length}}
                </p>

                <div class="question">
                    {{testing.current.title}}
                </div>

                <div class="answer-container">

                    <div class="row">

                        <div class="col-md-6 col-lg-6" ng-repeat="answ in testing.current.answers">
                            <a href="#"
                               class="btn answer"
                               ng-click="testing.selectAnswer($index)"
                               ng-class="{active: answ.active}">
                                {{answ.title}}
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>