<div id="user" ng-controller="userCtrl" ng-init="hello.load()">

    <form id="form-testing" class="popup-form animated zoomIn" data-title="Тестирование">
        <div class="popup-form-content">
            <ng-include src="'/app/views/testing.html'"></ng-include>
        </div>
    </form>

    <form id="form-visit_event-details" class="popup-form animated zoomIn" data-title="Гостевая встреча">
        <div class="popup-form-content">
            Гостевая встреча Golden DAX - это клубное мероприятие для будущих бренд-партнеров, позволяющее познакомиться с системой построения бизнеса в компании Golden DAX и понять, как правильно повлиять на многократное увеличение своего дохода.

            <br><br>На гостевой встрече Golden DAX участники узнают:
            <br>как работает программа продвижения с многоуровневым маркетингом,
            <br>стратегия быстрого старта в компании,
            <br>какие преференции получают участники клуба,
            <br>какими услугами пользуются участники клуба,
            <br>какой уровень образования получают участники клуба.

            <br><br>Также на нем есть возможность ознакомится с наградами, изучить инструменты, которые помогут выстроить свою компанию,узнать, как запустить “быстрый старт”, какую роль играет наставник и что такое “работа в тандеме”, как самому стать наставником и начать зарабатывать от 10 000$.

            <br><br>Каждый посетитель гостевой встречи клуба, может принять решение стать участником клуба Golden DAX и приступить к программе обучения.

            <br><br>г. Казань, ул. Ершова, д 1
            <br>3-й этаж, ТЦ Корстон, офис DAX Capital
            <br>Каждую пятницу, в 18:00

            <br><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.9641969148934!2d49.14706191606387!3d55.793859596291895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead7184fa7c05%3A0x47d3da124b85752a!2z0JrQvtGA0YHRgtC-0L0!5e0!3m2!1sru!2sru!4v1552329725559" width="600" height="450" frameborder="0" style="border:0; max-width: 100%;" allowfullscreen></iframe>
        </div>
    </form>


    <form id="form-bepartner" class="popup-form animated zoomIn" data-title="Поздравляем">
        <div class="popup-form-content">
            Теперь Вы часть большого сообщества людей, которые нацелены на то, чтобы менять жизнь свою и окружающих.
            Следуйте системе, выполняйте все рекомендации кураторов и руководителей, не берите на себя тех задач,
            которые не предусмотрены на Вашем уровне партнера, делайте все с легкостью и простотой - это залог успеха и быстрого старта.
            В простоте великая сила. Если будете повторять все по системе Вы сами, то тоже самое сделают и Ваши будущие партнеры.
            <br>Будьте лидером, будьте на высоте!
            <div class="center-align" style="padding: 1rem 0;">
                <a href="#" class="btn btn-sm btn-primary" ng-click="hello.bePartner()" ng-class="{loading: hello.loading_activate_demo, disabled: hello.loading_activate_demo}">Активировать Демо</a>
            </div>
        </div>
    </form>

    <form id="form-training-details" class="popup-form animated zoomIn" data-title="Базовый курс">
        <div class="popup-form-content">
            В работе клуба Golden DAX используется строгая система, которая разработана лучшими профессионалами рынка и каждый партнер обязан её соблюдать. И согласно этой системе у каждого партнера есть свои обязательства и зоны ответственности, которые очерчены рамками его партнерского статуса.

            <br><br>Только вступая на путь партнерства обязательств не так много, но нужно делать их профессионально.

            <br><br>Чтобы приступить к исполнению обязательств партнера нужно пройти Базовый курс обучения.

            <br><br>г. Казань, ул. Ершова, д 1
            <br>3-й этаж, ТЦ Корстон, офис DAX Capital
            <br>Каждый понедельник, в 14.00

            <br><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.9641969148934!2d49.14706191606387!3d55.793859596291895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead7184fa7c05%3A0x47d3da124b85752a!2z0JrQvtGA0YHRgtC-0L0!5e0!3m2!1sru!2sru!4v1552329725559" width="600" height="450" frameborder="0" style="border:0; max-width: 100%;" allowfullscreen></iframe>
        </div>
    </form>

    <form id="form-testing-details" class="popup-form animated zoomIn" data-title="Поздравляем">
        <div class="popup-form-content">
            Вы прошли Базовый курс обучения. Теперь мы должны проверить Ваши знания о нашей компании, о методах работы и обо всем остальном.
            <br>Пожалуйста ответьте на 25 вопросов теста.
            <ul>
                <li>Для успешного прохождения тестирования ответьте можно совершить не более 2х ошибок. В противном случае тест будет провален и пройти повторно можно будет только через 24 часа.</li>
                <li>После 3х провалов Вам нужно будет заново пройти всю процедуру становления партнером.</li>
                <li><strong>ОТНЕСИТЕСЬ К ТЕСТИРОВАНИЮ СЕРЬЕЗНО И ВНИМАТЕЛЬНО.</strong></li>
            </ul>
            <div class="center-align" style="padding: 1rem 0;">
                <a href="#" ng-click="hello.openTesting()" class="btn btn-sm btn-primary">Приступить</a>
            </div>
        </div>
    </form>

    <div ng-if="app.user.user_status_id > 1">
        <!--Сайт находится в разработке, поэтому здесь пока пусто.
        <ng-include src="'/app/views/ref_link.html'"></ng-include>-->
        <ng-include src="'/app/views/myprofile.html'"></ng-include>
    </div>

    <div class="animated fadeIn" ng-if="app.user.user_status_id == 1">
        <div class="row">
            <div class="col col-12">
                <div class="card animated fadeIn" ng-if="!hello.candidat.result">
                    <div class="card-header">
                        <h4>Добро пожаловать в Golden DAX</h4>
                    </div>
                    <div class="card-body">
                        <div ng-if="hello.loading">
                            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                        </div>
                        <div ng-if="!hello.loading" class="animated fadeIn" style="margin: 20px 0;">
                            Мы рады приветствовать вас в нашем закрытом бизнес-клубе.<br>
                            Регистрация это всего лишь первый, но очень важный шаг на пути к новым горизонтам успеха и самосовершенствованию.<br><br>
                            Клуб Golden DAX является закрытым сообществом и это не просто так. Члены клуба именуются бренд-партнерами, которые представляют элиту нашей компании - это люди, которые являются не просто профессиональными консультантами, но и лидерами, строящими свой собственный командный бизнес.<br><br>
                            Доходы бренд-партнеров определяются только лишь ими самими, при этом с самых первых дней всегда имеется возможность заработать, как 1 тыс. $, 10 тыс. $, так и более.<br><br>
                            В нашем клубе мы представляем полную пошаговую систему, которая содержит в себе обширный комплекс обучений, доступный для бренд-партнеров совершенно бесплатно. <br><br>
                            Внутри вас ждет сайт с большим количеством функций, которые помогут быть в курсе всего, отслеживать всю статистику, получать нужные материалы и информацию, а также содержит непревзойденные инструменты для работы.<br><br>
                            Удачи
                        </div>
                        <div ng-if="!hello.loading" class="center-align animated fadeIn" style="padding-bottom: 2rem;">
                            <a href="#" ng-click="hello.candidat.beCandidat()" class="btn btn-sm btn-secondary" ng-class="{loading: hello.candidat.loading}">Продолжите, чтобы приступить</a>
                        </div>
                    </div>
                </div>
                <div class="card animated fadeIn" ng-if="hello.candidat.result">
                    <div class="card-header">
                        <h4>Требования</h4>
                    </div>
                    <div class="card-body">
                        <div ng-if="hello.loading">
                            <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                        </div>
                        <div ng-if="!hello.candidat.result.ok" class="requirements" style="margin: 20px 0;">
                            <p>Чтобы попасть на сайт необходимо сначала выполнить одно очень простое действие.</p>
                            <p>Наш бот прислал Вам сообщение в Телеграм. Откройте его и следуйте инструкциям, а затем возвращайтесь на эту страницу.</p>
                            <p>Если Вы выполнили инструкции, присланные нашим ботом, но страница не обновилась, то нажмите на кнопку Проверить</p>
                            <hr>
                            Бот уведомляет нас, что Вы не выполнили инструкции, которые он Вам прислал.
                            <br>Сначала выполните их.
                        </div>
                        <div ng-if="hello.candidat.result.ok" class="requirements" style="margin: 20px 0;">
                            <p>Спасибо, теперь Вам доступен сайт Golden DAX.</p>
                            <p>Это сайт для бренд-партнеров. В нем есть большое количество инструментов и функций для построения команды, обучения и повышения эффективности работы в качестве бренд-партнера.</p>
                            <p>Ознакомьтесь со всем</p>

                            <p style="margin-bottom: 2em;">
                                <label class="flex0 flex-center">
                                    <input class="form-control cpointer" style="width: 20px; padding: 0; margin-right: 5px; height: 20px;" type="checkbox" ng-model="hello.candidat.form.accept">
                                    Согласен с
                                    <a href="/material/pravila-uchastiya-v-klube-golden-dax.html" target="_blank" style="margin-left: 5px;">условиями</a>
                                </label>
                            </p>

                            <div class="center-align animated fadeIn" style="padding-bottom: 2rem;">
                                <a href="#" ng-click="hello.candidat.beCandidat()" class="btn btn-sm btn-secondary" ng-class="{loading: hello.candidat.loading_becandidat, disabled: !hello.candidat.form.accept}">Перейти в кабинет</a>
                            </div>
                            <!--<h4>Чтобы стать бренд-партнером выполните перечисленные ниже требования. </h4>
                            <div ng-if="app.user.goldendax_ticket_id != null">
                                <p>Вы уже являетесь текущим партнером. Даже без прохождения аттестации Ваша реферальная ссылка работает, хоть Вы и не можете попасть в кабинет клуба Golden DAX, а также Вы получаете все полагающиеся Вам бонусы.
                                <br>Однако, в 19:20 мск 23 марта 2019 все возможности партнерской программы будут выключены до тех пор, пока Вы не пройдете базовую аттестацию. Вы перестанете получать ВСЕ ВИДЫ бонусов.</p>
                                <ng-include src="'/app/views/ref_link.html'"></ng-include>
                                <p>Чтобы пройти аттестацию и подтвердить свой статус партнера выполните все условия описанные ниже.</p>
                            </div>
                            <br>
                            <table>
                                <tr>
                                    <td>Наличие инвестиционного счёта</td>
                                    <td><i class="fa" ng-class="{'fa-check-square' : hello.requirements.list.has_invest_wallet, 'fa-square' : !hello.requirements.list.has_invest_wallet}"></i></td>
                                    <td><a ng-class="{disabled: hello.requirements.list.has_invest_wallet}" href="https://trustera.global/create_wallet/" class="btn btn-secondary" target="_blank">Создать</a></td>
                                </tr>
                            </table>
                            <p class="center-align">
                                <a class="btn btn-secondary btn-sm" href="#" ng-class="{disabled: !hello.requirements.ok || hello.requirements.user_status_id == 4}" ng-click="hello.showBePartner()">Стать партнером</a>
                                <div class="center-align text-danger" ng-if="!hello.requirements.ok">
                                    Не выполнены все условия
                                </div>
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="emp-profile animated fadeIn" ng-if="false">

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body center-align">
                        <h4 style="text-align: center;">Ваша подписка закончится через</h4>
                        <div class="row center-align" style="margin-bottom: 0;">
                            <div class="col col-12" style="display: flex; justify-content: center;">
                                <div style="display: flex; margin: 10px;">
                                    <div class="subscription-over-soon" style="margin: 3px;">0</div>
                                    <div class="subscription-over-soon" style="margin: 3px;">5</div>
                                </div>
                                <div style="display: flex; margin: 10px;">
                                    <div class="subscription-over-soon" style="margin: 3px;">2</div>
                                    <div class="subscription-over-soon" style="margin: 3px;">3</div>
                                </div>
                            </div>
                            <div class="col col-12">
                                <div style="display: flex; justify-content: center;">
                                    <div style="margin-right: 110px;">Дней</div>
                                    <div>Часов</div>
                                </div>
                            </div>
                            <div class="col col-12" style="margin-top: 20px;"><h5>По истечении срока подписки ваш доступ к клубу Golden Dax будет приостановлен. Не забудьте продлить подписку.</h5></div>
                        </div>
                        <a href="/gd/" class="btn btn-sm btn-primary">Выбрать подписку</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body center-align">
                        <h3 style="text-align: center;">Подключите Telegram бота</h3>
                        <div style="text-align: center;">Будьте в курсе всего, что происходит со счетами. Следите за прогрессом в вашей команде. Получайте уведомления, свежие новости и отчеты о бонусах.</div>
                        <a href="#" class="btn btn-sm btn-primary">Подключить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row user-level">
            <div class="user-level-left col col-6">
                <div class="card">
                    <div class="card-body center-align">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col col-3">
                                <img class="user-avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="/assets/img/avatar_gd_1.svg">
                            </div>
                            <div class="col col-9">
                                <h4 class="card-title left-align">{{app.user.fio}}</h4>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">Executive Leader</h6>
                        <div class="card-text">
                            <p>
                                Инвестиции команды
                                <br><big>$68 806,92</big>
                                <br><span class="text-danger">Увеличьте на <strong>$31 193,08</strong></span>
                            </p>
                            <p>
                                Наибольшая команда
                                <br><big>$64 940,28<br>(94,38%)</big>
                                <br><span class="text-danger">Уменьшите на 44,38%</span>
                            </p>
                        </div>
                        <!--<a href="#!" class="card-link">Card link</a>
                        <a href="#!" class="card-link">Another link</a>-->
                    </div>
                </div>
            </div>
            <div class="user-level-right col col-6">
                <div class="card">
                    <div class="card-body center-align">
                        <h4 class="card-title">Следующий уровень</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Executive Leader</h6>
                        <div class="card-text">
                            <p>
                                Инвестиции команды
                                <br><big>$100 000</big>
                                <!--<br><span class="text-danger">Увеличьте на <strong>$31 193,08</strong></span>-->
                            </p>
                            <p>
                                Наибольшая команда
                                <br><big>< 50% объема</big>
                                <!--<br><span class="text-danger">Уменьшите на 44,38%</span>-->
                            </p>
                        </div>
                        <!--<a href="#!" class="card-link">Card link</a>
                        <a href="#!" class="card-link">Another link</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body center-align">
                        <h5>Кошелек</h5>
                        <h2>8 179,02 DAX</h2>
                        <div class="row">
                            <div class="col col-6">Сегодня</div>
                            <div class="col col-6">+882,01 DAX</div>
                        </div>
                        <div class="row">
                            <div class="col col-6">За неделю</div>
                            <div class="col col-6">+38 277,83 DAX</div>
                        </div>
                        <div class="row">
                            <div class="col col-6">За месяц</div>
                            <div class="col col-6">+92 012,22 DAX</div>
                        </div>
                        <div class="row">
                            <div class="col col-6">За все время</div>
                            <div class="col col-6">+201 826,71 DAX</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body center-align">
                        <h3 style="text-align: center;">Узнайте, как заработать больше</h3>
                        <div style="text-align: center;">Краткое описание bounty программы... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</div>
                        <a href="/bounty/" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Мероприятия</h3>
                    </div>
                    <div class="card-body">
                        <div class="user-event-block">
                            <a ng-href="/events/435" style="color:black">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col col-6 left-align">Казань</div>
                                    <div class="col col-6 right-align">28 – 29 дек 2018</div>
                                </div>
                                <div class="col col-12" style="padding-left: 0;">
                                    <h5>Публичные инвестиционные инструменты для развития вашей команды</h5>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="btn btn-sm btn-secondary">Партнерское</a>
                                <a href="#" class="btn btn-sm btn-secondary">Инвестиции</a>
                                <a href="#" class="btn btn-sm btn-secondary">Бесплатно</a>
                            </div>
                        </div>
                        <div class="user-event-block">
                            <a ng-href="/events/435" style="color:black">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col col-6 left-align">Казань</div>
                                    <div class="col col-6 right-align">28 – 29 дек 2018</div>
                                </div>
                                <div class="col col-12" style="padding-left: 0;">
                                    <h5>Публичные инвестиционные инструменты для развития вашей команды</h5>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="btn btn-sm btn-secondary">Партнерское</a>
                                <a href="#" class="btn btn-sm btn-secondary">Инвестиции</a>
                                <a href="#" class="btn btn-sm btn-secondary">Бесплатно</a>
                            </div>
                        </div>
                        <div class="user-event-block">
                            <a ng-href="/events/435" style="color:black">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col col-6 left-align">Казань</div>
                                    <div class="col col-6 right-align">28 – 29 дек 2018</div>
                                </div>
                                <div class="col col-12" style="padding-left: 0;">
                                    <h5>Публичные инвестиционные инструменты для развития вашей команды</h5>
                                </div>
                            </a>
                            <div>
                                <a href="#" class="btn btn-sm btn-secondary">Партнерское</a>
                                <a href="#" class="btn btn-sm btn-secondary">Инвестиции</a>
                                <a href="#" class="btn btn-sm btn-secondary">Бесплатно</a>
                            </div>
                        </div>
                        <a href="/events/" class="btn btn-outline-light btn-sm btn-block">Все мероприятия</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>О чем пишут партнеры</h3>
                    </div>
                    <div class="card-body user-partner-block scroll-style-1">
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <img src="/assets/img/user_500x500.png" style="max-width: 250px;">
                            <div class="col col-12" style="padding-left: 0;">
                                <h5>Заголовок публикации</h5>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-6 left-align">Имя пользователя</div>
                                <div class="col col-6 right-align">29 дек 2018</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Новости</h3>
                    </div>
                    <div class="card-body">
                        <div class="user-news-block">
                            <a ng-href="/news/435" style="color:black">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col col-3">
                                        <img src="/assets/img/user_500x500.png" style="max-width: 120px;">
                                    </div>
                                    <div class="col col-9">
                                        <div class="col col-12" style="padding-left: 0;">
                                            <h5>DAX Capital запускает публичные инвестиционные инструменты</h5>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col col-6 left-align">Имя пользователя</div>
                                            <div class="col col-6 right-align">29 дек 2018</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="user-news-block">
                            <a ng-href="/news/435" style="color:black">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col col-3">
                                        <img src="/assets/img/user_500x500.png" style="max-width: 120px;">
                                    </div>
                                    <div class="col col-9">
                                        <div class="col col-12" style="padding-left: 0;">
                                            <h5>DAX Capital запускает публичные инвестиционные инструменты</h5>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col col-6 left-align">Имя пользователя</div>
                                            <div class="col col-6 right-align">29 дек 2018</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="user-news-block">
                            <a ng-href="/news/435" style="color:black">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col col-3">
                                        <img src="/assets/img/user_500x500.png" style="max-width: 120px;">
                                    </div>
                                    <div class="col col-9">
                                        <div class="col col-12" style="padding-left: 0;">
                                            <h5>DAX Capital запускает публичные инвестиционные инструменты</h5>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col col-6 left-align">Имя пользователя</div>
                                            <div class="col col-6 right-align">29 дек 2018</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="/news/" class="btn btn-outline-light btn-sm btn-block">Все новости</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body center-align">
                        <h3 style="text-align: center;">Используйте возможности Exclusive подписки</h3>
                        <div style="text-align: center;">Краткое описание подписки... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</div>
                        <a href="/gd/574" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>